.notification-box.promoPopup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;

    .mask {
        // position: absolute;
        // top: 0;
        // left: 0;
        // z-index: 3000;
        // height: 100vh;
        // width: 100%;
        // background-color: #000;
        // opacity: 0.8;

        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        outline: 0;
        -webkit-overflow-scrolling: touch;
        background-color: rgb(0, 0, 0);
        filter: alpha(opacity=60);
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 3000;
    }

    .content {
        position: absolute;
        background: #fff;
        width: 90%;
        height: auto;
        transform: translate(-50%);
        top: 20%;
        left: 50%;
        z-index: 3001;
        border-radius: 5px;
        max-width: 370px;

        .content-inner {
            .close-pop {
                position: absolute;
                top: -48px;
                right: 0;
                display: inline-block;
                content: '';
                background: url(../img/close-pop.png) no-repeat;
                width: 30px;
                height: 48px;
                background-size: 30px 48px;
            }

            position: unset;
            box-sizing: border-box;
            height: auto;
            padding: 32px 18px;



            .detail {
                max-width: 370px;
                margin: 0 auto;
                height: auto;
                box-sizing: border-box;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;

                // text-align: justify;
                a {
                    display: block;
                    text-align: center;
                }

                .toast-img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
