@import "../../../common/qsc/less/loading.less";
@import "../../../common/qsc/less/toast.less";
@import "../../../common/qsc/less/common_nav.less";


.channel-fee-img{
    &.id{
        margin: auto;
        background: url(../img/channel-fee-id.png);
        width: 180px;
        height: 160px;
        background-size: 180px 160px;
    }
    &.en{
        margin: auto;
        background: url(../img/channel-fee-en.png);
        width: 180px;
        height: 160px;
        background-size: 180px 160px;
    }
}
ol {
    padding-left: 25px;
    top: 10px;
    position: relative;
    line-height: 30px;
    counter-reset: item;
    padding-top: 20px;

    li {
        p {
            padding-left: 5px;
            top: -24px;
            position: relative;
            line-height: 28px;
        }
        
        ol {
            li {
                padding-left: 10px;
                top: -10px;
                position: relative;

                p {
                    top: -25px;
                    position: relative;
                    line-height: 28px;

                    span {
                        left: 20px;
                        position: relative;
                    }
                }
            }
        }
    }
}

.pb10 {
    padding-bottom: 10px;
}

.b {
    font-weight: bold;
}

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: -56px;

    .page-inner {
        padding-top: 56px;

        .tc-wrapper {
            padding: 60px 40px 0 !important;
            background-color: #f7faff;

            .inner {
                position: relative;
                width: 100%;
                box-shadow: 0px 6px 14px 1px #d4e3ff;
                background: #fff;
                border-radius: 6px;
                padding-top: 20px;
                font-size: 14px;
                line-height: 21px;

                .tc-content {
                    padding: 30px 30px 50px 30px;

                    .content-title-center {
                        font-weight: 800;
                        text-align: center;

                        .black-box {
                            display: inline-block;
                            width: 6px;
                            height: 6px;
                            background: #000;
                            vertical-align: middle;
                            margin-top: auto;
                        }

                        .title-top {
                            font-size: 17px;
                            font-weight: bold;
                            line-height: 2.5em;
                            margin: 0 5px;
                        }
                    }
                    .mod-time{
                        margin-top: 10px;
                    }
                    .title-green {
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 24px;
                        color: #43AC43;
                        padding: 10px 0 20px !important;
                    }

                    .content {
                        line-height: 28px;
                        padding: 10px 0;

                        &.add72 {
                            &::after {
                                display: inline-block;
                                content: '';
                                background: url(../img/verified_icon.png) no-repeat;
                                background-size: cover;
                                width: 76px;
                                height: 18px;
                                vertical-align: sub;
                            }
                        }

                        span {
                            font-weight: bold;
                        }
                    }
                }
            }

            .modief {
                font-size: 12px;
                padding: 0 0 20px 30px;
            }

            .line {
                position: absolute;
                background: #E9F1FF;

                &.top {
                    top: 15px;
                    width: 100%;
                    height: 1px;
                }

                &.left {
                    width: 1px;
                    height: 100%;
                    left: 15px;
                    top: 0;
                }

                &.right {
                    width: 1px;
                    height: 100%;
                    right: 15px;
                    top: 0;
                }

                &.bottom {
                    bottom: 15px;
                    width: 100%;
                    height: 1px;
                }
            }

            .icon {
                position: absolute;

                &.bottom {
                    background: url(../img/02.png) no-repeat;
                    background-size: 75px 75px;
                    right: -12px;
                    bottom: -8px;
                    width: 75px;
                    height: 75px;
                }
            }
        }

        .footer {
            .logo {
                width: 40px;
                height: 40px;
                background: url(../img/s-logo.png) no-repeat;
                background-size: contain;
                margin: 50px auto 0px auto;
            }

            .copyright {
                line-height: 40px;
                text-align: center;
                color: #ccc;
                font-size: 14px;
                //width: 200px;
                margin: 0px auto;
            }
        }
    }
}