@import "../../../common/qsc/less/loading.less";
@import "../../../common/qsc/less/toast.less";
@import "../../../common/qsc/less/common_nav.less";
// @import "../../../common/qsc/less/common_footer.less";
body {
    background-color: #fff; // body获取屏幕高度
}

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    font-weight: normal;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: -56px;
    .page-inner {
        padding-top: 56px;
        .wrapper {
            width: 100%;
            padding: 0 16px;
            box-sizing: border-box;
            .title {
                margin: 30px auto;
                text-align: center;
                font-size: 16px;
                font-weight: 800;
            }
            .grey-title {
                font-size: 14px;
                color: #999999;
                font-weight: 800;
                margin-bottom: 8px;
                &.phone-number {
                    margin-top: 16px;
                }
            }
            input {
                caret-color: #43AC43;
                border-style: none;
                outline: none;
                width: 100%;
                height: 44px;
                background-color: #f8f8f8;
                border-radius: 7px;
                padding: 0 0 0 16px;
                color: #333333;
                box-sizing: border-box;
                font-size: 14px;
                &.number {
                    padding-left: 72px;
                    position: relative;
                }
            }
            .countryCode {
                z-index: 1;
                width: 56px;
                height: 44px;
                position: absolute;
                margin-left: 16px;
                line-height: 40px;
                .addSign {
                    display: inline-block;
                }
                .countryNum {
                    font-size: 14px;
                    color: #333333;
                    line-height: 24px;
                    display: inline-block;
                    vertical-align: middle;
                    border-right: 1px solid #CCCCCC;
                    padding-right: 16px;
                }
            }
            .next-btn {
                margin-top: 20px;
                width: 100%;
                height: 44px;
                background-color: #43ac43;
                border-radius: 6px;
                text-align: center;
                line-height: 44px;
                font-size: 16px;
                font-weight: bold;
                color: #FFFFFF;
            }
            .login {
                .title {
                    margin: 60px 0 30px;
                    &.id-style {
                        span {
                            &::before,
                            &::after {
                                width: 7%;
                            }
                        }
                    }
                        span {
                            &::before,
                            &::after {
                                content: "";
                                display: inline-block;
                                background: url(../img/line.png) no-repeat;
                                width: 17%;
                                height: 1px;
                                vertical-align: middle;
                                margin-right: 10px;
                            }
                            &::after {
                                margin-right: 0;
                                margin-left: 10px;
                            }
                        }
                    }
                    .icon-box {
                        margin: 0 auto;
                        width: 242px;
                        .icon {
                            display: inline-block;
                            width: 50px;
                            height: 50px;
                            margin-right: 40px;
                            &.facebook {
                                background: url(../img/facebook_icon.png) no-repeat;
                                background-size: 50px;
                            }
                            &.google {
                                background: url(../img/google_icon.png) no-repeat;
                                background-size: 50px;
                            }
                            &.phone {
                                background: url(../img/phone_icon.png) no-repeat;
                                background-size: 50px;
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        margin: 72px 0 40px;
        .policy {
            height: 24px;
            .agree {
                display: inline-block;
                position: absolute;
                bottom: 4px;
                width: 18px;
                height: 18px;
                vertical-align: middle;
                background-image: url(../img/agree_icon.png);
                background-size: 18px 18px;
            }
            .notAgree {
                display: inline-block;
                position: absolute;
                bottom: 4px;
                width: 18px;
                height: 18px;
                vertical-align: middle;
                background-image: url(../img/notAgree_icon.png);
                background-size: 18px 18px;
            }
            span {
                display: inline-block;
                width: 90%;
                margin-left: 28px;
                color: #999999;
                font-size: 12px;
                line-height: 24px;
                vertical-align: middle;
                a {
                    cursor: pointer;
                    color: #999999;
                    font-size: 12px;
                    font-weight: 500;
                    text-decoration: underline !important;
                }
                .green {
                    margin-left: 0;
                    vertical-align: top;
                    color: #999999;
                    text-decoration: underline;
                }
            }
        }
    }