@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";
@import "../../../../../common/qsc/less/common_footer.less";
ul li {
    list-style: none;
}

h2 {
    padding: 0 15px;
    margin: 0;
}

.page-wrapper {
    // position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px; // background:url('../img/banner.jpg');
    .page-inner {
        padding-top: 56px;
        .unfinish-content{
            // display: none;
            position: absolute;
            width: 90%;
            top: 50%;
            left: 50%;
            margin-top: -150px;
            margin-left: -45%;
            .unfinish-wrapper{
                width: 200px;
                margin: auto;
                text-align: center;
                .unfinish-img{
                    margin: auto;
                    background: url(../img/Unfinished_icon.png) no-repeat;
                    background-size: 60px 72px;
                    width: 60px;
                    height: 72px;
                }
                p{
                    margin-top: 16px;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 14px;
                }
            }
            .btnWrap{
                margin-top: 40px;
                .viewBtn{
                    margin: 16px auto;
                    max-width: 600px;
                    width: 92%;
                    height: 44px;
                    border-radius: 6px;
                    &.payAgain{
                        background-color: #43AC43;
                        color: #FFFFFF;
                    }
                    &.reviewCampaign{
                        border: 1px solid #43AC43;
                        color: #43AC43;
                    }
                    p{
                        cursor: pointer;
                        text-align: center;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 44px;
                    }
                }
            }
        }
    }
}