@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";

.page-wrapper {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    background: #F8F8F8;
    min-height: 100vh;

    .pl-4 {
        padding-left: 16px;
    }

    .pr-4 {
        padding-right: 16px;
    }

    .page-inner {
        padding-top: 56px;

        .title {
            text-align: center;
            font-size: 18px;
            margin: 20px 0 10px;

            &::before {
                content: '';
                display: inline-block;
                width: 21px;
                height: 21px;
                vertical-align: top;
            }

            &.blue {
                color: #4870FD;

                &::before {
                    background: url(../img/blue.png) no-repeat;
                    background-size: 21px;
                }
            }

            &.red {
                color: #FF8472;

                &::before {
                    background: url(../img/red.png) no-repeat;
                    background-size: 21px;
                }

            }

            &.green {
                margin: 20px 0;
                color: #43AC43;

                &::before {
                    background: url(../img/green.png) no-repeat;
                    background-size: 21px;
                }
            }
        }

        .red-btn-edit {
            position: absolute;
            right: 0;
            margin-top: -33px;
            font-size: 12px;
            padding: 5px 10px;
            background: #D8D8D8;
            border-radius: 5px;
            margin-right: 16px;
        }

        .red-tips {
            color: #666666;
            font-size: 12px;
            text-align: center;
            padding: 0 10% 20px;
        }

        .list-wrapper {
            padding: 0 16px 16px;

            .list {
                position: relative;
                overflow: hidden;
                padding: 20px 0;
                background: #fff;
                font-size: 13px;
                color: #999999;
                background: #FFFFFF;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
                border-radius: 8px;
                margin-bottom: 20px;

                .t {
                    margin-left: 16px;
                    color: #333333;
                    font-size: 16px;
                    font-weight: bold;
                }

                .sub-t {
                    color: #666666;
                    font-size: 13px;
                    font-weight: bold;
                    margin: 20px 0 0 16px;
                }

                .q-a {
                    padding: 16px 16px 0;
                    display: flex;

                    .q {
                        white-space: nowrap;
                    }

                    .a {
                        color: #666666;
                        font-weight: bold;
                        margin-left: 5px;
                    }
                }

                .line {
                    margin-top: 20px;
                    width: 100%;
                    box-sizing: border-box;
                    border-top: 1px solid #E5E5E5;
                }

                .line-bold {
                    margin-top: 20px;
                    width: 200%;
                    box-sizing: border-box;
                    border-top: 6px solid #E5E5E5;
                }

                .wrap-insured {
                    padding-right: 16px;

                    &:last-child {
                        .line-bold {
                            display: none;
                        }
                    }
                }
            }
        }

    }
}