@import "../../../common/qsc/less/loading.less";
@import "../../../common/qsc/less/toast.less";
@import "../../../common/qsc/less/reset.less";

.btn {
    width: 100%;
    height: 100vh;
    background: yellowgreen;
    color: #fff;
    line-height: 100vh;
    text-align: center;
}