.alert-common-bank {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3003;
    height: 100vh;
    width: 100%;

    .bank-mask {
        // display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.8;
    }

    .content {
        position: fixed;
        background: #fff;
        width: 101%;
        height: 380px;
        // top: 50%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3001;
        border-radius: 16px 16px 0 0;
        max-width: 620px;

        .close {
            display: inline-block;
            background: url(../img/close.png) no-repeat;
            background-size: 12px;
            background-position: center;
            width: 30px;
            height: 30px;
            z-index: 3000;
            position: absolute;
            top: 17px;
            right: 18px;
        }

        .content-inner {
            .title {
                margin-top: 20px;
                margin-left: 15px;
                margin-bottom: 20px;
                font-size: 20px;
                font-weight: bold;
                line-height: 24px;
            }

            .bank-items {
                max-height: 300px;
                overflow: auto;

                .pilihan-utama {
                    padding-left: 20px;
                    font-size: 10px;
                    font-weight: 500;
                    margin-bottom: -8px;
                    display: flex;
                    justify-content: space-between;

                    .text {
                        opacity: 0.5;
                        color: #333333;
                    }

                    .wrap-not-enough {
                        display: flex;
                        align-items: center;

                        .icon-information {
                            background: url(../img/ic-information.png) no-repeat;
                            background-size: 12px;
                            background-position: center;
                            width: 15px;
                            height: 15px;     
                            margin-right: 4px;                               
                        }
                        
                        .not-enough {
                            color: #43AC43;
                            margin-right: 20px;                        
                        }
                    }

                }

                .list-items {
                    font-size: 16px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #EEE;

                    &.hide {
                        display: none !important;
                    }

                    &.gopay {
                        justify-content: space-between;
                    }

                    .icon {
                        // background: url(../img/GOPAY.png);
                        background-size: 68.5px 24px;
                        height: 24px;
                        width: 68.5px;
                        vertical-align: middle;
                        margin-left: 15px;
                        display: inline-block;
                    }

                    .total-saldo {
                        font-weight: bold;
                        color: #43AC43;
                        margin-right: 20px;
                    }

                    &.gopay.disabled {
                        .icon {
                            filter: grayscale(100%);
                        }
                        .total-saldo {
                            color: #999999;
                        }
                    }                    

                    .bank-name {
                        vertical-align: middle;
                        margin-left: 10px;
                        display: inline-block;
                    }

                    &.choosed-bank {
                        background: #F8F8F8;
                    }

                    .bank-note {
                        color: #999999;
                        font-size: 12px;
                        margin-left: 10px;
                        margin-top: 4px;
                    }                        
                }

            }
        }
    }
}