.alert-qurban-bank {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3003;
    height: 100vh;
    width: 100%;

    .bank-mask {
        // display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.8;
    }

    .content {
        position: fixed;
        background: #fff;
        width: 101%;
        height: 380px;
        // top: 50%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3001;
        border-radius: 16px 16px 0 0;
        max-width: 620px;

        .close {
            display: inline-block;
            background: url(../img/close.png) no-repeat;
            background-size: 12px;
            background-position: center;
            width: 30px;
            height: 30px;
            z-index: 3000;
            position: absolute;
            top: 17px;
            right: 18px;
        }

        .content-inner {
            .title {
                margin-top: 20px;
                margin-left: 15px;
                margin-bottom: 20px;
                font-size: 20px;
                font-weight: bold;
                line-height: 24px;
            }

            .bank-items {
                max-height: 300px;
                overflow: auto;

                .list-items {
                    border-bottom: 1px solid #EEE;
                    font-size: 16px;
                    height: 49px;
                    line-height: 48px;

                    // p {
                    //     font-size: 14px;
                    //     color: #999999;
                    //     margin-left: 20px;
                    // }
                    &.hide {
                        display: none !important;
                    }

                    .icon {
                        // background: url(../img/GOPAY.png);
                        background-size: 68.5px 24px;
                        height: 24px;
                        width: 68.5px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 15px;
                    }

                    .bank-name {
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 10px;
                    }

                    &.choosed-bank {
                        background: #F8F8F8;
                    }
                }
            }
        }
    }
}