@import "../../../../../../common/qsc/less/loading.less";
@import "../../../../../../common/qsc/less/toast.less";
@import "../../../../../../common/qsc/less/common_nav.less";
@import "../../../../../../common/qsc/less/select-relationship.less";
@import "../../../../../../common/qsc/less/bank-list.less";
@import "../../../../../../common/qsc/less/upload/_upload.less";
@import "../../../../../../common/libs/fancybox/jquery.fancybox-thumbs.css"; //fancybox
@import "../../../../../../common/libs/fancybox/jquery.fancybox.css"; //fancybox
@import "./alert-diagnostic-box.less"; //alert diagnostic box

//  关闭close按钮
a.fancybox-item.fancybox-close {
    display: none;
}

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    font-weight: normal;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff;
}

.page-wrapper {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px; // background:url('../img/banner.jpg');

    .page-inner {
        padding-top: 56px;

        .wrapper {
            .content-wrapper {
                margin-top: 30px;
                padding: 0 16px;

                .commonTitle {
                    font-weight: 800;
                    margin-bottom: 16px;
                    color: #999999;
                    font-size: 14px;
                    line-height: 18px;
                }

                .select-wrapper {
                    width: 100%;
                    height: 70px;
                    margin-bottom: 30px;

                    .select-title {
                        font-size: 14px;
                        color: #999999;
                        line-height: 14px;
                        margin-bottom: 12px;
                    }

                    .select {
                        background-color: #f8f8f8;
                        border: 0;
                        border-radius: 6px;
                        width: 100%;
                        height: 44px;
                        position: relative;

                        &::after {
                            content: '';
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            background: url(../img/select.png) no-repeat;
                            background-size: 24px 24px;
                            position: absolute;
                            right: 16px;
                            bottom: 10px;
                        }

                        p {
                            font-size: 14px;
                            line-height: 44px;
                            padding: 0 5%;
                            width: 90%;
                            font-weight: bold;
                        }
                    }
                }

                .patientInfoTitle {
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 20px;
                    margin-bottom: 40px;
                }

                .input {
                    margin-top: 30px;
                    color: #999999;
                    font-size: 14px;
                }

                .input_wrapper {
                    margin-top: 16px;
                    width: 100%;
                    position: relative;

                    .countryCode {
                        z-index: 1;
                        width: 56px;
                        height: 44px;
                        position: absolute;
                        margin-left: 16px;
                        line-height: 40px;
                        font-weight: bold;

                        .addSign {
                            display: inline-block;
                        }

                        .countryNum {
                            font-size: 14px;
                            color: #333333;
                            line-height: 24px;
                            display: inline-block;
                            vertical-align: middle;
                            border-right: 1px solid #CCCCCC;
                            padding-right: 16px;
                        }
                    }

                    .content {
                        padding: 0 5%;
                        width: 90%;
                        height: 44px;
                        font-size: 14px;
                        font-weight: bold;
                        background-color: #F8F8F8;
                        border: 0;
                        border-radius: 6px;

                        &.phoneNum {
                            width: 100%;
                            padding-left: 71px;
                            box-sizing: border-box;
                        }
                    }
                }

                .select-wrapper {
                    position: relative;

                    .bankDeposit {
                        margin-top: 30px;
                        color: #999999;
                        font-size: 14px;
                        font-weight: bold;
                    }

                    .bank {
                        line-height: 44px;
                        margin-top: 12px;
                        appearance: none;
                        background-color: #f8f8f8;
                        border: 0;
                        border-radius: 6px;
                        width: 100%;
                        height: 44px;
                        color: #CCCCCC;
                        font-size: 14px;
                        font-weight: 400;

                        .bank-name {
                            margin-left: 16px;

                            &.selected {
                                color: #000;
                                font-weight: bold;
                            }
                        }
                    }

                    .select-icon {
                        position: absolute;
                        right: 16px;
                        bottom: 5px;
                        width: 24px;
                        height: 24px;
                        background: #f8f8f8 url(../img/select.png) no-repeat;
                        background-position: 95% 50%;
                        background-size: 24px 24px;
                    }
                }

                .addIDcardPhotos {
                    margin-top: 30px;
                    margin-bottom: 10px;
                    color: #999999;
                    font-size: 14px;
                }

                .RelationalInfo {
                    margin-top: 40px;
                    margin-bottom: 30px;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 20px;
                }

                .uploadTips {
                    margin-top: 5px;
                    margin-bottom: 16px;
                    color: #999999;
                    font-size: 14px;
                    line-height: 18px;
                }

                .bankbookTips {
                    margin-top: 20px;
                }
            }

            .keepPricy {
                margin-top: 30px;
                margin-bottom: 74px;
                width: 100%;
                height: 44px;
                background-color: #ECF6EC;

                &::before {
                    display: inline-block;
                    content: '';
                    background: url(../img/tips_icon.png) no-repeat;
                    background-size: contain;
                    width: 18px;
                    height: 18px;
                    vertical-align: middle;
                    margin-left: 16px;
                    margin-right: 10px;
                }

                p {
                    display: inline;
                    line-height: 44px;
                    color: #43AC43;
                    font-size: 14px;
                }
            }
        }

        .submitBtn {
            cursor: pointer;
            max-width: 640px;
            width: 100%;
            height: 44px;
            position: fixed;
            bottom: 0;
            z-index: 100;
            background-color: #43AC43;
            text-align: center;
            display: inline-block;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: bold;
            line-height: 44px;
        }
    }
}