@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";
input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    font-weight: normal;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px; // background:url('../img/banner.jpg');
    .page-inner {
        padding-top: 56px;
        .tips-wrapper {
            font-size: 14px;
            line-height: 21px;
            background-color: #EAF7EB;
            color: #43AC43;
            padding: 11.5px 16px;
            .tips {
                font-weight: bold;
            }
        }
        .wrapper {
            padding: 0 16px;
            min-height: 615px;
            margin-bottom: 35px;
            .commonTitle {
                margin-top: 30px;
                font-size: 20px;
                font-weight: bold;
                line-height: 20px;
            }
            .relationshipAidedperson {
                margin-top: 16px;
                .relationship_type {
                    line-height: 44px;
                    margin-top: 12px;
                    background-color: #f8f8f8;
                    border: 0;
                    border-radius: 6px;
                    width: 100%;
                    height: 44px;
                    color: #CCCCCC;
                    font-size: 14px;
                    position: relative;
                    .relationship {
                        margin-left: 16px;
                        color: #ccc;
                        &.selected {
                            color: #000;
                        }
                    }
                    &::after {
                        content: '';
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        background: url(../img/select.png) no-repeat;
                        background-size: 24px 24px;
                        position: absolute;
                        right: 16px;
                        bottom: 10px;
                    }
                }
            }
            .input_wrapper {
                margin-top: 16px;
                width: 100%;
                position: relative;
                .content {
                    padding: 0 5%;
                    width: 90%;
                    height: 44px;
                    font-size: 14px;
                    font-weight: bold;
                    background-color: #F8F8F8;
                    border: 0;
                    border-radius: 6px;
                }
            }
            .confirm_area {
                // margin-top: 16px;
                position: relative;
                .confirm_tips {
                    color: #999;
                    font-size: 12px;
                    line-height: 18px;
                    margin-top: 5px;
                    margin-bottom: 7px;
                }
                textarea {
                    resize: none;
                    width: 90%;
                    height: 140px;
                    padding: 5%;
                    background-color: #F8F8F8;
                    border: 0;
                    border-radius: 6px;
                    font-size: 14px;
                    line-height: 28px;
                    overflow: auto;
                    font-family: Arial;
                }
                .textarea-counter {
                    color: #999999;
                    font-size: 14px;
                    position: absolute;
                    right: 5px;
                }
            }
        }
        .submitBtn {
            max-width: 640px;
            width: 100%;
            padding: 8px 0;
            height: 44px;
            position: fixed;
            bottom: 0;
            z-index: 100;
            background-color: #fff;
            text-align: center;
            border-top: 1px solid #EAEAEA;
            .submitBtnContent {
                border-radius: 6px;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: bold;
                line-height: 44px;
                width: 92%;
                margin: auto;
                background: #43ac43;
            }
        }
    }
}

.choose-relationship {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;
    .relatonship-mask {
        // display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.8;
    }
    .content {
        position: absolute;
        background: #fff;
        width: 90%;
        height: 321px;
        margin: 0 auto;
        top: 61%;
        left: 50%;
        z-index: 3001;
        margin-left: -45%;
        margin-top: -236px;
        border-radius: 5px;
        .close {
            display: inline-block;
            background: url(../img/close_icon.png) no-repeat;
            background-size: contain;
            width: 30px;
            height: 60px;
            z-index: 3000;
            position: absolute;
            top: -58px;
            right: 0;
        }
        .content-inner {
            padding: 0px 16px;
            .title {
                margin-top: 30px;
                margin-bottom: 20px;
                font-size: 20px;
                font-weight: bold;
                line-height: 24px;
            }
            .bank-items {
                height: 246px;
                overflow: auto;
                .list-items {
                    border-bottom: 1px solid #EEE;
                    padding: 14px 0;
                    font-size: 16px;
                    &::after {
                        display: block;
                        content: "";
                        clear: both;
                    }
                    p {
                        float: left;
                        width: 85%;
                    }
                    &::before {
                        float: left;
                        display: inline-block;
                        content: '';
                        background: url(../img/unchoosed_icon.png) no-repeat;
                        background-size: contain;
                        width: 20px;
                        height: 20px;
                        vertical-align: sub;
                        margin-right: 16px;
                    }
                    &.choosed-relationship {
                        font-weight: bold;
                        color: #43ac43;
                        &::before {
                            background: url(../img/choosed_icon.png) no-repeat;
                            background-size: contain;
                            width: 20px;
                            height: 20px;
                            vertical-align: sub;
                        }
                    }
                }
            }
        }
    }
}