.commonBoxStyle.alert-box {
    .content {
        position: absolute;
        background: #fff;
        width: 90%;
        height: auto;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        z-index: 3001;
        margin-left: -45%;
        border-radius: 5px;

        .content-inner {
            position: unset;
            box-sizing: border-box;
            height: auto;
            padding: 32px 18px 60px;

            .detail {
                max-height: 60vh;
                height: auto;
                box-sizing: border-box;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
                .prag-desc{
                    margin-bottom: 20px;
                }
                // text-align: justify;
                .title {
                    font-size: 16px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
                .center-title{
                    text-align: center;
                    font-weight: bold;
                    font-size: 16px;
                    color: #333;

                }

                .bold {
                    color: #333333;
                    font-weight: bold;
                }

                .space {
                    height: 15px;
                }

                .color {
                    //   font-weight: bold;
                    //   color: #333;

                    padding: 10px 0 20px !important;
                    //   color: #43AC43;
                }

                .prag {
                    .l {
                        display: inline-block;
                        width: 10%;
                        vertical-align: top;
                    }

                    .r {
                        display: inline-block;
                        width: 88%;
                        .second{
                            margin-top: 5px;
                            .second-title {
                                display: inline-block;
                                width: 8%;
                                padding: 0;
                                vertical-align: top;
                                text-align: center;
                            }
    
                            .second-detail {
                                display: inline-block;
                                padding-left: 4%;
                                width: 85%;
                            }
                        }
                        
                    }

                }

                &::after {
                    content: "";
                    display: block;
                    height: 34px;
                }
            }

            .confirm {
                bottom: 15px;
                width: 100%;
                right: 0;


                .yes {
                    width: 100%;
                    text-align: center;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0 18px;
                    float: right;
                    font-weight: bold;

                    span {
                        display: inline-block;
                        height: 44px;
                        line-height: 44px;
                        width: 100%;
                        background: #43AC43;
                        color: #fff;
                        border-radius: 6px;
                    }
                }

                .fade-wrap {
                    position: absolute;
                    bottom: 43px;
                    height: 50px;
                    width: 100%;
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);

                }

            }
        }
    }
}