@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";
@import "../less/_alert-box.less";
@import "../../../../common/qsc/less/alert-box.less"; //弹窗

// @import "../../../../common/qsc/less/shareTpl-gtry.less"; //分享弹窗
// @import "./_relationList.less";

// @import "../../../../common/qsc/less/common_footer.less";

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    min-height: 100vh;
    margin-top: -56px;
    background: #FFF;

    .page-inner {
        padding-top: 56px;
        overflow: hidden;

        .requirement-wrap{
            padding: 29px 16px;
            .requirement-title{
                font-weight: bold;
                font-size: 20px;
                color: #333;
            }
            .requirement{
                margin-top: 19px;
                .icon{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    vertical-align: sub;
                    .icon-inner{
                        width: 20px;
                        height: 20px;
                        background: #43ac43;
                        border-radius: 50%;
                        color: #fff;
                        font-size: 14px;
                        text-align: center;
                        line-height: 20px;
                    }
                }
                .content{
                    display: inline-block;
                    width: 89%;
                    vertical-align: text-top;
                    font-size: 14px;
                    line-height: 20px;
                    margin-left: 6px;
                    .green{
                        color: #43ac43;
                        text-decoration: underline;
                    }
                }
            }
        }
        .mol{
            padding: 20px 16px 80px;
            &.compensation {
                .mol-inner {
                    .title{
                        font-size: 20px;
                        color: #333;
                        font-weight: bold;
                        line-height: 20px;
                    }
                    .list-wrapper {
                        // padding-top: 10px;
                        margin-top: 20px;
                        // .list-icon{
                        //     width: 12px;
                        //     height: 262px;
                        //     display: inline-block;
                        //     vertical-align: top;
                        //     background: url(../img/icon-9.png) no-repeat;
                        //     background-size: 12px 262px;
                        // }
                        .list-cnt {
                            display: inline-block;
                            height: 200px;
                            // margin-left: 10px;
                            
                            .list-item{
                                margin-top: 12px;
                                .list-icon{
                                    display: inline-block;
                                    padding: 3px;
                                    width: 9px;
                                    height: 9px;
                                    border: 1px solid #43ac43;
                                    border-radius: 50%;
                                    vertical-align: top;
                                    .icon-inner{
                                        width: 9px;
                                        height: 9px;
                                        background: #43ac43;
                                        border-radius: 50%;

                                    }
                                }
                                .list-inner{
                                    margin-left: 6px;
                                    display: inline-block;
                                    width: 90%;
                                    color: #333;
                                    font-size: 14px;
                                    font-weight: bold;
                                    span{
                                        font-size: 12px;
                                        line-height: 18px;
                                        color: #999;
                                        font-weight: normal;
                                    }
                                }
                            }
                            // p {
                            //     font-size: 14px;
                            //     padding: 0 0 30px;
                            // }
                        }
    
                        // &::before {
                        //     content: "";
                        //     width: 12px;
                        //     height: 262px;
                        //     display: inline-block;
                        //     vertical-align: top;
                        //     background: url(../img/icon-9.png) no-repeat;
                        //     background-size: 12px 262px;
                        // }
                    }
                }
            }
        }
        .next-btn-wrap{
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 60px;
            text-align: center;
            background: #fff;
            .next-btn{
                padding: 8px 16px;
                p{
                    border-radius: 6px;
                    width: 100%;
                    background: #43ac43;
                    line-height: 44px;
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }
}