.alert-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.65;
    }

    .content {
        padding: 32px 18px 52px 18px;
        position: absolute;
        background: #fff;
        width: 80%;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        z-index: 3001;
        margin-left: -45%;
        margin-top: -215px;
        border-radius: 5px;

        .content-inner {
            position: relative;

            .fade {
                position: absolute;
                bottom: 0;
                height: 50px;
                width: 100%;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
            }

            .got-it-wrap {
                position: absolute;
                font-size: 16px;
                font-weight: bold;
                bottom: -32px;
                color: #43ac43;
                right: 17px;
            }

            .title {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 18px;
            }

            .content-detail {
                position: relative;
                height: 300px;
                font-size: 16px;
                line-height: 24px;
                color: #999;
                overflow: scroll;
                padding-bottom: 16px;

                table {
                    border-collapse: separate;
                    border-spacing: 7px;

                }
            }
        }
    }
}