@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";
@import "../less/_alert-box.less";
// @import "../../../../common/qsc/less/shareTpl-gtry.less"; //分享弹窗

// @import "../../../../common/qsc/less/common_footer.less";

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    min-height: 100vh;
    margin-top: -56px;
    background: #F7FAFF;

    .page-inner {
        padding-top: 56px;
        overflow: hidden;

        .wrapper {
            .banner-wrap {
                width: 100vw;
                height: 54vw;
                background: url(../img/banner-with-money.png) no-repeat;
                background-size: contain;

                .state-tag {
                    margin-top: 5px;
                    display: inline-block;
                    background: #ccc;
                    height: 21px;
                    padding: 0 10px;
                    border-radius: 0 50px 50px 0;

                    p {
                        font-size: 14px;
                        line-height: 21px;
                        color: #FFF;
                    }
                }
            }

            .invite-wrap {
                margin-top: 10px;
                text-align: center;
                padding: 0 32px;

                .btn-wrap {
                    border-radius: 50px;
                    display: inline-block;
                    height: 44px;
                    background: #43ac43;
                    // padding: 0 39px;

                    p {
                        margin: 0 30px;
                        color: #fff;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 44px;
                    }

                }

                @media screen and (max-width: 365px) {
                    .btn-wrap {
                        border-radius: 50px;
                        display: inline-block;
                        height: 44px;
                        background: #43ac43;
                        // padding: 0 39px;

                        p {
                            margin: 0 20px;
                            color: #fff;
                            font-size: 14px;
                            font-weight: bold;
                            line-height: 44px;
                        }

                    }
                }

            }

            .how-to-get-wrap {
                text-align: center;
                margin-top: 10px;
                font-size: 12px;
                color: #999;
            }

            .awarded-bonuses {
                box-shadow: 0px 8px 16px 0 #E7EBF8;
                border-radius: 6px;
                background: #fff;
                padding: 16px;
                margin: 16px 20px;

                .awarded-title {
                    position: relative;
                    font-size: 16px;
                    font-weight: bold;

                    .text-desc {
                        opacity: 0.5;
                        background: linear-gradient(#43ac43, #FF9F7F);
                        position: absolute;
                        height: 3px;
                        color: transparent;
                        border-radius: 10px;
                        bottom: 1px;
                    }
                }

                .bonuses {
                    margin-top: 20px;
                    font-size: 16px;
                    color: #FF6100;
                }
            }

            .referral-record-wrap {
                box-shadow: 0px 8px 16px 0 #E7EBF8;
                border-radius: 6px;
                background: #fff;
                padding: 16px;
                margin: 16px 20px;

                .record-title {
                    position: relative;
                    font-size: 16px;
                    font-weight: bold;

                    .text-desc {
                        opacity: 0.5;
                        background: linear-gradient(#43ac43, #FF9F7F);
                        position: absolute;
                        height: 3px;
                        color: transparent;
                        border-radius: 10px;
                        bottom: 1px;
                    }
                }

                .referral-list-wrap {
                    .referral-info-wrap {
                        margin-top: 20px;

                        .avatar-wrap {
                            display: inline-block;
                            vertical-align: middle;

                            .avatar {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%
                            }
                        }

                        .name-bonus {
                            margin-left: 10px;
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 14px;

                            .name {
                                color: #999;

                            }

                            .bonus {
                                margin-top: 8px;
                            }
                        }
                    }

                    .invitee-first {
                        margin-top: 20px;

                        .invitee-left {
                            display: inline-block;
                            vertical-align: middle;
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                            background: url(../img/bonus-icon.png) no-repeat;
                            background-size: 40px;
                        }

                        .invitee-right {
                            margin-left: 10px;
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 14px;

                            .name {
                                color: #999;

                            }

                            .bonus {
                                margin-top: 8px;
                            }
                        }
                    }

                    .invite-more {
                        margin-top: 20px;
                        display: inline-block;
                        vertical-align: middle;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        background: url(../img/invite-more.png) no-repeat;
                        background-size: 40px;
                    }
                }
            }

        }
    }
}