@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";

ul li {
  list-style: none;
}

h2 {
  padding: 0 15px;
  margin: 0;
}

.page-wrapper {
  // position: relative;
  max-width: 640px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 100vh;
  margin-top: -56px;

  .page-inner {
    padding-top: 72px;

    .finish-content {}
  }
}