.qsc-uploader {
    // upload btn
    .webPicPicker {
        position: relative;
        z-index: 1;
        input {
            position: absolute;
            z-index: 100;
            top: 0;
            left: 6px;
            width: 100%;
            height: 40px;
            font-size: 0;
            outline: none;
            opacity: 0;
        }
    } // 图片列表
    .uploader-list {
        position: absolute;
        z-index: 2;
        right: 49px;
        width: 40px;
        height: 40px;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}