@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";
.page-wrapper {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #F8F8F8;
    min-height: 100vh;
    margin-top: -56px;
    .page-inner {
        padding-top: 56px;
        background-color: #F8F8F8;
        padding-bottom: 30px;
        .content{
            padding: 20px 16px;
        }
        p{
            font-size: 16px;
            line-height: 25px;
            color: #333;
        }
        .title{
            margin-top: 20px;
            color: #43ac43;
            font-weight: bold;
        }
    }
 
}