@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";

textarea::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #F8F8F8;
    min-height: 100vh;
    margin-top: -56px;

    .page-inner {
        padding-top: 56px;
        background-color: #F8F8F8;
        // padding-bottom: 30px;

        .contentWrapper {
            padding: 0 16px;

            .totalWrapper {
                margin-top: 30px;
                border-bottom: 1px dashed #999999;
                padding-bottom: 20px;

                .totalTitle {
                    font-size: 16px;
                    font-weight: bold;
                    color: #999999;
                }

                .withdrawMoney {
                    font-size: 20px;
                    font-weight: bold;

                    p {
                        display: inline-block;
                        margin-top: 10px;
                    }
                }
            }

            .expenseDetailWrapper {
                margin-top: 20px;
                font-size: 14px;
                line-height: 14px;
                color: #999999;

                .transferWrapper {
                    margin-top: 10px;

                    .transferFeeTitle {
                        .transferTitle {
                            display: inline-block;
                        }

                        .transferFee {
                            float: right;

                            p {
                                display: inline-block;
                            }
                        }
                    }
                }

                .platformFeeWrapper {

                    // margin-top: 10px;
                    .platformTitle {
                        display: inline-block;
                    }

                    .platformFee {
                        float: right;

                        p {
                            display: inline-block;
                        }
                    }
                }
            }

            .remainingTotalWrapper {
                margin-top: 40px;

                .remainingTitle {
                    font-size: 16px;
                    font-weight: bold;
                    color: #999999;
                }

                .remainingMoney {
                    margin-top: 10px;
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 30px;
                    color: #43ac43;

                    p {
                        display: inline-block;
                    }
                }
            }
        }

        .withdraw-input-wrap {
            background-color: #fff;

            padding: 20px 16px;

            .input-title {
                font-weight: bold;
                color: #333;
                font-size: 20px;
            }

            .input-money {
                margin-top: 23px;
                border-bottom: 1px solid #E5E5E5;
                padding-bottom: 9px;

                .money-symbol {
                    font-size: 24px;
                    line-height: 30px;
                    display: inline-block;
                    font-weight: 400;
                    margin-right: 8px;
                }

                .input-amount {
                    font-size: 24px;
                    caret-color: #43ac43;
                    color: #333;
                    width: 85%;
                }

                .maxmium-amount {
                    display: none;
                    font-size: 24px;
                    line-height: 30px;
                    font-weight: 400;
                    width: 85%;

                }
            }

            .tips-withdrawAll-wrap {
                margin-top: 12px;
                padding-bottom: 12px;

                .tips {
                    display: inline-block;
                    vertical-align: middle;
                    float: left;
                    font-size: 14px;
                    color: #999;
                }

                .withdraw-all {
                    display: inline-block;
                    vertical-align: middle;
                    float: right;
                    font-size: 14px;
                    color: #43ac43;

                }
            }
        }

        .bank-card-wrap {
            background-color: #fff;
            margin-top: 10px;
            padding: 20px 16px;

            .bank-card-title {
                font-size: 20px;
                font-weight: bold;
                color: #333;
                margin-bottom: 20px;

            }

            li:not(:last-child) {
                .card-right{
                    // padding-bottom: 15px;
                    border-bottom: 1px solid #E5E5E5;
                }
            }

            .bank-card {
                list-style: none;
                padding-bottom: 15px;

                .card-left {
                    display: inline-block;
                    vertical-align: initial;

                    &.unchoosed {
                        background: url(../img/unchoosed.png) no-repeat;
                        width: 22px;
                        height: 22px;
                        background-size: 22px;
                    }

                    &.choosed {
                        background: url(../img/choosed.png) no-repeat;
                        width: 22px;
                        height: 22px;
                        background-size: 22px;
                    }
                }

                .card-right {
                    margin-left: 14px;
                    display: inline-block;
                    vertical-align: middle;
                    min-width: 85%;
                    padding-bottom: 15px;

                    .bank-name {
                        font-size: 16px;
                        color: #333;

                    }

                    .gray {
                        margin-top: 8px;
                        font-size: 14px;
                        color: #999;
                    }
                }
            }
        }

        .withdraw-desc {
            margin-top: 10px;
            background: #fff;
            padding: 20px 16px;

            .content-inner {
                position: relative;

                .title {
                    font-weight: bold;
                    font-size: 20px;
                    margin-bottom: 20px;
                }

                .text-wrap {
                    padding: 12px 16px 26px 16px;
                    background: #F5F6F7;

                }

                .withdrawPurpose {
                    resize: none;
                    border: 0;
                    width: 100%;
                    height: 98px;
                    background: #F5F6F7;
                    border-radius: 6px;
                    font-size: 14px;
                    line-height: 21px;
                }

                .textarea-counter {
                    color: #999999;
                    font-size: 14px;
                    position: absolute;
                    bottom: 8px;
                    right: 16px;

                    .contentcount {
                        color: #333333;
                    }
                }
            }
        }
    }

    .confirmWrapper {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0 16px;

        .submit {
            cursor: pointer;
            width: 100%;
            height: 44px;
            background-color: #43ac43;
            border-radius: 6px;
            text-align: center;

            p {
                color: #fff;
                line-height: 44px;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}