@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";


ul li {
    list-style: none;
}

h2 {
    padding: 0 15px;
    margin: 0;
}

body {
    background: #F7FAFF;
}

.page-wrapper {
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    height: 100vh;

    .page-inner {
        padding-top: 56px;

        .state-wrap {
            .failed-content {
                // display: none;
                padding-top: 56px;
                position: absolute;
                width: 90%;
                top: 34%;
                left: 50%;
                margin-top: -150px;
                margin-left: -45%;

                .failed-wrapper {
                    width: 200px;
                    margin: auto;
                    text-align: center;

                    .failedBg {
                        width: 60px;
                        height: 72px;
                        margin: auto;
                        background: url(../img/failed.png) no-repeat;
                        background-size: contain;
                    }

                    p {
                        margin-top: 16px;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 14px;
                    }
                }

                .tips {
                    text-align: center;
                    margin-top: 6px;
                    font-size: 12px;
                    color: #999999;
                    line-height: 18px;
                }

                .viewBtn {
                    margin: 40px auto;
                    max-width: 600px;
                    width: 92%;
                    height: 44px;
                    background-color: #43AC43;
                    border-radius: 6px;

                    p {
                        text-align: center;
                        color: #FFFFFF;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 44px;
                    }
                }
            }
        }
    }
}