body.add-app-download {
  .FinishCampaignPopup {
    margin-top: 102px;
  }
}


.FinishCampaignPopup {
  position: fixed;
  margin-top: 56px;
  z-index: 3051;
  width: 100%;
  height: 100vh;

  .mask {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
  }

  .FinishCampaignPopup-inner {
    position: relative;
    left: 50%;
    top: 0;
    background-image: linear-gradient(118deg, #3DB577 0%, #43AC43 100%);
    border-radius: 0 0 12px 12px;
    max-width: 640px;
    transform: translateX(-50%);
    box-sizing: border-box;
    padding: 16px;
    color: #fff;

    .close {
      position: absolute;
      right: 0;
      top: 0;
      width: 12px;
      height: 12px;
      background: url(../img/close.png) no-repeat;
      background-size: 12px;
      padding: 20px;
      box-sizing: border-box;
      background-position: center;
    }

    .title {
      font-size: 21px;
      font-weight: bold;
      text-align: center;
      line-height: 29px;
      padding: 10px 20px 10px;
    }

    .title2 {
      font-size: 16px;
      text-align: center;
      margin-bottom: 20px;

      &::before,
      &::after {
        content: '';
        display: inline-block;
        width: 18px;
        vertical-align: middle;
        margin-right: 6px;
        height: 22px;
        background: url(../img/love.png) no-repeat;
        background-size: 18px 22px;
      }

      &::after {
        transform: scaleX(-1)
      }
    }

    .campaign-card {
      background: #fff;
      padding: 12px;
      border-radius: 4px;

      .campaign-card-top {
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;

        .img {
          border-radius: 6px;
          overflow: hidden;
          background: url(../img/loading_images.png) no-repeat center;
          background-size: cover;
          width: 133px;
          height: 100px;
          display: inline-block;
          vertical-align: middle;

          .campaign_img {
            width: 133px;
            height: 100px;
            background-size: cover;
          }
        }

        p {
          position: absolute;
          margin-left: 12px;
          top: 50%;
          transform: translateY(-50%);
          color: #333333;
          font-size: 16px;
          font-weight: bold;
          display: inline-block;
          vertical-align: middle;
        }
      }

      .campaign-card-bottom {
        font-size: 16px;
        background: #43AC43;
        text-align: center;
        height: 44px;
        line-height: 44px;
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
      }
    }

  }
}