@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";

.page-wrapper {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;

    .page-inner {
        padding-top: 56px; // avatar

        .avatar {
            margin: 26px 22px;
            height: 40px;
            line-height: 40px;
            position: relative;

            .btn-wrap {
                position: absolute;
                right: 0;
                top: 4px;
                height: 29px;
                .btn-bg-open {
                    display: inline-block;
                    width: 54px;
                    height: 29px;
                    border-radius: 50px;
                    position: relative;
                    background: #43ac43;

                    .btn-open {
                        width: 27px;
                        height: 27px;
                        border-radius: 48px;
                        border: 1px solid #43ac43;
                        position: absolute;
                        right: 0px;
                        background: white;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
                    }
                }

                .btn-bg-open.close {
                    display: inline-block;
                    width: 54px;
                    height: 29px;
                    border-radius: 50px;
                    position: relative;
                    background: #C6C5C5;
                    border-left: transparent;

                    .btn-open.close {
                        width: 27px;
                        height: 27px;
                        border-radius: 48px;
                        border: 1px solid #C6C5C5;
                        position: absolute;
                        // transition: left 10s linear;
                        left: 0px;
                        background: white;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
                    }
                }

            }


            .title {
                font-weight: 700;
                font-size: 16px;
                color: #333333;
            }

            .img {
                float: right;
                height: 40px;
                position: relative;

                .count {
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background: #FF6100;
                    font-size: 11px;
                    color: #FFFFFF;
                    border: 1px solid #FFF;
                    right: 20px;
                    top: 12px;
                    text-align: center;
                    line-height: 16px;
                }

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    vertical-align: middle;
                }

                .name {
                    color: #666666;
                    font-size: 16px;
                    vertical-align: middle;
                }

                &::after {
                    content: "";
                    vertical-align: middle;
                    display: inline-block;
                    width: 7px;
                    height: 11px;
                    margin-left: 15px;
                    background: url(../img/right.png) no-repeat;
                    background-size: 7px 11px;
                }
            }
        }
    }
}