@import "../../../common/qsc/less/loading.less";
@import "../../../common/qsc/less/toast.less";
@import "../../../common/qsc/less/reset.less";

.avatar-name {
  position: relative;
  background-image: linear-gradient(118deg, #3DB577 0%, #43AC43 100%);
  padding: 22px 20px;

  &::after {
    width: 7px;
    height: 12px;
    content: "";
    display: inline-block;
    position: absolute;
    right: 20px;
    background: url(../img/white-r.png) no-repeat;
    background-size: 7px 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  &.signed {
    padding: 22px 20px 50px;

    &::after {
      margin-top: -13px;
    }
  }

  .avatar {
    .avatar-img {
      vertical-align: middle;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 2px solid #fff;
    }
  }

  .name-level {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;

    .name {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #fff;
    }

    .user-level-wrap {
      margin-top: 5px;

      .level {
        display: inline-block;
        height: 18px;
        padding: 0 8px;
        line-height: 18px;
        background-color: #fff;
        color: #43AC43;
        font-size: 10px;
        font-weight: 500;
        border-radius: 21px;

        .level-crown {
          display: inline-block;
          background: url(../img/crown_icon.png) no-repeat;
          width: 10px;
          height: 9px;
          background-size: contain;
          vertical-align: middle;
        }

        .level-num {
          margin-left: 3px;
          vertical-align: middle;
        }
      }

      .trophies {
        display: inline-block;
        position: relative;
        margin-left: 8px;
        padding: 0 8px 0 20px;
        line-height: 18px;
        height: 18px;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        border-radius: 21px;
        background: #FFC348;

        &::before {
          position: absolute;
          left: -4px;
          top: -5px;
          display: inline-block;
          content: '';
          background: url(../img/trophies_icon.png) no-repeat;
          width: 24px;
          height: 27px;
          background-size: 24px 27px;
        }

      }
    }
  }

}

.top-lists {
  position: relative;
  z-index: 2;
  margin: -30px 20px 15px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  color: #717171;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  padding: 16px 0;

  .top-list {
    width: 33%;
    text-align: center;
  }

  .icon {
    width: 31px;
    height: 31px;
    background: url(../img/1.png) no-repeat;
    background-size: 31px auto;
    margin: 0 auto 7px;
  }

  .top-list-2 {
    .icon {
      background: url(../img/2.png) no-repeat;
      background-size: 31px auto;
    }
  }

  .top-list-3 {
    .icon {
      background: url(../img/3.png) no-repeat;
      background-size: 31px auto;
    }
  }
}

.middle-lists {
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin: 15px 20px;
  font-size: 14px;
  color: #999999;

  .middle-list {
    position: relative;
    height: 67px;
    line-height: 67px;
    padding: 0 18px;
    box-sizing: border-box;
    border-bottom: 1px solid #f8f8f8;

    &:last-child {
      border-bottom: none;
    }

    .icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      background: antiquewhite;
      margin-right: 12px;
      background: url(../img/sprite.png) no-repeat;
      background-size: auto 20px;
      background-position: 0 0;
    }

    &.middle-list-2 {
      .icon {
        background-position: -20px 0;
      }
    }

    &.middle-list-3 {
      .icon {
        background-position: -40px 0;

      }
    }

    &.middle-list-4 {
      .icon {
        background-position: -60px 0;

      }
    }

    &.middle-list-5 {
      .icon {
        background-position: -80px 0;

      }
    }

    &.active {
      background-color: #E5E5E5;
    }

    .name {
      vertical-align: middle;
    }

    .right {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 7px;
      height: 12px;
      vertical-align: middle;
      background: antiquewhite;
      margin-right: 12px;
      background: url(../img/grey-r.png) no-repeat;
      background-size: 7px 12px;
    }
  }
}