<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <!-- ${templateParams.htmlWebpackPlugin.options.title} -->

    <title>
        pedulisehat.id - platform donasi kesehatan online terkini di Indonesia
    </title>
    <meta name="description" content="Sekarang kita bisa melakukan donasi kesehatan kapanpun, dimanapun dengan cepat dan transparan membantu pasien yang tepat." />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="google-site-verification" content="zatQUuuYb3y4ENKwXwTMxgwvXJdlZqW1R8pXrLjiEcA" />

    <!-- share -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.htmlOgUrl %>" />
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.htmlOgTitle %> " />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.htmlOgDescription %>" />
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.htmlOgImage %>" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <!-- share -->

    <!-- safari pwa -->
    <meta content="telephone=yes" name="format-detection" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <link rel="apple-touch-icon" sizes="57x57" href="<%= htmlWebpackPlugin.options.linkManifestIcon %>" />
    <!-- safari pwa -->

    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes" />
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true" />
    <!-- windows phone 点击无高光 -->
    <meta name="”msapplication-tap-highlight”" content="”no”" />

    <meta property="fb:app_id" content="280435745905661" />
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.linkFavicon %>" />
    <link rel="manifest" href="<%= htmlWebpackPlugin.options.linkManifest %>" />

    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <style>
        .grecaptcha-badge { visibility: hidden; }

        #notif {
            display: none;
            position: fixed;
            left: 50%;
            z-index: 9999;
            border-radius: 0 0 8px 8px;
            background-color: white;
            transform: translateX(-50%);
            top: 0;
            padding: 20px;
            flex-direction: column;
            width: 90%;
            max-width: 380px;
            box-shadow: 0 5px 16px 0 rgba(0,0,0,.1);
            align-items: center;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .wrap-title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;
        }

        .wrap-title img {
            width: 70px;
            margin-right: 8px;
        }

        #notif .wrap-button {
            width: 100%;
            text-align: right;
        }

        #notif button {
            padding: 10px 20px;
            border: 1px solid #43AC43;
            border-radius: 8px;
            cursor: pointer;
        }

        #notif-allow {
            background-color: #43AC43;
            color: white;
        }

        #notif-cancel {
            background-color: white;
            color: #43AC43;
            margin-right: 8px;
        }

    </style>
    <!-- freshchat sdk -->
    <script src="https://wchat.freshchat.com/js/widget.js"></script>
    <!-- freshchat sdk -->
<!-- google recaptcha
<script type="text/javascript" src="https://www.google.com/recaptcha/api.js?render=6LfNhQQcAAAAAHCSnFc9bI7MjT0TyvDRjW321W4E"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
// google-recaptcha
            grecaptcha.ready(function() {
            grecaptcha.execute('6LfNhQQcAAAAAHCSnFc9bI7MjT0TyvDRjW321W4E', {action: 'homepage'}).then(function(token) {
            console.log("onload's capture_token : "+token);
            document.getElementById("capture_token").value = token;
            });
            });
            /*refresh get token before it's expire every 90 Seconds 
            setInterval(function () {
            grecaptcha.ready(function () {
            grecaptcha.execute("6LfZ3gIcAAAAAF-Z6pdrOMWnDurM1nzytpmkK5w6", {action: "request_call_back"}).then(function (token) {
            console.log("refresh capture_token : "+token);
            document.getElementById("capture_token").value = token;
            });
            });
            }, 90 * 1000);*/
        </script
  facebok sdk -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript" src="https://www.google.com/recaptcha/api.js?render=6LeE1wIcAAAAAPEyH0BdTCytCCfh_wUqMOTxRBAX"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
// google-recaptcha
            // grecaptcha.ready(function() {
            // grecaptcha.execute('6LeE1wIcAAAAAPEyH0BdTCytCCfh_wUqMOTxRBAX', {action: 'homepage'}).then(function(token) {
            //     console.log("onload's capture_token : "+token);
            //     document.getElementById("capture_token").value = token;
            //     });
            // });
    </script>
    <script>
        try {
            window.fbAsyncInit = function() {
                FB.init({
                    appId: "280435745905661",
                    xfbml: true,
                    version: "v2.9"
                });
                FB.AppEvents.logPageView();
            };

            (function(d, s, id) {
                var js,
                    fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js ";
                fjs.parentNode.insertBefore(js, fjs);
            })(document, "script", "facebook-jssdk");
        } catch (err) {
            console.log("try facebok sdk :", error);
        }
    </script>
    <!-- facebok sdk -->

    <!-- Facebook Pixel Code -->
    <script>
        try {
            ! function(f, b, e, v, n, t, s) {
                if (f.fbq) return;
                n = f.fbq = function() {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '566267973785475');
            fbq('track', 'PageView');
        } catch (error) {
            console.log('try Facebook Pixel Code :', error);
        }
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=566267973785475&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- firebase notification -->
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
    <!-- Add the entire Firebase JavaScript SDK -->
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-messaging.js"></script>
    <!-- <script src="dev/common/qsc/js/firebaseConfig.js" type="module"></script> -->

    <script>
        var urlStr = location.host;

        // show permission notification only pre.pedulisehat domain
        if (urlStr.indexOf("pre.pedulisehat.id") != -1 || urlStr.indexOf("www.pedulisehat.id") != -1 || urlStr.indexOf("127.0.0.1") != -1) {
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('../firebase-messaging-sw.js')
                .then(function(registration) {
                    console.log('Registration successful, scope is:', registration.scope);
                }).catch(function(err) {
                    console.log('Service worker registration failed, error:', err);
                });
            }
            // Your web app's Firebase configuration
            // pre
            if (urlStr.indexOf("pre.pedulisehat.id") != -1) {
                var firebaseConfig = {
                    apiKey: "AIzaSyCT7YqaANrUhAPDPEX1cy8In_6DGBze0YI",
                    authDomain: "peduli-sehat-1533525025899.firebaseapp.com",
                    databaseURL: "https://peduli-sehat-1533525025899.firebaseio.com",
                    projectId: "peduli-sehat-1533525025899",
                    storageBucket: "peduli-sehat-1533525025899.appspot.com",
                    messagingSenderId: "493894793678",
                    appId: "1:493894793678:web:95ec0a2810b8f65791939f",
                    measurementId: "G-X4B55B1NQ2"
                };
        } else {
                var firebaseConfig = {
                    apiKey: "AIzaSyCT7YqaANrUhAPDPEX1cy8In_6DGBze0YI",
                    authDomain: "peduli-sehat-1533525025899.firebaseapp.com",
                    databaseURL: "https://peduli-sehat-1533525025899.firebaseio.com",
                    projectId: "peduli-sehat-1533525025899",
                    storageBucket: "peduli-sehat-1533525025899.appspot.com",
                    messagingSenderId: "493894793678",
                    appId: "1:493894793678:web:e170f7ab42a8c4d291939f",
                    measurementId: "G-C47301FPGT"
                };
                            
            }
    
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            const messaging = firebase.messaging();
    
            // request permission and get token
            function IntitalizeFireBaseMessaging() {
                let tokenFcmExisting = localStorage.getItem("tokenFcmExisting") || null;
    
                messaging
                    .requestPermission()
                    .then(function () {
                        console.log("Notification Permission");
                        return messaging.getToken();
                    })
                    .then(function (token) {
                        console.log("Token Firebase : " + token);
                        localStorage.setItem("tokenFcm", token);
                    })
                    .catch(function (reason) {
                        console.log("terblock bund");
                        localStorage.removeItem("tokenFcm");
                        console.log(reason);
                    });
            }
    
            // 
            messaging.onMessage(function (payload) {
                console.log(payload);
    
                const notificationOption = {
                    body: payload.data.body,
                    icon: payload.data.icon
                };
    
                if(Notification.permission === "granted"){
                    var notification = new Notification(payload.data.title, notificationOption);
    
                    notification.onclick = function (ev) {
                        ev.preventDefault();
                        window.open(payload.data.click_action, '_blank');
                        notification.close();
                    }
                }
    
            });
            
            // refresh token firebase
            messaging.onTokenRefresh(function () {
                messaging.getToken()
                    .then(function (newtoken) {
                        console.log("New Token Firebase : " + newtoken);
                        localStorage.setItem("tokenFcm", newtoken)
                    })
                    .catch(function (reason) {
                        console.log(reason);
                    })
            });
            
            // call this function
            // IntitalizeFireBaseMessaging();

            //custom notification permession
            // allow = granted
            // ask = default
            // block = danied 
            window.onload = function(){

                if (Notification.permission == 'default') {
                    // jika udah pernah pencet permession maka jangan ditampilkan lagi
                    if (localStorage.getItem('notify', '0') || localStorage.getItem('notify', '1')) {
                        document.querySelector('#notif').style.display = 'none';
                    } else {
                        document.querySelector('#notif').style.display = 'flex';
                    }
                }

                if (Notification.permission == 'granted') {
                    IntitalizeFireBaseMessaging();
                }

                // notif allow
                document.querySelector('#notif-allow').onclick = async()=> {
                    localStorage.setItem('notify', '1');
                    notifyTrue();
                }

                function notifyTrue() {
                    if (localStorage.getItem('notify', '1')) {
                        document.querySelector('#notif').style.display = 'none';
                        IntitalizeFireBaseMessaging();
                    }
                }

                notifyTrue();

                // notif cancel
                document.querySelector('#notif-cancel').onclick = async()=> {
                    localStorage.setItem('notify', '0');
                    notifyFalse();
                }

                function notifyFalse() {
                    if (localStorage.getItem('notify', '0')) {
                        document.querySelector('#notif').style.display = 'none';
                    }
                }
        
                notifyFalse();

                // function notifyOption() {
                //     if (localStorage.getItem('notify', 'true')) {
                //         if (Notification.permission == 'granted') {

                //         } else if (Notification.permission !== 'danied') {
                //             Notification.requestPermission().then(permission => {
                //                 if (Notification.permission == 'granted') {

                //                 }
                //             })
                //         }
                //     }
                // }
            }
        }

    </script>
    <!-- end firebase notification -->
</head>

<!-- <body οncοntextmenu="return false" onselectstart="return false"> -->
<body οncοntextmenu="return false">
        <div id="myApp">
    </div>
    <div id="notif">
        <div class="wrap-title">
            <img src="https://res.cloudinary.com/dqgl4hkkx/image/upload/v1630994172/public/logo.svg" alt="logo">
            <div class="title">
                Nyalakan notifikasi untuk mendapatkan update dari Peduli Sehat
            </div>
        </div>
        <div class="wrap-button">
            <button id="notif-cancel">TIDAK</button>
            <button id="notif-allow">YA</button>
        </div>
    </div>
</body>

</html>