@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";
@import "../../../../common/qsc/less/common_footer.less";
.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto; // background-color: #fff;
    // min-height: 100vh;
    margin-top: -56px;
    .page-inner {
        padding-top: 56px;
        background-color: #fff;
        .wrapper {
            width: 100%;
            margin: 0 auto 80px; // 首页banner
            p {
                height: 49px;
                line-height: 49px;
                margin: 0 15px;
                cursor: pointer;
                &.id{
                    border-bottom: 1px solid #EEEEEE;
                }
                &::before {
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    vertical-align: sub;
                    margin-right: 18px;
                }
                &.choosed {
                    &::before {
                        background: url(../img/choosed.png);
                        background-size: 20px;
                    }
                }
            }
        }
    }
}