// @import "/Users/richyoung/qsc/Indonesia-h5/dev/common/qsc/less/_uploader";
// @import "../../../common/qsc/less/uploader.less";

@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";
// @import "../../../../common/qsc/less/common_footer.less";



input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    font-weight: normal;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }


.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px; // background:url('../img/banner.jpg');
    .page-inner {
        padding-top: 56px;
        .wrapper{
            margin-top: 30px;
            .goal{
                padding-left: 16px;
                font-size: 20px;
                font-weight: bold;
                line-height: 20px;
            }
            .target_amount_wrapper{
                margin-top: 16px;
                padding: 0 16px;
                // width: 100%;
                position: relative;
                .total_amount{
                    padding: 0 5%;
                    width: 90%;
                    height: 44px;
                    color: #FF6100;
                    font-size: 14px;
                    font-weight: bold;
                    background-color: #F8F8F8;
                    border: 0;
                    border-radius: 6px;
                }
                .target_amount_Rp{
                    line-height: 44px;
                    font-size: 14px;
                    font-weight: bold;
                    position: absolute;
                    top: 0;
                    left: 32px;
                }
            }
            .target_amount_tips{
                padding-left: 16px;
                margin-top: 8PX;
                font-size: 12px;
                line-height: 12px;
                color: #999999;
            }    
        }
        .saveBtn{
            cursor: pointer;

            max-width: 620px;
            width: 100%;
            height: 44px;
            position: fixed;
            bottom: 0;
            background-color: #43AC43;
            p{
                text-align: center;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: bold;
                line-height: 44px;
            }
        }
    }
}