input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    font-weight: normal;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.common-verify {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.7;
    }

    .content {
        position: absolute;
        color: #fff;
        width: 90%;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        border-radius: 5px;
        transform: translate(-50%, -50%);
        // top: 10%;
        // left: 50%;
        z-index: 3001;
        // margin-left: -45%;
        border-radius: 5px;



        .content-verify {
            position: relative;
            // close
            // .close-wrapper {
            //     position: absolute;
            //     right: 0;
            //     z-index: 1;
            //     width: 100%;

            .close {
                position: absolute;
                right: 0;
                top: -52px;
                width: 100%;


                cursor: pointer;
                width: 30px;
                height: 56px;
                background: url(../img/close.png) no-repeat;
                background-size: 30px 56px;
            }

            // }


            z-index: 10;
            background-color: #fff;
            width: 100%;
            // margin: 0 auto;
            max-width: 600px;
            border-radius: 6px;

            .content-verify-inner {
                padding: 20px;

                .title {
                    margin-bottom: 20px;
                    font-size: 16px;
                    font-weight: bold;
                    color: #333;
                }

                .input-wrap {
                    margin-top: 30px;
                    height: 44px;
                    width: 100%;
                    position: relative;

                    input {
                        caret-color: #43AC43;
                        border-style: none;
                        outline: none;
                        width: 100%;
                        height: 44px;
                        background-color: #f8f8f8;
                        border-radius: 7px;
                        padding: 0 125px 0 16px;
                        color: #333333;
                        box-sizing: border-box;
                        font-size: 14px;

                    }

                    .turingImg {
                        position: absolute;
                        right: 0;
                        height: 44px;
                        width: 125px;
                    }

                    p {
                        margin-top: 12px;
                        font-size: 12px;
                        color: #ccc;
                        text-align: right;
                    }
                }

                .submitBtn {
                    margin-top: 60px;
                    border-radius: 6px;
                    width: 100%;
                    height: 44px;
                    background-color: #43ac43;
                    text-align: center;
                    line-height: 44px;
                }

                .verifyPass {
                    display: none;
                    margin: 60px auto 0;
                    background: url(../img/ok.png) no-repeat;
                    width: 44px;
                    height: 44px;
                    background-size: 44px;
                }
            }

        }

        // // cancel
        // .cancel {
        //     width: 100%;
        //     border-top: 1px solid #C1C1C1;
        //     text-align: center;
        //     height: 50px;
        //     line-height: 50px;
        //     font-size: 16px;
        //     margin-top: 115px;
        //     cursor: pointer;
        // }
    }
}


.stage {
    padding: 0 !important;
}

.slider {
    position: static !important;
    background-color: #eee !important;
    box-shadow: none !important;
}


._nc div {
    height: 44px !important;
    line-height: 44px !important;
}

/* 滑动条高度、边框、背景色等 */
._nc .stage1 .slider {
    height: 44px !important;
    border-radius: 6px;
    // box-shadow: 0 0 3px #999;
    background-color: #EEE;

    .label {
        font-size: 13px !important;
    }
}

/* 滑动条 */
._nc .stage1 .track div {
    border-radius: 6px;
    color: #fff;
}

._nc .stage1 .button {
    border: 1px solid #ccc !important;
    width: 55px !important;
    border-radius: 6px !important;
    color: #fff;
    top: -1px !important;
}

/* 滑动条背景色-正常 */
._nc .stage1 .bg-green {
    background-color: #76C61C !important;
}

/* 滑动条背景色-失败 */
._nc .stage1 .bg-red {
    background-color: #F7675B !important;
}

._nc .stage1 .icon{
    left: 13px !important;
}
.icon-slide-arrow {
    font-size: 20px !important;
    color: #D8D8D8 !important;
    &::before {
        // content: '' !important;
    }
}

.icon-ok {
    left: 13px !important;
}