.common-share {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  height: 100vh;
  width: 100%;

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
  }

  .content {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 10%;
    z-index: 3001;

    // close
    .close-wrapper {
      width: 100%;
      height: 65px;
      display: inline-block;

      .close {
        cursor: pointer;
        width: 30px;
        height: 30px;
        background: url(../img/ic_close.png) no-repeat;
        background-size: 30px 30px;
        float: right;
      }

      .lineclose{
        width: 2px;
        height: 40px;
        background-color: #fff;
        margin-top: 29px;
        margin-left: 13.5px;
      }

    }

    .content-share {
      width: 80%;
      margin: 0 auto;
      max-width: 400px;

      .content-share-inner {
        border-radius: 10px;
        background-color: #fff;
        padding: 10% 0;
        width: 100%;
        
        h1 {
          font-size: 20px;
          text-align: center;
          line-height: 28px;
          font-weight: 500;
          margin-bottom: 24px;
        }

        .share-icons {
          width: 80%;
          margin: 0 auto;

          .line {
            padding: 10px 0;
            text-align: center;
          }

          .share-icon {
            display: inline-block;
            text-align: center;
            cursor: pointer;

            &.Facebook {
              .icon {
                background: url(../img/ic_facebook.png) no-repeat;
                background-size: 50px 50px;
              }

              .text {
                .fb {
                  position: relative;

                  .bubble {
                    position: absolute;
                    width: 105px;
                    height: 22px;
                    left: -18px;
                    bottom: -24px;
                    background: url(../img/fb-bubble.png) no-repeat;
                    background-size: auto 22px;

                    &.id {
                      width: 105px;
                      height: 22px;
                      left: -18px;
                      bottom: -24px;
                      background: url(../img/fb-bubble-id.png) no-repeat;
                      background-size: auto 22px;
                    }
                  }
                }
              }
            }

            &.WhatsApp {
              .icon {
                background: url(../img/ic_whatsapp.png) no-repeat;
                background-size: 50px 50px;
                margin-right: 18px;
                margin-left: 18px;
              }
            }

            &.Line {
              .icon {
                background: url(../img/ic_line.png) no-repeat;
                background-size: 50px 50px;
              }
            }

            &.CopyLink {
              .icon {
                background: url(../img/Link_icon.png) no-repeat;
                background-size: 50px 50px;
              }
            }

            &.Twitter {
              margin-left: 5px;

              .icon {
                background: url(../img/ic_twitter.png) no-repeat;
                background-size: 50px 50px;
              }
            }

            &.LinkedIn {
              .icon {
                background: url(../img/ic_linkedin.png) no-repeat;
                background-size: 50px 50px;
                margin-right: 19px;
                margin-left: 18px;
              }
            }

            &.Telegram {
              .icon {
                background: url(../img/ic_telegram.png) no-repeat;
                background-size: 50px 50px;
              }
            }

            .icon {
              width: 50px;
              height: 50px;
              display: inline-block;
            }

            .text {
              font-size: 13px;
              margin-top: 10px;
            }
          }
        }
      }
    }

    // cancel
    .cancel {
      width: 100%;
      border-top: 1px solid #C1C1C1;
      text-align: center;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      margin-top: 115px;
      cursor: pointer;
    }
  }
}