@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";
.page-wrapper {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;
    .page-inner {
        padding-top: 56px; // avatar
        .avatar {
            margin: 26px 22px;
            height: 40px;
            line-height: 40px;
            &::before {
                display: inline-block;
                content: "";
                width: 24px;
                height: 24px;
                vertical-align: middle;
                margin-right: 10px;
                background: url(../img/facebook_icon.png) no-repeat;
                background-size: 24px 24px;
            }
            &.Facebook {
                &::before {
                    background: url(../img/facebook_icon.png) no-repeat;
                    background-size: 24px 24px;
                }
            }
            &.Facebook.grey {
                &::before {
                    background: url(../img/facebook_icon_grey.png) no-repeat;
                    background-size: 24px 24px;
                }
            }
            &.Google {
                &::before {
                    background: url(../img/google_icon.png) no-repeat;
                    background-size: 24px 24px;
                }
            }
            &.Google.grey {
                &::before {
                    background: url(../img/google_icon_grey.png) no-repeat;
                    background-size: 24px 24px;
                }
            }
            &.Twitter {
                &::before {
                    background: url(../img/twitter_icon.png) no-repeat;
                    background-size: 24px 24px;
                }
            }
            &.Twitter.grey {
                &::before {
                    background: url(../img/twitter_icon_grey.png) no-repeat;
                    background-size: 24px 24px;
                }
            }
            .title {
                display: inline-block;
                vertical-align: middle;
                font-weight: 700;
                font-size: 16px;
                color: #333333;
                &.Google {}
            }
            .right {
                float: right;
                .name {
                    display: none;
                    color: #999999;
                    font-size: 16px;
                    font-weight: 300;
                }
                .linked {
                    display: inline-block;
                    height: 24px;
                    width: 50px;
                    background: url(../img/linked.png) no-repeat;
                    background-size: 50px 24px;
                    margin: 8px 0;
                }
            }
            &.grey .right {
                .name {
                    display: inline;
                }
                .linked {
                    display: none;
                }
            }
        }
    }
}