@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";
.page-wrapper {
    // position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;
    background-color: #F8F8F8;
    .page-inner {
        padding-top: 56px;
        .ovo-wrapper {
            padding: 16px 5% 30px;
            .inner {
                position: relative;
                width: 100%;
                box-shadow: 0px 6px 14px 1px #d4e3ff;
                background: #fff;
                border-radius: 6px;
                padding-top: 20px;
                font-size: 14px;
                line-height: 21px;
                .title {
                    width: 91px;
                    height: 40px;
                    background: url(../img/OVO.png) no-repeat;
                    background-size: 91px 40px;
                    margin: 0 auto 16px;
                }
                .center {
                    text-align: center;
                    padding: 0 5% 0;
                    span {
                        color: #FF6100;
                        font-weight: bold;
                    }
                }
                .countDown {
                    text-align: center;
                    margin: 16px 0 50px;
                    .countDown-inner {
                        display: inline-block;
                        line-height: 14px;
                        font-size: 20px;
                        span {
                            margin: 0 -1px;
                        }
                        .black-bg {
                            display: inline-block;
                            text-align: center;
                            width: 18px;
                            height: 30px;
                            background: #061B28;
                            color: #fff;
                            text-align: center;
                            line-height: 30px;
                            vertical-align: bottom;
                            border-radius: 5px;
                        }
                        .number {
                            display: inline-block;
                            font-weight: 800;
                            font-size: 14px;
                        }
                    }
                }
                .tips {
                    padding: 0 27px 26px;
                    .tips-title {
                        font-weight: 800;
                        .box {
                            display: inline-block;
                            width: 6px;
                            height: 6px;
                            background: #333333;
                            vertical-align: middle;
                            margin-top: -2px;
                        }
                        .title-name {
                            vertical-align: middle;
                            font-size: 14px;
                            line-height: 14px;
                        }
                    }
                    .alert {
                        color: #FF6100;
                        margin: 5px 0 20px;
                        span {
                            font-weight: bold;
                        }
                    }
                    .tip {
                        padding: 15px 0;
                        border-bottom: 1px solid #EEEEEE;
                        &:nth-last-child(1) {
                            border: none;
                        }
                    }
                }
                .line {
                    position: absolute;
                    background: #E9F1FF;
                    &.top {
                        top: 10px;
                        width: 100%;
                        height: 1px;
                    }
                    &.left {
                        width: 1px;
                        height: 100%;
                        left: 10px;
                        top: 0;
                    }
                    &.right {
                        width: 1px;
                        height: 100%;
                        right: 10px;
                        top: 0;
                    }
                    &.bottom {
                        bottom: 10px;
                        width: 100%;
                        height: 1px;
                    }
                }
                .icon {
                    position: absolute;
                    &.plant {
                        left: -12px;
                        bottom: -8px;
                        width: 41px;
                        height: 68px;
                        background: url(../img/plant.png) no-repeat;
                        background-size: 41px 68px;
                    }
                    &.girl {
                        right: -12px;
                        bottom: -8px;
                        width: 69px;
                        height: 70px;
                        background: url(../img/girl.png) no-repeat;
                        background-size: 69px 70px;
                    }
                }
            }
        }
    }
}