._alertCovid19 {
  display: block;

  .content {
    position: absolute;
    background: #fff;
    width: 90%;
    height: auto;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    z-index: 3001;
    margin-left: -45%;
    border-radius: 5px;

    .content-inner {
      position: unset;
      box-sizing: border-box;
      padding: 25px 16px 16px;

      .detail {
        line-height: 19px;

        p {
          margin-bottom: 20px;

        }

      }

      .confirm {
        position: unset;
        text-align: right;
        padding-top: 25px;
        padding-right: 20px;

        .yes {
          margin-right: 18px;
          font-weight: bold;
        }

      }

      .grey {
        color: #666666;
        font-weight: bold;
      }

      .green {
        color: #43AC43;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}