.story-template.alert-box {
  .content {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 76%;
    margin-top: 0;

    &.en,
    &.id {
      display: block;
    }

    .content-inner {
      border-radius: 6px;
      height: 100%;
      position: unset;
      box-sizing: border-box;
      background: #fff;

      .close {
        position: absolute;
        right: 15px;
        top: 27px;
        width: 30px;
        height: 30px;
        background: url(../img/close.png) no-repeat;
        background-size: 30px 30px;
      }

      .title {
        margin-bottom: 24px;
      }

      .detail {
        height: 85%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;

        &::after {
          content: "";
          display: block;
          height: 34px;
        }
      }

      .confirm {
        bottom: 15px;
        width: 100%;
        right: 0;


        .copy {
          padding: 0 14px;

          span {
            display: inline-block;
            background: #43ac43;
            height: 44px;
            border-radius: 6px;
            text-align: center;
            line-height: 44px;
            font-weight: bold;
            font-size: 16px;
            color: #fff;
            width: 100%;
          }
        }

        .fade-wrap {
          position: absolute;
          bottom: 44px;
          height: 50px;
          width: 100%;
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
        }

      }
    }



  }
}