@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";
@import "../../../../common/qsc/less/upload/_upload.less";
@import "../../../../common/libs/fancybox/jquery.fancybox-thumbs.css"; //fancybox
@import "../../../../common/libs/fancybox/jquery.fancybox.css"; //fancybox
@import "../../../../common/qsc/less/alert-box.less"; //弹窗
@import "./_storyTpl.less";
@import "./_alertCovid19.less";


.ql-container {
    height: 300px !important;
}

//  关闭close按钮
a.fancybox-item.fancybox-close {
    display: none;
}

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    font-weight: normal;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px; // background:url('../img/banner.jpg');

    .page-inner {
        padding-top: 56px;
        padding-bottom: 70px;

        .wrapper {
            margin-top: 30px;
            padding: 0 16px 10px; // common-title-style

            .common-title-style {
                margin: 30px 0 19px;
                font-size: 20px;
                font-weight: bold;
                line-height: 20px;

                &.title {
                    display: inline-block;
                    margin-top: 21px;
                    margin-bottom: 12px;
                }

                &.story {
                    display: inline-block;
                }
            }

            .select-time-limit {
                position: relative;
                padding: 0 5%;
                width: 90%;
                height: 44px;
                font-size: 14px;
                background-color: #F8F8F8;
                border: 0;
                border-radius: 6px;
                margin-bottom: 8px;

                .l {
                    line-height: 44px;
                    font-size: 14px;
                    font-weight: bold;
                    position: absolute;
                    top: 0;
                    left: 5%;
                }

                .r {
                    line-height: 44px;
                    font-size: 14px;
                    font-weight: bold;
                    position: absolute;
                    top: 0;
                    right: 5%;
                    color: #CCCCCC;

                    &::after {
                        content: '';
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        background: url(../img/button.png) no-repeat;
                        background-size: 24px;
                        vertical-align: middle;
                    }
                }
            }

            .tips,
            .template {
                color: #43AC43;
                font-size: 12px;
                text-decoration: underline;
                margin-left: 6px;
            }

            .tips-box {
                display: none;

                &.show {
                    display: block;
                }

                .tips-box-inner {
                    background-color: #F8F8F8;
                    font-size: 14px;
                    margin-bottom: 15px;
                    line-height: 28px;
                    padding: 12px 22px;
                    border-radius: 6px;
                }

                &::before {
                    content: '';
                    display: block;
                    width: 18px;
                    height: 10px;
                    background: url(../img/Triangle.png) no-repeat;
                    background-size: 18px 10px;
                    margin-left: 54px;
                }
            }

            // .goal {
            // font-size: 20px;
            // font-weight: bold;
            // line-height: 20px;
            // }

            .target_amount_wrapper {
                // margin-top: 19px;
                width: 100%;
                position: relative;

                .total_amount {
                    padding: 0 5%;
                    width: 90%;
                    height: 44px;
                    color: #FF6100;
                    font-size: 14px;
                    font-weight: bold;
                    background-color: #F8F8F8;
                    border: 0;
                    border-radius: 6px;
                }

                .target_amount_Rp {
                    line-height: 44px;
                    font-size: 14px;
                    font-weight: bold;
                    position: absolute;
                    top: 0;
                    left: 5%;
                }
            }

            .target_amount_tips,
            .time_limit_tips {
                margin-top: 8PX;
                font-size: 12px;
                line-height: 12px;
                color: #999999;
                font-weight: normal;
            }

            // .title {
            // margin-top: 40px;
            // font-size: 20px;
            // font-weight: bold;
            // line-height: 20px;
            // }

            .title-wrap {
                position: relative;

                .input_title {
                    // margin-top: 19px;
                    padding: 0 5%;
                    width: 90%;
                    height: 44px;
                    font-size: 14px; // font-weight: bold;
                    background-color: #F8F8F8;
                    border: 0;
                    border-radius: 6px;
                }

                .textarea-counter {
                    position: absolute;
                    font-size: 12px;
                    color: #999999;
                    right: 0;
                    bottom: -20px;

                    .title-contentcount {
                        color: #333;
                    }
                }
            }

            // .location {
            // margin-top: 40px;
            // font-size: 20px;
            // font-weight: bold;
            // line-height: 20px;
            // }

            .input_location {
                // margin-top: 24px;
                padding: 0 5%;
                width: 90%;
                height: 44px;
                font-size: 14px; // font-weight: bold;
                background-color: #F8F8F8;
                border: 0;
                border-radius: 6px;
            }

            // .story {
            // margin-top: 40px;
            // font-size: 20px;
            // font-weight: bold;
            // line-height: 20px;
            // }

            .story_area {
                // margin-top: 24px;
                position: relative;

                textarea {
                    resize: none;
                    width: 90%;
                    height: 140px;
                    padding: 5%;
                    background-color: #F8F8F8;
                    border: 0;
                    border-radius: 6px;
                    font-size: 14px;
                    line-height: 28px;
                    overflow: auto;
                    font-family: Arial;
                }

                .textarea-counter {
                    margin-top: 6px;
                    color: #999999;
                    font-size: 14px;
                    position: absolute;
                    right: 5px;

                    .contentcount {
                        color: #333;
                    }
                }
            }

            // .addCampai {
            // margin: 40px 0 24px;
            // font-size: 20px;
            // font-weight: bold;
            // line-height: 20px;
            // }

            .addCampai_tips {
                margin-top: 13px;
                font-size: 12px;
                line-height: 12px;
                color: #999999; // margin-top: 20px;
            }

            // .assign {
            //     background-color: #F8F8F8;
            //     padding: 5px 5%; // height: 30px;
            //     width: 90%;
            //     font-size: 14px;
            //     line-height: 28px;
            //     border-radius: 6px;
            //     outline: 0 none;
            //     position: relative;
            //     input {
            //         background-color: #F8F8F8;
            //         font-size: 14px;
            //         color: #333;
            //         width: 100px;
            //         border-right: 1px solid #CCCCCC;
            //         margin-right: 10px;
            //         padding-right: 10px;
            //     }
            //     .assign-link-header {
            //         // border-right: 1px solid #CCCCCC;
            //         padding-right: 10px;
            //     }
            // }
            .assign-link-wrap {
                position: relative;

                .assign-link {
                    display: inline-block;
                    background-color: #F8F8F8;
                    padding: 5px 4% 5px 156px; // height: 30px;
                    width: 100%;
                    font-size: 13px;
                    line-height: 28px;
                    overflow: hidden;
                    box-sizing: border-box;
                    outline: 0 none;
                    border-radius: 6px;
                    resize: none;
                }

                .assign-link::-webkit-input-placeholder {
                    font-size: 12px;
                }

                .assign-link-header {
                    position: absolute;
                    font-size: 13px;
                    border-right: 1px solid #CCCCCC;
                    padding-right: 8px;
                    top: 12px;
                    left: 16px;
                }

                @media screen and (max-width: 355px) {
                    .assign-link {
                        padding: 5px 4% 5px 147px;
                    }

                    .assign-link-header {
                        position: absolute;
                        font-size: 12px;
                        border-right: 1px solid #CCCCCC;
                        padding-right: 8px;
                        top: 12px;
                        left: 16px;
                    }
                }

                .assign-counter {
                    position: absolute;
                    bottom: -20px;
                    right: 0;
                    color: #999999;
                    font-size: 12px;

                    .assign-contentcount {
                        color: #333;
                    }
                }

                .link-fade {
                    display: none;
                    position: absolute;
                    top: 46px;
                    width: 100%;
                    min-width: 120px;
                    background: rgba(40, 40, 40, 0.75);
                    border-radius: 8px;
                    color: #FFF;
                    font-size: 16px;
                    line-height: 24px;

                    .link-toast {
                        padding: 14px 16px;
                    }
                }
            }

            .assign-link-tips {
                margin-top: 36px;
                font-size: 12px;
                line-height: 18px;
                color: #999999;
            }

            // invitation code
            // .invitation-code-title {
            // margin-top: 40px;
            // font-size: 20px;
            // font-weight: bold;
            // line-height: 20px;
            // }

            .invitation-code {
                // margin-top: 24px;
                padding: 0 5%;
                width: 90%;
                height: 44px;
                font-size: 14px;
                background-color: #F8F8F8;
                border: 0;
                border-radius: 6px;
            }

            .warningTips {
                margin-top: 36px;
                font-size: 12px;
                line-height: 18px;
                color: #999999;

                span {
                    color: #FF6100;
                    font-weight: bold;
                }
            }

            .tag-wrap{
                display: block;

                .input_tag {
                    padding: 0 5%;
                    width: 90%;
                    height: 44px;
                    font-size: 14px; // font-weight: bold;
                    background-color: #F8F8F8;
                    border: 0;
                    border-radius: 6px;
                }

                .tag-container {
                    display: flex;
                    flex-wrap: wrap;
                    align-content: flex-start;
                    overflow-x: scroll;
                }
                .tag-container .tag {
                    height: 24px;
                    margin: 5px;
                    padding: 3px 14px;
                    border: 1px solid #ccc;
                    border-radius: 36px;
                    background: #eee;
                    display: flex;
                    align-items: center;
                    color: #333;
                    cursor: default;
                }
                .tag i {
                    background: url(../img/close.png) no-repeat;
                    background-size: 16px;
                    background-position: center;
                    width: 17px;
                    height: 30px;
                    margin-left: 10px;
                }

                .tag-fade {
                    display: none;
                    position: absolute;
                    width: 95%;
                    min-width: 120px;
                    background: rgb(255, 255, 255);
                    box-shadow: 0px 1px #999999;
                    border-radius: 8px;
                    border: 0.5px solid #dedede;
                    font-size: 16px;
                    line-height: 24px;

                    .tag-toast {
                        list-style-type: none;
                        padding: 14px 16px;
                        overflow-x: scroll;
                    }

                    .tag-toast li{
                        padding: 10px;
                    }

                    .tag-toast li div{
                        width: 100%;
                    }

                    .tag-toast li:hover {
                        background-color: rgb(245, 245, 245);
                    }
                }
            }
            .Disclaimer {
                margin-top: 40px;
                margin-bottom: 16px;
                font-size: 12px;
                line-height: 18px;
                color: #999999;

                span {
                    color: #FF6100;
                    font-weight: bold;
                }
            }
        }

        .submitBtn {
            border-top: 1px solid #EAEAEA;
            padding: 8px 16px;
            box-sizing: border-box;
            max-width: 640px;
            width: 100%;
            bottom: 0;
            z-index: 100;
            text-align: center;

            a {
                max-width: 640px;
                width: 100%;
                height: 44px;
                bottom: 0;
                z-index: 100;
                background-color: #43AC43;
                text-align: center;
                border-radius: 6px;
                cursor: pointer;
                display: inline-block;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: bold;
                line-height: 44px;
            }
        }
    }
}