// @import "/Users/richyoung/qsc/Indonesia-h5/dev/common/qsc/less/_uploader";
// @import "../../../common/qsc/less/uploader.less";
@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";
// @import "../../../../common/qsc/less/common_footer.less";
@import "./_bankList.less";
@import "../../../../common/qsc/less/alert-box.less"; //弹窗
@import "./_zakatIntention.less";

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    font-weight: normal;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCC;
    /* placeholder字体大小  */
    font-size: 14px;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;

    .page-inner {
        padding-top: 56px;

        .wrapper {
            margin-top: 30px;
            padding: 0 16px;

            .campaignCard {
                background-color: #F8F8F8;
                padding: 20px 17px;
                border-radius: 6px;
                margin-bottom: 20px;

                .campaign-title {
                    p {
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 18px;
                    }
                }

                .campaigner {
                    margin: 10px 0;

                    .avatar {
                        width: 24px;
                        height: 24px;
                        // background: yellowgreen;
                        border-radius: 50%;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .nick-name {
                        font-size: 14px;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .campaign {
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;
                        width: 76px;
                        height: 18px;
                        text-align: center;
                        line-height: 18px;

                        &.id {
                            width: 105px;

                            .bg {
                                width: 105px;
                            }
                        }

                        .bg {
                            background-color: #45AD45;
                            opacity: 0.1;
                            position: absolute;
                            z-index: 1;
                            width: 76px;
                            height: 18px;
                        }

                        p {
                            position: absolute;
                            z-index: 2;
                            color: #45AD45;
                            font-size: 11px;
                            width: 100%;
                        }
                    }
                }

                .tips {
                    color: #999999;
                    font-size: 12px;
                    line-height: 17px;

                    .p {
                        margin-bottom: 20px;

                        &.italic {
                            font-style: italic;
                        }
                    }
                }

            }

            .donateMoney {
                .T {
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 20px;
                }

                .t {
                    font-size: 12px;
                    margin: 20px 0 10px;
                }

                .choose {
                    font-size: 12px;
                    margin-bottom: 10px;

                    &::after {
                        content: "";
                        display: block;
                        clear: both;
                    }

                    .amount-card {
                        border: 1px solid #999999;
                        height: 35px;
                        line-height: 35px;
                        text-align: center;
                        width: 30%;
                        margin: 0 2%;
                        border-radius: 3px;
                        box-sizing: border-box;
                        cursor: pointer;
                        float: left;

                        &.c-1,
                        &.c-4 {
                            margin-left: 0;
                        }

                        &.c-3,
                        &.c-6 {
                            margin-right: 0;
                        }

                        &.chosed {
                            position: relative;
                            border: 1px solid #43AC43;

                            &::after {
                                position: absolute;
                                content: '';
                                width: 18px;
                                height: 18px;
                                background: url(../img/chosed.png) no-repeat;
                                background-size: 18px 18px;
                                top: 0;
                                right: 0;
                            }
                        }
                    }
                }

                .target_amount_wrapper {
                    margin-top: 16px;
                    position: relative;

                    .total_amount {
                        padding: 0 5%;
                        width: 90%;
                        height: 44px;
                        color: #FF6100;
                        font-size: 14px;
                        font-weight: bold;
                        background-color: #F8F8F8;
                        border: 0;
                        border-radius: 6px;
                    }

                    .target_amount_Rp {
                        line-height: 44px;
                        font-size: 14px;
                        font-weight: bold;
                        position: absolute;
                        top: 0;
                        left: 16px;
                    }
                }

                .target_amount_tips {
                    margin-top: 8PX;
                    font-size: 12px;
                    line-height: 12px;
                    color: #999999;
                    line-height: 16px;

                    &.changeRed{
                        color: #FF6100;
                    }
                }
            }

            .payment {
                margin-top: 30px;

                .paymentTitle {
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 20px;
                }

                .payment_channel {
                    line-height: 42px;
                    margin-top: 12px;
                    background-color: #f8f8f8;
                    border: 0;
                    border-radius: 6px;
                    width: 100%;
                    height: 44px; // color: #;
                    font-size: 14px;
                    position: relative;

                    .channel {
                        .default {
                            padding: 0 0 0 20px;
                            color: #CCCCCC;
                        }

                        .icon {
                            background: url(../img/OVO.png);
                            background-size: 68.5px 24px;
                            height: 24px;
                            width: 68.5px;
                            height: 24px;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 15px;
                        }

                        .bank-name {
                            display: inline-block;
                            margin-left: 10px;
                            vertical-align: middle;
                        }

                        // &.selected {
                        //     color: #000;
                        // }
                    }

                    &.OVOXPeduliSehat {
                        &::after {
                            display: none;
                        }
                    }
                    &.gojek {
                        &::after {
                            display: none;
                        }
                    }

                    &::after {
                        content: '';
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        background: url(../img/select.png) no-repeat;
                        background-size: 24px 24px;
                        position: absolute;
                        right: 16px;
                        bottom: 10px;
                    }
                }
            }

            .touristLogin {
                margin-top: 30px;

                .titleLink {
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 20px;

                    .login {
                        color: #43AC43;
                        text-decoration: underline;
                    }
                }

                input {
                    caret-color: #43AC43;
                    border-style: none;
                    outline: none;
                    width: 100%;
                    height: 44px;
                    background-color: #f8f8f8;
                    border-radius: 7px;
                    padding: 0 0 0 16px;
                    color: #333333;
                    box-sizing: border-box;
                    font-size: 14px;

                    &.name-box {
                        margin-top: 16px;
                        margin-bottom: 10px;
                    }

                    &.number {
                        padding-left: 72px;
                        position: relative;
                        margin-bottom: 15px;
                    }
                }

                .countryCode {

                    z-index: 1;
                    width: 56px;
                    height: 44px;
                    position: absolute;
                    margin-left: 16px;
                    line-height: 40px;

                    .addSign {
                        display: inline-block;
                    }

                    .countryNum {
                        font-size: 14px;
                        color: #333333;
                        line-height: 24px;
                        display: inline-block;
                        vertical-align: middle;
                        border-right: 1px solid #CCCCCC;
                        padding-right: 16px;
                    }
                }
            }

            .commentWrapper {
                margin-bottom: 30px;

                .commentTitle {
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 20px;
                }

                .commentArea {
                    resize: none;
                    margin-top: 16px;
                    padding: 16px 5%;
                    width: 90%;
                    height: 80px;
                    background-color: #F8F8F8;
                    border-radius: 6px;
                    font-size: 14px;
                }
            }
        }

        .anonymous-donate {
            margin: 30px 0;

            p {
                font-size: 20px;
                font-weight: bold;
                display: inline-block;
            }

            .open-icon {
                width: 51px;
                height: 31px;
                float: right;
                background: url(../img/close.png) no-repeat;
                background-size: 51px 31px;
                cursor: pointer;

                &.open {
                    background: url(../img/open.png) no-repeat;
                    background-size: 51px 31px;
                }
            }
        }

        .rec-show {
            background-color: #F7FAFF;
            display: none;

            // recommendationWrapper
            .recommendationWrapper {
                padding: 0 16px 20px;
                background-color: #fff;

                p {
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 20px;
                    margin-bottom: 16px;
                }
            }

            .amount-show {
                display: none;

                .amount-and-fee {
                    font-size: 14px;
                    color: #333333;
                    background: #fff;
                    margin-top: 10px;
                    padding: 16px;

                    .a-common {
                        margin-top: 16px;

                        &:first-child {
                            margin-top: 0;
                        }

                        &.recommendationAmount {
                            margin-top: 16px;

                            &.show {
                                display: block;
                            }
                        }

                        .right {
                            color: #333333;
                            float: right;
                        }
                    }

                    .recommendationAmountList {
                        display: none;
                    }
                }

                .total-price-wrap {
                    margin-top: 10px;
                    padding-bottom: 20px;
                    background-color: #F7FAFF;

                    .in {
                        padding: 16px;
                        background: #fff;

                        .total {
                            font-weight: bold;
                            font-size: 20px;
                        }

                        .price {
                            float: right;
                            color: #43ac43;
                            font-size: 16px;
                        }
                    }


                }
            }

        }

        .nextBtnWrap {
            padding: 8px 16px;
            border-top: 1px solid #EAEAEA;

            .nextBtn {
                // position: fixed;
                width: 100%;
                height: 44px;
                bottom: 0;
                left: 0;
                // padding: 8px 15px 0;
                box-sizing: border-box;
                border-top: 1px solid #EAEAEA;
                background: #fff;

                .next {
                    cursor: pointer;
                    text-align: center;
                    color: #FFFFFF;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 44px;
                    background-color: #43AC43;
                    border-radius: 6px;
                    width: 100%;
                    margin: 0 auto;
                    box-sizing: border-box;
                }
            }
        }


        // .nextTips {
        // margin-top: 8px;
        // font-size: 12px;
        // line-height: 18px;
        // color: #999999;
        // .green {
        //     cursor: pointer;
        //     color: #43AC43;
        //     font-weight: bold;
        //     text-decoration: underline;
        // }
        // }
    }
}