@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";
@import "./_alert-box.less";
@import "./_publication.less";
@import "../../../../common/qsc/less/alert-box.less"; //弹窗
// @import "../../../../common/qsc/less/shareTpl-gtry.less"; //分享弹窗
// @import "../../../../common/qsc/less/common_footer.less";

body {
    background-color: #fff;
}

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: -56px;

    .page-inner {
        padding-top: 56px;

        .wrapper {
            width: 100%;
            // margin: 0 auto 80px;

            .banner {
                &.id {
                    position: relative;
                    height: 180px;
                    width: 100%;
                    background: url(../img/gtry-banner-id.png) no-repeat;
                    background-size: cover;
                    background-position-x: 70%;
                }

                &.en {
                    position: relative;
                    height: 180px;
                    width: 100%;
                    background: url(../img/gtry-banner-en.png) no-repeat;
                    background-size: cover;
                    background-position-x: 70%;
                }



            }

            .run-number {
                position: relative;
                text-align: center;
                width: 100%;
                height: 75px;
                border-bottom: 10px solid #f8f8f8;

                &::after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%);
                    content: "";
                    display: block;
                    width: 1px;
                    height: 16px;
                    margin-top: -8px;
                    background-color: #CCCCCC;
                }

                .run-number-inner {
                    position: absolute;
                    width: 80%;
                    top: 18px;
                    left: 50%;
                    transform: translate(-50%);

                    .num {
                        position: absolute;
                        display: inline-block;
                        font-size: 12px;
                        color: #999999;

                        .b {
                            font-size: 18px;
                            font-weight: bold;
                            color: #000;
                            margin-bottom: 3px;
                        }

                        &.num-1 {
                            left: 0;
                        }

                        &.num-2 {
                            right: 0;
                        }
                    }

                    /*滚动数字*/

                    .mt-number-animate {
                        position: relative;
                        line-height: 18px;
                        font-size: 18px;
                        height: 18px;
                        display: inline-block;
                        overflow: hidden;
                    }

                    .mt-number-animate .mt-number-animate-dot {
                        width: 8px;
                        line-height: 18px;
                        float: left;
                        text-align: center;
                    }

                    .mt-number-animate .mt-number-animate-dom {
                        width: 11px;
                        text-align: center;
                        float: left;
                        position: relative;
                        top: 0;
                    }

                    .mt-number-animate .mt-number-animate-dom .mt-number-animate-span {
                        width: 100%;
                        float: left;
                    }

                    /*滚动数字*/

                }
            }

            .support-wrap {
                padding: 16px;

                .support-title {
                    color: #999;
                    font-size: 12px;
                }

                .support-inner {
                    margin-top: 10px;
                    display: flex;
                    justify-content: space-between;

                    .BCA {
                        vertical-align: middle;
                        display: inline-block;
                        background: url(../img/BCA.png) no-repeat;
                        width: 16%;
                        height: 30px;
                        background-position: 50%;

                        background-size: contain;
                    }

                    .SINAMARS {
                        vertical-align: middle;

                        display: inline-block;
                        background: url(../img/sinarmas.png) no-repeat;
                        width: 16%;
                        height: 30px;
                        background-position: 50%;
                        background-size: contain;
                    }

                    .GOPAY {
                        vertical-align: middle;

                        display: inline-block;
                        background: url(../img/GoPay.png) no-repeat;
                        width: 17%;
                        height: 30px;
                        background-position: 50%;

                        background-size: contain;
                    }

                    .OVO {
                        vertical-align: middle;

                        display: inline-block;
                        background: url(../img/ovo.png) no-repeat;
                        width: 14%;
                        height: 30px;
                        background-position: 50%;

                        background-size: contain;
                    }

                    .LINK {
                        vertical-align: middle;

                        display: inline-block;
                        background: url(../img/link.png) no-repeat;
                        width: 10%;
                        height: 30px;
                        background-position: 50%;

                        background-size: contain;
                    }

                    .INTERTEK {
                        vertical-align: middle;

                        display: inline-block;
                        background: url(../img/dana.png) no-repeat;
                        width: 15%;
                        height: 30px;
                        background-position: 50%;

                        background-size: contain;
                    }
                }
            }
            .scheme-title {
                border-top: 10px solid #f8f8f8;
                padding-top: 30px;
                margin: 0 auto 20px;
                text-align: center;
                font-size: 20px;
                font-weight: bold;

            }
            .gtry-scheme {
                box-sizing: border-box;
                padding: 0 16px;
              

                
                .scheme-bg{
                    &.en{

                        width: 100%;
                        height: 550px;
                        background: url(../img/shceme-bg-en-2.png) no-repeat;
                        background-size: 328px 550px;
                        background-position: center;
                    }
                    &.id{

                        width: 100%;
                        height: 550px;
                        background: url(../img/shceme-bg-id-2.png) no-repeat;
                        background-size: 328px 550px;
                        background-position: center;
                    }
                }
                // .scheme-now {
                //     box-sizing: border-box;
                //     width: 100%;
                //     height: 175px;
                //     border-radius: 8px;
                //     background: #F3F9FF;
                //     padding: 10px 17px;

                //     .now-wrap {
                //         text-align: center;

                //         .now {
                //             position: relative;
                //             color: #2D5189;
                //             font-size: 20px;
                //             font-weight: bold;

                //             .now-bg {
                //                 &.en {
                //                     position: absolute;

                //                     margin-left: -39px;
                //                     left: 50%;
                //                     bottom: 0;
                //                     background: url(../img/now-bg-en.png) no-repeat;
                //                     width: 78px;
                //                     height: 29px;
                //                     background-size: 78px 29px;
                //                 }
                //             }
                //         }

                //     }

                //     .now-content {
                //         margin-top: 11px;
                //         display: flex;
                //         justify-content: space-between;
                //         height: 132px;

                //         p {
                //             text-align: center;
                //             font-size: 10px;
                //             color: #666;
                //         }

                //         .now-left {
                //             display: inline-block;
                //             width: 45%;

                //             height: 93px;

                //             .now-left-bg {
                //                 background: url(../img/now-left.png) no-repeat;
                //                 width: 100%;
                //                 height: 100%;
                //                 background-size: 79px 73px;
                //                 background-position: 50%;
                //             }

                //         }

                //         .now-right {
                //             display: inline-block;
                //             width: 45%;

                //             height: 93px;

                //             .now-right-bg {
                //                 background: url(../img/now-right.png) no-repeat;
                //                 width: 100%;
                //                 height: 100%;
                //                 background-size: 114px 93px;
                //                 background-position: 50%;

                //             }
                //         }
                //     }

                // }

                // .scheme-ypsg{
                //     margin: 11px auto;
                //     width: 231px;
                //     height: 170px;

                //     &.en{
                //         background: url(../img/ypsg-big.png) no-repeat;
                //         background-size: 231px 170px;
                //     }
                //     &.id{
                //         background: url(../img/ypsg-big.png) no-repeat;
                //         background-size: 231px 170px;
                //     }
                // }

                // .scheme-future {
                //     box-sizing: border-box;
                //     width: 100%;
                //     height: 210px;
                //     border-radius: 8px;
                //     background: #F3F9FF;
                //     padding: 10px 17px;

                //     .future-wrap {
                //         text-align: center;

                //         .future {
                //             position: relative;
                //             color: #2D5189;
                //             font-size: 20px;
                //             font-weight: bold;

                //             .future-bg {
                //                 &.en {
                //                     position: absolute;

                //                     margin-left: -39px;
                //                     left: 50%;
                //                     bottom: 0;
                //                     background: url(../img/future-bg-en.png) no-repeat;
                //                     width: 78px;
                //                     height: 29px;
                //                     background-size: 78px 29px;
                //                 }
                //             }
                //         }

                //     }

                //     .future-content {
                //         margin-top: 11px;
                //         display: flex;
                //         justify-content: space-between;
                //         height: 132px;

                //         p {
                //             text-align: center;
                //             font-size: 10px;
                //             color: #666;
                //             span{
                //                 font-weight: bold;
                //             }
                //         }

                //         .future-left {
                //             display: inline-block;
                //             width: 45%;

                //             height: 93px;

                //             .future-left-bg {
                //                 background: url(../img/future-left.png) no-repeat;
                //                 width: 100%;
                //                 height: 100%;
                //                 background-size: 65px 75px;
                //                 background-position: 50%;
                //             }

                //         }

                //         .future-middle {
                //             display: inline-block;
                //             width: 45%;

                //             height: 93px;

                //             .future-middle-bg {
                //                 background: url(../img/future-middle.png) no-repeat;
                //                 width: 100%;
                //                 height: 100%;
                //                 background-size: 70px 72px;
                //                 background-position: 50%;

                //             }
                //         }
                //         .future-right {
                //             display: inline-block;
                //             width: 45%;

                //             height: 93px;

                //             .future-right-bg {
                //                 background: url(../img/future-right.png) no-repeat;
                //                 width: 100%;
                //                 height: 100%;
                //                 background-size: 73px 68px;
                //                 background-position: 50%;

                //             }
                //         }
                //     }

                // }
               
            }
            .scheme-tips {
                padding-left: 16px;
                margin-top: 12px;
                font-size: 12px;
                color: #969696;
            }

            .how-work{
                margin-top: 20px;
                padding: 20px 16px;
                border-top: 11px solid #F8F8F8;
                border-bottom: 11px solid #F8F8F8;
                .title{
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
                }
                .sub-content{
                    margin-top: 16px;
                    text-align: center;
                    font-size: 12px;
                    line-height: 16px;
                    color: #999;
                }
                .step-wrap{
                    margin-top: 20px;
                    margin-bottom: 13px;

                    display: flex;
                    justify-content: space-between;
                    .step-content{
                        width: 45%;
                        .step-bg{
                            width: 100%;
                            height: 115px;
                            &.bg-1{
                                background: url(../img/1.png) no-repeat;
                                // background-size: 225px 180px;
                                background-size: cover;
                            }
                            &.bg-2{
                                background: url(../img/2.png) no-repeat;
                                // background-size: 225px 180px;
                                background-size: cover;
                            }
                            &.bg-3{
                                background: url(../img/3.png) no-repeat;
                                // background-size: 225px 180px;
                                background-size: cover;
                            }
                            &.bg-4{
                                background: url(../img/4.png) no-repeat;
                                // background-size: 225px 180px;
                                background-size: cover;
                            }
                        }
                        .step-tips{
                            margin-top: 8px;
                            font-size: 11px;
                            line-height: 16px;
                            color: #666;
                            text-align: center;
                        }
                    }
                }
                .end-tips{
                    font-size: 12px;
                    color: #969696;
                    line-height: 18px;
                }
            }
            // monitor
            .monitor_box {
                padding: 20px 16px;
                border-bottom: 10px solid #f8f8f8;

                p {
                    font-size: 12px;
                    color: #999999;
                }

                .monitor {
                    width: 90%;
                    height: 21px;
                    background: url(../img/monitor.png) no-repeat;
                    background-size: 100% 21px;
                    margin-top: 10px;
                }
            }

            .card-entrance {
                padding: 16px 16px;
                background: #f8f8f8;

                .entrance-title {
                    font-size: 20px;
                    line-height: 20px;
                }

                .card {
                    background: #fff;
                    margin-top: 16px;
                    padding: 21px 0 21px 10px;
                    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
                    border-radius: 6px;

                    .critical-disease-img {
                        display: inline-block;
                        background: url(../img/disease.png) no-repeat;
                        width: 90px;
                        height: 90px;
                        background-size: contain;
                        vertical-align: top;
                        position: relative;

                        .covid-assist-id {
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            margin-left: -45px;

                            background: url(../img/covid-assist-id.png) no-repeat;
                            width: 90px;
                            height: 21px;
                            background-size: 90px 21px;
                        }

                        .covid-assist-en {
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            margin-left: -45px;

                            background: url(../img/covid-assist.png) no-repeat;
                            width: 90px;
                            height: 21px;
                            background-size: 90px 21px;
                        }
                    }

                    .accident-img {
                        display: inline-block;
                        background: url(../img/accident.png) no-repeat;
                        width: 90px;
                        height: 90px;
                        background-size: contain;
                        vertical-align: top;
                    }

                    .right-content {
                        margin-left: 8px;
                        display: inline-block;
                        width: 62%;
                        vertical-align: top;

                        .title {
                            font-size: 14px;
                            line-height: 24px;
                        }

                        .detail {
                            margin-top: 5px;
                            font-size: 14px;
                            line-height: 17px;
                            color: #999;
                        }

                        .join-btn {
                            margin-top: 10px;
                            width: 160px;
                            border-radius: 50px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            background: #43ac43;
                            color: #fff;
                            font-size: 14px;
                            position: relative;

                            .card-pop-wrap {
                                position: absolute;
                                top: -14px;
                                right: -30px;
                                width: 55px;
                                height: 30px;
                                z-index: 1999;

                                .card-pop-id {
                                    display: block;
                                    width: 55px;
                                    height: 30px;
                                    background: url(../img/card-pop-id.png) no-repeat;
                                    background-size: 55px 30px;
                                }

                                .card-pop-en {
                                    display: block;
                                    width: 50px;
                                    height: 30px;
                                    background: url(../img/card-pop-en.png) no-repeat;
                                    background-size: 50px 30px;
                                }
                            }
                        }
                    }
                }
            }

            // .definition-wrap {
            //     padding: 30px 16px;
            //     border-bottom: 10px solid #F7FAFF;

            //     .definition-title {
            //         font-size: 20px;
            //         font-weight: bold;
            //         color: #333;
            //     }

            //     .definition-content {
            //         margin-top: 15px;
            //         color: #999;
            //         font-size: 14px;
            //         line-height: 21px;

            //         span {
            //             color: #333;
            //         }
            //     }
            // }

            .version {
                display: none;
            }

            .mol {
                padding: 30px 16px;
                border-bottom: 10px solid #f8f8f8;
                font-size: 14px;

                .mol-inner {
                    .title {
                        font-size: 20px;
                        color: #333333;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }

                    .list-wrapper {
                        .list {
                            padding-bottom: 20px;

                            .icon {
                                vertical-align: middle;
                                display: inline-block;
                                width: 15%;
                                height: 40px;
                            }

                            .cont {
                                display: inline-block;
                                vertical-align: middle;
                                width: 83%;

                                .next-cont {
                                    position: relative;
                                    width: 90%;

                                    &::after {
                                        content: "";
                                        display: inline-block;
                                        width: 7px;
                                        height: 11px;
                                        background: url(../img/r-icon.png) no-repeat;
                                        background-size: 7px 11px;
                                        position: absolute;
                                        right: -10%;
                                        top: 50%;
                                        margin-top: -5px;
                                    }
                                }
                            }

                            .icon {
                                vertical-align: middle;
                                display: inline-block;
                                width: 15%;
                                height: 40px;
                            }

                           

                            .grey {
                                color: #999999;
                                line-height: 22px;

                                &.small {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }

                // &.introduction {
                //     .list-wrapper {
                //         .list {
                //             &.l-4 {
                //                 .cont .next-cont {
                //                     width: 95%;

                //                     .small {
                //                         line-height: 16px;
                //                     }
                //                 }
                //             }

                //             &.l-1,
                //             &.l-3,
                //             &.l-4,
                //             &.l-5 {
                //                 .cont .next-cont::after {
                //                     display: none !important;
                //                 }
                //             }

                //             &.l-1,
                //             &.l-2,
                //             &.l-3,
                //             &.l-4,
                //             &.l-5 {
                //                 .icon {
                //                     vertical-align: text-top;
                //                 }

                //                 .cont {
                //                     vertical-align: text-top;

                //                 }
                //             }
                //         }
                //     }
                // }

                // &.rules {
                //     .list {
                //         border-bottom: 1px solid #EEEEEE;
                //         margin-bottom: 18px;

                //         &.l-1,
                //         &.l-2 {
                //             .cont .next-cont::after {
                //                 display: none !important;
                //             }
                //         }

                //         .cont {
                //             width: 100% !important;
                //         }

                //         .grey {
                //             margin-bottom: 6px;
                //         }
                //     }
                // }

                // &.how-work {

                //     .mol-inner {

                //         .list-wrapper {
                //             .list {
                //                 position: relative;
                //                 background-color: #ECF6EC;
                //                 padding: 10px;
                //                 margin-bottom: 10px !important;
                //                 height: 180px;

                //                 &::after {
                //                     display: block;
                //                     content: "1";
                //                     width: 24px;
                //                     height: 24px;
                //                     border-radius: 50%;
                //                     background: #fff;
                //                     border: 2px solid #43AC43;
                //                     color: #43AC43;
                //                     line-height: 24px;
                //                     text-align: center;
                //                     font-weight: bold;
                //                 }

                //                 .list-inner {
                //                     min-height: 109px;
                //                     transform: translate(-50%, -50%);
                //                     top: 50%;
                //                     left: 50%;
                //                     position: absolute;
                //                     width: 100%;
                //                     padding: 0 10px;
                //                     box-sizing: border-box;

                //                     .icon {
                //                         width: 27%;
                //                         height: 109px;
                //                     }

                //                     .cont {
                //                         width: 71%;
                //                         box-sizing: border-box;
                //                         padding: 0 18px;

                //                         p {
                //                             font-size: 12px;
                //                             line-height: 21px;
                //                             color: #333;

                //                             span {
                //                                 font-weight: bold;
                //                             }
                //                         }
                //                     }

                //                 }

                //                 &.l-1 {
                //                     &::after {
                //                         content: "1";
                //                     }

                //                     .icon {
                //                         background: url(../img/w-1.png) no-repeat;
                //                         background-size: contain;
                //                         background-position: center;
                //                     }
                //                 }

                //                 &.l-2 {
                //                     &::after {
                //                         content: "2";
                //                     }

                //                     .icon {
                //                         background: url(../img/w-2.png) no-repeat;
                //                         background-size: contain;
                //                         background-position: center;
                //                     }
                //                 }

                //                 &.l-3 {
                //                     &::after {
                //                         content: "3";
                //                     }

                //                     .icon {
                //                         background: url(../img/w-3.png) no-repeat;
                //                         background-size: contain;
                //                         background-position: center;
                //                     }
                //                 }

                //                 &.l-4 {
                //                     &::after {
                //                         content: "4";
                //                     }

                //                     .cont {
                //                         vertical-align: middle;
                //                     }

                //                     .icon {
                //                         vertical-align: middle;
                //                         background: url(../img/w-4.png) no-repeat;
                //                         background-size: contain;
                //                         background-position: center;
                //                     }
                //                 }

                //                 &.l-5 {
                //                     &::after {
                //                         content: "5";
                //                     }

                //                     margin-bottom: 0px;

                //                     .icon {
                //                         background: url(../img/w-5.png) no-repeat;
                //                         background-size: contain;
                //                         background-position: center;
                //                     }
                //                 }
                //             }
                //         }

                //         .check {
                //             text-align: center;
                //             margin-top: 15px;
                //             line-height: 23px;

                //             .grey {
                //                 color: #999999;
                //             }

                //             .bold {
                //                 color: #333333;
                //                 font-weight: bold;
                //             }
                //         }

                //     }
                // }

              

                // &.compensation {
                //     .mol-inner {
                //         .list-wrapper {
                //             padding-top: 10px;

                //             .list-cnt {
                //                 display: inline-block;
                //                 height: 200px;
                //                 margin-left: 10px;

                //                 p {
                //                     font-size: 14px;
                //                     padding: 0 0 30px;
                //                 }
                //             }

                //             &::before {
                //                 content: "";
                //                 width: 12px;
                //                 height: 200px;
                //                 display: inline-block;
                //                 vertical-align: top;
                //                 background: url(../img/icon-9.png) no-repeat;
                //                 background-size: 12px 200px;
                //             }
                //         }
                //     }
                // }

                &.FAQ {
                    border-bottom: 20px solid #f8f8f8;

                    .mol-inner {
                        .title{
                            text-align: center;
                            margin-bottom: 20px;
                        }
                        .list-wrapper {
                            .list {
                                border-bottom: 1px solid #EEEEEE;
                                margin-bottom: 20px;

                                &.l-4 {
                                    border-bottom: 1px solid #EEEEEE !important;
                                    margin-bottom: 20px !important;
                                }

                                // &.l-5 {
                                //     border-bottom: none !important;
                                //     margin-bottom: 0 !important;
                                //     padding-bottom: 0;
                                // }
                                &.l-7 {
                                    border-bottom: none !important;
                                    margin-bottom: 0 !important;
                                    padding-bottom: 0;
                                }

                                &.show {
                                    border: none !important;
                                    margin-bottom: 0 !important;

                                    .next-cont {
                                        color: #333 !important;

                                        &::after {
                                            background: url(../img/d-icon.png) no-repeat !important;
                                            background-size: 11px 7px !important;
                                        }
                                    }

                                    .cont-detail {
                                        display: none;
                                    }
                                }

                                .cont {
                                    width: 100%;

                                    .next-cont {
                                        position: relative;
                                        font-size: 14px;
                                        font-weight: bold;
                                        width: 90%;
                                        color: #43AC43;

                                        .order {
                                            vertical-align: text-top;
                                            width: 5%;
                                            height: 14px;
                                            display: inline-block;
                                            color: #43ac43;
                                        }

                                        .order-title {
                                            vertical-align: text-top;
                                            margin-left: 11px;
                                            width: 90%;
                                            display: inline-block;
                                        }

                                        &::after {
                                            width: 11px;
                                            height: 7px;
                                            background: url(../img/u-icon.png) no-repeat;
                                            background-size: 11px 7px;
                                            position: absolute;
                                            right: -10%;
                                            top: 50%;
                                            margin-top: -3px;
                                        }
                                    }
                                }

                                .cont-detail {
                                    margin-top: 10px;
                                    display: block;

                                    &::before {
                                        content: "";
                                        display: block;
                                        width: 18px;
                                        height: 10px;
                                        margin-left: 10px;
                                        background: url(../img/Triangle-icon.png) no-repeat;
                                        background-size: 18px 10px;
                                    }

                                    p {
                                        padding: 15px;
                                        background-color: #F8F8F8;
                                        border-radius: 6px;
                                        line-height: 21px;
                                        color: #999999;
                                        font-size: 14px;

                                        span {
                                            font-weight: bold;
                                            color: #999;
                                        }
                                    }

                                }
                            }
                        }
                    }



                }
            }

            .whatsapp-contact {
                border-bottom: 36px solid #f8f8f8;
                color: #43AC43;
                font-size: 13px;
                font-weight: bold;
                text-align: center;
                background: #f8f8f8;

                span {
                    display: inline-block;
                    padding: 10px 15px;
                    background: #fff;
                    border-radius: 20px;

                    &::before {
                        content: "";
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        vertical-align: bottom;
                        background: url(../img/whatsapp.png) no-repeat;
                        background-size: 16px;
                        margin-right: 10px;
                    }
                }
            }

            .share-join {
                // border-top: 1px solid #EAEAEA;
                font-size: 16px;
                font-weight: 600;
                // position: fixed;
                bottom: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                background: #f8f8f8;

                .share-join-inner {
                    padding: 8px 8px 60px 8px;

                    div {
                        display: inline-block;
                        height: 44px;
                        width: 100%;
                        line-height: 44px;
                        text-align: center;
                        color: #fff;
                        background: #43AC43;
                        // border: 1px solid #43AC43;
                        border-radius: 6px;
                        box-sizing: border-box;
                        cursor: pointer;
                    }

                    .share {
                        // margin-left: 4.7%;
                        position: relative;

                        .pop {
                            position: absolute;
                            top: -19px;
                            transform: translate(-101%);
                            background: url(../img/pop.png) no-repeat;
                            width: 108px;
                            height: 38px;
                            background-size: cover;

                        }

                        .pop-id {
                            position: absolute;
                            top: -19px;
                            transform: translate(-101%);
                            background: url(../img/pop-id.png) no-repeat;
                            width: 108px;
                            height: 38px;
                            background-size: cover;
                        }

                    }


                }
            }
        }
    }
}