.alert-box {
    display: none;
    // display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.65;
    }

    .alert-content {
        position: absolute;
        background: #fff;
        width: 90%;
        // height: 430px;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        z-index: 3001;
        margin-left: -45%;
        margin-top: -215px;
        border-radius: 5px;

        .content-inner {
            position: relative;
            padding: 18px 16px;

            .alert-title {
                font-size: 16px;
                font-weight: bold;
            }

            .guide-inner {
                margin-top: 16px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 95px;

                .ktp-guide {
                    display: inline-block;
                    width: 85px;
                    height: 95px;
                    // background: #000;
                    p{
                        margin-top: 4px;
                        font-size: 10px;
                        text-align: center;
                        color: #999;
                    }
                    .ktp-1 {
                        display: inline-block;
                        background: url(../img/ktp-1.png) no-repeat;
                        width: 85px;
                        height: 69px;
                        background-size: 85px 69px;
                    }
                    .ktp-2 {
                        display: inline-block;
                        background: url(../img/ktp-2.png) no-repeat;
                        width: 85px;
                        height: 69px;
                        background-size: 85px 69px;
                    }
                    .ktp-3 {
                        display: inline-block;
                        background: url(../img/ktp-3.png) no-repeat;
                        width: 85px;
                        height: 69px;
                        background-size: 85px 69px;
                    }

                    .ktp-inner {}
                }
            }

            .guide-word{
                margin-top: 36px;
                font-size: 13px;
                color: #464646;
                line-height: 18px;
            }
            .confirm{
                margin-top: 30px;
                background: #43ac43;
                border-radius: 6px;
                height: 44px;
                text-align: center;
                p{
                    line-height: 44px;
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }
}