@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";
@import "../../../../../common/qsc/less/alert-box.less"; //弹窗
@import "../../../../../common/qsc/less/upload/_upload.less";
@import "../../../../../common/libs/fancybox/jquery.fancybox-thumbs.css"; //fancybox
@import "../../../../../common/libs/fancybox/jquery.fancybox.css"; //fancybox
@import "../../../../../common/qsc/less/locationChoose.less";

// @import "../../../../common/qsc/less/shareTpl-gtry.less"; //分享弹窗
@import "./alert-box.less";

// @import "../../../../common/qsc/less/common_footer.less";
input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    font-weight: normal;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    min-height: 100vh;
    margin-top: -56px;
    background: #FFF;

    .page-inner {
        padding-top: 56px;
        overflow: hidden;
        padding-bottom: 60px;

        .wrapper {
            margin-top: 56px;
            padding: 16px;

            .introduction-wrap {
                text-align: center;

                .introduction-title {
                    font-size: 20px;
                    font-weight: bold;
                }

                .introduction-content {
                    padding: 0 35px;
                    font-size: 12px;
                    line-height: 18px;
                    color: #999;
                }
            }

            .step-introducer {
                padding: 10px 11px;
                display: flex;
                justify-content: space-between;

                .dash-line {

                    display: inline-block;
                    // border-top: 1px dashed #D8D8D8;
                    border-bottom: 1px dashed #D8D8D8;
                    height: 18px;
                    width: 25%;
                    vertical-align: middle;
                }

                .step-wrap {

                    display: inline-block;
                    vertical-align: middle;
                    width: 100px;

                    .icon-wrap {
                        // margin: auto;

                    }

                    .step-content {
                        text-align: center;
                        font-size: 12px;
                        line-height: 14px;
                        margin-top: 7px;

                        &.focus {

                            color: #43ac43;
                        }

                        &.un-focus {

                            color: #999;
                        }

                    }

                    &.focus {
                        .icon-wrap {
                            margin: auto;

                            width: 30px;
                            height: 30px;
                            border: 6px solid rgba(67, 172, 67, 0.2);
                            border-radius: 50%;

                            .icon-inner {
                                background: #43ac43;
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                                line-height: 30px;
                                text-align: center;
                                color: #fff;
                            }
                        }
                    }

                    &.un-focuns {
                        .icon-wrap {
                            margin: auto;

                            width: 30px;
                            height: 30px;
                            border: 6px solid transparent;
                            border-radius: 50%;

                            .icon-inner {
                                border: 1px solid #999;
                                border-radius: 50%;
                                width: 28px;
                                height: 28px;
                                color: #999;
                                text-align: center;
                                line-height: 28px;

                            }
                        }
                    }

                }
            }


            .input-wrap {
                .address-content {
                    margin-top: 12px;
                    width: 90%;
                    height: 44px;
                    padding: 0 5%;
                    font-size: 14px; // font-weight: bold;
                    background-color: #F8F8F8;
                    border-radius: 6px;
                    line-height: 44px;
                    font-size: 14px;
                    color: #ccc;
                    position: relative;

                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;

                    &.cache-address {
                        color: #333;
                    }

                    &::after {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        display: block;
                        content: '';
                        width: 24px;
                        height: 24px;
                        background: url(../img/select.png) no-repeat;
                        background-size: contain;
                    }
                }

                .unwritten {
                    margin-top: 12px;
                    width: 90%;
                    height: 44px;
                    padding: 0 5%;
                    font-size: 14px; // font-weight: bold;
                    background-color: #F8F8F8;
                    border-radius: 6px;
                    line-height: 44px;
                    font-size: 14px;
                    color: #999;
                }

                input {
                    margin-top: 12px;
                    width: 90%;
                    height: 44px;
                    padding: 0 5%;
                    font-size: 14px; // font-weight: bold;
                    background-color: #F8F8F8;
                    border-radius: 6px;
                }

                .status {
                    margin-top: 12px;
                    display: flex;
                    justify-content: space-between;

                    .status-inner {
                        display: inline-block;
                        width: 45%;
                        height: 42px;
                        border-radius: 6px;
                        border: 2px solid #ccc;
                        line-height: 42px;
                        text-align: center;
                        color: #666;
                        font-size: 14px;
                        background: #F8F8F8;

                        &.choosed {
                            font-weight: bold;
                            color: #43ac43;
                            border: 2px solid #43ac43;
                            background: rgba(67, 172, 67, 0.2);
                        }
                    }
                }


            }
        }

        .next-btn-wrap {
            max-width: 620px;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 60px;
            text-align: center;
            background: #fff;
            z-index: 2000;

            .next-btn {
                padding: 8px 16px;

                p {
                    border-radius: 6px;
                    width: 100%;
                    background: #43ac43;
                    line-height: 44px;
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }
}