@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #F7FAFF;
    min-height: 100vh;
    margin-top: -56px;

    .page-inner {
        padding-top: 56px;
        overflow: hidden;

        .wrapper {
            padding: 16px 16px 20px;
            background: #fff;

            .list {
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }

                .line1 {
                    margin-bottom: 4px;
                }

                .line3 {
                    margin-top: 4px;
                }

                .line1,
                .line3 {
                    color: #999999;
                    font-size: 12px;
                }

                .line2 {
                    font-size: 16px;
                    color: #333333;
                    font-weight: bold;

                    .l {
                        display: inline-block;
                    }

                    .money {
                        float: right;
                        color: #999999;

                        &.green {
                            color: #43AC43;
                        }
                    }
                }
            }
        }

    }
}