@import "../../../../../../common/qsc/less/loading.less";
@import "../../../../../../common/qsc/less/toast.less";
@import "../../../../../../common/qsc/less/common_nav.less";
// @import "../../../../../common/qsc/less/common_footer.less";
ul li {
    list-style: none;
}

h2 {
    padding: 0 15px;
    margin: 0;
}

.page-wrapper {
    // position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;
    background-color: #F8F8F8;
    .page-inner {
        padding-top: 56px;
        .amountWrap{
            // width: 100%;
            height: 77.5px;
            padding: 20px 16px;
            position: relative;
            background: -webkit-linear-gradient(0deg,#57B99C,#43ac43);
            background: -moz-linear-gradient(0deg,#57B99C,#43ac43);
            background: -o-linear-gradient(0deg,#57B99C,#43ac43);
            background: -ms-linear-gradient(0deg,#57B99C,#43ac43);
            background: linear-gradient(to right,#57B99C,#43ac43);
            .amountTitle{
                font-size: 14px;
                line-height: 14px;
                color: #fff;
            }
            .amountContent{
                margin-top: 10px;
                background: url(../img/lines.png) no-repeat;
                background-size: 100% 54px;
                height: 54px;
                p{
                    margin-left: 16px;
                    font-size: 30px;
                    font-weight: bold;
                    color: #fff;
                    line-height: 54px;

                }
            }
        }
        .orderIDwrap{
            background-color: #fff;
            padding: 0 16px;
            height: 52px;
            line-height: 52px;
            .orderIDtitle{
                float: left;
                color: #999;
                font-size: 14px;
            }
            .orderID{
                float: right;
                color: #333;
                font-size: 14px;
            }
        }
        .btnWrap{
            padding: 30px 16px;
            .goPayBtn{
                border-radius: 6px;
                background-color: #43ac43;
                width: 100%;
                height: 44px;
                .btnContent{
                    color: #fff;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 44px;
                    text-align: center;
                }
            }
        }
    }
}