@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";
@import "../../../../common/qsc/less/common_footer.less";

ul li {
    list-style: none;
}

h2 {
    padding: 0 15px;
    margin: 0;
}

.page-wrapper {
    // position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px; // background:url('../img/banner.jpg');

    .page-inner {
        padding-top: 72px;

        .finish-content {

            .finish-wrapper {
                width: 200px;
                margin: auto;
                text-align: center;

                .finish-img {
                    margin: auto;
                    background: url(../img/success_icon.png) no-repeat;
                    background-size: 230px 140px;
                    width: 230px;
                    height: 140px;
                    position: relative;
                }

            }

            .donation-word {
                margin: auto;
                padding: 0 16px;
                max-width: 590px;
                text-align: center;

                p {
                    color: #999;
                    margin-top: 16px;
                    font-size: 14px;
                    line-height: 21px;
                }
            }

            .share-wrapper {
                padding: 0 16px;
                .share-inside {
                    max-width: 590px;
                    margin: auto;
                    margin-top: 30px;
                    padding: 20px 14px 16px;
                    background: #F8F8F8;
                    border-radius: 6px;

                    p {
                        text-align: center;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 21px;
                    }
                    .andriod-share{
                        // display: none;
                        margin-top: 20px;
                        background: #43ac43;
                        border-radius: 6px;
                        height: 44px;
                        p{
                            line-height: 44px;
                            text-align: center;
                            font-size: 16px;
                            font-weight: bold;
                            color: #fff;
                        }
                    }
                    .share-icons {
                        margin-top: 16px;
                        padding-bottom: 60px;
                        display: flex;
                        justify-content: space-evenly;

                        .icons {
                            // display: flex;
                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            position: relative;

                            .title {
                                position: absolute;
                                bottom: -23px;
                                font-size: 12px;
                                font-weight: 400;
                                color: #999;

                                &.fb-title {
                                    left: -6px;
                                }

                                &.line-title {
                                    left: 9px;
                                }
                                &.twitter-title {
                                    left: 3px;
                                }

                                &.whatsApp-title {
                                    left: -6px;
                                }
                            }

                            &.fb {
                                background: url(../img/facebook.png) no-repeat;
                                background-size: 40px;

                                .fb-share-tips {
                                    background: url(../img/tips.png) no-repeat;
                                    background-size: 108px 22px;
                                    position: absolute;
                                    width: 108px;
                                    height: 22px;
                                    bottom: -42px;
                                    left: -34px;
                                    text-align: center;
                                    font-size: 10px;
                                    font-weight: 400;
                                    line-height: 24px;
                                    color: #fff;
                                }
                            }

                            &.line {
                                background: url(../img/Line.png) no-repeat;
                                background-size: 40px;
                            }
                            &.twitter {
                                background: url(../img/twitter.png) no-repeat;
                                background-size: 40px;
                            }

                            &.whatsApp {
                                background: url(../img/WhatsApp.png) no-repeat;
                                background-size: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}