
.alert-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;
    .mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.45;
    }
    .content {
        position: absolute;
        background: #fff;
        width: 90%;
        // height: 462px;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        z-index: 3001;
        margin-left: -45%;
        margin-top: -236px;
        border-radius: 5px;
        .content-inner {
            padding: 32px 18px;
            .banner-wrapper{
                padding: 24px 34px;
                background-color: #EDEDED;
                .banner{
                    margin: 0 auto;
                    background: url(../img/diagnostic.png) no-repeat;
                    background-size: contain;
                    width: 230px;
                    height: 174px;
                }
            }
            .title{
                margin-top: 16px;
                margin-bottom: 6px;
                font-size: 16px;
                font-weight: bold;
                line-height: 24px;
            }
            .gesture{
                margin-bottom: 27px;
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: space-between;
                .correct{
                    width: 60px;
                    height: 60px;
                    background: url(../img/correct.png) no-repeat;
                    background-size: 60px 40px;
                    p{
                        text-align: center;
                        margin-top: 50px;
                        font-size: 11px;
                        font-weight: 200;
                        color: #999999;
                        line-height: 9px
                    }
                }
                .incomplete{
                    width: 60px;
                    height: 40px;
                    background: url(../img/incomplete.png) no-repeat;
                    background-size: 60px 40px;
                    p{
                        text-align: center;
                        margin-top: 50px;
                        font-size: 11px;
                        font-weight: 200;
                        color: #999999;
                        line-height: 9px
                    }
                }
                .blurred{
                    width: 60px;
                    height: 40px;
                    background: url(../img/blurred.png) no-repeat;
                    background-size: 60px 40px;
                    p{
                        text-align: center;
                        margin-top: 50px;
                        font-size: 11px;
                        font-weight: 200;
                        color: #999999;
                        line-height: 9px
                    }
                }
                .reflective{
                    width: 60px;
                    height: 40px;
                    background: url(../img/reflective.png) no-repeat;
                    background-size: 60px 40px;
                    p{
                        text-align: center;
                        margin-top: 50px;
                        font-size: 11px;
                        font-weight: 200;
                        color: #999999;
                        line-height: 9px
                    }
                }
            }
            .confirm {
                width: 100%;
                height: 44px;
                background-color: #43AC43;
                font-size: 16px;
                font-weight: bold;
                color: #FFFFFF;
                line-height: 44px;
                text-align: center;
                border-radius: 6px; 
            }
        }
    }
}