.alert-ID-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;
    .mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.65;
    }
    .content {
        position: absolute;
        background: #fff;
        width: 90%;
        // height: 430px;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        z-index: 3001;
        margin-left: -45%;
        margin-top: -215px;
        border-radius: 5px;
        .content-inner {
            position: relative;
            padding: 32px 18px;
            .id-photo{
                width: 100%;
                height: 225px;
                background: url(../img/ID_position.png) no-repeat;
                background-size: cover;
            }
            .title {
                margin-top: 15px;
                color: #333333;
                font-size: 16px;
                font-weight: bold;
                line-height: 24px;
            }
            .detail {
                margin-top: 6px;
                margin-bottom: 20px;
                color: #999999;
                font-size: 12px;
                line-height: 18px;
            }
            .confirm {
                width: 100%;
                height: 44px;
                background-color: #43AC43;
                font-size: 16px;
                font-weight: bold;
                color: #FFFFFF;
                line-height: 44px;
                text-align: center;
                border-radius: 6px; 
            }
        }
    }
}