@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";
@import "../../../../../common/qsc/less/upload/_upload.less";
@import "../../../../../common/libs/fancybox/jquery.fancybox-thumbs.css"; //fancybox
@import "../../../../../common/libs/fancybox/jquery.fancybox.css"; //fancybox
@import "./alert-diagnostic-box.less"; //alert diagnostic box
@import "./alert-ID-box.less"; //alert ID box

//  关闭close按钮
a.fancybox-item.fancybox-close {
    display: none;
}

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    font-weight: normal;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff;
}

.page-wrapper {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px; // background:url('../img/banner.jpg');

    .page-inner {
        padding-top: 56px;

        .wrapper {
            margin-top: 30px;

            .content-wrapper {
                padding: 0 16px;

                .patientInfoTitle {
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 20px;
                }

                .common_name {
                    margin-top: 30px;
                    color: #999999;
                    font-size: 14px;
                    font-weight: 800;
                }

                .common_input {
                    margin-top: 12px;
                    width: 100%;
                    position: relative;

                    input {
                        padding: 0 5%;
                        width: 90%;
                        height: 44px;
                        font-size: 14px;
                        font-weight: bold;
                        background-color: #F8F8F8;
                        border: 0;
                        border-radius: 6px;
                    }
                }

                .id-tips {
                    font-size: 12px;
                    line-height: 18px;
                    color: #999999;
                    margin-top: 4px;
                }

                // .realName {
                //     margin-top: 30px;
                //     color: #999999;
                //     font-size: 14px;
                //     font-weight: 800;
                // }
                // .real_name_wrapper {
                //     margin-top: 12px;
                //     width: 100%;
                //     position: relative;
                //     .real_name {
                //         padding: 0 5%;
                //         width: 90%;
                //         height: 44px;
                //         font-size: 14px;
                //         font-weight: bold;
                //         background-color: #F8F8F8;
                //         border: 0;
                //         border-radius: 6px;
                //     }
                //     .realName {
                //         margin-top: 30px;
                //         color: #999999;
                //         font-size: 14px;
                //     }
                // }
                // .ID {
                //     margin-top: 30px;
                //     color: #999999;
                //     font-size: 14px;
                //     font-weight: 800;
                // }
                // .ID_number_wrapper {
                // margin-top: 12px;
                // width: 100%;
                // position: relative;
                // .ID_number {
                //     padding: 0 5%;
                //     width: 90%;
                //     height: 44px;
                //     font-size: 14px;
                //     font-weight: bold;
                //     background-color: #F8F8F8;
                //     border: 0;
                //     border-radius: 6px;
                // }
                // }
                .addIDcardPhotos {
                    margin-top: 30px;
                    margin-bottom: 12px;
                    color: #999999;
                    font-size: 14px;
                    font-weight: 800;
                }

                .DiagnosticInfoTitle {
                    margin-top: 40px;
                    margin-bottom: 30px;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 20px;
                }

                // .DiseaseTitle {
                //     margin-top: 30px;
                //     color: #999999;
                //     font-size: 14px;
                // }
                // .Disease_wrapper {
                //     margin-top: 12px;
                //     width: 100%;
                //     position: relative;
                //     .Disease {
                //         padding: 0 5%;
                //         width: 90%;
                //         height: 44px;
                //         font-size: 14px;
                //         font-weight: bold;
                //         background-color: #F8F8F8;
                //         border: 0;
                //         border-radius: 6px;
                //     }
                // }
                .TreatmentCertification {
                    margin-top: 30px;
                    color: #999999;
                    font-size: 14px;
                    font-weight: bold;
                }

                .TreatmentCertificationTips {
                    margin-top: 5px;
                    margin-bottom: 16px;
                    color: #999999;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;

                    span {
                        color: #43AC43;
                    }
                }
            }

            .keepPricy {
                margin-top: 30px;
                margin-bottom: 74px;
                width: 100%;
                height: 44px;
                background-color: #ECF6EC;

                &::before {
                    display: inline-block;
                    content: '';
                    width: 18px;
                    height: 18px;
                    vertical-align: middle;
                    margin-left: 16px;
                    margin-right: 10px;
                    background: url(../img/tips_icon.png) no-repeat;
                    background-size: 18px 18px;
                }

                p {
                    display: inline;
                    line-height: 44px;
                    color: #43AC43;
                    font-size: 14px;
                }
            }
        }

        .submitBtn {
            cursor: pointer;
            max-width: 640px;
            width: 100%;
            height: 44px;
            position: fixed;
            bottom: 0;
            z-index: 100;
            background-color: #43AC43;
            text-align: center;
            display: inline-block;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: bold;
            line-height: 44px;
        }
    }
}