@import "../../../common/qsc/less/loading.less";
@import "../../../common/qsc/less/toast.less";
@import "../../../common/qsc/less/common_nav.less";
@import "../../../common/qsc/less/common_footer.less";
@import "../../../common/libs/swiper/swiper-4.3.3.min.css"; //swiper



.page-wrapper {
    position: relative;
    max-width: 556px;
    margin: 0 auto;
    background-color: #fff;
    // min-height: 100vh;

    .page-inner {
        .wrapper {
            .animated .topIn {
                animation-name: topIn;
                animation-duration: 2s;
            }

            @keyframes topIn {
                from {
                    transform: translateY(50px);
                    opacity: 0;

                }

                to {
                    transform: translateY(0px);
                    opacity: 1;

                }
            }

            .delay200 {
                animation-delay: 0s;
                animation-fill-mode: backwards !important;
            }

            .delay400 {
                animation-delay: 0s;
                animation-fill-mode: backwards !important;
            }

            .delay600 {
                animation-delay: 1s;
                animation-fill-mode: backwards !important;
            }

            .delay800 {
                animation-delay: 1s;
                animation-fill-mode: backwards !important;
            }

            .delay1000 {
                animation-delay: 2s;
                animation-fill-mode: backwards !important;
            }

            .delay1200 {
                animation-delay: 2s;
                animation-fill-mode: backwards !important;
            }

            .delay1400 {
                animation-delay: 3s;
                animation-fill-mode: backwards !important;
            }

            .delay1600 {
                animation-delay: 3s;
                animation-fill-mode: backwards !important;
            }
            .delay1800 {
                animation-delay: 4s;
                animation-fill-mode: backwards !important;
            }
            .swiper-container{
                height: 100vh;
                .swiper-wrapper{
                    width: 100%;
                    height: 90%;
                }
            }
            .first-layer {
                background: url(../img/bg1.png) no-repeat;
                width: 100%;
                height: 90vh;
                background-size: cover;
                position: relative;

                .aninode{
                    padding-top: 30px;
                    .white-logo {
                        margin: auto;
                        width: 39.5px;
                        height: 42.5px;
                        background: url(../img/logo-white.png) no-repeat;
                        background-size: 39.5px 42.5px;
                    }

                    .logo-name {
                        margin-top: 8px;
                        text-align: center;
                        color: #fff;
                        font-size: 12px;

                    }

                    .first-title {
                        margin-top: 26px;
                        text-align: center;
                        font-size: 20px;
                        line-height: 23px;
                        font-weight: 100;
                        color: #fff;
                    }
                    .donor-name {
                        margin-top: 4px;
                        text-align: center;
                        font-size: 20px;
                        line-height: 23px;
                        color: #fff;
                    }
                    .second-title {
                        margin-top: 16px;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 100;
                        line-height: 23px;
                        color: #fff;
                    }
                    .join-time {
                        margin-top: 4px;
                        text-align: center;
                        font-size: 16px;
                        // font-weight: 100;
                        line-height: 23px;
                        color: #fff;
                    }
                    .since-time {
                        margin-top: 16px;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 100;
                        line-height: 23px;
                        color: #fff;
                        span{
                            font-weight: 400;
                        }
                    }
                    .ending-word {
                        margin-top: 6px;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 100;
                        line-height: 23px;
                        color: #fff;
                    }
                    .lottie{
                        position: absolute;
                        bottom: 100px;
                        left: 45%;
                        margin-left: -25px;
                        margin: auto;
                        width: 50px;
                        height: 50px;
                    }
                }

            }
            .second-layer{
                background: url(../img/bg2.png) no-repeat;
                width: 100%;
                height: 90vh;
                background-size: cover;
                // background-size: 100% 100%;
                position: relative;
                .second-aninode{
                    display: none;
                    padding-top: 30px;
                    margin-left: 25px;
                    .green-logo-left {
                        width: 39.5px;
                        height: 42.5px;
                        background: url(../img/logo-green.png) no-repeat;
                        background-size: 39.5px 42.5px;
                    }
                    .green-logo-name{
                        margin-top: 8px;
                        // text-align: center;
                        color: #53B454;
                        font-size: 12px;
                    }
                    .second-layer-1{
                        margin-top: 20px;
                        font-weight: 100;

                        font-size: 18px;
                        line-height: 24px;
                        color: #333;
                    }
                    .second-layer-2{
                        font-weight: 100;

                        font-size: 18px;
                        line-height: 24px;
                        color: #333;
                    }
                    .second-layer-3{
                        font-size: 18px;
                        line-height: 24px;
                        color: #53B454;
                    }
                    .second-layer-4{
                        font-weight: 100;

                        margin-top: 24px;
                        font-size: 18px;
                        line-height: 24px;
                        color: #333;
                    }
                    .second-layer-5{
                        font-weight: 100;

                        font-size: 18px;
                        line-height: 24px;
                        color: #333;
                    }
                    .second-layer-6{
                        font-size: 18px;
                        line-height: 24px;
                        color: #53B454;
                    }
                    .second-layer-7{
                        width: 80%;
                        margin-top: 20px;
                        font-weight: 100;
                        font-size: 18px;
                        line-height: 24px;
                        color: #333;
                    }

                    .second-layer-8{
                        width: 80%;
                        font-weight: 100;
                        margin-top: 24px;
                        font-size: 18px;
                        line-height: 24px;
                        color: #333;
                    }
                    .lottie{
                        position: absolute;
                        bottom: 100px;
                        left: 45%;
                        margin-left: -25px;
                        margin: auto;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
            .third-layer{
                background: url(../img/bg3.png) no-repeat;
                width: 100%;
                height: 90vh;
                background-size: cover;
                // background-size: 100% 100%;
                position: relative;
                .third-aninode{
                    display: none;
                    padding-top: 30px;
                    margin-right: 25px;
                    text-align: right;
                    .green-logo-left {
                        float: right;

                        width: 39.5px;
                        height: 42.5px;
                        background: url(../img/logo-green.png) no-repeat;
                        background-size: 39.5px 42.5px;
                    }
                    .green-logo-name{

                        margin-top: 52px;
                        color: #53B454;
                        font-size: 12px;
                    }
                    .third-layer-1{

                        margin-top: 20px;
                        font-weight: 100;

                        font-size: 18px;
                        line-height: 24px;
                        color: #333;
                    }
                    .third-layer-2{

                        font-weight: 100;

                        font-size: 18px;
                        line-height: 24px;
                        color: #333;
                    }
                    .third-layer-3{
                        color: #333;
                        font-weight: 100;

                        font-size: 18px;
                        line-height: 24px;
                        span{
                            font-weight: 400;
                            color: #53B454;

                        }
                    }
                    .third-layer-4{

                        font-weight: 100;

                        margin-top: 24px;
                        font-size: 18px;
                        line-height: 24px;
                        color: #333;
                        span{
                            font-weight: 400;
                            color: #53B454;
                        }
                    }
                    .third-layer-5{

                        font-weight: 100;

                        font-size: 18px;
                        line-height: 24px;
                        color: #333;
                    }
                    .third-layer-6{
                        font-weight: 100;

                        font-size: 18px;
                        line-height: 24px;
                        color: #333;
                        span{
                            font-weight: 400;
                            color: #53B454;
                        }
                    }
                    .lottie{
                        position: absolute;
                        bottom: 100px;
                        left: 45%;
                        margin-left: -25px;
                        margin: auto;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
            .forth-layer{
                background: #EEFFF2;
                .btn-wrap{
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    .shareBtn{
                        box-shadow: 0px 6px 12px 0 rgba(0,0,0,0.1);
                        display: inline-block;
                        vertical-align: middle;
                        width: 30%;
                        background: #fff;
                        height: 44px;
                        line-height: 44px;
                        border-radius: 6px;
                        color: #F06500;
                        font-weight: bold;
                    }
                    .goGtryBtn{
                        box-shadow: 0px 6px 12px 0 rgba(240,101,0,0.3);

                        display: inline-block;
                        vertical-align: middle;
                        color: #fff;
                        width: 66%;
                        background: #F06500;
                        height: 44px;
                        line-height: 44px;
                        border-radius: 6px;
                        font-weight: bold;

                    }
                }

                .forth-aninode{
                    display: none;
                    padding: 20px;
                    text-align: center;
                    // @media screen and (min-height: 480px) {
                    //     .forth-inner-bg-en{
                    //         margin-bottom: 20px;
                    //         padding-top: 26px;
                    //         background: url(../img/bg4-en.png) no-repeat;
                    //         width: 100%;
                    //         min-height: 354px;
                    //         background-size: 100% 100%;
                    //         position: relative;
                    //     }
                    //     .forth-inner-bg-id{
                    //         margin-bottom: 20px;
                    //         padding-top: 26px;
                    //         background: url(../img/bg4-id.png) no-repeat;
                    //         width: 100%;
                    //         min-height: 354px;
                    //         background-size: 100% 100%;
                    //         position: relative;
                    //     }
                    // }
                    // @media screen and (min-height: 660px) {
                        .forth-inner-bg{
                            // margin-bottom: 20px;
                            padding: 7px;
                            border-radius: 6px;
                            height: 73vh;
                            background: #fff;
                            // background: url(../img/bg4-en.png) no-repeat;
                            // width: 100%;
                            // height: 541px;
                            // min-height: 560px;
                            // background-size: 100% 100%;
                            &.forth-inner-bg-id{
                                position: relative;
                                &::before{
                                    position: absolute;
                                    left: 50%;
                                    bottom: 7px;
                                    display: block;
                                    content: '';
                                    margin-left: -110px;
                                    width: 220px;
                                    height: 134px;
                                    background: url('../img/forth-middle-id.png') no-repeat;
                                    background-size: 220px 134px;
                                }
                            }
                            &.forth-inner-bg-en{
                                position: relative;

                                &::before{
                                    position: absolute;
                                    left: 50%;
                                    bottom: 7px;
                                    display: block;
                                    content: '';
                                    margin-left: -110px;
                                    width: 220px;
                                    height: 134px;
                                    background: url('../img/forth-middle-en.png') no-repeat;
                                    background-size: 220px 134px;
                                }
                            }

                            .forth-inner{
                                position: relative;
                                border: 1px solid #67C267;
                                // padding-top: 20px;
                                width: 100%;
                                height: 100%;
                                &::before{
                                    position: absolute;
                                    bottom: 60px;
                                    display: block;
                                    content: '';
                                    width: 84px;
                                    height: 104px;
                                    background: url('../img/forth-left.png') no-repeat;
                                    background-size: 84px 104px;
                                }
                                &::after{
                                    position: absolute;
                                    right: 0;
                                    bottom: 60px;
                                    display: block;
                                    content: '';
                                    width: 54px;
                                    height: 83px;
                                    background: url('../img/forth-right.png') no-repeat;
                                    background-size: 54px 83px;
                                }

                            }
                        }
                        // .forth-inner-bg-id{
                        //     // margin-bottom: 20px;
                        //     padding-top: 26px;

                        //     background: url(../img/bg4-id.png) no-repeat;
                        //     width: 100%;
                        //     height: 541px;
                        //     // min-height: 560px;
                        //     background-size: 100% 100%;
                        //     position: relative;
                        // }
                    // }
                    // @media screen and (min-height: 736px) {
                    //     .forth-inner-bg-en{
                    //         // margin-bottom: 20px;
                    //         padding-top: 26px;

                    //         background: url(../img/bg4-en.png) no-repeat;
                    //         width: 100%;
                    //         height: 609px;
                    //         // min-height: 560px;
                    //         background-size: 100% 100%;
                    //         position: relative;
                    //     }
                    //     .forth-inner-bg-id{
                    //         // margin-bottom: 20px;
                    //         padding-top: 26px;

                    //         background: url(../img/bg4-id.png) no-repeat;
                    //         width: 100%;
                    //         height: 609px;
                    //         // min-height: 560px;
                    //         background-size: 100% 100%;
                    //         position: relative;
                    //     }
                    // }
                    .green-logo {
                        margin: 20px auto 0;
                        width: 39.5px;
                        height: 42.5px;
                        background: url(../img/logo-green.png) no-repeat;
                        background-size: 39.5px 42.5px;
                    }
                    .green-logo-name{

                        margin-top: 8px;
                        color: #53B454;
                        font-size: 12px;
                    }

                    .forth-layer-1{

                        margin: 16px auto 0;
                        width: 80%;
                        font-weight: 100;

                        font-size: 18px;
                        line-height: 24px;
                        color: #333;
                    }
                    .forth-layer-2{
                        margin: 16px auto 0;
                        width: 80%;
                        font-weight: 100;

                        font-size: 18px;
                        line-height: 24px;
                        color: #333;
                    }
                    .forth-layer-3{
                        margin: 16px auto 0;
                        width: 80%;
                        font-weight: 100;

                        font-size: 18px;
                        line-height: 24px;
                        color: #333;
                    }

                    @media screen and (max-width: 320px){
                        .forth-layer-font{
                            font-size: 12px;
                            line-height: 12px;
                        }
                    }
                    @media screen and (min-height: 568px){
                        .forth-layer-font{
                            font-size: 18px;
                            line-height: 24px;
                        }
                    }


                }
            }
        }
    }
}