body.add-app-download {
  .page-wrapper {
    .page-inner {
      padding-top: 102px;
    }
  }
}

.app-download {
  display: none;
  height: 44px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;

  .left-wrapper {
    float: left;
    // width: 200px;

    .app-logo-wrapper {

      .appDownload-close {
        width: 16px;
        height: 31px;
        float: left;
        padding: 14px 0 0 16px;

        img {
          width: 16px;
          height: 16px;
        }
      }

      .app-logo {
        float: left;
        margin: 8px 0 0 16px;
        width: 28px;
        height: 28px;
      }

      .app-detail {
        float: left;
        margin: 9px 0 0 12px;
        font-size: 11px;
        color: #666;
      }

    }
  }

  .right-wrapper {
    float: right;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    background-color: #43ac43;
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin: 6px 6px;
    border-radius: 3px;
  }
}