.unpaidInsurance-wrapper.alert-box {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.8;
    }

    .content {
        position: fixed;
        background: #fff;
        width: 90%;
        height: auto;
        margin: 0 auto;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 3001;
        border-radius: 5px;
        max-width: 620px;

        .content-inner {
            // position: relative;
            padding: 0 18px 54px;
            max-height: 74vh;
            height: auto;
            box-sizing: border-box;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;

            .content-detail {
                max-height: 60vh;
                height: auto;
                box-sizing: border-box;
                overflow-y: scroll;
            }


            .title {
                color: #333333;
                font-size: 19px;
                font-weight: 700;
                margin: 20px 0;
                text-align: center;
            }

            .detail {
                color: #999999;
                font-size: 16px;
                line-height: 26px;

                .prag-title {
                    margin: 15px 0;
                    color: #333;
                    font-weight: bold;
                }

                table {
                    td {
                        padding-bottom: 15px;

                        .black {
                            color: #333;
                            font-weight: bold;
                        }
                    }

                    .list {
                        vertical-align: top;
                    }
                }

            }

            .pop-confirm {
                // position: fixed;
                // bottom: 0;
                // width: 100%;
                // left: 0;
                // padding-right: 18px;
                // box-sizing: border-box;
                position: absolute;
                bottom: 15px;
                width: 100%;
                right: 0;

                .fade-wrap {
                    position: absolute;
                    bottom: 43px;
                    height: 50px;
                    width: 100%;
                    // background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
                }

                .yes {
                    bottom: 0;
                    left: 0;
                    padding: 23px 33px 18px 33px;
                    box-sizing: border-box;
                    position: absolute;
                    width: 100%;
                    height: 44px;
                    background: #fff;
                    color: #43AC43;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: right;
                    border-radius: 0 5px 5px;
                }
            }
        }
    }

    .insurance-order-cont {
        padding-top: 24px;
        .list {
            .list-inner {
                .up {
                    margin: 16px 12px;

                    .number {
                        margin-top: 4px;
                        font-size: 14px;
                        margin-right: 20px;
                    }

                    .detail {
                        margin-left: 5px;
                        vertical-align: top;
                        color: #999999;
                        font-size: 14px;
                        width: 100%;
    
                        .title {
                            color: #333333;
                            font-size: 16PX;
                            font-weight: bold;
                            margin-bottom: 10px;
                        }
                        
                        .sub-title {
                            color: #333333;
                            font-size: 14PX;
                            font-weight: bold;
                        }                        


                        .money-wrapper {
                            margin-top: 10px;
                            color: #666666;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .money {
                                font-weight: bold;
                            }

                            .order-state {
                                position: relative;
                                color: #FF906D;
                                font-size: 14px;
                                line-height: 22px;
                                padding: 4px 6px;
                                margin-left: 8px;

                                &::after {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    left: 0;
                                    top: 0;
                                    content: '';
                                    box-sizing: border-box;
                                    display: inline-block;
                                    color: #FF906D;
                                    opacity: 0.1;
                                    background: #FF906D;
                                    border-radius: 4px;
                                }

                                &.paid {
                                    color: #43AC43;

                                    &::after {
                                        background: #43AC43;
                                    }
                                }
                            }
                        }

                        .relate {
                            p {
                                margin-top: 10px;
                            }
                        }
                    }
                }

                .down {
                    margin-left: 12px;
                    
                    .pay-wrapper {
                        display: flex;
                        justify-content: flex-end;
                    }
                    .pay,
                    .complete-data {
                        float: right;
                        background: #43AC43;
                        color: #fff;
                        line-height: 32px;
                        height: 32px;
                        padding: 0 26px;
                        border-radius: 5px;
                        font-size: 14px;
                        margin-right: 12px;
                        cursor: pointer;                        
                    }
                }

                .line {
                    margin-top: 12px;
                    margin-left: 12px;
                    width: calc(100% - 24px);
                    height: 1px;
                    background: #979797;
                }
            }

        }
    }
}