.termsAndAgreement-wrapper.alert-box {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.8;
    }

    .content {
        position: fixed;
        background: #fff;
        width: 90%;
        height: auto;
        margin: 0 auto;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 3001;
        border-radius: 5px;
        max-width: 620px;

        .content-inner {
            // position: relative;
            padding: 0 18px 54px;
            max-height: 74vh;
            height: auto;
            box-sizing: border-box;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;

            .content-detail {
                max-height: 60vh;
                height: auto;
                box-sizing: border-box;
                overflow-y: scroll;
                padding-bottom: 50px;
            }


            .title {
                color: #333333;
                font-size: 19px;
                font-weight: 700;
                margin: 20px 0;
            }

            .description {
                color: #999999;
                font-size: 16px;
                line-height: 26px;

                .prag-title {
                    margin: 15px 0;
                    color: #333;
                    font-weight: bold;
                }

                table {
                    td {
                        padding-bottom: 15px;

                        .black {
                            color: #333;
                            font-weight: bold;
                        }
                    }

                    .list {
                        vertical-align: top;
                    }
                }

            }

            .pop-confirm {
                // position: fixed;
                // bottom: 0;
                // width: 100%;
                // left: 0;
                // padding-right: 18px;
                // box-sizing: border-box;
                position: absolute;
                bottom: 15px;
                width: 100%;
                right: 0;

                .fade-wrap {
                    position: absolute;
                    bottom: 43px;
                    height: 50px;
                    width: 100%;
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
                }

                .yes {
                    bottom: 0;
                    left: 0;
                    padding: 0 33px 18px 33px;
                    box-sizing: border-box;
                    position: absolute;
                    width: 100%;
                    height: 44px;
                    background: #fff;
                    color: #43AC43;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: right;
                    border-radius: 0 5px 5px;
                }
            }
        }
    }
}