.bg-wrapper {
  color: #fff;
  background-image: linear-gradient(180deg, #004fab 0%, #1f8bff 100%);

  .icon {
    color: #80a7d5;
    font-size: 12px;

    p {
      display: inline-block;
      vertical-align: middle;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 195px;
      height: 19px;
      background: url(../img/icon_1.png) no-repeat;
      background-size: auto 19px;
      margin-left: 20px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .banner {
    position: relative;

    p {
      position: absolute;
      background: #b1ceff;
      border-radius: 40px;
      font-size: 13px;
      color: #0456b5;
      text-align: center;
      line-height: 16px;
      box-sizing: border-box;
      padding: 6px 20px;
      margin: 0px 12%;
      top: 17%;
    }

    .banner-img {
      width: 100%;
    }
  }

  .boxes-wrapper {
    position: relative;
    z-index: 2;
    padding-bottom: 1px;

    .box {
      background: #ffffff;
      border-radius: 16px;
      margin: 12px;
      color: #333333;

      .p1 {
        font-size: 12px;
        text-align: center;
        padding-top: 20px;
        color: #666666;

        &::before,
        &::after {
          content: "";
          display: inline-block;
          margin-right: 10px;
          width: 17.5px;
          height: 10px;
          background: url(../img/icon_4.png) no-repeat;
          background-size: 17.5px 10px;
        }

        &::after {
          margin-left: 10px;
        }
      }
    }

    .box1 {
      margin-top: -5px !important;

      .p2 {
        .p2-t1 {
          font-size: 20px;
          text-align: center;
          margin: 10px 0 5px;
        }

        .p2-t2 {
          font-weight: 500;
          font-size: 45px;
          color: #ff650a;
          text-align: center;
          margin-bottom: 5px;
        }
      }

      .join {
        background-image: linear-gradient(180deg,
            #7fda00 1%,
            #218e00 100%);
        box-shadow: 0 4px 14px 0 rgba(36, 145, 0, 0.5);
        border-radius: 47px;
        width: 80%;
        margin: 0 auto;
        height: 47px;
        line-height: 47px;
        color: #fff;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
      }

      .bottom {
        background: #fffaf3;
        border-radius: 0 16px 16px;
        height: 40px;
        line-height: 40px;
        color: #ffa127;
        font-size: 12px;
        margin-top: 30px;

        p {
          display: inline-block;
          vertical-align: middle;
        }

        &::before {
          content: "";
          display: inline-block;
          width: 80px;
          height: 27px;
          background: url(../img/icon_12.png) no-repeat;
          background-size: 80px 27px;
          vertical-align: middle;
          margin: 0 6px 0 18px;
        }
      }
    }

    .box2 {
      .tabs {
        padding: 26px 26px 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        color: #999999;
        font-size: 15px;
        text-align: center;

        .chosed {
          color: #43ac43;
          font-size: 15px;
          font-weight: bold;

          &::after {
            content: "";
            display: block;
            width: 48px;
            height: 3px;
            background: #43ac43;
            box-sizing: border-box;
            margin: 10px auto 0;
          }
        }
      }

      .cont {
        display: none;
        border-top: 1px solid #d8d8d8;
        margin-top: -1px;
        padding: 20px 29px 4px;

        &.chosed {
          display: block;
        }

        .t {
          color: #666666;
          font-size: 14px;
        }

        .ans {
          margin: 14px 0 14px 15px;
          color: #292929;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }

    .box3 {
      padding: 30px 16px 20px;

      .t {
        color: #592503;
        font-size: 14px;
        font-weight: bold;
        height: 57px;
        background: #fff4c7;
        border-radius: 30px;

        p {
          display: inline-block;
          vertical-align: middle;
          width: 100%;
          box-sizing: border-box;
          margin-top: -74px;
          line-height: 21px;
        }
      }

      .t1 {
        p {
          padding: 0 26px 0 100px;
        }

        &::before {
          content: "";
          display: inline-block;
          width: 92px;
          height: 70px;
          background: url(../img/icon_5.png) no-repeat;
          background-size: 92px 70px;
          vertical-align: middle;
          margin-top: -13px;
        }
      }

      .t2 {
        margin-top: 20px;
        p {
          padding: 0 81px 0 26px;
        }

        &::before {
          content: "";
          width: 92px;
          height: 70px;
          background: url(../img/icon_6.png) no-repeat;
          background-size: 83px auto;
          vertical-align: middle;
          margin-top: -13px;
          float: right;
          margin-right: -7px;
        }
      }

      .benefit-content p {
        line-height: 15px;
        color: #666666;
        font-size: 14px;
        margin: 5px 0 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .bpjs-content p {
        line-height: 16px;
        color: #666666;
        font-size: 14px;
        margin: 16px 0 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .cont-t {
        color: #333333;
        font-size: 14px;
        font-weight: bold;
        margin: 18px 0 20px;
      }

      .grey2 {
        font-size: 10px;
        color: #999999;
        line-height: 20px;

        .simas-icon {
          display: inline-block;
          vertical-align: text-top;
          width: 13px;
          height: 13px;
          background: url(../img/simas-icon.png) no-repeat;
          background-size: 13px;
        }
      }
    }

    .box4,
    .box5,
    .box6 {
      position: relative;
      margin-top: 35px;

      .top {
        position: absolute;
        box-sizing: border-box;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        display: inline-block;
        background: url(../img/icon_13.png) no-repeat;
        background-size: 100% 52px;
        background-position: center;
        padding: 9px 34px 15px;
        top: -19px;
        transform: translateX(-50%);
        left: 50%;
        white-space: nowrap;
      }
    }

    .box4 {
      .box-inner {
        padding: 33px 0 30px;
      }

      .t {
        color: #666666;
        font-size: 15px;
        line-height: 21px;
        margin: 0 32px 30px;
        text-align: center;
      }

      .img {
        height: 72px;
        width: 277px;
        background: url(../img/icon_7.png) no-repeat;
        background-size: contain;
        background-position: center;
        margin: 0 auto;
      }
    }

    .box5 {
      padding: 34px 0 17px;

      .title {
        color: #7D7D7D;
        font-size: 15px;
        text-align: center;
        width: 80%;
        margin: 0 auto 21px;
      }

      .img-en {
        height: 327px;
        width: 324px;
        background: url(../img/icon_8.png) no-repeat;
        background-size: contain;
        background-position: center;
        margin: 0 auto;
      }

      .img-id {
        height: 327px;
        width: 324px;
        background: url(../img/icon_8_id.png) no-repeat;
        background-size: contain;
        background-position: center;
        margin: 0 auto;
      }
    }

    .box6 {
      font-size: 12px;
      color: #666666;
      line-height: 18px;
      padding: 53px 18px 1px;

      .why-list {
        position: relative;
        width: 100%;
        margin-bottom: 30px;
        padding: 20px 10px 15px;
        box-sizing: border-box;
        border: 1px solid rgba(253, 202, 90, 0.5);
        border-radius: 20px;

        .list-title {
          position: absolute;
          transform: translateX(-50%);
          top: -10px;
          left: 50%;
          color: #333333;
          font-size: 14px;
          white-space: nowrap;
          background-color: #fff;
          padding: 0 23px;

          &::before {
            content: "";
            display: inline-block;
            width: 5px;
            height: 5px;
            background: #ffde8b;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 7px;
          }

          &::after {
            content: "";
            display: inline-block;
            width: 5px;
            height: 5px;
            background: #ffde8b;
            border-radius: 50%;
            position: absolute;
            right: 0;
            top: 7px;
          }
        }

        .cnt {
          vertical-align: middle;
          margin-right: 108px;
        }

        &.list-1 {
          &::after {
            content: "";
            width: 81px;
            height: 65px;
            position: absolute;
            right: 14px;
            bottom: 4px;
            background: url(../img/list-1.png) no-repeat;
            background-size: 81px 65px;
          }
        }

        &.list-2 {
          .cnt {
            margin-left: 108px;
            margin-right: 0;
          }

          &::after {
            content: "";
            width: 90px;
            height: 75px;
            position: absolute;
            left: 8px;
            bottom: 4px;
            background: url(../img/list-2.png) no-repeat;
            background-size: 90px 75px;
          }
        }

        &.list-3 {
          margin-bottom: 15px;

          &::after {
            content: "";
            width: 95px;
            height: 84px;
            position: absolute;
            right: 14px;
            bottom: 0;
            background: url(../img/list-3.png) no-repeat;
            background-size: 95px 84px;
          }
        }
      }
    }
  }
}