.whatsapp-contact {
  padding: 3px 0 72px;
  color: #43AC43;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  background: #f8f8f8;

  span {
    display: inline-block;
    padding: 10px 15px;
    background: #fff;
    border-radius: 20px;

    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: bottom;
      background: url(../img/whatsapp.png) no-repeat;
      background-size: 16px;
      margin-right: 10px;
    }
  }
}

.bottom-wrapper {
  display: none;
  border-top: 1px solid #eaeaea;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 2;
  width: 100%;
  background: #fff;
  padding: 8px 0;
  max-width: 620px;
  transform: translateX(-50%);

  .share,
  .join {
    display: inline-block;
    height: 44px;
    width: 43%;
    line-height: 44px;
    text-align: center;
    color: #43ac43;
    border: 1px solid #43ac43;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;

    &.share {
      margin-left: 4.7%;
      position: relative;
    }

    &.join {
      margin-right: 4.7%;
      color: #fff;
      background-color: #43ac43;
      float: right;
    }
  }
}