 .claim-process {
   padding: 20px 16px;
   color: #666666;
   font-size: 14px;
   line-height: 21px;
   border-bottom: 10px solid #f8f8f8;

   .title {
     color: #333333;
     font-size: 16px;
     font-weight: bold;
     margin-bottom: 10px;
   }

   .processes {
     position: relative;

     .processes-inner {
       position: relative;
       padding: 0 0 0 20px;
       margin-left: 9px;
       margin-top: 10px;

       &::before {
         position: absolute;
         left: 0;
         content: "";
         display: inline-block;
         border-left: 1px solid #2d9800;
         height: 100%;
       }
     }

     .procs {
       padding-bottom: 20px;

       &::before {
         content: "";
         display: inline-block;
         width: 18px;
         height: 18px;
         background: url(../img/1.png) no-repeat;
         background-size: 18px;
         position: absolute;
         left: -9px;
       }

       &.procs-2 {
         &::before {
           background: url(../img/2.png) no-repeat;
           background-size: 18px;
         }
       }

       &.procs-3 {
         &::before {
           background: url(../img/3.png) no-repeat;
           background-size: 18px;
         }
       }

       &.procs-4 {
         padding-left: 29px;
         padding-bottom: 0;

         &::before {
           background: url(../img/4.png) no-repeat;
           background-size: 18px;
           position: absolute;
           left: 1px;
         }
       }
     }
   }
 }