  .info-wrapper {
    padding: 0px 16px 10px;
    color: #666666;
    font-size: 13px;
    border-bottom: 10px solid #f8f8f8;

    &.plan {
      padding-bottom: 30px;
    }

    .title {
      color: #333333;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 15px;
      margin-top: 15px;
    }

    .relation-ship {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .relation {
        color: #666666;
        font-size: 13px;
        height: 40px;
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
        border: 1px solid #cccccc;
        border-radius: 6px;
        width: 30%;
        box-sizing: border-box;
        margin-bottom: 13px;

        &.chosed {
          background: #e6ffe6;
          border: 1px solid #43ac43;
          color: #43ac43;
          font-weight: bold;
        }
      }
    }

    .title_2 {
      color: #424242;
      font-size: 13px;
      font-weight: normal;
      margin-bottom: 10px;
    }

    .birth-wrapper {
      display: flex;
      justify-content: space-between;

      .dd,
      .mm,
      .yyyy {
        display: inline-block;
        background: #f8f8f8;
        height: 44px;
        width: 32%;
        line-height: 44px;
        border-radius: 6px;
        color: #d2d2d2;
        padding-left: 16px;
        box-sizing: border-box;
        color: #000000;
      }
    }

    .gender-list {
      color: #000000;
      font-size: 13px;
      margin-bottom: 10px;

      .male,
      .female {
        display: inline-block;
        margin-right: 58px;

        &::before {
          content: "";
          display: inline-block;
          width: 18px;
          height: 18px;
          background: url(../img/unchoose.png) no-repeat;
          background-size: 18px;
          margin-right: 10px;
          vertical-align: sub;
        }

        &.chosed {
          &::before {
            background: url(../img/chosed.png) no-repeat;
            background-size: 18px;
          }
        }
      }
    }


    input {
      padding: 0 16px;
      width: 100%;
      height: 44px;
      font-size: 14px;
      background-color: #f8f8f8;
      border: 0;
      border-radius: 6px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    .plans {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .package-plan {
        color: #666666;
        font-size: 13px;
        border: 1px solid #cccccc;
        border-radius: 6px;
        width: 49%;
        display: inline-block;
        box-sizing: border-box;
        margin-bottom: 13px;
        text-align: left;
        padding: 6px 10px;
        line-height: 18px;

        &.chosed {
          background: #e6ffe6;
          border: 1px solid #43ac43;
          color: #43ac43;
          font-weight: bold;
        }
      }
    }

    .need-copy {
      display: flex;
      margin: 10px 0 20px;
      align-items: center;
      justify-content: space-between;

      p {
        display: inline-block;
        width: 80%;
        line-height: 17px;
        color: #999999;
        font-size: 12px;
      }

      &::after {
        content: "";
        display: inline-block;
        width: 38.5px;
        height: 23.5px;
        background: url(../img/unopen.png) no-repeat;
        background-size: 38.5px auto;
      }

      &.chosed {
        &::after {
          background: url(../img/opened.png) no-repeat;
          background-size: 38.5px auto;
        }
      }
    }

    .statement {
      position: relative;
      font-size: 11px;
      line-height: 20px;
      min-height: 40px;

      .docs-title {
        position: absolute;
        left: 26px;
        color: #999999;
        white-space: pre-wrap;

        .blue {
          color: #3682df;
        }
      }

      .statement-icon {
        position: absolute;
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../img/unchoose.png) no-repeat;
        background-size: 18px auto;

        &.chosed {
          background: url(../img/chosed.png) no-repeat;
          background-size: 18px auto;
        }
      }
    }
  }