@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
// @import "../../../../../common/qsc/less/common_nav.less";
@import "./_bg-wrapper.less";
@import "./_bottom-wrapper.less";
@import "./_claim-process.less";
@import "./_info-wrapper.less";
@import "./_alert-box.less";
@import "./_alert-terms-box.less";
@import "./_alert-unpaid-insurance.less";

input::-webkit-input-placeholder {
  /* placeholder颜色  */
  color: #cccccc;
  /* placeholder字体大小  */
  font-size: 14px;
  font-weight: normal;
  /* placeholder位置  */
  // text-align: right;
  /* placeholder字体样式  */
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

// .nav-wrapper {
//   position: unset;
//   height: 56px;
//   background: #0150AB;

//   .nav {
//     position: fixed;
//     z-index: 2000;
//     width: 100%;
//     top: 0;
//     left: 0;
//     background: #0150AB;
//     border-bottom: none;
//     color: #fff;
//     border-bottom: none !important;

//     .goBack {
//       background: url(../img/back.png) no-repeat !important;
//       background-size: 24px !important;
//     }
//   }
// }
.inAndroid {
  .home-btn {
    display: none !important;
  }
}

#gotIt {
  cursor: pointer;
}

.nav {
  background: #0150AB;
  border-bottom: none;
  color: #fff;
  border-bottom: none !important;

  .goBack {
    background: url(../img/back.png) no-repeat !important;
    background-size: 24px !important;

  }
}

.page-wrapper {
  position: relative;
  max-width: 620px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 100vh;
  // margin-top: -56px;

  .page-inner {
    padding-top: 56px;

    .wrapper {
      width: 100%;
      margin: 0 auto; // 首页banner

      .home-btn {
        position: fixed;
        z-index: 3;
        top: 70px;

        background: url(../img/home.png) no-repeat;
        width: 86px;
        height: 34px;
        background-size: 86px 34px;
      }


    }
  }
}