@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";

.page-wrapper {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;
    background: #F7FAFF;

    .page-inner {
        padding-top: 56px; // avatar
        .msg-detail-wrap{
            padding: 19px 16px;
            background: #fff;
            .msg-header{
                border-bottom: 1px solid #EAEAEA;
                .msg-title{
                    font-size: 16px;
                    font-weight: bold;
                }
                .msg-time{
                    margin-top: 8px;
                    margin-bottom: 16px;
                    color: #999;
                    font-size: 12px;
                }
            }
            .msg-detail{
                white-space: pre-line; //
                margin-top: 16px;
                line-height: 21px;
                color: #333;
                font-size: 14px;
            }
        }
        .bottom-btn-wrap{
            border-top: 1px solid #EAEAEA;
            font-size: 16px;
            font-weight: 600;
            position: fixed;
            bottom: -1px;
            left: 0;
            z-index: 2;
            width: 100%;
            background: #fff;
            .bottom-btn{
                padding: 8px 8px;
                height: 44px;
                .btn-content{
                    border-radius: 6px;
                    text-align: center;
                    color: #FFF;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 44px;
                    background: #43ac43;
                }
            }
        }
    }
}