 * {
   margin: 0;
   padding: 0;
 }

 html {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
   font-family: -apple-system-font, Helvetica Neue, Helvetica, Arial, sans-serif !important;

   // 无法选择文字
  //  -webkit-user-select: none;
  //  user-select: none
 }

 ul li {
   list-style: none;
 }

 a {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   text-decoration: none !important;
 }

 a,
 a:link,
 a:visited,
 a:hover,
 a:active {
   text-decoration: none !important;
   color: #666;
 }

 input,
 textarea {
   font-family: -apple-system-font, Helvetica Neue, Helvetica, Arial, sans-serif !important;
   border-style: none;

   &:focus {
     outline: none;
   }
 }

 //  andoid内
 .inAndroid {
   .nav-wrapper {
     display: none !important;
   }

   .page-inner {
     padding-top: 0 !important;
   }
 }

 .nav-wrapper {
   position: fixed;
   z-index: 2000;
   width: 100%;
   top: 0;
   left: 0;
   background-color: #fff;

   .nav {
     height: 56px;
     border-bottom: 1px solid #E0E0E0;
     line-height: 56px;

     .goBack {
       display: inline-block;
       width: 24px;
       height: 24px;
       background: url(./img/back2.png) no-repeat;
       background-size: 24px;
       margin: 0 20px;
       vertical-align: sub;
     }
   }

 }