@import "../../../common/qsc/less/loading.less";
@import "../../../common/qsc/less/toast.less";
@import "../../../common/qsc/less/common_nav.less";
// @import "../../../common/qsc/less/search.less";
// @import "../../../common/libs/swiper/swiper-4.3.3.min.css"; //swiper

ul li {
    list-style: none;
}

.Campaigns_List {
    padding-left: 0 !important;
    margin: 20px 0 80px !important;
}

.page-wrapper {
    position: relative;
    max-width: 630px;
    margin: 0 auto; // background-color: #fff;
    margin-top: -56px;

    .page-inner {
        padding-top: 56px;

        .wrapper {
            width: 100%;
            margin: 0 auto 0;
            background: #fff;

            img {
                width: 100%;
            }

            .insert-swiper {
                width: 100%;
                // height: 100px;
            }


            .description-wrapper {
                margin-top: 20px;
                padding: 0 16px;

                .description {
                    padding: 20px 16px;
                    border-radius: 6px;
                    background: #fff;
                    box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.1);
                    text-align: center;
                    font-size: 16px;
                    color: #666;

                    .campaignAmounts {
                        span {
                            color: #333;
                            font-weight: bold;
                            font-size: 16px;
                        }
                    }

                    .moneyAmounts {
                        margin-top: 16px;

                        span {
                            color: #333;
                            font-weight: bold;
                            font-size: 16px;
                        }
                    }

                    .descriptionContent {
                        font-size: 13px;
                        margin-top: 24px;
                        line-height: 21px;
                    }
                }


            }



            .campaign-wrapper {
                padding: 0 16px;

                .header-wrapper {
                    margin-top: 8px;
                }

                // .campaigns_list {
                //     margin-top: 8px;
                //     padding-bottom: 71px;

                //     li {
                //         margin-bottom: 20px;

                //         .campaign_card_wrapper {
                //             background: #fff;
                //             border-radius: 6px;
                //             /* conflicts */
                //             box-shadow: 0px 6px 14px 1px rgba(212, 227, 255, 1);

                //             /* conflicts */
                //             .campaign_card {
                //                 border-radius: 5px;
                //                 cursor: pointer;
                //                 /* conflicts */
                //                 position: relative;

                //                 /* conflicts */
                //                 .campaign_img_wrap {
                //                     position: absolute; // 时间标签
                //                     left: 0;
                //                     padding: 16px 10px;

                //                     .campaign_img {
                //                         background-size: cover; // .fade {
                //                         //     width: 100%;
                //                         //     height: 64px;
                //                         //     background: #000;
                //                         //     opacity: .6;
                //                         //     position: absolute;
                //                         //     bottom: 0;
                //                         //     border-radius: 0 0 5px 5px;
                //                         //     background: -moz-linear-gradient(top, transparent 0%, #000 100%);
                //                         //     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, #000));
                //                         //     background: -webkit-linear-gradient(top, transparent 0%, #000 100%);
                //                         //     background: -o-linear-gradient(top, transparent 0%, #000 100%);
                //                         //     background: -ms-linear-gradient(top, transparent 0%, #000 100%);
                //                         //     background: linear-gradient(to bottom, transparent 0%, #000 100%);
                //                         // }
                //                     }
                //                 }

                //                 // 项目信息
                //                 .campaign_info {
                //                     padding-right: 10px;

                //                     .right_part_top {

                //                         // conflict
                //                         .campaign_name {
                //                             padding: 10px 0 0 0;
                //                             overflow: hidden;
                //                             max-height: 32px;
                //                             line-height: 16px;
                //                             font-size: 14px; // hyphens: auto;
                //                             margin-top: 14px; // -moz-hyphens: auto;
                //                             // -ms-hyphens: auto;
                //                             // word-wrap: break-word;
                //                             // -webkit-hyphens: auto;
                //                             position: relative;

                //                             &.overflow::after {
                //                                 content: "...";
                //                                 position: absolute;
                //                                 bottom: 0;
                //                                 right: 0;
                //                                 padding-left: 10px; // background: -webkit-linear-gradient(left, transparent, #FFF 55%);
                //                                 // background: -o-linear-gradient(right, transparent, #FFF 55%);
                //                                 // background: -moz-linear-gradient(right, transparent, #FFF 55%);
                //                                 // background: linear-gradient(to right, transparent, #FFF 55%);
                //                             }

                //                             // conflict
                //                             .inner_name {
                //                                 color: #333;
                //                                 font-size: 14px;
                //                                 font-weight: bold;
                //                             }
                //                         }

                //                         .timeLeft {
                //                             display: inline-block;
                //                             margin-top: 3px;
                //                             height: 22px; // opacity: 0.9;
                //                             background-color: #F8F8F8;

                //                             .time_past_content {
                //                                 margin: 0 5px 0 5px;
                //                                 font-size: 11px;
                //                                 line-height: 22px;
                //                                 color: #999;
                //                             }
                //                         }
                //                     }

                //                     // 项目进度条
                //                     .campaign_progress {
                //                         // margin-top: 15px;
                //                         max-width: 100%;
                //                         background: #EAECEE;
                //                         border-radius: 30px;

                //                         .progress_bar {
                //                             overflow: hidden;
                //                             margin: 0;
                //                             max-width: 100%;
                //                             height: 3px;
                //                             border-radius: 30px;
                //                             background-color: #43AC43; // background: -moz-linear-gradient(left, #80E34B 0%, #80E34B 100%);
                //                         }
                //                     }

                //                     // 已筹集
                //                     .money-wrap {

                //                         // margin-top: 10px;
                //                         .title {
                //                             margin-top: 6px;
                //                             font-size: 12px;
                //                             line-height: 12px;
                //                             color: #999;

                //                             .money {
                //                                 color: #333;
                //                             }
                //                         }
                //                     }
                //                 }
                //             }

                //             .card_bottom {
                //                 position: relative;
                //                 border-radius: 0 0 6px 6px;
                //                 height: 44px;
                //                 background-color: #F7F6F9;
                //                 line-height: 44px;

                //                 .avatar-wrap {
                //                     display: inline-block;
                //                     border-radius: 50%;
                //                     vertical-align: middle;
                //                     margin-left: 10px;
                //                     width: 26px;
                //                     height: 26px; // background: url(../img/banner.jpg) no-repeat;
                //                     background-size: cover;
                //                 }

                //                 .user-name {
                //                     margin-left: 3px;
                //                     display: inline-block;
                //                     font-size: 12px;
                //                     color: #333;
                //                     vertical-align: middle;
                //                 }

                //                 .enterprise-wrap {
                //                     border-radius: 50%;
                //                     margin-left: 4px;
                //                     display: inline-block;
                //                     vertical-align: middle;
                //                     width: 17px;
                //                     height: 17px;
                //                     background: url(../img/enterprise_icon.png) no-repeat;
                //                     background-size: cover;
                //                 }

                //                 .verified_wrap {
                //                     margin-left: 4px;
                //                     vertical-align: middle;
                //                     display: inline-block;
                //                     width: 59px;
                //                     height: 14px;
                //                     background: url(../img/verified_icon_new.png) no-repeat;
                //                     background-size: cover;
                //                 }

                //                 .finished-wrap {
                //                     position: absolute;
                //                     width: 70px;
                //                     height: 70px;
                //                     right: 10px;
                //                     bottom: 0;

                //                     &.en {
                //                         background: url(../img/finished.png) no-repeat;
                //                         background-size: 70px;
                //                     }

                //                     &.id {
                //                         background: url(../img/finished_id.png) no-repeat;
                //                         background-size: 70px;
                //                     }
                //                 }
                //             }

                //             @media screen and (min-width: 0) {
                //                 .campaign_card {
                //                     padding-left: 128px;
                //                     height: 127px;

                //                     .campaign_img {
                //                         width: 107px;
                //                         height: 107px;
                //                     }

                //                     .campaign_info {
                //                         .right_part_top {
                //                             min-height: 55px;
                //                             max-height: 58px;

                //                             .campaign_name {
                //                                 padding: 12px 0 0 0;
                //                             }
                //                         }

                //                         .campaign_progress {
                //                             margin-top: 18px;
                //                         }

                //                         .money-wrap {
                //                             margin-top: 8px;
                //                         }
                //                     }
                //                 }
                //             }

                //             @media screen and (min-width: 320px) {
                //                 .campaign_card {
                //                     padding-left: 128px;
                //                     height: 133px;

                //                     .campaign_img {
                //                         width: 107px;
                //                         height: 101px;
                //                     }

                //                     .campaign_info {
                //                         .right_part_top {
                //                             min-height: 55px;
                //                             max-height: 58px;

                //                             .campaign_name {
                //                                 padding: 12px 0 0 0;
                //                             }
                //                         }

                //                         .campaign_progress {
                //                             margin-top: 18px;
                //                         }

                //                         .money-wrap {
                //                             margin-top: 8px;
                //                         }
                //                     }
                //                 }
                //             }

                //             @media screen and (min-width: 375px) {
                //                 .campaign_card {
                //                     padding-left: 147px;
                //                     height: 152px;

                //                     .campaign_img {
                //                         width: 126px;
                //                         height: 120px;
                //                     }

                //                     .campaign_info {
                //                         .right_part_top {
                //                             min-height: 55px;
                //                             max-height: 58px;

                //                             .campaign_name {
                //                                 padding: 14px 0 0 0;
                //                             }
                //                         }

                //                         .campaign_progress {
                //                             margin-top: 39px;
                //                         }

                //                         .money-wrap {
                //                             margin-top: 10px;
                //                         }
                //                     }
                //                 }
                //             }

                //             @media screen and (min-width: 414px) {
                //                 .campaign_card {
                //                     padding-left: 162px;
                //                     height: 167px;

                //                     .campaign_img {
                //                         width: 141px;
                //                         height: 135px;
                //                     }

                //                     .campaign_info {
                //                         .right_part_top {
                //                             min-height: 55px;
                //                             max-height: 58px;

                //                             .campaign_name {
                //                                 padding: 14px 0 0 0;
                //                             }
                //                         }

                //                         .campaign_progress {
                //                             margin-top: 53px;
                //                         }

                //                         .money-wrap {
                //                             margin-top: 10px;
                //                         }
                //                     }
                //                 }
                //             }

                //             @media screen and (min-width: 768px) {
                //                 .campaign_card {
                //                     padding-left: 237px;
                //                     height: 242px;

                //                     .campaign_img {
                //                         width: 216px;
                //                         height: 210px;
                //                     }

                //                     .campaign_info {
                //                         .right_part_top {
                //                             min-height: 55px;
                //                             max-height: 58px;

                //                             .campaign_name {
                //                                 padding: 14px 0 0 0;
                //                             }
                //                         }

                //                         .campaign_progress {
                //                             margin-top: 123px;
                //                         }

                //                         .money-wrap {
                //                             margin-top: 10px;
                //                         }
                //                     }
                //                 }
                //             }

                //             @media screen and (min-width: 1024px) {
                //                 .campaign_card {
                //                     padding-left: 237px;
                //                     height: 242px;

                //                     .campaign_img {
                //                         width: 216px;
                //                         height: 210px;
                //                     }

                //                     .campaign_info {
                //                         .right_part_top {
                //                             min-height: 55px;
                //                             max-height: 58px;

                //                             .campaign_name {
                //                                 padding: 14px 0 0 0;
                //                             }
                //                         }

                //                         .campaign_progress {
                //                             margin-top: 123px;
                //                         }

                //                         .money-wrap {
                //                             margin-top: 10px;
                //                         }
                //                     }
                //                 }
                //             }
                //         }
                //     }
                // }

                .share-donate {
                    border-top: 1px solid #EAEAEA;
                    font-size: 16px;
                    font-weight: 600; // transition: .4s;
                    position: fixed; // top: 56px;
                    bottom: 0;
                    left: 0;
                    z-index: 2;
                    width: 100%;
                    background: #fff; // transition: .4s;

                    .share-donate-inner {
                        padding: 8px 16px;

                        // &::after {
                        //     display: block;
                        //     content: '';
                        //     clear: both;
                        // }



                        .share {
                            // margin-left: 2.7%;
                            display: inline-block;
                            height: 44px;
                            width: 48%;
                            line-height: 44px;
                            text-align: center;
                            color: #43AC43;
                            border: 1px solid #43AC43;
                            border-radius: 6px;
                            box-sizing: border-box;
                            cursor: pointer;

                            &.hide-donate-all {
                                width: 100%;
                                color: #fff;
                                background-color: #43AC43;
                            }

                            span {
                                position: relative;


                            }

                        }

                        .donate {
                            // margin-right: 2.7%;
                            height: 44px;
                            width: 48%;
                            line-height: 44px;
                            text-align: center;
                            color: #fff;
                            background-color: #43AC43;
                            border-radius: 6px;
                            float: right;
                            cursor: pointer;

                            &.disabled {
                                background-color: #cccccc;
                                color: #7f7f7f;
                            }
                        }

                        .unable-donate {
                            margin-right: 2.7%;
                            background-color: #CCC;
                            height: 44px;
                            width: 70%;
                            line-height: 44px;
                            text-align: center;
                            color: #fff;
                            border-radius: 6px;
                            float: right;
                        }
                    }
                }
            }
        }
    }
}