@import "../../../common/qsc/less/loading.less";
@import "../../../common/qsc/less/toast.less";
@import "../../../common/qsc/less/common_nav.less";
@import "../../../common/qsc/less/search.less";
@import "../../../common/libs/swiper/swiper-4.3.3.min.css"; //swiper
@import "./_alert-box.less"; //swiper
@import "../../../common/promoPopup/less/main.less"; //swiper
// @import "./_campaign-list.less"; //campaign list

.grecaptcha-badge { visibility: hidden; }

ul li {
    list-style: none;
}

.nav-wrapper {
    border-bottom: none !important;
}

.page-wrapper {
    position: relative;
    max-width: 630px;
    margin: 0 auto; // background-color: #fff;
    margin-top: -56px;

    .page-inner {
        padding-top: 56px;

        .wrapper {
            width: 100%;
            margin: 0 auto 0;
            background: #fff;

            .insert-swiper {
                margin: 0 16px 0;
                box-sizing: border-box;
                border-radius: 6px;
                overflow: hidden;
                background: url(../img/loading_images.png ) no-repeat center;
                background-size: cover;
                overflow: hidden;
            }

            img {
                width: 100%;
            }

            /* swiper */
            .swiper-container {
                // border-radius: 6px;
                // overflow: hidden;

                .swiper-slide {
                    width: 100%;

                    .img-bg {
                        width: 100%;
                        overflow: hidden;

                        .peduli-banner {
                            border-radius: 6px;
                            overflow: hidden;
                            width: 100%;
                            display: block;
                        }
                    }
                }

                .swiper-pagination {
                    // display: inline-block;
                    // width: 100px;
                    // position: absolute;
                    left: initial;
                    right: 10px;
                    bottom: 4px;
                    // width: 50px;
                    width: auto;

                    .swiper-pagination-bullet {
                        border-radius: 50%;
                        background-color: #fff;
                        width: 5px;
                        height: 5px;
                        opacity: 0.5;

                        &.swiper-pagination-bullet-active {
                            opacity: 1;
                            background: #43AC43;
                        }
                    }

                    // font-size: 11px;
                    // width: 40px;
                    // height: 19px;
                    // line-height: 19px;
                    // left: 100%;
                    // margin-left: -52px;
                    // color: #fff;
                    // z-index: 11;
                }
            }

            // .start-consult-wrapper {
            //     padding: 0 16px 16px;
            //     display: flex;
            //     justify-content: space-between;

            //     .btn-wrapper {
            //         width: 47%;
            //         background-color: #fff;
            //         border-radius: 6px;
            //         padding: 10px 0;
            //         display: inline-block;
            //         box-shadow: 0px 8px 16px 0 #E7EBF8;
            //         height: 24px;
            //         text-align: center;

            //         .btn-content {
            //             display: inline-block;
            //             font-size: 14px;
            //             font-weight: bold;
            //             color: #43AC43;
            //             vertical-align: middle;
            //         }

            //         .btn-icon {
            //             display: inline-block;
            //             vertical-align: middle; // margin-right: 5px;

            //             &.btn-icon-left {
            //                 width: 24px;
            //                 height: 24px;
            //                 background: url(../img/initiate_logo.png) no-repeat;
            //                 background-size: 24px 24px;
            //             }

            //             &.btn-icon-right {
            //                 margin-right: 5px;
            //                 width: 24px;
            //                 height: 24px;
            //                 background: url(../img/whatsapp_logo.png) no-repeat;
            //                 background-size: 24px 24px;
            //             }
            //         }
            //     }
            // }

            @media screen and (max-width: 365px) {
                // .start-consult-wrapper {
                //     justify-content: space-between;

                //     .btn-wrapper {
                //         padding: 10px 0;
                //         height: 22px;

                //         .btn-content {
                //             font-size: 12px;
                //             font-weight: bold;
                //             vertical-align: middle;
                //         }

                //         .btn-icon {
                //             vertical-align: middle; // margin-right: 3px;

                //             &.btn-icon-left {
                //                 width: 20px;
                //                 height: 20px;
                //                 background: url(../img/initiate_logo.png) no-repeat;
                //                 background-size: 20px;
                //             }

                //             &.btn-icon-right {
                //                 width: 20px;
                //                 height: 20px;
                //                 background: url(../img/whatsapp_logo.png) no-repeat;
                //                 background-size: 20px;
                //             }
                //         }
                //     }
                // }
            }

            // .gtry-entrance {
            //     padding: 0 16px;

            //     .gtry-entrance-bg {
            //         // height: 62px;
            //         padding: 9px 30px 7px 85px;
            //         border-radius: 60px;
            //         background-color: #FFF2E9;
            //         position: relative;
            //         margin-top: 22px;
            //         margin-bottom: 20px;

            //         // text-align: justify;
            //         // .bg-img{
            //         //     display: inline-block;
            //         //     background: url(../img/gtry-bg.png) no-repeat;
            //         //     background-size: contain;
            //         //     width: 70px;
            //         //     height: 70px;
            //         // }


            //         &::before {
            //             display: inline-block;
            //             content: '';
            //             background: url(../img/gtry-bg.png) no-repeat;
            //             background-size: contain;
            //             width: 70px;
            //             height: 70px;
            //             position: absolute;
            //             top: 50%;
            //             margin-top: -35px;
            //             left: 0;
            //         }

            //         .entrance-content {
            //             font-size: 13px;
            //             line-height: 18px;
            //             // font-weight: 600;


            //             span {
            //                 // display: inline-block;
            //                 // margin-left: 10px;
            //                 color: #43AC43;
            //             }

            //             // display: inline-block;

            //         }
            //     }

            // }

            // 入口列表
            .list-buttons {
                border-bottom: 10px solid #F5F5F5;

                .list-buttons-inner {
                    padding: 20px 0;
                    display: flex;
                    justify-content: space-between;
                    font-size: 10px;
                    color: #666666;

                    .button {
                        width: 25%;

                        .button-icon {
                            width: 51px;
                            height: 51px;
                            background: url(../img/list_01.png) no-repeat;
                            background-size: 51px;
                            margin: 0 auto 7px;
                        }

                        &.button-2 {
                            .button-icon {
                                background: url(../img/list_02.png) no-repeat;
                                background-size: 51px;
                            }
                        }

                        &.button-3 {
                            .button-icon {
                                background: url(../img/list_03.png) no-repeat;
                                background-size: 51px;
                            }
                        }

                        &.button-4 {
                            .button-icon {
                                background: url(../img/list_04.png) no-repeat;
                                background-size: 51px;
                            }
                        }

                        &.button-4_1 {
                            .button-icon {
                                background: url(../img/list_04_1.png) no-repeat;
                                background-size: 51px;
                            }
                        }

                        .button-title {
                            text-align: center;
                        }
                    }
                }

            }

            .little-banner {

                .littel-banner-inner {
                    padding: 16px;
                    border-bottom: 10px solid #F5F5F5;

                    p {
                        font-size: 16px;
                        font-weight: bold;
                        margin-bottom: 16px;
                    }

                    a {
                        .img-wrapper {
                            border-radius: 6px;
                            overflow: hidden;
                            background: url(../img/loading_images.png ) no-repeat center;
                            background-size: cover;
                        }

                        .img {
                            display: block;
                        }
                    }

                }
            }

            .monitor {
                padding: 20px 16px;

                .content-wrapper {
                    text-align: center;

                    .title-wrapper {
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 10px;

                        span {
                            color: #333333;
                        }
                    }

                    .content {
                        width: 100%;
                        height: 21px;
                        background: url(../img/monitor.png) no-repeat;
                        background-size: 300px 21px;
                    }
                }
            }

            .about-us-wrapper {
                padding: 0 16px 20px;
                border-bottom: 10px solid #F5F5F5;

                .content-wrapper {
                    text-align: center;

                    .title-wrapper {
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 10px;

                    }

                    .about-img {
                        width: 100%;
                        height: 135px;
                        background: url(../img/aboutus.png) no-repeat;
                        background-size: 260px 135px;
                        background-position: center;
                        margin-bottom: 10px;
                    }

                    .content {
                        font-size: 13px;
                        color: #666666;
                        text-align: left;
                        line-height: 20px;
                        margin-bottom: 10px;
                    }

                    .btn-wrapper {
                        text-align: center;

                        p {
                            line-height: 30px;
                            font-size: 14px;
                            background: #ECF6EC;
                            height: 30px;
                            border-radius: 6px;
                            text-align: center;
                            color: #43AC43;
                            display: inline-block;
                            padding: 0 16px;

                            &::after {
                                content: "";
                                background: url(../img/right.png) no-repeat;
                                background-size: 5px 8px;
                                width: 5px;
                                height: 8px;
                                display: inline-block;
                                vertical-align: middle;
                                margin-left: 7px;
                            }
                        }
                    }
                }
            }



            .campaign-wrapper,
            .urgent-campaigns {
                // padding: 0 16px 17px;
                border-bottom: 10px solid #F5F5F5;

                &.campaign-wrapper {
                    padding-bottom: 17px;
                }

                &.urgent-campaigns {
                    padding: 0;
                }

                .header-wrapper {
                    margin: 16px 0;
                    padding-left: 16px;

                    .header-title {
                        color: #333;

                        p {
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
                }

                //   ._campaigns_list.less

                .view-all-btn {
                    text-align: center;

                    p {
                        line-height: 30px;
                        font-size: 14px;
                        background: #ECF6EC;
                        height: 30px;
                        border-radius: 6px;
                        text-align: center;
                        color: #43AC43;
                        display: inline-block;
                        padding: 0 16px;

                        &::after {
                            content: "";
                            background: url(../img/right.png) no-repeat;
                            background-size: 5px 8px;
                            width: 5px;
                            height: 8px;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 7px;
                        }
                    }
                }
            }

            .howToStart-wrapper {
                margin-top: 20px;
                position: relative;

                .line-wrapper {
                    position: relative;

                    .line {
                        &.top-line {
                            position: absolute;
                            top: 10px;
                            height: 1px;
                            width: 100%;
                        }

                        &.left-line {
                            position: absolute;
                            left: 10px;
                            height: 270px;
                            width: 1px;
                        }

                        &.right-line {
                            position: absolute;
                            right: 10px;
                            height: 270px;
                            width: 1px;
                        }

                        background:#E9F1FF;
                        overflow:hidden;
                    }
                }

                .howToStart-content {
                    position: relative;
                    padding: 10px 16px 20px;
                    border-radius: 6px;
                    border-bottom: 10px solid #F5F5F5;

                    .title-wrapper {

                        // text-align: center;
                        .title-inner {
                            padding: 0 31px;

                            .title {
                                position: relative;

                                .title-content {
                                    width: 100%;
                                    position: absolute;
                                    bottom: 3px;

                                    p {
                                        text-align: center;
                                        font-size: 14px;
                                        font-weight: bold;
                                        color: #43AC43;
                                    }
                                }

                                .title-fade {
                                    height: 12px;
                                    width: 100%;
                                    background: #E4F9E4;
                                    border-radius: 8px;
                                }
                            }
                        }
                    }

                    .tips-wrapper {
                        margin-top: 10px;
                        // padding: 0 27px;

                        p {
                            font-size: 14px;
                            line-height: 16px;
                            color: #333;

                            span {
                                display: inline-block;
                                width: 88%;
                                vertical-align: middle;
                                padding-bottom: 17px;
                            }

                            .num {
                                color: #9EC99E;
                                font-size: 30px;
                                font-weight: bold;
                                font-family: initial;
                                width: 8%;
                            }

                            .num_a {
                                border-bottom: 1px solid #EEE;

                                &:last-child {
                                    border-bottom: none;
                                }
                            }

                            &:last-child {
                                .num_a {
                                    border-bottom: none;
                                }
                            }
                        }



                        .bottom-line {
                            height: 1px;
                            width: 100%;
                            background: #E9F1FF;
                            overflow: hidden;
                        }
                    }

                    .start-btn-wrapper {
                        box-shadow: 0px 6px 14px -3px #d4e3ff;
                        margin: 20px auto 0;
                        width: 200px;
                        height: 44px;
                        background-color: #43ac43;
                        border-radius: 6px;
                        text-align: center;

                        p {
                            color: #fff;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 44px;
                        }
                    }

                    .tips-left {
                        position: absolute;
                        background: url(../img/TipsLeft.png) no-repeat;
                        background-size: 45px 93px;
                        width: 45px;
                        height: 93px;
                        bottom: 7px;
                        left: 0;
                    }

                    .tips-right {
                        position: absolute;
                        background: url(../img/TipsRight.png) no-repeat;
                        background-size: 69px 80px;
                        width: 69px;
                        height: 80px;
                        right: 7px;
                        bottom: 20px;
                    }
                }

            }

            .footer {
                // margin-top: 52px;
                padding: 20px 8% 85px;
                background-color: #fff;

                .logo {
                    margin: auto;
                    width: 40px;
                    height: 40px;
                    background: url(../img/peduli_logo.png) no-repeat;
                    background-size: contain;
                    margin-bottom: 10px;
                }

                .slogan-wrap {
                    text-align: center;
                    padding-bottom: 10px;
                    color: #43AC43;
                    font-size: 14px;
                    line-height: 21px;

                    p {
                        padding-top: 14px
                    }
                }

                .third-part-wrap {
                    margin: auto;
                    display: flex;
                    justify-content: space-between; // width: 200px;

                    .icon-wrap {
                        margin-top: 16px; // display: inline-block;
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        background: #fff;

                        .icon {
                            width: 36px;
                            height: 36px;

                            &.wa-icon {
                                background: url(../img/wa_icon.png) no-repeat;
                                background-size: cover;
                            }

                            &.fb-icon {
                                background: url(../img/fb_icon.png) no-repeat;
                                background-size: cover;
                            }

                            &.tw-icon {
                                background: url(../img/twitter_icon.png) no-repeat;
                                background-size: cover;
                            }

                            &.ins-icon {
                                background: url(../img/ins_icon.png) no-repeat;
                                background-size: cover;
                            }

                            &.utube-icon {
                                background: url(../img/youTube_icon.png) no-repeat;
                                background-size: cover;
                            }

                            &.blog-icon {
                                background: url(../img/blog_icon.png) no-repeat;
                                background-size: cover;
                            }
                        }
                    }
                }
            }

            // .copyright {
            //     height: 74px;

            //     p {
            //         line-height: 74px;
            //         text-align: center;
            //         color: #CCCCCC;
            //         font-size: 14px;
            //     }
            // }

        }
    }
}

#fc_frame,
#fc_frame.fc-widget-normal {
    bottom: 120px !important;
}