@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";

.page-wrapper {
    // position: relative;
    max-width: 620px;
    margin: 0 auto;
    min-height: 100vh;
    margin-top: -56px;
    background: #FFF;

    .page-inner {
        padding-top: 56px;
        overflow: hidden;
        // padding-bottom: 60px;

        .finish-icon {
            margin: 160px auto 0;
            width: 57px;
            height: 67px;
            background: url(../img/finish.png) no-repeat;
            background-size: 57px 67px;
        }
        .content{
            margin-top: 21px;
            text-align: center;
            font-size: 18px;
            color: #464646;
            font-weight: bold;
        }

    }
    .next-btn-wrap{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        text-align: center;
        background: #fff;
        .next-btn{
            padding: 8px 16px;
            p{
                border-radius: 6px;
                width: 100%;
                background: #43ac43;
                line-height: 44px;
                color: #fff;
                font-weight: bold;
            }
        }
    }
}