.T {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}

.t {
    font-size: 16px;
    margin: 20px 0 10px;
    font-weight: 700;
}

.choose {
    font-size: 12px;
    margin-bottom: 10px;
    display: flex;
    // &::after {
    //     content: "";
    //     display: block;
    //     clear: both;
    // }
    justify-content: space-between;

    .amount-card {
        font-size: 14px;
        color: #666;
        border: 1px solid #ccc;
        height: 41px;
        line-height: 41px;
        text-align: center;
        width: 31%;
        // margin: 0 1%;
        border-radius: 3px;
        // box-sizing: border-box;
        cursor: pointer;
        // float: left;

        // &.c-1,
        // &.c-4 {
        //     margin-left: 0;
        // }

        // &.c-3,
        // &.c-6 {
        //     margin-right: 0;
        // }

        &.c-3 {
            position: relative;

            .recommond {
                position: absolute;
                font-size: 9px;
                width: 80px;
                height: 12px;
                line-height: 12px;
                right: 0;
                top: 0;
                background: #F1F1F1;
                color: #999;
                border-radius: 0 3px 0 3px;

            }
        }

        &.chosed {
            position: relative;
            border: 1px solid #43AC43;
            background: #43ac43;
            color: #fff;
            font-weight: bold;

            .recommond {
                font-weight: normal;
                position: absolute;
                font-size: 9px;
                width: 80px;
                height: 12px;
                right: 0;
                top: 0;
                background: #fff;
                color: #43ac43;
                border-radius: 0 3px 0 3px;

            }

            // &::after {
            //     position: absolute;
            //     content: '';
            //     width: 18px;
            //     height: 18px;
            //     // background: url(../img/chosed.png) no-repeat;
            //     background-size: 18px 18px;
            //     top: 0;
            //     right: 0;
            // }
        }
    }
}

.target_amount_wrapper {
    margin-top: 16px;
    position: relative;

    .total_amount {

        // @diff: 53px;
        padding: 0 16px 0 53px;
        // width: calc(~"100% - 69px");
        box-sizing: border-box;
        width: 100%;
        height: 44px;
        color: #43ac43;
        font-size: 14px;
        font-weight: 600;
        background-color: #F8F8F8;
        border: 0;
        border-radius: 6px;
    }

    .target_amount_Rp {
        line-height: 44px;
        font-size: 14px;
        position: absolute;
        color: #666;
        top: 0;
        left: 16px;
    }
}

.target_amount_tips {
    margin-top: 8PX;
    font-size: 12px;
    line-height: 12px;
    color: #999999;
    line-height: 16px;

    &.changeRed {
        color: #FF6100;
    }
}

.minimal_amount {
    margin-top: 4PX;
    font-size: 12px;
    line-height: 12px;
    color: #999999;
    line-height: 16px;

    &.changeRed {
        color: #FF6100;
    }
}

.rec-show {
    margin-top: 24px;
    // background-color: #F7FAFF;
    display: none;

    // recommendationWrapper
    .recommendationWrapper {
        // padding: 0 16px 20px;
        background-color: #fff;
        padding: 0 16px;

        p {
            font-size: 16px;
            // font-weight: bold;
            line-height: 20px;
            margin-bottom: 16px;
        }

        .recommendationList {
            margin-bottom: 20px;
        }
    }

    .amount-show {
        display: none;
        padding: 20px 16px;
        border-top: 10px solid #F8F8F8;
        border-bottom: 10px solid #F8F8F8;

        .amount-and-fee {
            font-size: 14px;
            color: #333333;
            background: #fff;
            margin-top: 10px;
            // padding: 16px;

            .a-common {
                margin-top: 16px;

                &:first-child {
                    margin-top: 0;
                }

                &.recommendationAmount {
                    margin-top: 16px;

                    &.show {
                        display: block;
                    }
                }

                .right {
                    color: #333333;
                    float: right;
                }
            }

            .recommendationAmountList {
                display: none;
            }
        }


    }

    .total-price-wrap {
        // margin-top: 10px;
        height: 52px;
        line-height: 52px;
        padding: 0 16px;
        // background-color: #F7FAFF;
        border-bottom: 10px solid #F8F8F8;

        .in {
            // padding: 16px;
            background: #fff;

            .total {
                font-weight: bold;
                font-size: 20px;
            }

            .price {
                float: right;
                color: #43ac43;
                font-size: 16px;
            }
        }


    }

}