.qurban-wrap{
    .qurban-title{
        font-size: 16px;
        font-weight: bold;
        // margin-bottom: 16px;

    }

    .list-items-wrap-qurban{
        margin-top: 16px;
        width: 100%;
            height: 75px;
            border: 1px solid #CCC;
            border-radius: 6px;
        &.chose{
            border: 1px solid #43ac43;
            background-color: #E6FFE6;
            position: relative;

            .items-detail{
                color: #43ac43;

            }
            &::after{
                position: absolute;
                right: 0;
                top: 0;
                content: '';
                width: 27px;
                height: 18px;
                border-radius: 0 0 0 6px;
                // background-color: #43ac43;
                background: url(../img/select-mini.png) no-repeat;
                background-size: 27px 18px;
            }
        }

        .qurban-items{
            // width: 100%;
            // height: 75px;
            // border: 1px solid #CCC;
            // border-radius: 6px;

            
            .items-icon{
                // background-color: #43ac43;
                background-size: 75px 70px;
                height: 75px;
                width: 91px;
                display: inline-block;
                vertical-align: middle;
                background-position: 50% 50%;
            }
            .items-detail {
                display: inline-block;
                vertical-align: middle;
                margin-left: 8px;
                font-size: 16px;
                color: #666;
                line-height: 24px;
                .items-price-wrap{
                    span{
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .list-items-wrap-package{
        display: flex;
        align-items: center;
        margin-top: 16px;
        width: 100%;
        height: 90px;
        border: 1px solid #CCC;
        border-radius: 6px;
        box-sizing: border-box;        
        padding: 0 20px;

        &.chose{
            border: 1px solid #43ac43;
            background-color: #E6FFE6;
            position: relative;

            .items-detail{
                color: #43ac43;

            }
            &::after{
                position: absolute;
                right: 0;
                top: 0;
                content: '';
                width: 27px;
                height: 18px;
                border-radius: 0 0 0 6px;
                // background-color: #43ac43;
                background: url(../img/select-mini.png) no-repeat;
                background-size: 27px 18px;
            }
        }
            
        .items-icon-0 {
            width: 45px;
        }
    
        .items-icon-1 {
            width: 65px;
        }
    
        .items-icon-2 {
            width: 70px;
        }
    
        .items-icon-3 {
            width: 80px;
        }

        .items-detail {
            display: inline-block;
            vertical-align: middle;
            margin-left: 18px;
            font-size: 16px;
            color: #666;
            line-height: 24px;
            .items-price-wrap{
                span{
                    font-weight: bold;
                }
            }
        }
    }

    .wrap-count {
        margin-top: 40px;
        margin-bottom: 25px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        
        .btn-count-min,
        .btn-count-plus {
            width: 35px;
            height: 35px;
            border: 1px solid #ccc;
            color: #43ac43;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            border-radius: 4px;
        }

        .btn-count-min {
            span {
                margin-top: -4px;
                font-size: 26px;            
            }
        }

        .btn-count-plus {
            span {
                margin-top: -5px;
                font-size: 26px;
            }
        }

        .count {
            padding: 0 25px;
            font-weight: bold;
            font-size: 18px;
        }

    }

    .wrap-campaign-package-count {
        display: none;
    }

    .wrap-total {
        background-color: #EEF8EE;
        color: #43AC43;
        padding: 20px 16px;
        border-radius: 8px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    .disclaimer {
        font-size: 12px;
        color: #43AC43;
        text-align: center;
        margin-top: 10px;
    }

}