// @import "/Users/richyoung/qsc/Indonesia-h5/dev/common/qsc/less/_uploader";
// @import "../../../common/qsc/less/uploader.less";
@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";
// @import "../../../../common/qsc/less/common_footer.less";
// @import "../../../../common/qsc/less/alert-box.less"; //弹窗
@import "./_zakatIntention.less";
@import "./_qurbanItems.less";
@import "./_commonDonate.less";

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    font-weight: normal;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCC;
    /* placeholder字体大小  */
    font-size: 14px;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;
    padding-bottom: 80px;

    .page-inner {
        padding-top: 56px;

        .wrapper {
            margin-top: 16px;
            padding: 0 16px;

            .campaignCard {
                background-color: #F8F8F8;
                padding: 20px 17px;
                border-radius: 6px;
                margin-bottom: 20px;

                .campaign-title {
                    p {
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 18px;
                    }
                }

                .campaigner {
                    margin: 10px 0;

                    .avatar {
                        width: 24px;
                        height: 24px;
                        // background: yellowgreen;
                        border-radius: 50%;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .nick-name {
                        font-size: 14px;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .campaign {
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;
                        width: 76px;
                        height: 18px;
                        text-align: center;
                        line-height: 18px;

                        &.id {
                            width: 105px;

                            .bg {
                                width: 105px;
                            }
                        }

                        .bg {
                            background-color: #45AD45;
                            opacity: 0.1;
                            position: absolute;
                            z-index: 1;
                            width: 76px;
                            height: 18px;
                        }

                        p {
                            position: absolute;
                            z-index: 2;
                            color: #45AD45;
                            font-size: 11px;
                            width: 100%;
                        }
                    }
                }

                .tips {
                    color: #999999;
                    font-size: 12px;
                    line-height: 17px;

                    .p {
                        margin-bottom: 20px;

                        &.italic {
                            font-style: italic;
                        }
                    }
                }

            }

            .donateMoney {}




        }




        .nextBtnWrap {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 92%;
            padding: 8px 4%;
            background: #fff;
            border-top: 6px solid #F8F8F8;            

            .nextBtn {
                // width: 100%;
                // height: 60px;
                // position: fixed;
                // bottom: 16px;
                // left: 0;
                // padding: 8px 15px;
                // box-sizing: border-box;
                // background: #fff;

                .next {
                    cursor: pointer;
                    text-align: center;
                    color: #FFFFFF;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 44px;
                    background-color: #43AC43;
                    border-radius: 6px;
                    width: 100%;
                    margin: 0 auto;
                    box-sizing: border-box;
                }
            }
        }


    }
}