@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";
@import "../../../../common/qsc/less/upload/_upload.less";
@import "../../../../common/libs/fancybox/jquery.fancybox-thumbs.css"; //fancybox
@import "../../../../common/libs/fancybox/jquery.fancybox.css"; //fancybox


.ql-container {
    height: 300px !important;
}

//  关闭close按钮
a.fancybox-item.fancybox-close {
    display: none;
}

textarea::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px; // background:url('../img/banner.jpg');

    .page-inner {
        padding-top: 56px;

        .wrapper {
            margin: 30px 0 45px;
            padding: 0 16px;

            .story {
                margin-top: 40px;
                font-size: 20px;
                font-weight: bold;
                line-height: 20px;
            }

            .story_area {
                margin-top: 16px;
                position: relative;

                textarea {
                    resize: none;
                    width: 90%;
                    height: 140px;
                    padding: 5%;
                    background-color: #F8F8F8;
                    border: 0;
                    border-radius: 6px;
                    font-size: 14px;
                    line-height: 28px;
                    overflow: auto;
                }
            }

            .textarea-counter {
                color: #999999;
                font-size: 14px;
                position: absolute;
                right: 5px;
            }

            .campaign_imgs {
                margin-top: 40px;
                margin-bottom: 8px;
                font-size: 20px;
                font-weight: bold;
            }

            .addCampai_tips {
                font-size: 12px;
                line-height: 12px;
                color: #999999;
                margin-top: 20px;
            }

            .warningTips {
                margin-top: 40px;
                font-size: 12px;
                line-height: 18px;
                color: #999999;

                span {
                    color: #FF6100;
                    font-weight: bold;
                }
            }
        }

        .saveBtn {
            border-top: 1px solid #EAEAEA;
            padding: 8px 16px;
            box-sizing: border-box;
            max-width: 640px;
            width: 100%;
            bottom: 0;
            z-index: 100;
            text-align: center;

            p {
                max-width: 640px;
                width: 100%;
                height: 44px;
                bottom: 0;
                z-index: 100;
                background-color: #43AC43;
                text-align: center;
                border-radius: 6px;
                cursor: pointer;
                display: inline-block;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: bold;
                line-height: 44px;
            }
        }
    }
}