@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";
// @import "../../../../../common/qsc/less/common_footer.less";
@import "../../../../../common/qsc/less/alert-box.less"; //弹窗
// @import "../../../../../common/qsc/less/GTRY-bankList.less";
@import "./_relationList.less";
@import "../../../../../common/qsc/less/GTRY_alertBoxTpl.less";

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    font-weight: normal;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.alert-bank {
    z-index: 3001 !important;

    .content {
        position: fixed !important;
        background: #fff !important;
        width: 90% !important;
        margin: 0 !important;
        top: 50% !important;
        transform: translate(-50%, -50%) !important;
        left: 50% !important;
        z-index: 3001 !important;
    }
}

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;

    .page-inner {
        padding-top: 56px;

        .wrapper {
            width: 100%;
            margin: 0 auto; // 首页banner
            .introduction-wrap{
                margin-top: 76px;

                // padding: 4px 35px;
                text-align: center;
                .introduction-title{
                    font-size: 20px;
                    font-weight: bold;
                }
                .introduction-content{
                    padding: 0 35px;

                    font-size: 12px;
                    line-height: 18px;
                    color: #999;
                }
            }

            .step-introducer {
                padding: 10px 11px;
                display: flex;
                justify-content: space-between;

                .dash-line {

                    display: inline-block;
                    // border-top: 1px dashed #D8D8D8;
                    border-bottom: 1px dashed #D8D8D8;
                    height: 18px;
                    width: 25%;
                    vertical-align: middle;
                }

                .step-wrap {

                    display: inline-block;
                    vertical-align: middle;
                    width: 100px;

                    .icon-wrap {

                        // margin: auto;
                        .icon-inner {
                            position: relative;
                            .finish {
                                position: absolute;
                                top: 12px;
                                left: 10px;
                                background: url(../img/finish.png) no-repeat;
                                width: 10px;
                                height: 7px;
                                background-size: 10px 7px;
                            }
                        }

                    }

                    .step-content {
                        text-align: center;
                        font-size: 12px;
                        line-height: 14px;
                        margin-top: 7px;

                        &.focus {

                            color: #43ac43;

                        }

                        &.un-focus {

                            color: #999;
                        }

                    }

                    &.focus {
                        .icon-wrap {
                            margin: auto;

                            width: 30px;
                            height: 30px;
                            border: 6px solid rgba(67, 172, 67, 0.2);
                            border-radius: 50%;

                            .icon-inner {
                                background: #43ac43;
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                                line-height: 30px;
                                text-align: center;
                                color: #fff;

                            }
                        }
                    }

                    &.un-focus {
                        .icon-wrap {
                            margin: auto;

                            width: 30px;
                            height: 30px;
                            border: 6px solid transparent;
                            border-radius: 50%;

                            .icon-inner {
                                border: 1px solid #999;
                                border-radius: 50%;
                                width: 28px;
                                height: 28px;
                                color: #999;
                                text-align: center;
                                line-height: 28px;

                            }
                        }
                    }

                }
            }

            .member-info-wrap {
                padding: 12px 16px 80px;

                .member-title {
                    font-size: 20px;
                    font-weight: bold;
                }

                .member-tips {
                    margin-top: 6px;
                    font-size: 12px;
                    color: #999;
                }

                .member-card {
                    margin-top: 16px;

                    // 新添加card
                    .added {
                        .number {
                            // .del {
                            //     display: block !important;
                            // }
                        }
                    }

                    .member-card-inner {
                        // padding: 16px;
                        // background: #fff;

                        .number {
                            color: #333;
                            font-size: 14px;
                            font-weight: bold;

                            .del {
                                width: 24px;
                                height: 24px;
                                background: url(../img/del.png) no-repeat;
                                background-size: 24px;
                                float: right;
                                // display: none;
                            }

                        }   

                        .birth-title{
                            margin: 12px 0 8px;
                            font-size: 14px;
                            color: #333;
                        }
                        .birth-wrapper {
                            display: flex;
                            justify-content: space-between;
                      
                            .dd,
                            .mm,
                            .yyyy {
                              display: inline-block;
                              background: #f8f8f8;
                              height: 44px;
                              width: 32%;
                              line-height: 44px;
                              border-radius: 6px;
                              color: #d2d2d2;
                              padding-left: 16px;
                              box-sizing: border-box;
                              color: #000000;
                            }
                          }

                        .member-info {
                            margin-top: 16px;
                            width: 90%;
                            height: 44px;
                            padding: 0 5%;
                            font-size: 14px; // font-weight: bold;
                            background-color: #F8F8F8;
                            border-radius: 6px;

                            .member-name {
                                margin: 0;
                            }
                        }

                        .member-ID-tips {
                            display: none;
                            color: #FF6100;
                            font-size: 12px;
                            line-height: 16px;
                            margin-top: 10px;
                        }

                        .tips-normal {
                            color: #999;
                            font-size: 12px;
                            line-height: 16px;
                            margin-top: 10px;
                        }


                        .relation {
                            margin-top: 16px;

                            .relation_channel_wrap {
                                line-height: 42px;
                                margin-top: 12px;
                                background-color: #f8f8f8;
                                border: 0;
                                border-radius: 6px;
                                width: 100%;
                                height: 44px; // color: #;
                                font-size: 14px;
                                position: relative;

                                .relation_channel {
                                    .relation_default {
                                        padding: 0 0 0 20px;
                                        color: #ccc;
                                    }
                                    .relation_name {
                                        padding: 0 0 0 20px;
                                        color: #333;
                                    }

                                    .icon {
                                        // background: url(../img/OVO.png);
                                        background-size: 68.5px 24px;
                                        height: 24px;
                                        width: 68.5px;
                                        height: 24px;
                                        display: inline-block;
                                        vertical-align: middle;
                                        margin-left: 15px;
                                    }

                                    .relation-name {
                                        display: inline-block;
                                        margin-left: 16px;
                                        vertical-align: middle;
                                    }

                                }


                                &::after {
                                    content: '';
                                    display: inline-block;
                                    width: 24px;
                                    height: 24px;
                                    background: url(../img/select.png) no-repeat;
                                    background-size: 24px 24px;
                                    position: absolute;
                                    right: 16px;
                                    bottom: 10px;
                                }
                            }
                        }

                        .percent-wrap{
                            position: relative;
                            &::after{
                                display: block;
                                position: absolute;
                                top: 30px;
                                right: 14px;
                                content: '%';
                                font-size: 14px;
                            }
                        }


                    }
                }
                .join-btn {
                    padding-top: 16px;
                    text-align: center;

                    // &:nth-last-child(1) {
                    //     display: block;
                    // }

                    .join-btn-inner {
                        color: #43AC43;
                        font-size: 14px;
                        line-height: 30px;
                        border: 1px solid #43AC43;
                        border-radius: 6px;
                        text-align: center;
                        display: inline-block;
                        padding: 0 16px;

                        span {
                            display: inline-block;
                            vertical-align: middle;
                        }

                        &::before {
                            content: "";
                            display: inline-block;
                            width: 11px;
                            height: 11px;
                            vertical-align: middle;
                            background: url(../img/add.png) no-repeat;
                            background-size: 11px 11px;

                        }
                    }
                    p{
                        margin-top: 10px;
                        font-size: 14px;
                        color: #999;
                    }
                }


            }

            

          

            
            
           

        }
        .next-btn-wrap {
            // position: fixed;
            max-width: 620px;

            bottom: 0;
            width: 100%;
            height: 60px;
            text-align: center;
            background: #fff;
            z-index: 2000;

            .next-btn {
                padding: 8px 16px;

                p {
                    border-radius: 6px;
                    width: 100%;
                    background: #43ac43;
                    line-height: 44px;
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }
}