// @import "/Users/richyoung/qsc/Indonesia-h5/dev/common/qsc/less/_uploader";
// @import "../../../common/qsc/less/uploader.less";
@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";
// @import "../../../../common/qsc/less/common_footer.less";
// @import "./_bankList.less";
@import "../../../../common/qsc/less/alert-box.less"; //弹窗
@import "./_zakatIntention.less";
@import "./_qurbanIntention.less";

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    font-weight: normal;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

// .bank-name, .bank-note {
//     position: absolute;
//     left: -9999px;
// }

textarea::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCC;
    /* placeholder字体大小  */
    font-size: 14px;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;

    .page-inner {
        padding-top: 56px;
        padding-bottom: 56px;
        .wrapper {
            margin-top: 16px;
            padding: 0 16px;

            .price-card {
                border-radius: 6px;
                // height: 106px;
                background: linear-gradient(to right, #27C25C, #00C254);
                padding: 16px 20px;
                .card-t {
                    color: #D2F2DE;
                    font-size: 14px;

                }

                .card-total-money {
                    margin-top: 10px;
                    color: #FFF;
                    font-size: 28px;
                    font-weight: bold;
                }

                .card-bottom{
                    margin-top: 12px;
                    color: #D2F2DE;
                    font-size: 12px;
                    box-shadow: 0 25px 10px rgba(39,194,92,0.3);

                    .origin-price-wrap{
                        margin-bottom: 6px;
                        .origin-price-t{
                            
                        }
                        .origin-price{
                            float: right;
                        }
                    }
                    .fee-wrap{
                        .fee-content{
                            float: right; 

                            .fee{
                            }
                        }
                    }
                }
            }

            .payment {
                margin-top: 30px;

                .paymentTitle {
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 20px;
                }

                .payment_channel {
                    line-height: 42px;
                    margin-top: 12px;
                    background-color: #f8f8f8;
                    border: 0;
                    border-radius: 6px;
                    width: 100%;
                    height: 44px; // color: #;
                    font-size: 14px;
                    position: relative;

                    .channel {
                        .default {
                            padding: 0 0 0 20px;
                            color: #CCCCCC;
                        }

                        .icon {
                            background: url(../img/OVO.png);
                            background-size: 68.5px 24px;
                            height: 24px;
                            width: 68.5px;
                            height: 24px;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 15px;
                        }

                        .bank-name {
                            display: inline-block;
                            margin-left: 10px;
                            vertical-align: middle;
                        }

                        // &.selected {
                        //     color: #000;
                        // }
                    }

                    &.OVOXPeduliSehat {
                        &::after {
                            display: none;
                        }
                    }

                    &.gojek {
                        &::after {
                            display: none;
                        }
                    }

                    &::after {
                        content: '';
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        background: url(../img/select.png) no-repeat;
                        background-size: 24px 24px;
                        position: absolute;
                        right: 16px;
                        bottom: 10px;
                    }
                }
            }

            .touristLogin {
                margin-top: 30px;

                .titleLink {
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 20px;

                    .login {
                        color: #43AC43;
                        text-decoration: underline;
                    }
                }

                input {
                    caret-color: #43AC43;
                    border-style: none;
                    outline: none;
                    width: 100%;
                    height: 44px;
                    background-color: #f8f8f8;
                    border-radius: 7px;
                    padding: 0 0 0 16px;
                    color: #333333;
                    box-sizing: border-box;
                    font-size: 14px;

                    &.name-box {
                        margin-top: 16px;
                        margin-bottom: 10px;
                    }

                    &.number {
                        padding-left: 72px;
                        position: relative;
                        margin-bottom: 15px;
                    }
                }

                .countryCode {

                    z-index: 1;
                    width: 56px;
                    height: 44px;
                    position: absolute;
                    margin-left: 16px;
                    line-height: 40px;

                    .addSign {
                        display: inline-block;
                    }

                    .countryNum {
                        font-size: 14px;
                        color: #333333;
                        line-height: 24px;
                        display: inline-block;
                        vertical-align: middle;
                        border-right: 1px solid #CCCCCC;
                        padding-right: 16px;
                    }
                }
            }

            .email-wrap{
                margin-top: 30px;
                .email-t{
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 20px;
                }
                .email{
                    margin-top: 12px;
                    caret-color: #43AC43;
                    border-style: none;
                    outline: none;
                    width: 100%;
                    height: 44px;
                    background-color: #f8f8f8;
                    border-radius: 7px;
                    padding: 0 0 0 16px;
                    color: #333333;
                    box-sizing: border-box;
                    font-size: 14px;
                }
            }
            .commentWrapper {
                margin-bottom: 30px;

                .commentTitle {
                    p {
                        font-size: 16px;
                        font-weight: bold;
                        display: inline-block;
                    }


                    .open-comment-icon {
                        width: 46px;
                        height: 31px;
                        float: right;
                        background: url(../img/close.png) no-repeat;
                        background-size: 46px 31px;
                        cursor: pointer;
        
                        &.open {
                            background: url(../img/open.png) no-repeat;
                            background-size: 46px 31px;
                        }
                    }
                }

                .commentArea {
                    
                    resize: none;
                    margin-top: 16px;
                    padding: 16px 5%;
                    width: 90%;
                    height: 80px;
                    background-color: #F8F8F8;
                    border-radius: 6px;
                    font-size: 14px;
                    &.close {
                        display: none;
                    }
                }
            }
        }

        .anonymous-donate {
            margin: 30px 0;

            p {
                font-size: 16px;
                font-weight: bold;
                display: inline-block;
            }

            .open-icon {
                width: 46px;
                height: 31px;
                float: right;
                background: url(../img/close.png) no-repeat;
                background-size: 46px 31px;
                cursor: pointer;

                &.open {
                    background: url(../img/open.png) no-repeat;
                    background-size: 46px 31px;
                }
            }
        }

        .rec-show {
            background-color: #F7FAFF;
            display: none;

            // recommendationWrapper
            .recommendationWrapper {
                padding: 0 16px 20px;
                background-color: #fff;

                p {
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 20px;
                    margin-bottom: 16px;
                }
            }

            .amount-show {
                display: none;

                .amount-and-fee {
                    font-size: 14px;
                    color: #333333;
                    background: #fff;
                    margin-top: 10px;
                    padding: 16px;

                    .a-common {
                        margin-top: 16px;

                        &:first-child {
                            margin-top: 0;
                        }

                        &.recommendationAmount {
                            margin-top: 16px;

                            &.show {
                                display: block;
                            }
                        }

                        .right {
                            color: #333333;
                            float: right;
                        }
                    }

                    .recommendationAmountList {
                        display: none;
                    }
                }

                .total-price-wrap {
                    margin-top: 10px;
                    padding-bottom: 20px;
                    background-color: #F7FAFF;

                    .in {
                        padding: 16px;
                        background: #fff;

                        .total {
                            font-weight: bold;
                            font-size: 20px;
                        }

                        .price {
                            float: right;
                            color: #43ac43;
                            font-size: 16px;
                        }
                    }


                }
            }

        }

        .nextBtnWrap {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 92%;
            // margin-top: 30px;
            padding: 8px 4%;
            // border-top: 1px solid #EAEAEA;
            background: #fff;
            .nextBtn {
                // position: fixed;
                // width: 100%;
                // height: 44px;
                // bottom: 0;
                // left: 0;
                // // padding: 8px 15px 0;
                // box-sizing: border-box;
                // border-top: 1px solid #EAEAEA;
                // background: #fff;

                .next {
                    cursor: pointer;
                    text-align: center;
                    color: #FFFFFF;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 44px;
                    background-color: #43AC43;
                    border-radius: 6px;
                    width: 100%;
                    margin: 0 auto;
                    box-sizing: border-box;
                }
            }
        }


        // .nextTips {
        // margin-top: 8px;
        // font-size: 12px;
        // line-height: 18px;
        // color: #999999;
        // .green {
        //     cursor: pointer;
        //     color: #43AC43;
        //     font-weight: bold;
        //     text-decoration: underline;
        // }
        // }
    }
}