@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: -56px;
    .page-inner {
        padding-top: 56px;
        .pp-wrapper {
            padding: 60px 40px 0 !important;
            background-color: #f7faff;
            .inner {
                position: relative;
                width: 100%;
                box-shadow: 0px 6px 14px 1px #d4e3ff;
                background: #fff;
                border-radius: 6px;
                padding-top: 20px;
                font-size: 14px;
                line-height: 21px;

                .title-top {
                    font-size: 17px;
                    font-weight: bold;
                    line-height: 2.5em;
                    margin: 0 5px;
                }
                
                .pp-content {
                    padding: 30px;
                    .content-title-center {
                        font-weight: 800;
                        text-align: center;
                        .black-box {
                            display: inline-block;
                            width: 6px;
                            height: 6px;
                            background: #000;
                            vertical-align: middle;
                            margin-top: auto;
                        }
                        .title-top {
                            font-size: 17px;
                            font-weight: bold;
                            line-height: 2.5em;
                            margin: 0 5px;
                        }
                    }
                    .content-title {
                        font-weight: 800;
                        .black-box {
                            display: inline-block;
                            width: 6px;
                            height: 6px;
                            background: #000;
                            vertical-align: middle;
                            margin-top: auto;
                        }
                        .sub-content {
                            vertical-align: middle;
                            font-size: 16px;
                            line-height: 2em;
                            padding: 15px 0px 0;
                        }
                    }
                    .content {
                        padding: 10px 0;
                        line-height: 28px;
                        span {
                            left: 20px;
                            position: relative;
                            }
                        }
                    }
                }
                .line {
                    position: absolute;
                    background: #E9F1FF;
                    &.top {
                        top: 15px;
                        width: 100%;
                        height: 1px;
                    }
                    &.left {
                        width: 1px;
                        height: 100%;
                        left: 15px;
                        top: 0;
                    }
                    &.right {
                        width: 1px;
                        height: 100%;
                        right: 15px;
                        top: 0;
                    }
                    &.bottom {
                        bottom: 15px;
                        width: 100%;
                        height: 1px;
                    }
                }
                .icon {
                    position: absolute;
                    &.bottom {
                        background: url(../img/02.png) no-repeat;
                        background-size: 75px 75px;
                        right: -12px;
                        bottom: -8px;
                        width: 75px;
                        height: 75px;
                    }
                }
            }
            .footer {
                .logo {
                    width: 40px;
                    height: 40px;
                    background: url(../img/s-logo.png) no-repeat;
                    background-size: contain;
                    margin: 50px auto 0px auto;
                }
                .copyright {
                    line-height: 40px;
                    text-align: center;
                    color: #ccc;
                    font-size: 14px;
                    // width: 200px;
                    margin: 0px auto;
                }
            }
        }
    }