.bottom-icons {
    position: fixed;
    z-index: 2;
    left: 0;
    display: flex;
    font-size: 10px;
    color: #aaa;
    white-space: nowrap;
    text-align: center;
    bottom: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #EAECEE;

    .bottom-icon {
        position: relative;
        padding: 5px 0;
        width: 20%;

        .bottom-img {
            width: 27px;
            height: 27px;
            background: url(./img/sprite-icons.png) no-repeat;
            background-size: auto 54px;
            background-position: 0 0;
            margin: 0 auto 5px;
        }

        .count {
            display: none;
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #FF6100;
            font-size: 10px;
            color: #FFFFFF;
            border: 1px solid #FFF;
            top: 3px;
            left: 50%;
            transform: translateX(-50%);
            margin-left: 12px;
            text-align: center;
            line-height: 16px;
        }

        &.bottom-icon-2 .bottom-img {
            background-position: -27px 0;
        }

        &.bottom-icon-3 .bottom-img {
            background-position: -54px 0;
        }

        &.bottom-icon-4 .bottom-img {
            background-position: -81px 0;
        }

        &.bottom-icon-5 .bottom-img {
            background-position: -108px 0;
        }

        &.active {
            &.bottom-icon-1 {
                color: #4CB54C;

                .bottom-img {
                    background-position: 0 -27px;
                }
            }

            &.bottom-icon-2 {
                color: #4CB54C;

                .bottom-img {
                    background-position: -27px -27px;
                }
            }

            &.bottom-icon-3 {
                color: #4CB54C;

                .bottom-img {
                    background-position: -54px -27px;
                }
            }

            &.bottom-icon-4 {
                color: #4CB54C;

                .bottom-img {
                    background-position: -81px -27px;
                }
            }

            &.bottom-icon-5 {
                color: #4CB54C;

                .bottom-img {
                    background-position: -108px -27px;
                }
            }
        }
    }
}