@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";

ol {
    padding-left: 25px;
    top: 10px;
    position: relative;
    line-height: 21px;
    counter-reset: item;
    padding-top: 20px;
    li {
        padding: 10px 0 0 5px;
        top: -24px;
        position: relative;
        line-height: 28px;
    }
}


.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: -56px;
    .page-inner {
        padding-top: 56px;
        .faq-wrapper {
            padding: 60px 40px 0 !important;
            background-color: #f7faff;
            .inner {
                position: relative;
                width: 100%;
                box-shadow: 0px 6px 14px 1px #d4e3ff;
                background: #fff;
                border-radius: 6px;
                padding-top: 20px;
                font-size: 14px;
                line-height: 21px;
                .faq-content {
                    padding: 15px 30px 30px 30px;
                    .faq-content-inner {
                        margin-bottom: 30px;
                        .green-title {
                            font-weight: 800;
                            padding: 5px 0 15px !important;
                            .green-box {
                                display: inline-block;
                                width: 6px;
                                height: 6px;
                                background: #43ac43;
                                vertical-align: middle;
                                margin-top: auto;
                                }
                            .sub-content {
                                vertical-align: middle;
                                font-size: 16px;
                                line-height: 2em;
                                padding: 15px 10px 0;
                                color: #43ac43;
                                }
                            }
                            .tanya {
                                font-size: 16px;
                                font-weight: bold;
                                line-height: 30px;
                            }
                            .jawab {
                                margin-top: 5px;
                                .grey-box {
                                    width: 0;
                                    height: 0;
                                    margin-left: 13px;
                                    border-left: 10px solid transparent;
                                    border-right: 10px solid transparent;
                                    border-bottom: 10px solid #F8F8F8;
                                }
                                .content-wrapper {
                                    padding: 16px;
                                    background-color: #F8F8F8;
                                    border-radius: 6px;
                                    line-height: 28px;
                                    color: #666666;
                                    font-size: 14px;
                                    p {
                                        padding-bottom: 10px;
                                    }
                                    span {
                                        color: #43ac43;
                                    }
                                }
                            }
                        }
                    }
                }
                .line {
                    position: absolute;
                    background: #E9F1FF;
                    &.top {
                        top: 15px;
                        width: 100%;
                        height: 1px;
                    }
                    &.left {
                        width: 1px;
                        height: 100%;
                        left: 15px;
                        top: 0;
                    }
                    &.right {
                        width: 1px;
                        height: 100%;
                        right: 15px;
                        top: 0;
                    }
                    &.bottom {
                        bottom: 15px;
                        width: 100%;
                        height: 1px;
                    }
                }
                .icon {
                    position: absolute;
                    &.bottom {
                        background: url(../img/02.png) no-repeat;
                        background-size: 75px 75px;
                        right: -12px;
                        bottom: -8px;
                        width: 75px;
                        height: 75px;
                    }
                }
            }
            .footer {
                .logo {
                    width: 40px;
                    height: 40px;
                    background: url(../img/s-logo.png) no-repeat;
                    background-size: contain;
                    margin: 50px auto 0px auto;
                }
                .copyright {
                    line-height: 40px;
                    text-align: center;
                    color: #ccc;
                    font-size: 14px;
                    //width: 200px;
                    margin: 0px auto;
                }
            }
        }
    }