<template>
  <div class="page-wrapper">
    <div class="page-inner">
      <div class="wrapper">
        <!-- avatar -->
        <!-- my account -->
        <div
          class="avatar-name signed analytics"
          data-category="myProfile.html"
          data-action="myProfileJumpToMyAccount"
          data-label="JumpToMyAccount"
          data-value="0"
        >
          <span class="avatar">
            <img
              class="avatar-img"
              alt=""
              onerror="this.src='https://res.cloudinary.com/dqgl4hkkx/image/fetch/c_fill,g_face,f_auto,ar_1:1/https%3A%2F%2Fstatic-qa.pedulisehat.id%2Fimg%2Favatar%2Favatar-58.png';this.onerror=null"
              src="https://res.cloudinary.com/dqgl4hkkx/image/fetch/c_fill,g_face,f_auto,ar_1:1/https%3A%2F%2Fstatic-qa.pedulisehat.id%2Fimg%2Favatar%2Favatar-58.png"
            />
          </span>
          <div class="name-level">
            <!-- sign in -->
            <span class="name">Budi Awdnn</span>
            <!-- <div class="user-level-wrap">
                        <div class="level"><span class="level-crown"></span><span class="level-num">Lv.0</span></div>
                        <div class="trophies">Trophies</div>
                    </div> -->
          </div>
        </div>

        <!-- top lists -->
        <div class="top-lists">
          <!--  My Campaigns -->
          <div
            class="top-list top-list-1 my-campaigns analytics"
            data-category="myProfile.html"
            data-action="myProfileJumpToMyCampaigns"
            data-label="JumpToMyCampaignsBtn"
            data-value="0"
          >
            <div class="icon"></div>
            <div class="top-list-name">${lang.lang3}</div>
          </div>
          <!--  My Gotongroyong -->
          <div
            class="top-list top-list-2 my-gtry analytics"
            data-category="myProfile.html"
            data-action="myProfileJumpToMyGtry"
            data-label="JumpToMyGtry"
            data-value="0"
          >
            <div class="icon"></div>
            <div class="top-list-name">${lang.lang46}</div>
          </div>
          <!-- My Insurance -->
          <div
            class="top-list top-list-3 my-insurance analytics"
            data-category="myProfile.html"
            data-action="myProfileJumpToMyInsurance"
            data-label="JumpToMyInsurance"
            data-value="0"
          >
            <div class="icon"></div>
            <div class="top-list-name">${lang.lang33}</div>
          </div>
        </div>

        <!-- middle lists -->
        <div class="middle-lists">
          <!-- Followed -->
          <div
            class="middle-list middle-list-1 campaigns-followed analytics"
            data-category="myProfile.html"
            data-action="myProfileJumpToFollowed"
            data-label="JumpToFollowed"
            data-value="0"
          >
            <span class="icon"></span>
            <span class="name">${lang.lang47}</span>
            <span class="right"></span>
          </div>

          <!-- Setting -->
          <div
            class="middle-list middle-list-2 setting analytics"
            data-category="myProfile.html"
            data-action="myProfileJumpToSetting"
            data-label="JumpToSetting"
            data-value="0"
          >
            <span class="icon"></span>
            <span class="name">${lang.lang6}</span>
            <span class="right"></span>
          </div>

          <!-- About Us -->
          <div
            class="middle-list middle-list-3 about analytics"
            data-category="myProfile.html"
            data-action="myProfileJumpToAboutUs"
            data-label="JumpToAboutUs"
            data-value="0"
          >
            <span class="icon"></span>
            <span class="name">${lang.lang8}</span>
            <span class="right"></span>
          </div>

          <!-- Help Center -->
          <div
            class="middle-list middle-list-4 help-center analytics"
            data-category="myProfile.html"
            data-action="myProfileJumpTohelpCenter"
            data-label="JumpTohelpCenter"
            data-value="0"
          >
            <span class="icon"></span>
            <span class="name">${lang.lang21}</span>
            <span class="right"></span>
          </div>

          <!-- language -->
          <div
            class="middle-list middle-list-5 language analytics"
            data-category="myProfile.html"
            data-action="myProfileJumpToLanguage"
            data-label="JumpToLanguage"
            data-value=" 0 "
          >
            <span class=" icon "></span>
            <span class=" name ">${lang.lang23}</span>
            <span class=" right "></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// less
import "../../../dev/common/qsc/less/loading.less";
import "../../../dev/common/qsc/less/toast.less";
import "../../../dev/common/qsc/less/common_nav.less";
import "../../../dev/common/qsc/less/common_footer.less";
import "./less/main.less"

// js
import "loading";
import commonNav from "commonNav";
import commonFooter from "commonFooter";
import utils from "utils";
import axios from "axios";
import domainName from "domainName"; // port domain name

/* translation */
import common from 'common'
import qscLang from 'qscLang'
let lang = qscLang.init(common);
/* translation */

let isLocal = location.href.indexOf("pedulisehat.id") == -1;
let url = domainName.project + "/v1/banner";

export default {
  name: "",
  props: {},
  components: {},
  directives: {},
  data () {
    return {
      resData: [],
    };
  },
  created () {
    axios
      .get(url)
      .then(function (response) {
        if (response.data.code == 0) {
          commonNav.init(response.data);

          // let self = this;
          this.resData = response.data.data;

          console.log("resData=", this.resData);
        }
      })
      .catch(function (error) {
        console.log("error=", error);
      });
  },
  mounted () {
    utils.hideLoading();
  },
  methods: {},
};
</script>


<style lang="less" scoped>
// .page-wrapper {
//   position: relative; // position: fixed;
//   max-width: 620px;
//   margin: 0 auto;
//   min-height: 100vh;
//   background-color: #fff;
//   .page-inner {
//     padding-top: 56px;
//     .wrapper {
//       width: 100%;
//       margin: 0 auto 80px; // 首页banner
//     }
//   }
// }
</style>
