  .Campaigns_List {
    margin-top: 8px;
    padding-left: 16px;

    li {
      margin-bottom: 20px;

      .campaign_card_wrapper {
        // background: #fff;
        // border-radius: 6px;
        // box-shadow: 0px 6px 14px 1px rgba(212, 227, 255, 1);

        .campaign_card {
          cursor: pointer;
          position: relative;
          padding-left: 145px;
          margin-right: 16px;
          border-bottom: 1px solid #F5F5F5;
          padding-bottom: 22px;

          .campaign_img_wrap {
            position: absolute; // 时间标签
            left: 0;
            border-radius: 6px;
            overflow: hidden;
            background: url(../img/loading_images.png ) no-repeat center;
            background-size: cover;

            .campaign_img {
              width: 133px;
              height: 100px;
              background-size: cover;
            }

            .finished-wrap {
              position: absolute;
              width: 43px;
              height: 43px;
              right: 5px;
              top: 5px;

              &.en {
                background: url(../img/finished.png) no-repeat;
                background-size: 43px;
              }

              &.id {
                background: url(../img/finished_id.png) no-repeat;
                background-size: 43px;
              }
            }
          }

          // 项目信息
          .campaign_info {

            .right_part_top {

              .campaign_name {
                position: relative;
                overflow: hidden;
                height: 20px;
                line-height: 16px;
                font-size: 14px;

                // &.overflow::after {
                //   content: "...";
                //   position: absolute;
                //   bottom: 0;
                //   right: 0;
                //   padding-left: 10px; // background: -webkit-linear-gradient(left, transparent, #FFF 55%);
                //   // background: -o-linear-gradient(right, transparent, #FFF 55%);
                //   // background: -moz-linear-gradient(right, transparent, #FFF 55%);
                //   // background: linear-gradient(to right, transparent, #FFF 55%);
                // }

                // conflict
                .inner_name {
                  color: #333;
                  font-size: 12.5px;
                  font-weight: bold;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }

              // .timeLeft {
              //   display: inline-block;
              //   margin-top: 3px;
              //   height: 22px; // opacity: 0.9;
              //   background-color: #F8F8F8;

              //   .time_past_content {
              //     margin: 0 5px 0 5px;
              //     font-size: 11px;
              //     line-height: 22px;
              //     color: #999;
              //   }
              // }
            }

            .avatar-name {
              white-space: nowrap;
              // height: 44px;
              // line-height: 44px;
              // padding-bottom: 10px;

              .avatar-wrap {
                display: inline-block;
                border-radius: 50%;
                vertical-align: middle;
                width: 20px;
                height: 20px; // background: url(../img/banner.jpg) no-repeat;
                background-size: cover;
              }

              .user-name {
                display: inline-block;
                font-size: 12px;
                color: #999999;
                vertical-align: middle;
              }

              .enterprise-wrap {
                display: inline-block;
                vertical-align: middle;
                width: 13px;
                height: 13px;
                background: url(../img/enterprise_icon.png) no-repeat;
                background-size: cover;
                border-radius: 50%;
              }

              .verified_wrap {
                vertical-align: middle;
                display: inline-block;
                width: 47px;
                height: 12px;
                background: url(../img/verified_icon_new.png) no-repeat;
                background-size: contain;
              }
            }


            // 项目进度条
            .campaign_progress {
              // margin-top: 15px;
              max-width: 100%;
              background: #EAECEE;
              border-radius: 30px;
              margin-top: 10px;

              .progress_bar {
                overflow: hidden;
                margin: 0;
                max-width: 100%;
                height: 3px;
                border-radius: 30px;
                background-color: #43AC43; // background: -moz-linear-gradient(left, #80E34B 0%, #80E34B 100%);
              }
            }

            // 已筹集
            .money-wrap {
              margin-top: 6px;

              // margin-top: 10px;
              .title {
                margin-top: 6px;
                font-size: 12px;
                line-height: 12px;
                color: #999;
                display: inline-block;

                &.timeLeft {
                  text-align: right;
                  float: right;
                }

                .money {
                  display: block;
                  color: #333;
                  font-weight: 700;
                  margin-top: 5px;

                  &.money_1 {
                    font-size: 16px;
                  }
                }
              }
            }

          }


        }
      }
    }
  }