@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";

.page-wrapper {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;
    background: #F7FAFF;

    .page-inner {
        padding-top: 56px; // avatar

        .notifications_list {
            padding: 20px 16px;

            .notifications_box {
                background: #FFF;
                padding-top: 20px;
                padding-right: 16px;
                height: 82px;
                box-shadow: 0px 8px 16px 0 #E7EBF8;
                border-radius: 6px;
                position: relative;
                margin-bottom: 20px;
                &.read {
                    .msg_icon {
                        background: url(../img/read-icon.png) no-repeat;
                        background-size: 24px 24px;
                    }
                    .msg_wrap {
                        .msg_title {
                            color: #999;
                        }
                        .msg_content {
                            color: #CCC;
                        }
                        .msg_time {
                            color: #CCC;
                        }
                    }
                }

                .msg_icon {
                    position: absolute;
                    top: 18px;
                    width: 24px;
                    height: 24px;
                    background: url(../img/unread-icon.png) no-repeat;
                    background-size: 24px 24px;
                    margin-left: 16px;
                    .red_point{
                        width: 6px;
                        height: 6px;
                        background: #FF6100;
                        border-radius: 50%;
                        position: absolute;
                        right: -6px;
                        top: -1px;
                    }
                }

                .msg_wrap {
                    margin-left: 50px;

                    .msg_title {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 19px;
                    }

                    .msg_content {
                        margin-top: 10px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 14px;
                        line-height: 17px;
                    }

                    .msg_time {
                        margin-top: 6px;
                        font-size: 12px;
                        color: #999;
                    }
                }
            }
            .no-data {
                position: absolute;
                width: 90%;
                top: 60%;
                left: 50%;
                margin-top: -150px;
                margin-left: -45%;
                .no-data-wrapper {
                    background: url(../img/empty_icon.png) no-repeat;
                    background-size: 60px 72px;
                    background-position: 50% 0;
                    width: 200px;
                    height: 102px;
                    margin: auto;
                    position: relative;
                    p {
                        color: #999;
                        text-align: center;
                        padding: 85px 0 0 0;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 14px;
                    }
                }
            }
        }
    }
}