.urgent-campaigns-inner {
  position: relative;
  white-space: nowrap;
  overflow: scroll;
  scroll-behavior: smooth;
  padding: 0 20px 20px 0;

  .u-list {
    display: inline-block;
    width: 250px;
    box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    margin: 0 0 0 16px;
  }

  .img-bg {
    position: relative;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    background: url(../img/loading_images.png ) no-repeat center;
    background-size: cover;

    .u-img {
      background-size: cover;
    }

    .finished-wrap {
      position: absolute;
      width: 43px;
      height: 43px;
      right: 5px;
      top: 5px;

      &.en {
        background: url(../img/finished.png) no-repeat;
        background-size: 43px;
      }

      &.id {
        background: url(../img/finished_id.png) no-repeat;
        background-size: 43px;
      }
    }
  }



  .u-info {
    padding: 0 16px 4px;

    .u-user {
      height: 44px;
      line-height: 44px;
      // .avatar-wrap {
      //   display: inline-block;
      //   border-radius: 50%;
      //   vertical-align: middle;
      //   width: 26px;
      //   height: 26px; // background: url(../img/banner.jpg) no-repeat;
      //   background-size: cover;
      // }

      .user-name {
        display: inline-block;
        font-size: 12px;
        color: #333;
        vertical-align: middle;
      }


      .enterprise-wrap {
        display: inline-block;
        vertical-align: middle;
        width: 17px;
        height: 17px;
        background: url(../img/enterprise_icon.png) no-repeat;
        background-size: cover;
        border-radius: 50%;
      }

      .verified_wrap {
        vertical-align: middle;
        display: inline-block;
        width: 59px;
        height: 14px;
        background: url(../img/verified_icon_new.png) no-repeat;
        background-size: cover;
      }
    }


    .u-title {
      overflow: hidden;
      line-height: 16px;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #333;
      font-size: 14px;
      font-weight: 700;
    }

    // 项目进度条
    .u-progress {
      // margin-top: 15px;
      max-width: 100%;
      background: #EAECEE;
      border-radius: 30px;
      margin: 10px 0;

      .progress_bar {
        overflow: hidden;
        margin: 0;
        max-width: 100%;
        height: 3px;
        border-radius: 30px;
        background-color: #43AC43; // background: -moz-linear-gradient(left, #80E34B 0%, #80E34B 100%);
      }
    }

    .u-bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      
      .u-funded {
        font-size: 12px;
        display: inline-block;
        color: #333;
        font-weight: 700;
        vertical-align: text-top;
      }

      .u-timeleft {
        width: 100px;
        white-space: nowrap;
        font-size: 12px;
        line-height: 12px;
        color: #999;
        float: right;
        text-align: right;

        .b {
          font-size: 12px;
          color: #333;
          font-weight: 700;

          &.b1 {
            font-size: 16px;
          }
        }
      }
    }

  }


}