@import "../../../common/qsc/less/loading.less";
@import "../../../common/qsc/less/toast.less";
@import "../../../common/nav/main.less";
@import "../../../common/qsc/less/common_footer.less";

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;

    // margin-top: -56px;
    .page-inner {
        padding: 86px 24px 0;

        .wrapper {
            // padding-top: 2px;
            width: 100%;
            margin: 0 auto 80px; // 首页banner

            // div{
            //     height: 100vh !important;
            // }
            .nc-title {
                font-size: 20px;
                font-weight: 600;

            }

            .__nc {
                width: 100%;
                margin-top: 15px;

            }
            .nc-animate{
                width: 100%;
                height: 60px;
                background: url(../img/nc_animate.gif) no-repeat;
                background-size: contain;
            }
        }
    }
}

.stage {
    padding: 0 !important;
}

.slider {
    position: static !important;
    background-color: #eee !important;
    box-shadow: none !important;
}


._nc div {
    height: 44px !important;
    line-height: 44px !important;
}

/* 滑动条高度、边框、背景色等 */
._nc .stage1 .slider {
    height: 44px !important;
    border-radius: 6px;
    // box-shadow: 0 0 3px #999;
    background-color: #EEE;

    .label {
        font-size: 13px !important;
    }
}

/* 滑动条 */
._nc .stage1 .track div {
    border-radius: 6px;
    color: #fff;
}

._nc .stage1 .button {
    border: 1px solid #ccc !important;
    width: 55px !important;
    border-radius: 6px !important;
    color: #fff;
    top: -1px !important;
}

/* 滑动条背景色-正常 */
._nc .stage1 .bg-green {
    background-color: #76C61C !important;
}

/* 滑动条背景色-失败 */
._nc .stage1 .bg-red {
    background-color: #F7675B !important;
}

._nc .stage1 .icon{
    left: 13px !important;
}
.icon-slide-arrow {
    font-size: 20px !important;
    color: #D8D8D8 !important;
    &::before {
        // content: '' !important;
    }
}

.icon-ok {
    left: 13px !important;
}