@import "./reset.less";


body {
    background: #f2f3f4;

    .commonNav {
        height: 56px;
        background-color: #fff;

        .navbar {
            z-index: 2000;
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            background-color: #fff;

            .nav-wrapper {
                height: 56px;
                padding: 0 16px;
                border-bottom: 1px solid #E0E0E0;

                .nav {
                    // background: rgba(0, 0, 0, .4);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 56px;

                    &.notification {
                        #msg {
                            .msg-icons {
                                .allread {
                                    background: url(../img/nav/allread.png) no-repeat;
                                    width: 24px;
                                    height: 24px;
                                    background-size: 24px 24px;
                                    margin-right: 18px;
                                    display: inline-block;
                                }

                                .msg-setting {
                                    display: inline-block;
                                    background: url(../img/nav/msgSetting.png) no-repeat;
                                    width: 24px;
                                    height: 24px;
                                    background-size: 24px 24px;
                                }
                            }
                        }
                    }

                    .left_blank {
                        width: 24px;
                    }

                    .left {
                        margin-top: 3px;
                        display: inline-block;
                        font-size: 18px;
                        position: relative;
                        cursor: pointer;

                        span {
                            display: inline-block;
                            margin-left: 10px;
                        }

                        img {
                            width: 24px;
                            height: 24px;
                            vertical-align: sub;
                        }

                        .count {
                            display: none;
                            position: absolute;
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            background: #FF6100;
                            font-size: 11px;
                            color: #FFFFFF;
                            border: 1px solid #FFF;
                            right: -8px;
                            top: -5px;
                            text-align: center;
                            line-height: 16px;
                        }
                    }

                    .middle {
                        img {
                            width: 134px;
                            height: 28px;
                            vertical-align: sub;
                        }
                    }

                    .right {
                        display: inline-block;
                        font-weight: 400;
                        font-size: 20px;
                        cursor: pointer;

                        span {
                            display: inline-block;
                            vertical-align: middle;
                        }

                        img {
                            vertical-align: middle;
                            width: 24px;
                            height: 24px;
                        }
                    }

                    #edit div {
                        width: 24px;
                        height: 24px;
                        vertical-align: sub;
                        display: inline-block;
                        background: url(../img/nav/edit.png) no-repeat;
                        background-size: 24px 24px;
                    }

                    #close div {
                        width: 24px;
                        height: 24px;
                        vertical-align: sub;
                        display: inline-block;
                        background: url(../img/nav/close.png) no-repeat;
                        background-size: 24px 24px;
                    }
                }
            }
        }

        // slide left
        .slide-wrapper {
            z-index: 2001;
            position: fixed; // opacity: 0;
            transition: .6s;
            width: 80%;
            top: 0;
            left: -80%;
            background: #fff;
            min-height: 100vh;
            // overflow: hidden;

            .slide {
                position: relative;
                min-height: 100vh;

                &.no-sign {
                    .self-center-bg {
                        height: 105px;
                        padding-top: 13px;
                        background-color: #F8F8F8;
                        position: relative;

                        .welcome {
                            position: absolute;
                            width: 212px;
                            height: 44px;
                            top: 50%;
                            left: 50%;
                            margin-left: -106px;
                            margin-top: -22px;
                            background: url(../img/nav/peduli_logo.png) no-repeat;
                            background-size: contain;
                        }
                    }

                    .lists-wrapper {
                        height: auto;
                        box-sizing: border-box;
                        overflow-y: scroll;
                        padding-bottom: 0;
                    }
                }

                // avatar
                .self-center-bg {
                    position: relative;
                    height: 118px;

                    .avatar-name {
                        position: absolute;
                        top: 65%;
                        margin-top: -35px;
                        margin-left: 25px;


                        .avatar {
                            width: 44px;
                            height: 44px;
                            display: inline-block;
                            vertical-align: middle;

                            .avatar-img {
                                vertical-align: middle;
                                width: 44px;
                                height: 44px;
                                border-radius: 50%;
                            }
                        }

                        .name-level {
                            display: inline-block;
                            vertical-align: middle;

                            .name {
                                display: inline-block;
                                vertical-align: middle;
                                margin-left: 15px;
                                text-align: center;
                                font-size: 18px;
                                font-weight: 700;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            .user-level-wrap {
                                margin-top: 5px;
                                margin-left: 15px;

                                .level {
                                    display: inline-block;

                                    padding: 3px 10px;
                                    width: 42px;
                                    height: 16px;
                                    line-height: 16px;
                                    background-color: #43ac43;
                                    // background: linear-gradient(45deg, #E6CEAB, #C4A570);
                                    color: #fff;
                                    font-size: 10px;
                                    font-weight: 500;
                                    border-radius: 21px;

                                    // &.highest {
                                    //     background: linear-gradient(90deg, #EFDCC0, #4B350F);

                                    // }

                                    .level-crown {
                                        display: inline-block;
                                        background: url(../img/nav/crown_icon.png) no-repeat;
                                        width: 10px;
                                        height: 9px;
                                        background-size: contain;
                                    }

                                    .level-num {
                                        margin-left: 3px;
                                    }
                                }

                                // .level-title {
                                //     margin-left: 2px;
                                //     color: #999;
                                //     font-size: 12px;
                                //     line-height: 12px;
                                // }
                                .trophies {
                                    display: inline-block;
                                    position: relative;
                                    margin-left: 8px;
                                    padding: 3px 11px 3px 23px;
                                    line-height: 16px;
                                    height: 16px;
                                    color: #fff;
                                    font-size: 12px;
                                    font-weight: 500;
                                    border-radius: 21px;
                                    background: #FF8400;

                                    &::before {
                                        position: absolute;
                                        left: -4px;
                                        top: -2px;
                                        display: inline-block;
                                        content: '';
                                        background: url(../img/ramadanTrophies/trophies_icon.png) no-repeat;
                                        width: 24px;
                                        height: 27px;
                                        background-size: 24px 27px;
                                    }

                                }
                            }
                        }
                    }

                    .nav-bg {
                        position: absolute;
                        bottom: 0;
                        height: 18px;
                        width: 100%;
                    }
                }

                // list
                .lists-wrapper {
                    height: 100vh;
                    box-sizing: border-box;
                    overflow-y: scroll;
                    padding-bottom: 140px;

                    .lists {
                        font-size: 16px;
                        padding-top: 15px;

                        .list {
                            line-height: 24px;
                            // padding: 12px 0;
                            position: relative;
                            cursor: pointer;

                            .list-inner {
                                padding: 14px 0;
                                margin-left: 12%;

                                &.bottom-line {
                                    padding-bottom: 14px;
                                    border-bottom: 1px solid #EAEAEA;
                                }
                            }

                            .icon {
                                width: 24px;
                                height: 24px;
                                vertical-align: bottom;
                                display: inline-block;
                                margin: 0 3% 0 0;

                                img {
                                    width: 24px;
                                    height: 24px;
                                    vertical-align: bottom;
                                }
                            }

                            .title {
                                position: relative;
                                display: inline-block;
                                color: #666666;
                                line-height: 24px;
                                font-size: 16px;

                                .count {
                                    display: none;
                                    position: absolute;
                                    width: 16px;
                                    height: 16px;
                                    border-radius: 50%;
                                    background: #FF6100;
                                    font-size: 11px;
                                    color: #FFFFFF;
                                    border: 1px solid #FFF;
                                    right: -26px;
                                    top: 3px;
                                    text-align: center;
                                    line-height: 16px;
                                }
                            }

                            &.my-insurance {
                                .icon {
                                    background: url(../img/nav/my-insurance.png) no-repeat;
                                    background-size: 24px;
                                }
                            }

                            &.my-gtry {
                                .icon {
                                    background: url(../img/nav/gtry-icon.png) no-repeat;
                                    background-size: 24px;
                                }
                            }

                            &.my-campaigns {
                                .icon {
                                    background: url(../img/nav/icon-1.png) no-repeat;
                                    background-size: 24px;
                                }
                            }

                            &.supported-campaigns {
                                .icon {
                                    background: url(../img/nav/icon-9.png) no-repeat;
                                    background-size: 24px;
                                }
                            }

                            &.campaigns-followed {
                                .icon {
                                    background: url(../img/nav/icon-3.png) no-repeat;
                                    background-size: 24px;
                                }
                            }

                            &.messages {
                                .icon {
                                    background: url(../img/nav/messages.png) no-repeat;
                                    background-size: 24px;
                                }
                            }

                            &.my-wallet {
                                .icon {
                                    background: url(../img/nav/icon-4.png) no-repeat;
                                    background-size: 24px;
                                }
                            }

                            &.setting {
                                // margin-top: 15px;

                                .icon {
                                    background: url(../img/nav/icon-5.png) no-repeat;
                                    background-size: 24px;
                                }
                            }

                            &.language {
                                .icon {
                                    background: url(../img/nav/icon-8.png) no-repeat;
                                    background-size: 24px;
                                }
                            }

                            &.help-center {
                                .icon {
                                    background: url(../img/nav/icon-7.png) no-repeat;
                                    background-size: 24px;
                                }
                            }

                            &.change-language {
                                .icon {
                                    background: url(../img/nav/language.png) no-repeat;
                                    background-size: 24px;
                                }
                            }

                            &.about {
                                .icon {
                                    background: url(../img/nav/icon-6.png) no-repeat;
                                    background-size: 24px;
                                }
                            }

                            &.language {
                                .icon {
                                    background: url(../img/nav/icon-8.png) no-repeat;
                                    background-size: 24px;
                                }
                            }

                            // 选中
                            &.choosed {
                                &.my-insurance {
                                    .icon {
                                        background: url(../img/nav/my-insurance-choose.png) no-repeat;
                                        background-size: 24px;
                                    }
                                }

                                &.my-gtry {
                                    .icon {
                                        background: url(../img/nav/gtry-icon-choose.png) no-repeat;
                                        background-size: 24px;
                                    }
                                }

                                &.my-campaigns {
                                    .icon {
                                        background: url(../img/nav/icon-1-choose.png) no-repeat;
                                        background-size: 24px;
                                    }
                                }

                                &.supported-campaigns {
                                    .icon {
                                        background: url(../img/nav/icon-9-choose.png) no-repeat;
                                        background-size: 24px;
                                    }
                                }

                                &.campaigns-followed {
                                    .icon {
                                        background: url(../img/nav/icon-3-choose.png) no-repeat;
                                        background-size: 24px;
                                    }
                                }

                                &.messages {
                                    .icon {
                                        background: url(../img/nav/messages-choose.png) no-repeat;
                                        background-size: 24px;
                                    }
                                }

                                &.my-wallet {
                                    .icon {
                                        background: url(../img/nav/icon-4-choose.png) no-repeat;
                                        background-size: 24px;
                                    }
                                }

                                &.setting {
                                    .icon {
                                        background: url(../img/nav/icon-5-choose.png) no-repeat;
                                        background-size: 24px;
                                    }
                                }

                                &.help-center {
                                    .icon {
                                        background: url(../img/nav/icon-7-choose.png) no-repeat;
                                        background-size: 24px;
                                    }
                                }

                                &.change-language {
                                    .icon {
                                        background: url(../img/nav/language-choose.png) no-repeat;
                                        background-size: 24px;
                                    }
                                }

                                &.about {
                                    .icon {
                                        background: url(../img/nav/icon-6-choose.png) no-repeat;
                                        background-size: 24px;
                                    }
                                }

                                // 蓝色条
                                &::before {
                                    position: absolute;
                                    content: "";
                                    display: inline-block;
                                    width: 4px;
                                    height: 16px;
                                    background-color: #43AC43;
                                    margin-top: 18px;
                                }

                                // 蓝色字
                                .title {
                                    color: #43AC43;
                                }
                            }
                        }
                    }

                    img.line {
                        display: none;
                        margin-left: 7%;
                        width: 100%;
                    }
                }


                .sign-wrapper {
                    // margin-top: 16px;
                    width: 100%;
                    cursor: pointer;

                    .sign-in {
                        display: inline-block;
                        width: 100%;
                        color: #666666;
                        line-height: 24px;
                        font-size: 16px;


                        .list-inner {
                            padding: 14px 0;
                            margin-left: 12%;

                            &.bottom-line {
                                padding-bottom: 14px;
                                border-bottom: 1px solid #EAEAEA;
                            }
                        }

                        .icon {
                            width: 24px;
                            height: 24px;
                            vertical-align: bottom;
                            display: inline-block;
                            margin: 0 3% 0 0;

                            img {
                                width: 24px;
                                height: 24px;
                                vertical-align: bottom;
                            }
                        }

                        .icon {
                            // display: inline-block;
                            background: url(../img/nav/sign-in.png) no-repeat;
                            background-size: 24px;
                            // width: 24px;
                            // height: 24px;
                            // vertical-align: middle;
                            // margin: 0 3% 0 12%;
                        }

                        .title {
                            display: inline-block;
                            color: #666666;
                            line-height: 24px;
                            font-size: 16px;
                        }

                        &.choosed {
                            .icon {
                                background: url(../img/nav/sign-in-choose.png) no-repeat;
                                background-size: 24px;
                            }

                            .title {
                                color: #43AC43;
                            }
                        }
                    }
                }
            }
        }

        // bottom slid bar
        .bottom-slide-wrapper {
            display: none; // opacity: 0;
            z-index: 2001;
            position: fixed;
            top: -35px;
            padding: 18px 0 0;
            width: 100%;
            background: #fff;

            .line {
                position: absolute;
                top: 0;
                width: 100%;
            }

            .inner {
                &.no-active {
                    img {
                        display: inline-block;

                        &.choose {
                            display: none;
                        }
                    }
                }

                &.active {
                    img {
                        display: none;

                        &.choose {
                            display: inline-block;
                        }
                    }

                    .no-Extend {
                        img {
                            display: inline-block;

                            &.choose {
                                display: none;
                            }
                        }
                    }
                }

                .list {
                    display: inline-block;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    flex-direction: column;
                    font-size: 14px;
                    width: 23.5%;
                    display: inline-block;
                    text-align: center;
                    padding: 0 0 18px;
                    color: #333;

                    a,
                    a:link,
                    a:visited,
                    a:hover,
                    a:active,
                        {
                        color: #333;
                    }

                    img {
                        width: 24px;
                        height: 24px;
                    }

                    p {
                        padding: 8px 0 0;
                    }
                }
            }
        }

        // 黑色遮罩
        .body-mask {
            display: none;
            z-index: 2000;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            min-height: 100vh;
            background: rgba(0, 0, 0, .4);
        }
    }
}