@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";
@import "../../../../../common/qsc/less/alert-box.less"; //弹窗


body {
    background-color: #F8F8F8;
}

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #F8F8F8;
    // margin-top: -56px;

    .page-inner {
        padding-top: 56px;

        .wrapper {
            .infoWrap {
                padding: 12px 16px;
                background: #fff;

                .headInfoWrap {
                    .avatar {
                        display: inline-block;
                        vertical-align: middle;
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                        background: url(../img/1.png) no-repeat;
                        background-size: 60px 60px;
                    }

                    .rightInfo {
                        margin-left: 12px;
                        display: inline-block;
                        vertical-align: middle;

                        width: 70%;

                        .nameStates {
                            .name {
                                font-size: 20px;
                                font-weight: 600;
                                vertical-align: middle;
                            }

                            .verifyState {
                                vertical-align: middle;
                                margin-left: 12px;
                                font-size: 12px;
                                color: #43ac43;

                                &::before {
                                    display: inline-block;
                                    vertical-align: text-top;

                                    margin-right: 4px;
                                    content: '';
                                    width: 13px;
                                    height: 13px;
                                    background: url(../img/pass.png) no-repeat;
                                    background-size: 13px;
                                }
                            }
                        }

                        p {
                            margin-top: 12px;
                            font-size: 12px;
                            color: #999;
                        }
                    }
                }

                .bottomInfoWrap {
                    margin-top: 16px;
                    font-size: 12px;

                    .BottomInfo {
                        margin-bottom: 8px;

                        .left {
                            display: inline-block;
                            width: 49%;

                            .grey {
                                color: #999;
                            }
                            .black{
                                font-weight: 600;
                            }
                        }

                        .right {
                            display: inline-block;
                            width: 49%;

                            .grey {
                                color: #999;
                            }
                            .black{
                                font-weight: 600;
                            }
                        }

                        .noWrap {
                            margin-bottom: 8px;

                            .grey {
                                color: #999;
                            }
                            .black{
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

            .verifyWrap {
                margin-top: 10px;
                padding: 20px 16px;
                background: #fff;

                .title {
                    margin-bottom: 14px;
                    font-size: 16px;
                    font-weight: 600;
                }

                .subTitle {
                    margin-bottom: 8px;
                    font-size: 13px;
                    color: #999;
                }

                .subContent {
                    margin-bottom: 8px;
                    font-size: 13px;
                    color: #43ac43;
                    vertical-align: middle;

                    &::before {
                        display: inline-block;
                        vertical-align: middle;

                        margin-right: 4px;
                        content: '';
                        width: 13px;
                        height: 13px;
                        background: url(../img/pass.png) no-repeat;
                        background-size: 13px;
                    }
                }
            }

            .programRelated {
                margin-top: 20px;
                padding: 0 16px;

                .programRelatedTitle {
                    font-size: 16px;
                    font-weight: 600;
                }

                .card {
                    background: #fff;
                    margin-top: 16px;
                    padding: 21px 0 21px 10px;
                    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
                    border-radius: 6px;

                    .critical-disease-img {
                        display: inline-block;
                        background: url(../img/disease.png) no-repeat;
                        width: 90px;
                        height: 90px;
                        background-size: contain;
                        vertical-align: top;
                        position: relative;

                        .covid-assist-id {
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            margin-left: -45px;

                            background: url(../img/covid-assist-id.png) no-repeat;
                            width: 90px;
                            height: 21px;
                            background-size: 90px 21px;
                        }

                        .covid-assist-en {
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            margin-left: -45px;

                            background: url(../img/covid-assist.png) no-repeat;
                            width: 90px;
                            height: 21px;
                            background-size: 90px 21px;
                        }
                    }

                    .accident-img {
                        display: inline-block;
                        background: url(../img/accident.png) no-repeat;
                        width: 90px;
                        height: 90px;
                        background-size: contain;
                        vertical-align: top;
                    }

                    .right-content {
                        margin-left: 8px;
                        display: inline-block;
                        width: 62%;
                        vertical-align: top;

                        .title {
                            font-size: 14px;
                            line-height: 24px;
                        }

                        .detail {
                            margin-top: 5px;
                            font-size: 14px;
                            line-height: 17px;
                            color: #999;
                        }

                        .join-btn {
                            margin-top: 10px;
                            width: 160px;
                            border-radius: 50px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            background: #43ac43;
                            color: #fff;
                            font-size: 14px;
                            position: relative;


                        }
                    }
                }
            }
        }

    }
}