// @import "/Users/richyoung/qsc/Indonesia-h5/dev/common/qsc/less/_uploader";
// @import "../../../common/qsc/less/uploader.less";

@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";
// @import "../../../../common/qsc/less/common_footer.less";

input::-webkit-input-placeholder {
  /* placeholder颜色  */
  color: #cccccc;
  /* placeholder字体大小  */
  font-size: 14px;
  font-weight: normal;
  /* placeholder位置  */
  // text-align: right;
  /* placeholder字体样式  */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.page-wrapper {
  position: relative;
  max-width: 620px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 100vh;
  margin-top: -56px; // background:url('../img/banner.jpg');

  .page-inner {
    padding-top: 56px;

    .wrapper {
      margin-top: 30px;
      padding: 0 16px;

      .title {
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: 16px;
      }

      .select-time-limit {
        position: relative;
        padding: 0 5%;
        width: 90%;
        height: 44px;
        font-size: 14px;
        background-color: #f8f8f8;
        border: 0;
        border-radius: 6px;

        &.active {
          .l,
          .r {
            &.plz-choose {
              display: none;
            }

            &.isDays {
              display: block;
            }
          }
        }

        .l,
        .r {
          &.plz-choose {
            display: block;
          }

          &.isDays {
            display: none;
          }
        }

        .l {
          line-height: 44px;
          font-size: 14px;
          font-weight: bold;
          position: absolute;
          top: 0;
          left: 5%;

          &.plz-choose {
            color: #cccccc;
          }
        }

        .r {
          line-height: 44px;
          font-size: 14px;
          font-weight: bold;
          position: absolute;
          top: 0;
          right: 5%;
          color: #cccccc;

          &::after {
            content: "";
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(../img/button.png) no-repeat;
            background-size: 24px;
            vertical-align: middle;
          }
        }
      }

      .tips {
        margin-top: 8px;
        font-size: 12px;
        line-height: 12px;
        color: #999999;
      }
    }

    .saveBtn {
      cursor: pointer;
      width: 100%;
      padding: 0 16px;
      left: 0;
      box-sizing: border-box;
      height: 44px;
      position: fixed;
      bottom: 8px;

      p {
        text-align: center;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        line-height: 44px;
        background-color: #ccc;
        border-radius: 5px;
        width: 100%;
      }

      &.active {
        p {
          background-color: #43ac43;
        }
      }
    }
  }
}
