.alert-bank-box {
    display: none;
    // display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.65;
    }

    .alert-content {
        position: absolute;
        background: #fff;
        width: 90%;
        // height: 430px;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        z-index: 3001;
        margin-left: -45%;
        margin-top: -215px;
        border-radius: 5px;

        .content-inner {
            position: relative;
            padding: 18px 16px;

            .alert-title {
                font-size: 16px;
                font-weight: bold;
            }
            .guide-word{
                margin-top: 10px;
                font-size: 13px;
                color: #999;
                line-height: 18px;
            }
            .confirm{
                margin-top: 30px;
                background: #43ac43;
                border-radius: 6px;
                height: 44px;
                text-align: center;
                p{
                    line-height: 44px;
                    color: #fff;
                    font-weight: bold;
                }
            }
            .bank-book{
                margin: 23px auto;
                width: 256px;
                height: 175px;
                background:url(../img/bank-book.png)  no-repeat;
                background-size: 256px 175px;
            }
        }
    }
}