@import "../../../../../common/qsc/less/bank-list.less";

.patient-himself-wrap {
    display: none;

    .patient-himself {

        .black-title {
            margin-top: 40px;
            font-size: 20px;
            font-weight: bold;
            color: #333;
        }

        .inner-input-wrap {
            margin-top: 21px;

            .inner-title {
                font-size: 14px;
                color: #999;
            }

            .inner-input {
                margin-top: 12px;
                width: 90%;
                height: 44px;
                padding: 0 5%;
                font-size: 14px; // font-weight: bold;
                background-color: #F8F8F8;
                border-radius: 6px;
            }
        }

        .select-wrapper {
            margin-top: 21px;

            .bankDeposit {
                font-size: 14px;
                color: #999;
            }

            .bank {
                margin-top: 12px;
                width: 90%;
                height: 44px;
                padding: 0 5%;
                font-size: 14px; // font-weight: bold;
                background-color: #F8F8F8;
                border-radius: 6px;
                position: relative;

                &::after {
                    content: '';
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background: url(../img/select.png) no-repeat;
                    background-size: 24px 24px;
                    position: absolute;
                    right: 16px;
                    bottom: 10px;
                }

                .bank-name {
                    line-height: 44px;
                    color: #ccc;
                }
            }
        }

        .campaign-images {
            .img-desc {
                font-size: 12px;
                color: #43ac43;
                line-height: 14px;
                margin-top: 12px;
                margin-bottom: 10px;
            }
        }

        .input_wrapper {
            margin-top: 16px;
            width: 100%;
            position: relative;

            .countryCode {
                z-index: 1;
                width: 56px;
                height: 44px;
                position: absolute;
                margin-left: 16px;
                line-height: 40px;

                .addSign {
                    display: inline-block;
                }

                .countryNum {
                    font-size: 14px;
                    color: #333333;
                    line-height: 24px;
                    display: inline-block;
                    vertical-align: middle;
                    border-right: 1px solid #CCCCCC;
                    padding-right: 16px;
                }
            }

            .content {
                padding: 0 5%;
                width: 90%;
                height: 44px;
                font-size: 14px;
                // font-weight: bold;
                background-color: #F8F8F8;
                border: 0;
                border-radius: 6px;

                &.phoneNum {
                    width: 100%;
                    padding-left: 71px;
                    box-sizing: border-box;
                }
            }
        }

        .patient-next {
            margin-top: 30px;
            width: 100%;
            height: 60px;
            text-align: center;
            background: #fff;
            z-index: 2000;

            .patient-next-btn {

                p {
                    border-radius: 6px;
                    background: #43ac43;
                    line-height: 44px;
                    color: #fff;
                    font-weight: bold;
                }
            }
        }

    }
}