.relation-toast {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.8;
    }

    .relation-btn-wrap {
        position: absolute;
        bottom: 72px;
        left: 0;
        width: 100%;
        height: 85px;
        z-index: 3001;
        .relation-btn-inner{
            padding: 0 16px;
            .patient-btn {
                border-radius: 6px 6px 0 0;
                background: #fff;
                height: 42px;
                width: 100%;

                text-align: center;
                line-height: 42px;
                color: #43ac43;
                font-size: 16px;

            }
            .relatives-btn {
                border-radius: 0 0 6px 6px;
                border-top: 1px solid #D8D8D8;
                background: #fff;
                height: 42px;
                width: 100%;
                
                text-align: center;
                line-height: 42px;
                color: #43ac43;
                font-size: 16px;

            }
        }
    }

    .cancle-btn-wrap {
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        height: 42px;
        z-index: 3001;

        .cancle-btn-inner{
            padding: 0 16px;
            .cancle-btn {
                border-radius: 6px;
                border: 1px solid #D8D8D8;
                background: #fff;
                height: 42px;
                width: 100%;

                text-align: center;
                line-height: 42px;
                color: #333;
                font-size: 16px;
            }
        }
       
    }
}