.alert-bank {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;

    .bank-mask {
        // display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.8;
    }

    .content {
        position: absolute;
        background: #fff;
        width: 90%; // height: 321px;
        margin: 0 auto;
        top: 61%;
        left: 50%;
        z-index: 3001;
        margin-left: -45%;
        margin-top: -236px;
        border-radius: 6px;

        .close {
            display: inline-block;
            background: url(../img/close_icon.png) no-repeat;
            background-size: contain;
            width: 30px;
            height: 60px;
            z-index: 3000;
            position: absolute;
            top: -58px;
            right: 0;
        }

        .content-inner {
            .title {
                margin-top: 30px;
                margin-left: 15px;
                margin-bottom: 20px;
                font-size: 20px;
                font-weight: bold;
                line-height: 24px;
            }

            .bank-items {
                height: 246px;
                overflow: auto;

                .list-items {
                    border-bottom: 1px solid #EEE;
                    font-size: 16px;
                    height: 49px;
                    line-height: 48px;
                    // p {
                    //     font-size: 14px;
                    //     color: #999999;
                    //     margin-left: 20px;
                    // }
                    
                    &.hide {
                        display: none !important;
                    }

                    .icon {
                        background: url(../img/GOPAY.png);
                        background-size: 68.5px 24px;
                        height: 24px;
                        width: 68.5px;
                        height: 24px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 15px;
                    }

                    .bank-name {
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 10px;
                    }

                    &.choosed-bank {
                        background: #F8F8F8;
                    }
                }
            }
        }
    }
}