.scroll-wrap {
    position: absolute;
    // bottom: 0;
    top: -89px;
    left: 2.7%;

    .scroll {
        display: inline-block;
        overflow: hidden;
        position: relative;
        height: 75px;

        .animate {
            transition: all .3s ease-out;
        }
        ul {
            transform: translateY(0);

            li {

                // width: 150px;
                div {
                    width: fit-content;
                    background: rgba(255, 97, 0, .7);
                    border-radius: 50px;
                    padding: 4px 10px 4px 4px;
                }

                // opacity: 0.7;
                margin-bottom: 8px;
                height: 24px;
                padding: 4px 4px 4px 4px;

                .content {
                    vertical-align: middle;
                    font-size: 12px;
                    line-height: 12px;
                    color: #fff;
                    font-weight: normal;
                }

                .avatar {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    vertical-align: middle;

                }

                .msg-swiper-avatar {
                    display: inline-block;
                    vertical-align: middle;
                    width: 20px;
                    height: 20px;
                    // background: url(../img/enterprise_icon.png) no-repeat;
                    background-size: contain;
                    margin-right: 4px;
                }
            }
        }
    }
}