.publicity-insert{
    padding: 16px 20px;
    .publicationWrap{
        .publicationTitle{
            font-size: 20px;
            font-weight: bold;
            color: #333;
        }
        
        .publicationCardWrap{
            margin-top: 20px;
            .tabWrap{
                font-size: 16px;
                color: #999;
                .tab{
                    margin-right: 40px;
                    &.chose{
                        color: #43ac43;
                        font-weight: bold;
                        position: relative;
                        &::after{
                            display: block;
                            content: '';
                            position: absolute;
                            left: 0;
                            width: 60px;
                            height: 4px;
                            background: #43ac43;
                            margin-top: 4px;
                        }
                    }
                }
                
            }
            .tabContent{
                margin-top: 16px;
                width: 100%;
                height: 194px;
                &.cTabContent{
                    display: block;

                }
               
                .cardWrap{
                    margin-bottom: 10px;
                    box-sizing: border-box;
                    padding: 16px;
                    height: 92px;
                    width: 100%;
                    border-radius: 8px;
                    background: #F8F8F8;
                    .avatar{
                        display: inline-block;
                        vertical-align: middle;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        // background: url(../img/1.png) no-repeat;
                        background-size: 60px 60px;
                    }
                    .cardContentWrap{
                        display: inline-block;
                        vertical-align: middle;
                        width: 73%;
                        margin-left: 12px;
                        // width: calc(~"100% - 60px");

                        font-size: 12px;
                        .nameWrap{
                            .name{
                                font-size: 14px;
                                font-weight: 600;
                            }
                            .nameSub{
                                margin-left: 10px;
                                border-radius: 2px;
                                padding: 1px 8px;
                                background: #D8D8D8;
                                color: #999;
                            }
                        }
                        .firstP{
                            margin-top: 11px;
                            color: #999;
                            span{
                                color: #43ac43;
                            }
                        }
                        .secondP{
                            margin-top: 4px;
                            color: #999;
                            span{
                                color: #43ac43;
                            }
                        }
                    }
                }
               
                .cPublicEmpty{
                    height: 100%;

                    .publicEmptyBg{
                        padding-top: 58px;

                        margin: 0 auto 8px;
                        width: 140px;
                        height: 49px;
                        background: url(../img/public-empty.png) no-repeat;
                        background-size: 140px 49px;
                        background-position-y: 58px;
                    }
                    .publicEmptyTips{
                        text-align: center;
                        margin: auto;
                        width: 170px;
                        font-size: 11px;
                        color: #999;
                    }
                    
                }
            }
            .publicCheckBtn{
                margin-top: 18px;
                text-align: center;

                span{
                    
                    padding: 8px 16px;
                    background: #ECF6EC;
                    color: #43ac43;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }
}