@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";
@import "./_alert-box.less";
@import "../../../../common/qsc/less/alert-box.less"; //弹窗
// @import "../../../../common/qsc/less/shareTpl-gtry.less"; //分享弹窗
@import "./_donation-msg-swiper.less";
@import "../../../../common/qsc/less/GTRY_alertBoxTpl.less";
@import "./_publication.less";

// @import "../../../../common/qsc/less/common_footer.less";

body {
    background-color: #fff;
}

.inAndroid {
    .home-btn {
        display: none !important;
    }
}

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: -56px;

    .page-inner {
        padding-top: 56px;

        .wrapper {
            width: 100%;

            .banner {
                position: relative;

                .home-btn {
                    position: fixed;
                    z-index: 1;
                    top: 70px;
                    background: url(../img/home.png) no-repeat;
                    width: 86px;
                    height: 34px;
                    background-size: 86px 34px;
                }

                .covid-pop-en {
                    position: absolute;
                    bottom: 3px;
                    left: 50%;
                    margin-left: -75px;
                    background: url(../img/covid-banner.png) no-repeat;
                    width: 150px;
                    height: 27px;
                    background-size: 150px 27px;
                }

                .covid-pop-id {
                    position: absolute;
                    bottom: 3px;
                    left: 50%;
                    margin-left: -75px;
                    background: url(../img/covid-banner-id.png) no-repeat;
                    width: 150px;
                    height: 27px;
                    background-size: 150px 27px;
                }

                &.id {
                    position: relative;
                    background: url(../img/diease-id.png);
                    height: 180px;
                    width: 100%;
                    background-size: cover;
                    background-position-x: 70%;
                }

                &.en {
                    position: relative;
                    background: url(../img/diease-en.png);
                    height: 180px;
                    width: 100%;
                    background-size: cover;
                    background-position-x: 70%;
                }

                .banner-inner {
                    padding: 20px 16px;
                }
            }

            .run-number {
                position: relative;
                text-align: center;
                width: 100%;
                height: 75px;
                border-bottom: 10px solid #F7FAFF;

                &::after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%);
                    content: "";
                    display: block;
                    width: 1px;
                    height: 16px;
                    margin-top: -8px;
                    background-color: #CCCCCC;
                }

                .run-number-inner {
                    position: absolute;
                    width: 80%;
                    top: 18px;
                    left: 50%;
                    transform: translate(-50%);

                    .num {
                        position: absolute;
                        display: inline-block;
                        font-size: 12px;
                        color: #999999;

                        .b {
                            font-size: 18px;
                            font-weight: bold;
                            color: #000;
                            margin-bottom: 3px;
                        }

                        &.num-1 {
                            left: 0;
                        }

                        &.num-2 {
                            right: 0;
                        }
                    }

                    /*滚动数字*/

                    .mt-number-animate {
                        position: relative;
                        line-height: 18px;
                        font-size: 18px;
                        height: 18px;
                        display: inline-block;
                        overflow: hidden;
                    }

                    .mt-number-animate .mt-number-animate-dot {
                        width: 8px;
                        line-height: 18px;
                        float: left;
                        text-align: center;
                    }

                    .mt-number-animate .mt-number-animate-dom {
                        width: 11px;
                        text-align: center;
                        float: left;
                        position: relative;
                        top: 0;
                    }

                    .mt-number-animate .mt-number-animate-dom .mt-number-animate-span {
                        width: 100%;
                        float: left;
                    }

                    /*滚动数字*/

                }
            }

            .join-free-card {
                padding: 20px 16px;

                .join-free-bg {
                    position: relative;
                    border-radius: 12px;
                    width: 100%;
                    height: 120px;
                    background: url(../img/freeCardBg.png) no-repeat;
                    background-size: cover;

                    // background-size: 100% 110px;
                    .join-free-left {
                        position: absolute;

                        .hand {
                            position: absolute;
                            left: 0;
                            top: -10px;
                            background: url(../img/joinFreeHand.png) no-repeat;
                            width: 64px;
                            height: 87px;
                            background-size: contain;
                        }

                        .green-card {
                            position: absolute;
                            left: 14px;
                            top: 40px;
                            background: url(../img/greenCard.png) no-repeat;
                            width: 98px;
                            height: 70px;
                            background-size: contain;
                        }
                    }

                    .join-free-right {
                        position: absolute;
                        left: 40%;
                        width: 57%;
                        padding-top: 13px;
                        height: 107px;

                        // overflow: hidden;
                        // overflow: hidden;
                        // white-space: nowrap;
                        // text-overflow: ellipsis;
                        p {
                            word-wrap: break-word;
                            // overflow: hidden;
                            // white-space: nowrap;
                            // text-overflow: ellipsis;
                        }

                        .join-free-title {
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            font-size: 20px;
                            font-weight: bold;
                        }

                        .join-free-content {
                            margin-top: 11px;

                            font-size: 13px;
                            line-height: 18px;
                        }

                        .join-free-click {
                            margin-top: 6px;

                            font-size: 12px;
                            line-height: 18px;
                            color: #9F2700;

                            span {
                                text-decoration: underline;

                            }
                        }
                    }
                }
            }

            .support-wrap {
                padding: 16px;
                // border-bottom: 10px solid #F7FAFF;

                .support-title {
                    color: #999;
                    font-size: 12px;
                }

                .support-inner {
                    margin-top: 10px;
                    display: flex;
                    justify-content: space-between;

                    .BCA {
                        vertical-align: middle;
                        display: inline-block;
                        background: url(../img/BCA.png) no-repeat;
                        width: 16%;
                        height: 30px;
                        background-position: 50%;

                        background-size: contain;
                    }

                    .SINAMARS {
                        vertical-align: middle;

                        display: inline-block;
                        background: url(../img/sinarmas.png) no-repeat;
                        width: 16%;
                        height: 30px;
                        background-position: 50%;
                        background-size: contain;
                    }

                    .GOPAY {
                        vertical-align: middle;

                        display: inline-block;
                        background: url(../img/GoPay.png) no-repeat;
                        width: 17%;
                        height: 30px;
                        background-position: 50%;

                        background-size: contain;
                    }

                    .OVO {
                        vertical-align: middle;

                        display: inline-block;
                        background: url(../img/ovo.png) no-repeat;
                        width: 14%;
                        height: 30px;
                        background-position: 50%;

                        background-size: contain;
                    }

                    .LINK {
                        vertical-align: middle;

                        display: inline-block;
                        background: url(../img/link.png) no-repeat;
                        width: 10%;
                        height: 30px;
                        background-position: 50%;

                        background-size: contain;
                    }

                    .INTERTEK {
                        vertical-align: middle;

                        display: inline-block;
                        background: url(../img/dana.png) no-repeat;
                        width: 15%;
                        height: 30px;
                        background-position: 50%;

                        background-size: contain;
                    }
                }

            }

            // monitor
            .monitor_box {
                padding: 20px 16px;
                border-bottom: 10px solid #F7FAFF;

                p {
                    font-size: 12px;
                    color: #999999;
                }

                .monitor {
                    width: 90%;
                    height: 21px;
                    background: url(../img/monitor.png) no-repeat;
                    background-size: 100% 21px;
                    margin-top: 10px;
                }
            }

            .dieases-wrap {
                padding: 29px 16px;
                border-bottom: 10px solid #F7FAFF;

                .diease-title {
                    text-align: center;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 25px;
                }

                .diease-btn {
                    margin-top: 20px;
                    border-radius: 6px;
                    border: 1px solid #43ac43;
                    color: #43ac43;
                    height: 44px;

                    p {
                        text-align: center;
                        line-height: 44px;
                    }
                }
            }

            .definition-wrap {
                padding: 30px 16px;
                border-bottom: 10px solid #F7FAFF;

                .definition-title {
                    font-size: 20px;
                    font-weight: bold;
                    color: #333;
                }

                .definition-content {
                    margin-top: 15px;
                    color: #999;
                    font-size: 14px;
                    line-height: 21px;

                    span {
                        color: #333;
                    }
                }
            }

            .version {
                display: none;
            }


            .scheme-title {
                border-top: 10px solid #f8f8f8;
                padding-top: 30px;
                margin: 0 auto 20px;
                text-align: center;
                font-size: 20px;
                font-weight: bold;

            }

            .gtry-scheme {
                box-sizing: border-box;
                padding: 0 16px;



                .scheme-bg {
                    &.en {

                        width: 100%;
                        height: 550px;
                        background: url(../img/scheme-bg-en.png) no-repeat;
                        background-size: 328px 550px;
                        background-position: center;
                    }

                    &.id {
                        width: 100%;
                        height: 550px;
                        background: url(../img/scheme-bg-id.png) no-repeat;
                        background-size: 328px 550px;
                        background-position: center;
                    }
                }

            }

            .scheme-tips {
                padding-left: 16px;
                margin-top: 12px;
                font-size: 12px;
                color: #969696;
            }

            .how-work {
                margin-top: 20px;
                padding: 20px 16px;
                border-top: 11px solid #F8F8F8;
                border-bottom: 11px solid #F8F8F8;

                .title {
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
                }

                .sub-content {
                    margin-top: 16px;
                    text-align: center;
                    font-size: 12px;
                    line-height: 16px;
                    color: #999;
                }

                .step-wrap {
                    margin-top: 20px;
                    margin-bottom: 13px;

                    display: flex;
                    justify-content: space-between;

                    .step-content {
                        width: 45%;

                        .step-bg {
                            width: 100%;
                            height: 115px;

                            &.bg-1 {
                                background: url(../img/1.png) no-repeat;
                                // background-size: 225px 180px;
                                background-size: cover;
                            }

                            &.bg-2 {
                                background: url(../img/2.png) no-repeat;
                                // background-size: 225px 180px;
                                background-size: cover;
                            }

                            &.bg-3 {
                                background: url(../img/3.png) no-repeat;
                                // background-size: 225px 180px;
                                background-size: cover;
                            }

                            &.bg-4 {
                                background: url(../img/4.png) no-repeat;
                                // background-size: 225px 180px;
                                background-size: cover;
                            }
                        }

                        .step-tips {
                            margin-top: 8px;
                            font-size: 11px;
                            line-height: 16px;
                            color: #666;
                            text-align: center;
                        }
                    }
                }

                .end-tips {
                    font-size: 12px;
                    color: #969696;
                    line-height: 18px;
                }
            }

            .mol {
                padding: 30px 16px;
                border-bottom: 10px solid #F7FAFF;
                font-size: 14px;

                .mol-inner {
                    .title {
                        font-size: 20px;
                        color: #333333;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }

                    .list-wrapper {
                        .list {
                            padding-bottom: 20px;

                            .icon {
                                vertical-align: middle;
                                display: inline-block;
                                width: 15%;
                                height: 40px;
                            }

                            .cont {
                                display: inline-block;
                                vertical-align: middle;
                                width: 83%;

                                .next-cont {
                                    position: relative;
                                    width: 90%;

                                    &::after {
                                        content: "";
                                        display: inline-block;
                                        width: 7px;
                                        height: 11px;
                                        background: url(../img/r-icon.png) no-repeat;
                                        background-size: 7px 11px;
                                        position: absolute;
                                        right: -10%;
                                        top: 50%;
                                        margin-top: -5px;
                                    }
                                }
                            }

                            .icon {
                                vertical-align: middle;
                                display: inline-block;
                                width: 15%;
                                height: 40px;
                            }

                            &.l-1 {
                                .icon {
                                    background: url(../img/icon-1.png) no-repeat;
                                    background-size: 40px 40px;
                                }
                            }

                            &.l-2 {
                                .icon {
                                    background: url(../img/icon-2.png) no-repeat;
                                    background-size: 40px 40px;
                                }
                            }

                            &.l-3 {
                                .icon {
                                    background: url(../img/icon-3.png) no-repeat;
                                    background-size: 40px 40px;
                                }
                            }

                            &.l-5 {
                                .icon {
                                    background: url(../img/icon-10.png) no-repeat;
                                    background-size: 40px 40px;
                                }
                            }

                            &.l-4 {
                                border-bottom: none !important;
                                // padding-bottom: 0 !important;
                                margin-bottom: 0 !important;

                                .icon {
                                    vertical-align: text-top;
                                    background: url(../img/icon-4.png) no-repeat;
                                    background-size: 40px 40px;
                                }

                                .cont {
                                    vertical-align: text-top;
                                }
                            }

                            .grey {
                                color: #999999;
                                line-height: 22px;

                                &.small {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }

                &.introduction {
                    .list-wrapper {
                        .list {
                            &.l-4 {
                                .cont .next-cont {
                                    width: 95%;

                                    .small {
                                        line-height: 16px;
                                    }
                                }
                            }

                            &.l-1,
                            &.l-3,
                            &.l-4,
                            &.l-5 {
                                .cont .next-cont::after {
                                    display: none !important;
                                }
                            }

                            &.l-1,
                            &.l-2,
                            &.l-3,
                            &.l-4,
                            &.l-5 {
                                .icon {
                                    vertical-align: text-top;
                                }

                                .cont {
                                    vertical-align: text-top;

                                }
                            }
                        }
                    }
                }

                &.rules {
                    .list {
                        border-bottom: 1px solid #EEEEEE;
                        margin-bottom: 18px;

                        &.l-1,
                        &.l-2 {
                            .cont .next-cont::after {
                                display: none !important;
                            }
                        }

                        .cont {
                            width: 100% !important;
                        }

                        .grey {
                            margin-bottom: 6px;
                        }
                    }
                }

                &.how-work {

                    .mol-inner {

                        .list-wrapper {
                            .list {
                                position: relative;
                                background-color: #ECF6EC;
                                padding: 10px;
                                margin-bottom: 10px !important;
                                height: 180px;

                                &::after {
                                    display: block;
                                    content: "1";
                                    width: 24px;
                                    height: 24px;
                                    border-radius: 50%;
                                    background: #fff;
                                    border: 2px solid #43AC43;
                                    color: #43AC43;
                                    line-height: 24px;
                                    text-align: center;
                                    font-weight: bold;
                                }

                                .list-inner {
                                    min-height: 109px;
                                    transform: translate(-50%, -50%);
                                    top: 50%;
                                    left: 50%;
                                    position: absolute;
                                    width: 100%;
                                    padding: 0 10px;
                                    box-sizing: border-box;

                                    .icon {
                                        width: 27%;
                                        height: 109px;
                                    }

                                    .cont {
                                        width: 71%;
                                        box-sizing: border-box;
                                        padding: 0 18px;

                                        p {
                                            font-size: 12px;
                                            line-height: 21px;
                                            color: #333;

                                            span {
                                                font-weight: bold;
                                            }
                                        }
                                    }

                                }

                                &.l-1 {
                                    &::after {
                                        content: "1";
                                    }

                                    .icon {
                                        background: url(../img/w-1.png) no-repeat;
                                        background-size: contain;
                                        background-position: center;
                                    }
                                }

                                &.l-2 {
                                    &::after {
                                        content: "2";
                                    }

                                    .icon {
                                        background: url(../img/w-2.png) no-repeat;
                                        background-size: contain;
                                        background-position: center;
                                    }
                                }

                                &.l-3 {
                                    &::after {
                                        content: "3";
                                    }

                                    .icon {
                                        background: url(../img/w-3.png) no-repeat;
                                        background-size: contain;
                                        background-position: center;
                                    }
                                }

                                &.l-4 {
                                    &::after {
                                        content: "4";
                                    }

                                    .cont {
                                        vertical-align: middle;
                                    }

                                    .icon {
                                        vertical-align: middle;
                                        background: url(../img/w-4.png) no-repeat;
                                        background-size: contain;
                                        background-position: center;
                                    }
                                }

                                &.l-5 {
                                    &::after {
                                        content: "5";
                                    }

                                    margin-bottom: 0px;

                                    .icon {
                                        background: url(../img/w-5.png) no-repeat;
                                        background-size: contain;
                                        background-position: center;
                                    }
                                }
                            }
                        }

                        .check {
                            text-align: center;
                            margin-top: 15px;
                            line-height: 23px;

                            .grey {
                                color: #999999;
                            }

                            .bold {
                                color: #333333;
                                font-weight: bold;
                            }
                        }

                    }
                }

                // &.how-work {

                //     .mol-inner {

                //         .list-wrapper {
                //             .list {
                //                 position: relative;
                //                 background-color: #ECF6EC;
                //                 padding: 10px;
                //                 margin-bottom: 10px !important;
                //                 height: 170px;

                //                 &::after {
                //                     display: block;
                //                     content: "1";
                //                     width: 24px;
                //                     height: 24px;
                //                     border-radius: 50%;
                //                     background: #fff;
                //                     border: 2px solid #43AC43;
                //                     color: #43AC43;
                //                     line-height: 24px;
                //                     text-align: center;
                //                     font-weight: bold;
                //                 }

                //                 .list-inner {
                //                     min-height: 109px;
                //                     transform: translate(-50%, -50%);
                //                     top: 50%;
                //                     left: 50%;
                //                     position: absolute;
                //                     width: 100%;
                //                     padding: 0 10px;
                //                     box-sizing: border-box;

                //                     .icon {
                //                         width: 27%;
                //                         height: 109px;
                //                     }

                //                     .cont {
                //                         width: 71%;
                //                         box-sizing: border-box;
                //                         padding: 0 18px;

                //                         p {
                //                             font-size: 12px;
                //                             line-height: 21px;
                //                             color: #333;
                //                         }
                //                     }

                //                 }

                //                 &.l-1 {
                //                     &::after {
                //                         content: "1";
                //                     }

                //                     .icon {
                //                         background: url(../img/w-1.png) no-repeat;
                //                         background-size: contain;
                //                         background-position: center;
                //                     }
                //                 }

                //                 &.l-2 {
                //                     &::after {
                //                         content: "2";
                //                     }

                //                     .icon {
                //                         background: url(../img/w-2.png) no-repeat;
                //                         background-size: contain;
                //                         background-position: center;
                //                     }
                //                 }

                //                 &.l-3 {
                //                     &::after {
                //                         content: "3";
                //                     }

                //                     .icon {
                //                         background: url(../img/w-3.png) no-repeat;
                //                         background-size: contain;
                //                         background-position: center;
                //                     }
                //                 }

                //                 &.l-4 {
                //                     &::after {
                //                         content: "4";
                //                     }

                //                     .cont {
                //                         vertical-align: middle;
                //                     }

                //                     .icon {
                //                         vertical-align: middle;
                //                         background: url(../img/w-4.png) no-repeat;
                //                         background-size: contain;
                //                         background-position: center;
                //                     }
                //                 }

                //                 &.l-5 {
                //                     &::after {
                //                         content: "5";
                //                     }

                //                     margin-bottom: 0px;

                //                     .icon {
                //                         background: url(../img/w-5.png) no-repeat;
                //                         background-size: contain;
                //                         background-position: center;
                //                     }
                //                 }
                //             }
                //         }

                //         .check {
                //             text-align: center;
                //             margin-top: 15px;
                //             line-height: 23px;

                //             .grey {
                //                 color: #999999;
                //             }

                //             .bold {
                //                 color: #333333;
                //                 font-weight: bold;
                //             }
                //         }

                //     }
                // }

                &.guarantee {
                    .mol-inner .list-wrapper .list {
                        background-color: #F8F8F8;
                        padding: 10px;
                        border-radius: 6px;
                        margin-bottom: 10px;

                        .icon {
                            width: 10%;
                            height: 24px;
                        }

                        &.l-1 {
                            .icon {
                                background: url(../img/icon-5.png) no-repeat;
                                background-size: 24px 24px;
                            }
                        }

                        &.l-2 {
                            .icon {
                                background: url(../img/icon-6.png) no-repeat;
                                background-size: 24px 24px;
                            }
                        }

                        &.l-3 {
                            .icon {
                                background: url(../img/icon-7.png) no-repeat;
                                background-size: 24px 24px;
                            }
                        }

                        &.l-4 {
                            padding-bottom: 10px !important;

                            .icon {
                                background: url(../img/icon-8.png) no-repeat;
                                background-size: 24px 24px;
                            }

                            .cont {
                                vertical-align: middle;
                            }
                        }
                    }
                }

                &.compensation {
                    .mol-inner {
                        .list-wrapper {
                            padding-top: 10px;

                            .list-cnt {
                                display: inline-block;
                                height: 200px;
                                margin-left: 10px;

                                p {
                                    font-size: 14px;
                                    padding: 0 0 30px;
                                }
                            }

                            &::before {
                                content: "";
                                width: 12px;
                                height: 200px;
                                display: inline-block;
                                vertical-align: top;
                                background: url(../img/icon-9.png) no-repeat;
                                background-size: 12px 200px;
                            }
                        }
                    }
                }

                &.FAQ {
                    border-bottom: 20px solid #F7FAFF;

                    .mol-inner {
                        .title {
                            text-align: center;
                            margin-bottom: 20px;
                        }

                        .list-wrapper {
                            .list {
                                border-bottom: 1px solid #EEEEEE;
                                margin-bottom: 20px;

                                &.l-4 {
                                    border-bottom: 1px solid #EEEEEE !important;
                                    margin-bottom: 20px !important;
                                }

                                &.l-5 {
                                    border-bottom: none !important;
                                    margin-bottom: 0 !important;
                                    padding-bottom: 0;
                                }

                                &.show {
                                    border: none !important;
                                    margin-bottom: 0 !important;

                                    .next-cont {
                                        color: #333 !important;

                                        &::after {
                                            background: url(../img/d-icon.png) no-repeat !important;
                                            background-size: 11px 7px !important;
                                        }
                                    }

                                    .cont-detail {
                                        display: none;
                                    }
                                }

                                .cont {
                                    width: 100%;

                                    .next-cont {
                                        position: relative;
                                        font-size: 14px;
                                        font-weight: bold;
                                        width: 90%;
                                        color: #43AC43;

                                        .order {
                                            vertical-align: text-top;
                                            height: 14px;
                                            width: 5%;
                                            display: inline-block;
                                            color: #43ac43;
                                        }

                                        .order-title {
                                            vertical-align: text-top;
                                            margin-left: 11px;
                                            width: 90%;
                                            display: inline-block;
                                        }

                                        &::after {
                                            width: 11px;
                                            height: 7px;
                                            background: url(../img/u-icon.png) no-repeat;
                                            background-size: 11px 7px;
                                            position: absolute;
                                            right: -10%;
                                            top: 50%;
                                            margin-top: -3px;
                                        }
                                    }
                                }

                                .cont-detail {
                                    margin-top: 10px;
                                    display: block;

                                    &::before {
                                        content: "";
                                        display: block;
                                        width: 18px;
                                        height: 10px;
                                        margin-left: 10px;
                                        background: url(../img/Triangle-icon.png) no-repeat;
                                        background-size: 18px 10px;
                                    }

                                    p {
                                        padding: 15px;
                                        background-color: #F8F8F8;
                                        border-radius: 6px;
                                        line-height: 21px;
                                        color: #999999;
                                        font-size: 14px;

                                        span {
                                            color: #333;
                                        }
                                    }

                                }
                            }
                        }
                    }



                }
            }

            .covid-wrap {
                margin-top: 11px;

                // padding: 30px 15px;
                .title-wrap {
                    font-size: 20px;
                    line-height: 25px;
                    font-weight: bold;
                    text-align: center;
                }

                .covid-card {
                    padding: 0 15px;
                    margin-top: 20px;

                    .covid-desc {
                        position: relative;
                        border-radius: 6px;
                        background: #ECF3FF;
                        margin-bottom: 16px;
                        padding: 15px 0;

                        .covid-content {
                            display: inline-block;
                            width: 100%;
                            vertical-align: middle;
                            box-sizing: border-box;

                            .content-title {
                                font-size: 15px;
                                line-height: 21px;
                                font-weight: 600;
                                color: #333;
                            }

                            .content {
                                margin-top: 4px;
                                font-size: 12px;
                                line-height: 16px;
                                color: #666;
                            }

                        }

                        &.covid-1 {

                            .covid-icon {
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                display: inline-block;
                                background: url(../img/covid-1.png) no-repeat;
                                width: 82px;
                                height: 82px;
                                background-size: 82px;

                                vertical-align: middle;
                            }

                            .covid-content {
                                padding: 0 5px 0 100px;
                            }
                        }

                        &.covid-2 {
                            text-align: right;

                            .covid-icon {
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                display: inline-block;
                                background: url(../img/covid-2.png) no-repeat;
                                width: 82px;
                                height: 82px;
                                background-size: 82px;

                                vertical-align: middle;
                            }

                            .covid-content {
                                padding: 0 90px 0 5px;
                            }
                        }

                        &.covid-3 {
                            .covid-icon {
                                position: absolute;
                                left: 5px;
                                top: 50%;
                                margin-top: -30px;

                                display: inline-block;
                                background: url(../img/covid-3.png) no-repeat;
                                background-size: 70px 60px;
                                width: 70px;
                                height: 60px;

                                vertical-align: middle;
                            }

                            .covid-content {
                                padding: 0 5px 0 82px;
                            }
                        }


                    }
                }

                .FAQ {
                    margin-top: 30px;
                    padding: 0 16px;
                    border-bottom: 0;

                    .mol-inner {
                        .list-wrapper {
                            .list {
                                border-bottom: 0;
                            }
                        }
                    }

                }

                .covid-terms {
                    padding-bottom: 30px;
                    font-size: 12px;
                    text-align: center;
                    color: #43ac43;
                    text-decoration: underline;
                    border-bottom: 20px solid #F7FAFF;
                    margin-top: -12px;
                }
            }

            .protocol {
                padding: 20px 16px;

                p {
                    color: #999;
                    text-decoration: underline;
                    font-size: 14px;
                    line-height: 20px;
                    vertical-align: middle;

                    position: relative;

                }

                .HealthRequirements {
                    &::after {
                        display: inline-block;
                        float: right;
                        margin-top: 5px;
                        vertical-align: middle;
                        background: url(../img/r-icon.png) no-repeat;
                        content: '';
                        width: 5px;
                        height: 10px;
                        background-size: 5px 10px;
                    }
                }

                .TermsAndAgreements {
                    margin-top: 20px;

                    &::after {
                        display: inline-block;
                        float: right;
                        vertical-align: middle;
                        background: url(../img/r-icon.png) no-repeat;
                        content: '';
                        width: 5px;
                        height: 10px;
                        background-size: 5px 10px;
                    }
                }

            }

            .whatsapp-contact {
                border-bottom: 100px solid #F7FAFF;
                color: #43AC43;
                font-size: 13px;
                font-weight: bold;
                text-align: center;
                background: #F7FAFF;

                span {
                    display: inline-block;
                    padding: 10px 15px;
                    background: #fff;
                    border-radius: 20px;
                    margin-top: 20px;

                    &::before {
                        content: "";
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        vertical-align: bottom;
                        background: url(../img/whatsapp.png) no-repeat;
                        background-size: 16px;
                        margin-right: 10px;
                    }
                }
            }

            .share-join {
                border-top: 1px solid #EAEAEA;
                font-size: 16px;
                // font-weight: 600;
                position: fixed;
                bottom: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                background: #fff;

                .share-join-inner {
                    padding: 8px 0;

                    div {
                        display: inline-block;
                        height: 44px;
                        width: 43%;
                        line-height: 44px;
                        text-align: center;
                        color: #43AC43;
                        border: 1px solid #43AC43;
                        border-radius: 6px;
                        box-sizing: border-box;
                        cursor: pointer;
                    }

                    .share {
                        margin-left: 4.7%;
                        position: relative;

                        .pop {
                            position: absolute;
                            top: -19px;
                            transform: translate(-101%);
                            background: url(../img/pop.png) no-repeat;
                            width: 108px;
                            height: 38px;
                            background-size: cover;

                        }

                        .pop-id {
                            position: absolute;
                            top: -19px;
                            transform: translate(-101%);
                            background: url(../img/pop-id.png) no-repeat;
                            width: 108px;
                            height: 38px;
                            background-size: cover;
                        }

                    }

                    .join {
                        margin-right: 4.7%;
                        color: #fff;
                        background-color: #43AC43;
                        float: right;
                    }
                }
            }
        }
    }
}