@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";

body {
    background: #F7FAFF;
}

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    margin-top: -56px;

    .page-inner {
        padding-top: 56px;

        .inner-content {
            padding: 20px 16px;

            .level-card {
                padding: 20px 16px 44px 16px;
                background: #fff;
                border-radius: 6px;
                box-shadow: 0px 6px 14px -3px rgba(212, 227, 255, 1);

                &.highest {
                    background: url(../img/bg-card.png);
                    background-size: cover;

                    .level-top {
                        color: #6E4F13;
                    }

                    .level-detail {
                        .level-title {
                            .level {
                                background: #AF8F50;
                            }
                        }

                        .points {
                            color: #6E4F13;
                            font-weight: 400;
                        }
                    }

                    .level-progress-bar {
                        background: #DEC085;
                        .level-progress {
                            background: #6E4F13;

                            &::after {
                                position: absolute;
                                right: -2px;
                                top: -10px;
                                content: "";
                                display: block;
                                width: 10px;
                                height: 9px;
                                background: url(../img/crown_icon_3.png);
                                // background: #43ac43;
                                background-size: cover;
                            }
                        }

                        .level-sign {
                            color: #6E4F13;
                        }
                    }
                }

                .level-top {
                    font-size: 14px;
                    color: #999;

                    .title {
                        font-size: 16px;
                    }

                    .points-description {
                        float: right;
                    }
                }

                .level-detail {
                    margin-top: 10px;
                    font-weight: 450;
                    font-size: 16px;

                    .level-title {
                        display: inline-block;

                        .level {
                            padding: 4px 5px;
                            width: 42px;
                            height: 16px;
                            background: linear-gradient(45deg, #E6CEAB, #C4A570);
                            color: #fff;
                            font-size: 10px;
                            font-weight: bold;
                            border-radius: 21px;
                            vertical-align: middle;

                            .level-crown {
                                display: inline-block;
                                background: url(../img/crown_icon.png) no-repeat;
                                width: 10px;
                                height: 9px;
                                background-size: contain;
                            }

                            .level-num {
                                margin-left: 3px;
                            }
                        }
                    }

                    .points {
                        display: inline-block;
                        float: right;
                        font-weight: 400;
                    }
                }

                // 项目进度条
                .level-progress-bar {
                    margin-top: 40px;
                    max-width: 100%;
                    background: #E8E9EB;
                    border-radius: 30px;
                    height: 3px;
                    border-radius: 30px;

                    .level-progress {
                        // overflow: hidden;
                        margin: 0;
                        max-width: 100%;
                        height: 3px;
                        border-radius: 30px 0 0 30px;
                        background: linear-gradient(45deg, #E6CEAB, #C4A570);
                        position: relative;

                        &::after {
                            position: absolute;
                            right: -2px;
                            top: -10px;
                            content: "";
                            display: block;
                            width: 10px;
                            height: 9px;
                            background: url(../img/crown_icon_2.png);
                            // background: #43ac43;
                            background-size: cover;
                        }
                    }

                    .level-sign {
                        margin-top: 10px;
                        font-size: 14px;
                        color: #999;

                        .advanced-level {
                            float: right;
                        }
                    }
                }
            }

            .rules-wrap {
                margin-top: 30px;

                .rules-title {
                    font-size: 16px;
                    line-height: 24px;
                    background: #43AC43;
                    color: white;
                    border-radius: 6px 6px 0 0;
                    padding: 16px;;
                }

                .rules-content {
                    padding: 16px;
                    padding-top: 30px;
                    background: #fff;
                    border-radius: 0 0 6px 6px;
                    position: relative;
                    font-size: 14px;
                    color: #666;
                    line-height: 21px;

                    &::before {
                        position: absolute;
                        top: 0;
                        content: '';
                        display: block;
                        border-right: 20px solid transparent;
                        border-top: 20px solid #43AC43;
                    }

                    .content-title {}

                    .rules {
                        margin-top: 15px;
                        line-height: 21px;

                        tr {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

    }
}