.intention-before-zakat {
  z-index: 1000;

  .content {
    height: auto;
    top: 44%;

    .close {
      display: inline-block;
      background: url(../img/close_icon.png) no-repeat;
      background-size: contain;
      width: 30px;
      height: 60px;
      z-index: 3000;
      position: absolute;
      top: -36px;
      right: 0;
    }

    .content-inner {
      padding: 32px 0 18px;

      .title {
        padding: 0 18px 0;
      }

      .detail {
        padding: 0 18px 0;
        border-bottom: 1px solid #EEEEEE;
        margin-bottom: 15px;
        p {
          line-height: 29px;
          margin-bottom: 5px;
          &.italic{
              font-style: italic;
          }
        }

      }

      .bottom {
        padding: 0 18px 0;

        .read {
          font-size: 12px;
          color: #999999;

          &::before {
            content: '';
            display: inline-block;
            width: 18px;
            height: 18px;
            background: url(../img/unchoose.png) no-repeat;
            background-size: 18px 18px;
            vertical-align: middle;
            margin-right: 10px;
          }

        }

        .money {
          font-size: 18px;
          font-weight: 700;
          margin-top: 15px;
        }
      }

      .confirm {
        position: unset;
        width: 100%;
        height: 44px;
        left: 0;
        bottom: 15px;
        margin-top: 15px;
        padding: 0 18px;
        box-sizing: border-box;

        span {
          display: block;
          cursor: pointer;
          text-align: center;
          color: #FFFFFF;
          font-size: 16px;
          font-weight: bold;
          line-height: 44px;
          background-color: #CCCCCC;
          border-radius: 6px;
          width: 100%;
          margin: 0 auto;
          box-sizing: border-box;
        }
      }

      &.active {
        .read {
          &::before {
            background: url(../img/choose.png) no-repeat;
            background-size: 18px 18px;
          }
        }

        .confirm {
          span {
            background-color: #43AC43;
          }
        }
      }
    }
  }
}