@import "../../../../../../common/qsc/less/loading.less";
@import "../../../../../../common/qsc/less/toast.less";
@import "../../../../../../common/qsc/less/common_nav.less";

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;

    .page-inner {
        padding-top: 54px;

        .wrapper {
            padding-top: 2px;
            background-color: #fff;
            width: 100%;
            margin: 0 auto;

            .order-box {
                box-shadow: 0px 4px 13px #d3d3d3; // box-shadow: 0px 5px 10px #d3d3d3;
                margin: 16px;
                border-radius: 7px;

                .inner {

                    // padding: 16px;
                    .order-ID {
                        border-radius: 7px 7px 0 0;
                        height: 46px;
                        color: #fff;
                        font-size: 14px;
                        line-height: 46px;
                        text-align: center;
                        background: #43ac43;
                    }

                    .payment-icon {
                        position: relative;
                        height: 102.5px;

                        img {
                            position: absolute;
                            margin-top: -35px;
                            top: 50%;
                            left: 50%;
                            margin-left: -100px;
                            width: 200px;
                            height: 70px;
                        }
                    }

                    .line {
                        width: 100%;
                        height: 2px;
                        background: url(../img/Line.png) no-repeat;
                        background-size: 100% 1px;

                        &::before {
                            background: url(../img/shape-l.png) no-repeat;
                            content: "";
                            display: block;
                            width: 17px;
                            background-size: 16px;
                            height: 16px;
                            position: absolute;
                            left: 8px;
                            margin-top: -8px;
                        }

                        &::after {
                            background: url(../img/shape-r.png) no-repeat;
                            content: "";
                            display: block;
                            width: 17px;
                            background-size: 16px;
                            height: 16px;
                            position: absolute;
                            right: 8px;
                            margin-top: -8px;
                        }
                    }

                    .order-content {
                        padding: 30px 16px;

                        .title {
                            font-size: 14px;
                            line-height: 14px;
                            color: #999;
                        }

                        .amount-wrap {
                            .amount-money {
                                margin-top: 8px;
                                color: #43AC43;
                                font-size: 18px;
                                line-height: 18px;
                                font-weight: bold;
                            }
                        }

                        .payment-code-wrap {
                            margin-top: 30px;

                            .payment-code-content {
                                margin-top: 8px;
                                position: relative;

                                .payment-code {
                                    color: #43ac43;
                                    font-size: 24px;
                                    font-weight: bold;
                                }

                                .copy-btn {
                                    position: absolute;
                                    right: 0;
                                    bottom: 4px;
                                    height: 18px;
                                    width: 50px;
                                    color: #43AC43;
                                    border-radius: 9px;
                                    text-align: center;
                                    border: 1px solid #43AC43;

                                    p {
                                        font-size: 12px;
                                        line-height: 18px;
                                    }
                                }
                            }
                        }

                        .merchant-wrap {
                            margin-top: 16px;

                            .merchant-content {
                                margin-top: 8px;
                                color: #666;
                                font-size: 14px;
                                font-weight: bold;
                            }
                        }

                        .time-wrap {
                            margin-top: 16px;

                            .time-content {
                                margin-top: 8px;
                                color: #43AC43;
                                font-size: 14px;
                                line-height: 14px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }





            &.photo {
                .order-box {
                    border: 1px solid #ccc;

                    .line {
                        margin: 0 auto;
                        width: 90%;

                        &::before {
                            display: none;
                        }

                        &::after {
                            display: none;
                        }
                    }

                    .copy-btn {
                        display: none;
                    }
                }
            }
        }
    }

    .btn-box {
        background: #fff;

        .saveAsPhotoWrap {
            padding: 0 16px;

            .saveAsPhoto {
                height: 44px;
                background: #43AC43;
                color: #fff;
                text-align: center;
                line-height: 44px;
                padding: 0 20px;
                border-radius: 5px;

                p {
                    font-size: 16px;
                    font-weight: 800;
                }
            }

        }


        .line-division {
            background: #F8F8F8;
            height: 10px;
            width: 100%;
            margin-top: 20px;
        }

        .how-to-pay {
            // margin-top: 20px;
            padding: 20px;

            .tab {
                margin-top: 25px;
            }

            .tab-menu {}

            .tab-menu ul {
                list-style: none;
                display: flex;
                justify-content: space-evenly;

            }

            .tab-menu li {
                font-size: 13px;
                line-height: 14px;
                display: inline-block;
                margin: auto;
                padding: 9px 0;
            }

            .line {
                display: inline-block;
                width: 1px;
                height: 1px;
                margin: 0px;
                background: #CCC;
                margin-right: 10px;
            }

            .tab-box {
                margin-top: 22px;

                .tab-content-wrap {

                    display: none;

                    p {
                        padding: 14px 0;
                        font-size: 14px;
                        line-height: 21px;
                        border-bottom: 1px solid #eee;

                        span {
                            font-weight: bold;
                        }
                    }

                    p:last-Child {
                        border-bottom: none;
                    }
                }

                .tab-content-wrap:first-Child {
                    display: block;

                }
            }

            /* 让第一个框显示出来 */
            // .tab-box div:first-Child {
            //     display: block;
            // }

            /* 改变选项卡选中时候的样式 */
            .change {
                font-weight: bold;
                border-bottom: 4px solid #43ac43;
            }




            .list-title {
                margin-top: 10px;
                color: #43AC43;
                font-weight: bold;
                font-size: 14px;

                &::before {
                    content: '';
                    display: inline-block;
                    background-color: #43ac43;
                    width: 6px;
                    height: 6px;
                    margin-right: 10px;
                    vertical-align: middle;
                }
            }

            .em {
                font-size: 16px;
                font-weight: 800;
            }

            .tip {
                color: #FF6100;
                margin-top: 13px;
                line-height: 20px;
                font-size: 12px;

                .em {
                    font-size: 12px;
                    font-weight: 800;
                }
            }

            .lists {
                line-height: 26px;
                margin-top: 10px;

                .list {
                    border-bottom: 1px solid #EEEEEE;
                    padding: 14px 0;
                }

                .list-5 {
                    border: none;
                }
            }

            &.en {
                .lists {}
            }
        }

        .backToCampaignWrap {
            padding: 16px;
            background: #F8F8F8;

            .back-to-home {
                border: 1px solid #43ac43;
                height: 42px;
                background: #fff;
                color: #43AC43;
                text-align: center;
                line-height: 44px;
                padding: 0 20px;
                border-radius: 5px;

                p {
                    font-size: 16px;
                    font-weight: 800;
                }
            }
        }
    }

}

.canvas {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 8000;

    .pressToSaveWrap {
        .pressToSaveIcon {
            position: absolute; // bottom: 0;
            top: 68vh;
            left: 50%;
            width: 30px;
            margin-left: -15px;
            height: 35px;
            background: url(../img/press-to-save-l.png) no-repeat;
            background-size: 30px 36px;
        }

        .tips {
            width: 240px;
            text-align: center;
            color: #fff;
            font-size: 14px;
            position: absolute;
            top: 75vh;
            left: 50%;
            margin-left: -120px;
        }
    }

    .capture-img,
    .whiteCover {
        display: none;
        position: absolute;
        // width: auto !important;
        width: 260px !important;
        // height: 85vh !important;
        margin-left: -144px;
        // transform: scale(0.8,1.2);
        // animation-fill-mode: forwards;
        // transform: scale(1,0.9);
        // top: 5px;
        top: 15%;
        left: 50%;
    }

    // .whiteCover{
    //     z-index: 8001;
    //     background: #fff;
    // }


    @media screen and (max-height: 568px) {
        .pressToSaveWrap {
            .pressToSaveIcon {
                position: absolute; // bottom: 0;
                top: 82vh;
                left: 50%;
                width: 30px;
                margin-left: -15px;
                height: 35px;
                background: url(../img/press-to-save-l.png) no-repeat;
                background-size: 30px 36px;
            }

            .tips {
                width: 240px;
                text-align: center;
                color: #fff;
                font-size: 14px;
                position: absolute;
                top: 90vh;
                left: 50%;
                margin-left: -120px;
            }
        }

        .capture-img {
            // display: none;
            position: absolute;
            width: 260px !important;
            height: auto !important;
            left: 50%;
            margin-left: -250px;
            top: 5vh;
        }
    }

    @media screen and (min-width: 500px) {
        .capture-img {
            // display: none;
            position: absolute;
            width: 500px !important;
            height: auto !important;
            left: 50%;
            margin-left: -250px;
            top: 5vh;
        }
    }

    @keyframes screenshot {
        0% {
            transform: scale(1.3, 1.2);
        }

        30% {
            transform: scale(1, 0.9);
        }

        100% {
            transform: scale(1, 0.9);
        }
    }
}