@import "../../../../../../common/qsc/less/loading.less";
@import "../../../../../../common/qsc/less/toast.less";
@import "../../../../../../common/qsc/less/common_nav.less";
// @import "../../../../../common/qsc/less/common_footer.less";
.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;
    .page-inner {
        padding-top: 56px;
        .wrapper {
            width: 100%;
            margin: 0 auto;
            .QR-box {
                box-shadow: 0px 4px 13px #d3d3d3; // box-shadow: 0px 5px 10px #d3d3d3;
                margin: 16px;
                border-radius: 7px;
                .inner {
                    padding: 16px;
                    .order-ID {
                        color: #999999;
                        font-size: 14px;
                        margin-bottom: 16px;
                    }
                    .line {
                        width: 100%;
                        height: 2px;
                        background: url(../img/Line.png) no-repeat;
                        background-size: 100% 1px;
                        &::before {
                            background: url(../img/shape-l.png) no-repeat;
                            content: "";
                            display: block;
                            width: 17px;
                            background-size: 16px;
                            height: 16px;
                            position: absolute;
                            left: 8px;
                            margin-top: -8px;
                        }
                        &::after {
                            background: url(../img/shape-r.png) no-repeat;
                            content: "";
                            display: block;
                            width: 17px;
                            background-size: 16px;
                            height: 16px;
                            position: absolute;
                            right: 8px;
                            margin-top: -8px;
                        }
                    }
                    .QR-code-box {
                        font-size: 14px;
                        line-height: 22px;
                        margin-top: 13px;
                        .QR-code {
                            width: 100%;
                            padding-top: 20px;
                            .QR-code-img {
                                width: 150px;
                                height: 150px;
                                margin: 0 auto; // background: url(../img/QR.png) no-repeat;
                                // background-size: 150px;
                            }
                        }
                    }
                }
                .tips {
                    background-color: #F8F8F8;
                    padding: 13px;
                    text-align: center;
                    color: #43AC43;
                    font-size: 14px;
                    line-height: 22px;
                    border-radius: 0 0 7px 7px;
                    .em {
                        font-weight: 800;
                    }
                }
            }
            .line-division {
                background: #F8F8F8;
                height: 10px;
                width: 100%;
                margin-top: 20px;
            }
            .how-to-pay {
                margin: 16px 16px 0;
                .em {
                    font-size: 16px;
                    font-weight: 800;
                    .icon {
                        float: right;
                        width: 70px;
                        height: 16px;
                        background: url(../img/go-pay-icon.png) no-repeat;
                        background-size: 70px;
                        height: 16px;
                    }
                }
                .tip {
                    color: #FF6100;
                    margin-top: 13px;
                    line-height: 20px;
                    font-size: 12px;
                    .em {
                        font-size: 12px;
                        font-weight: 800;
                    }
                }
                .lists {
                    line-height: 26px;
                    margin-top: 10px;
                    .list {
                        border-bottom: 1px solid #EEEEEE;
                        padding: 14px 0;
                    }
                    .list-img {
                        .img {
                            margin: 10px auto 0;
                            width: 129px;
                            height: 109px;
                            background: url(../img/go-jek-id.png) no-repeat;
                            background-size: 129px 109px;
                        }
                    }
                    .list-3 {
                        .img {
                            background: url(../img/scan.png) no-repeat;
                            background-size: 129px 109px;
                        }
                    }
                    .list-5 {
                        border: none;
                    }
                }
                &.en {
                    .lists {
                        .list-img {
                            .img {
                                background: url(../img/go-jek.png) no-repeat;
                                background-size: 129px 109px;
                            }
                        }
                        .list-3 {
                            .img {
                                background: url(../img/scan.png) no-repeat;
                                background-size: 129px 109px;
                            }
                        }
                    }
                }
            }
            .btn-box {
                padding: 30px 20px;
                background: #F8F8F8;
                .back-to-campaign {
                    height: 44px;
                    background: #43AC43;
                    color: #fff;
                    text-align: center;
                    line-height: 44px;
                    padding: 0 20px;
                    border-radius: 5px;
                    p {
                        font-size: 16px;
                        font-weight: 800;
                    }
                }
            }
        }
    }
}