@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";
@import "../../../../common/qsc/less/common_footer.less";
@import "../../../../common/qsc/less/common_share.less"; //分享弹窗

ul li {
    list-style: none;
}

h2 {
    padding: 0 15px;
    margin: 0;
}

body {
    background-color: #fff;
}

.page-wrapper {
    // position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;
    .page-inner {
        padding-top: 56px;
        .wrapper {
            .content {
                padding: 22px 16px;
                .title {
                    font-size: 18px;
                    line-height: 27px;
                    color: #333;
                    font-weight: bold;
                }
                .NGO-banner {
                    width: 100%;
                    height: 164px;
                    margin-top: 15px;
                    &.banner-1st {
                        background: url(../img/NGO-1.png) no-repeat;
                        background-size: cover;
                    }
                    &.banner-2ed {
                        background: url(../img/NGO-2.png) no-repeat;
                        background-size: cover;
                    }
                    &.banner-3ird {
                        background: url(../img/NGO-3.png) no-repeat;
                        background-size: cover;
                    }
                    &.banner-4th {
                        background: url(../img/NGO-4.png) no-repeat;
                        background-size: cover;
                    }
                }
                .NGO-content {
                    margin-top: 20px;
                    font-size: 14px;
                    color: #333;
                    line-height: 22px; // word-break: break-all;
                }
                .ngo-info-wrapper {
                    margin-top: 20px;
                    padding: 15px 16px;
                    background-color: #ECF6EC;
                    border: 1px dashed #43ac43;
                    .ngo-info {
                        width: 100%;
                        font-size: 14px;
                        color: #333;
                        line-height: 22px;
                        word-break: break-all;
                        p {
                            font-weight: bold
                        }
                    }
                }
                .share-btn {
                    margin-top: 20px;
                    width: 100%;
                    height: 44px;
                    background-color: #43ac43;
                    border-radius: 6px;
                    color: #fff;
                    p {
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 44px;
                        text-align: center;
                    }
                }
            }
        }
    }
}