@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";
@import "../../../../common/qsc/less/common_footer.less";

body {
    background: #F7FAFF;
}

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #F7FAFF;
    // min-height: 100vh;
    margin-top: -56px;

    .page-inner {
        padding-top: 56px;

        .wrapper {
            width: 75%;
            margin: 80px auto 0; // 首页banner
            text-align: center;

            p {
                font-size: 22px;
                line-height: 37px;
                margin-bottom: 45px;
            }

            .btn {
                width: 80%;
                margin: 0 auto;
                background: #43ac43;
                height: 44px;
                border-radius: 6px;
                text-align: center;
                line-height: 44px;
                font-weight: bold;
                font-size: 16px;
                color: #fff;
                margin-top: 15px;
            }
        }


    }
}