.campaign-commitment.alert-box {
  .content {
    position: absolute;
    background: #fff;
    width: 90%;
    height: auto;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    z-index: 3001;
    margin-left: -45%;
    border-radius: 5px;

    .content-inner {
      position: unset;
      height: 340px;
      box-sizing: border-box;

      .detail {
        height: 205px;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;

        &::after {
          content: "";
          display: block;
          height: 34px;
        }
      }

      .confirm {
        bottom: 15px;
        width: 100%;
        right: 0;


        .yes {
          float: right;
          margin-right: 18px;
          color: #43AC43;
          font-weight: bold;
        }

        .fade-wrap {
          position: absolute;
          bottom: 30px;
          height: 50px;
          width: 100%;
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
        }

      }
    }



  }
}