.activityWrap {
    display: block;
    padding: 16px;

    .cardWrap {
        &::after {
            position: absolute;
            right: 0;
            top: 0;
            content: "";
            width: 30px;
            height: 30px;
            background: url(../img/love-angle.png) no-repeat;
            background-size: 30px 30px;
        }

        position: relative;
        padding: 16px;
        background: #F8F8F8;
        border-radius: 6px;

        .titleWrap {
            .avatar {
                display: inline-block;
                border-radius: 50%;
                // background: url(../img/activity-bg.png) no-repeat;
                width: 25px;
                height: 25px;
                background-size: 25px;
                vertical-align: middle;
            }

            .title {
                margin-left: 10px;
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                line-height: 14px;
                color: #333;
                vertical-align: middle;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .contentWrap {
            font-size: 14px;
            line-height: 18px;
            color: #333;
            margin-top: 16px;

            .money {
                color: #FF6100;
            }
        }

        .descWrap {
            margin-top: 10px;
            font-size: 14px;
            line-height: 18px;
            color: #999;
        }
    }
}