.qurban-wrapper {
  margin-top: 10px;

  .q-inner {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    .wrap-q-img:nth-child(1) {
      .q-img {
        width: 45px;
      }
    }

    .wrap-q-img:nth-child(2) {
      .q-img {
        width: 68px;
      }
    }

    .wrap-q-img:nth-child(3) {
      .q-img {
        width: 85px;
      }
    }

    .wrap-q-img:nth-child(4) {
      .q-img {
        width: 90px;
      }
    }

    p {
      color: #43AC43;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      margin-top: 5px;
    }
  }
}