.qurban-wrapper {
  margin-top: 10px;

  .q-inner {
    display: flex;
    justify-content: space-around;

    .q-list {
      display: inline-block;

      .q-img {
        width: 70px;
        height: 55px;
        background-size: 70px;
      }

      p {
        color: #43AC43;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-top: 5px;
      }
    }
  }
}