// share-donate
.share-donate {
    display: none;
    border-top: 1px solid #EAEAEA;
    font-size: 16px;
    font-weight: 600; // transition: .4s;
    position: fixed; // top: 56px;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background: #fff; // transition: .4s;

    //公告轮播
    .donation-msg-swiper-wrap {
        position: relative;
        max-width: 640px;
        margin: 0 auto;
    }

    .share-donate-inner {
        padding: 8px 0;

        .share {
            margin-left: 2.7%;
            display: inline-block;
            height: 44px;
            width: 46%;
            line-height: 44px;
            text-align: center;
            color: #43AC43;
            border: 1px solid #43AC43;
            border-radius: 6px;
            box-sizing: border-box;
            cursor: pointer;


            span {
                position: relative;

                // .bubble-icon {
                //     position: absolute;
                //     width: 168px;
                //     height: 49px;
                //     left: -63px;
                //     top: -39px;
                //     background: url(../img/bubble.png) no-repeat;
                //     background-size: 168px auto;

                //     &.id {
                //         width: 193px;
                //         left: -67px;
                //         background: url(../img/bubble-id.png) no-repeat;
                //         background-size: 193px auto;
                //     }
                // }
            }

        }

        .donate {
            margin-right: 2.7%;
            height: 44px;
            width: 46%;
            line-height: 44px;
            text-align: center;
            color: #fff;
            background-color: #43AC43;
            border-radius: 6px;
            float: right;
            cursor: pointer;

            position: relative;

            .bubble-icon {
                position: absolute;
                width: 137px;
                height: 35px;
                left: 50%;
                margin-left: -68.5px;
                top: -18px;
                background: url(../img/donate-bubble-en.png) no-repeat;
                background-size: 137px 35px;

                &.id {
                    width: 186px;
                    height: 35px;
                    left: 50%;
                    margin-left: -94px;
                    top: -18px;
                    background: url(../img/donate-bubble-id.png) no-repeat;
                    background-size: 186px 35px;
                }
            }

        }

        .unable-donate {
            margin-right: 2.7%;
            background-color: #CCC;
            height: 44px;
            width: 46%;
            line-height: 44px;
            text-align: center;
            color: #fff;
            border-radius: 6px;
            float: right;
        }
    }
}