.updates {
    padding: 20px 10px;
    position: relative;



    .updates-title {
        font-size: 16px;
        font-weight: bold;
        color: #333333;

        .updates-num {
            color: #43AC43;
            font-size: 14px;
            font-weight: bold;
            display: inline-block;
            width: 33px;
            height: 18px;
            position: relative;
            background-color: #D9EED9;
            border-radius: 9px;

            p {
                text-align: center;
                line-height: 18px;
            }
        }
    }

    .updates-wrap {
        padding: 16px 6px 0;
        // background: #f8f8f8;
        margin-top: 16px;
        border-radius: 6px;

        .updates-list {
            // margin-top: 16px;

            .updates-wrapper {

                // &::after {
                //     display: block;
                //     content: "";
                //     clear: both;
                // }
                .left-avatar {
                    // width: 13%;
                    // float: left;
                    top: 88px;
                    text-align: center;
                    position: absolute;

                    .avatar-wrap {
                        position: relative;
                        width: 50px;
                        height: 50px;

                        .enterprise-wrap {
                            position: absolute;
                            bottom: 0;
                            right: -1px;
                            background: url(../img/enterprise_icon.png) no-repeat;
                            width: 21px;
                            height: 21px;
                            background-size: cover;
                        }

                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                        }
                    }
                }

                .right-part {
                    // float: right;
                    margin-left: 60px; // width: 78%;

                    .user-info {
                        margin-top: 7px;

                        .name {
                            font-size: 16px;
                            font-weight: bold;
                            color: #8FA6C8;
                            line-height: 16px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        .updates-time-wrapper {
                            margin-top: 10px;
                            color: #999999;
                            font-size: 11px;
                            line-height: 11px;
                        }
                    }

                    .updates-content {
                        margin-top: 15px;
                        font-size: 14px;
                        line-height: 28px;
                        // font-weight: 400;
                        color: #333333;

                        .updates-system {
                            font-size: 14px;
                            line-height: 28px;

                            .updates-info {
                                font-weight: bold;

                                overflow: hidden;
                                // white-space: nowrap;
                                text-overflow: ellipsis;
                                color: #333;
                            }

                            .updates-reason {
                                overflow: hidden;
                                // white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                        }

                        .updates-detail {
                            width: 100%;
                            overflow: hidden;
                            word-break: break-word;
                        }

                        .updates-images {
                            margin-top: 10px;
                            display: flex;
                            flex-wrap: wrap;

                            .upload-images {
                                margin: 0 4px 10px 4px;
                                background: no-repeat;
                                width: 22%;
                                height: 60px;
                            }
                        }
                    }
                }
            }
        }
    }

    .more-update {
        // text-align: center;
        // margin-top: 7px;
        // font-size: 16px;
        // color: #999999;

        // p {
        //     position: relative;

        //     &::after {
        //         position: absolute;
        //         bottom: -2px;
        //         width: 24px;
        //         height: 24px;
        //         line-height: 27px;
        //         display: inline-block;
        //         content: "";
        //         background: url(../img/enter_icon.png);
        //         background-size: 24px 24px;
        //     }
        // }
    }
}