// @import "../../../common/libs/swiper/swiper-4.3.3.min.css"; //swiper
@import "../../../common/libs/fancybox/jquery.fancybox-thumbs.css"; //fancybox
@import "../../../common/libs/fancybox/jquery.fancybox.css"; //fancybox
@import "../../../common/qsc/less/loading.less";
@import "../../../common/qsc/less/toast.less";
@import "../../../common/qsc/less/common_nav.less";
@import "../../../common/qsc/less/alert-box.less"; //弹窗
@import "./_confirmCampaign.less";
@import "./_donation.less";
@import "./_shareDonate.less";
@import "./_story.less";
@import "./_updates.less";
// @import "./_love.less";
// @import "./_activity-share-donate.less";
@import "./_campaign-commitment.less";
@import "./_vertification-infor.less";
@import "./_donation-msg-swiper.less";
@import "./_ngoActivity.less";
@import "../../../common/promoPopup/less/main.less"; 

.ml-1 {
    margin-left: 4px;
}

body.add-app-download {
    .commonNav.showEdit {
        .bottom-slide-wrapper {
            top: 102px;
        }
    }
}

.commonNav {
    .navbar {
        z-index: 2000;

        // nav
        .nav-wrapper {
            border-bottom: none !important;
        }
    }

    .bottom-slide-wrapper {
        display: none;
        top: -35px;
        z-index: 0;
    }

    .body-mask {
        display: none;
    }

    &.showEdit {
        .navbar {
            z-index: 2001;
        }

        .bottom-slide-wrapper {
            display: block;
            top: 56px;
            z-index: 2001;
            border-top: 1px solid #E0E0E0;
        }

        .body-mask {
            display: block;
        }
    }
}

.green-btn-common {
    text-align: center;
    margin-top: 20px;

    p {
        line-height: 30px;
        font-size: 14px;
        background: #ECF6EC;
        height: 30px;
        border-radius: 6px;
        text-align: center;
        color: #43AC43;
        display: inline-block;
        padding: 0 16px;

        &::after {
            content: "";
            background: url(../img/right.png) no-repeat;
            background-size: 5px 8px;
            width: 5px;
            height: 8px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 7px;
        }
    }
}

.page-wrapper {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px; // background:url('../img/banner.jpg');

    .page-inner {
        padding-top: 56px;

        .main {
            padding-bottom: 30px;

            .inner {
                position: relative;
                margin-bottom: 30px;

                .top-box {
                    padding: 0 16px 16px;
                }

                // banner
                .banner {
                    width: 100%;
                    background: url(../img/loading_images.png ) no-repeat center;
                    background-size: contain;

                    .banner-img {
                        position: relative;
                        display: block;
                        width: 100%;
                        border-radius: 6px;
                        pointer-events: none;
                    }
                }

                .title-star {
                    width: 100%;
                    padding: 12px 0;
                    box-sizing: border-box;

                    .title-top {
                        display: inline-block;
                        width: calc(100% - 30px);
                        color: #333333;
                        font-weight: 700;
                        word-break: break-word;
                        padding: 0 16px 0 0;
                        font-size: 16px;
                        box-sizing: border-box;
                        vertical-align: middle;

                        .verifiedWrap {
                            margin-left: 2px;
                            margin-right: 3px;
                            vertical-align: sub;
                            display: inline-block;
                            background: url(../img/verified_icon.png) no-repeat;
                            width: 21px;
                            height: 21px;
                            background-size: cover;
                        }
                    }

                    .star {
                        display: inline-block;
                        width: 24px;
                        font-weight: 600;
                        cursor: pointer;
                        vertical-align: middle;

                        .star-icon {
                            display: block;
                            width: 24px;
                            height: 24px;
                            background: url(../img/unfollow.png) no-repeat; //   background: url(../img/star-choose.png) no-repeat;
                            background-size: 24px;
                        }

                        .star-num {
                            font-size: 11px;
                            display: block;
                            margin-top: 3px;
                            width: 100%;
                            text-align: center;
                            font-weight: normal;
                            color: #999999;
                        }

                        &.star-active {
                            .star-icon {
                                display: block;
                                width: 24px;
                                height: 24px; //   background: url(../img/unfollow.png) no-repeat;
                                background: url(../img/star-choose.png) no-repeat;
                                background-size: 24px;
                            }
                        }
                    }

                }

                // funded + goal
                .funded-goal {
                    font-size: 12px;
                    color: #A3A3A3;
                    line-height: 18px;

                    .money-title {
                        display: block;
                    }

                    .money {
                        font-size: 14px;
                        font-weight: 700;
                    }

                    .current-money-wrap {
                        display: inline-block;

                        .money {
                            color: #43ac43;
                        }
                    }

                    .target-money-wrap {
                        float: right;
                        text-align: right;

                        .money {
                            color: #717171;
                        }

                    }
                }

                // progress
                .campaign_progress {
                    margin-top: 16px;
                    max-width: 100%;
                    background: #EAECEE;
                    border-radius: 30px;
                    box-sizing: border-box;

                    .progress_bar {
                        overflow: hidden;
                        margin: 0;
                        max-width: 100%;
                        height: 6px;
                        border-radius: 30px;
                        background-color: #43AC43; // background: -moz-linear-gradient(left, #80E34B 0%, #80E34B 100%);
                    }
                }

                .share-view {
                    margin-top: 15px;
                    font-weight: normal;
                    color: #999999;
                    font-size: 11px;
                    display: inline-block;

                    .shares {
                        display: inline-block; // margin-right: 35px;

                        &::before {
                            margin-top: 1px;
                            display: inline-block;
                            content: "";
                            width: 12px;
                            height: 12px;
                            background: url(../img/share_new.png) no-repeat;
                            background-size: 12px 12px;
                            vertical-align: text-top;
                        }

                        .shares-num {
                            margin-left: 3px;
                            color: #3A3A3A;
                            font-weight: bold;
                        }
                    }
                }

                .timePast,
                .timeLeft {
                    float: right;
                    margin-top: 15px;
                    font-size: 11px;
                    display: flex;
                    color: #999;
                    align-items: center;    

                    span {
                        vertical-align: middle;
                        
                        &.default {
                            color: #333; font-weight: 700; margin-left: 6px;
                        }

                        &.days {
                            color: #333; font-weight: 700; margin: 0 2px 0 6px;
                        }

                        &.unlimited {
                            color: #333; font-weight: 700; margin-left: 6px; margin-top: -3px; font-size: 16px;                            
                        }
                    }

                    .time-num {
                        color: #3A3A3A;
                        font-weight: bold;
                    }

                    &::before {
                        display: inline-block;
                        content: '';
                        background: url(../img/time_past.png) no-repeat;
                        background-size: contain;
                        width: 12px;
                        height: 12px;
                        vertical-align: middle;
                    }
                }

                .donate-btn-big {
                    margin: 0 16px 20px;
                    height: 44px;
                    border-radius: 6px;
                    background: #43AC43;
                    color: #fff;
                    text-align: center;
                    line-height: 44px;
                    font-size: 16px;
                    font-weight: bold;
                    box-shadow: 0 8px 16px 0 rgba(67, 172, 67, 0.24);

                    &.unable-donate {
                        background-color: #CCC;
                        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.10);
                    }
                }




                @media screen and (max-width: 375px) {
                    .title {
                        // font-size: 15px;
                        padding: 0;
                    }

                    .confirm-campaign {
                        .title {
                            font-size: 15px;
                        }
                    }
                }

                // .gray-wrap {
                //     .gray-bg {
                //         border-radius: 6px;
                //         margin: 16px;
                //         padding: 16px; // height: 88px;
                //         background-color: #F8F8F8;
                //         position: relative;

                //         .money-wrap {
                //             width: 80%; // float: left;
                //             display: inline-block;

                //             &.target-money-wrap {
                //                 margin-top: 8px;
                //             }

                //             .money-title {
                //                 font-size: 14px;
                //                 color: #999;
                //             }

                //             .money {
                //                 font-size: 14px;
                //                 font-weight: bold;
                //                 color: #FF6100;
                //             }
                //         }

                //         .star {
                //             position: absolute;
                //             right: 16px;
                //             top: 16px;
                //             font-weight: 600;
                //             cursor: pointer; // margin-top: 2px;

                //             .star-num {
                //                 font-size: 11px;
                //                 display: inline-block;
                //                 width: 100%;
                //                 text-align: center;
                //                 font-weight: normal;
                //                 color: #999999;
                //             }

                //             &:before {
                //                 content: '';
                //                 display: block;
                //                 width: 27px;
                //                 height: 27px;
                //                 background: url(../img/unfollow.png) no-repeat; //   background: url(../img/star-choose.png) no-repeat;
                //                 background-size: 27px;
                //             }
                //         }

                //         .star.star-active {

                //             //.stars-num {
                //             //  display: inline;
                //             //}
                //             &:before {
                //                 content: '';
                //                 display: block;
                //                 width: 27px;
                //                 height: 27px; //   background: url(../img/unfollow.png) no-repeat;
                //                 background: url(../img/star-choose.png) no-repeat;
                //                 background-size: 27px;
                //             }
                //         }

                //         .campaign_progress {
                //             margin-top: 16px;
                //             max-width: 100%;
                //             background: #EAECEE;
                //             border-radius: 30px;

                //             .progress_bar {
                //                 overflow: hidden;
                //                 margin: 0;
                //                 max-width: 100%;
                //                 height: 6px;
                //                 border-radius: 30px;
                //                 background-color: #43AC43; // background: -moz-linear-gradient(left, #80E34B 0%, #80E34B 100%);
                //             }
                //         }

                //         .share-view {
                //             margin-top: 15px;
                //             font-weight: normal;
                //             color: #999999;
                //             font-size: 11px;
                //             display: inline-block;

                //             .shares {
                //                 display: inline-block; // margin-right: 35px;

                //                 &::before {
                //                     margin-top: 1px;
                //                     display: inline-block;
                //                     content: "";
                //                     width: 12px;
                //                     height: 12px;
                //                     background: url(../img/share_new.png) no-repeat;
                //                     background-size: 12px 12px;
                //                     vertical-align: text-top;
                //                 }

                //                 .shares-num {
                //                     margin-left: 3px;
                //                 }
                //             }
                //         }

                //         .timePast,
                //         .timeLeft {
                //             float: right;
                //             margin-top: 15px;
                //             font-size: 11px;
                //             color: #999;

                //             &::before {
                //                 display: inline-block;
                //                 content: '';
                //                 background: url(../img/time_past.png) no-repeat;
                //                 background-size: contain;
                //                 width: 12px;
                //                 height: 12px;
                //                 vertical-align: text-top;
                //             }
                //         }
                //     }
                // }

                // avatar
                .avatar-box {
                    margin: 0 16px 20px;
                    position: relative;

                    .avatar {
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;
                        height: 50px;
                        width: 50px;

                        .enterprise-wrap {
                            position: absolute;
                            bottom: 0;
                            right: -1px;
                            background: url(../img/enterprise_icon.png) no-repeat;
                            width: 21px;
                            height: 21px;
                            background-size: cover;
                        }

                        img {
                            border-radius: 50%;
                            width: 50px;
                            height: 50px;
                        }
                    }

                    // name + location
                    .name-location {
                        vertical-align: middle;
                        position: absolute;
                        top: 50%;
                        padding-left: 62px;
                        transform: translateY(-50%);
                        box-sizing: border-box;
                        width: 100%;

                        .name {
                            font-size: 14px;
                            color: #333;
                            font-weight: 600;
                            margin-bottom: 8px;
                            max-width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                            .user-name {
                                // text-overflow: ellipsis;
                                // white-space: nowrap;
                                // overflow: hidden;
                                display: inline-block;
                                vertical-align: middle;
                                max-width: 100%;
                                box-sizing: border-box;
                            }

                            .verified-wrap {
                                width: 59px;
                                height: 14px;
                                display: inline-block;
                                background: url(../img/verified_icon_new.png) no-repeat;
                                background-size: 59px 14px;
                                margin-left: 5px;
                                vertical-align: middle;
                            }
                        }

                        .location {
                            font-size: 11px;
                            color: #999;
                            height: 12px;
                            line-height: 12px;
                            overflow: hidden;
                            max-width: 100%;
                            word-break: break-all;

                            &::before {
                                width: 12px;
                                height: 12px;
                                display: inline-block;
                                content: "";
                                background: url(../img/location_new.png) no-repeat;
                                background-size: 12px 12px;
                                margin-right: 6px;
                                vertical-align: bottom;
                            }
                        }
                    }
                }


                // 企业用户赞助项目
                .media-partner {
                    padding: 16px;
                    margin: 0;

                    p {
                        font-size: 12px;
                        color: #999999;
                        margin-bottom: 10px;
                    }

                    .avatar {
                        width: 40px;
                        height: 40px;

                        img {
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                        }

                        .enterprise-wrap {
                            position: absolute;
                            bottom: 0;
                            right: 1px;
                            width: 16px;
                            height: 16px;
                        }
                    }

                    .name-location2 {
                        display: inline-block;
                        margin-left: 9px;
                        vertical-align: middle;

                        .name {
                            font-size: 12px;
                            font-weight: normal;
                            margin-bottom: 0;

                            .user-name2 {
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }

                        .icon {
                            width: 33px;
                            height: 14px;
                            display: inline-block;
                            background: url(../img/org.png) no-repeat;
                            background-size: 33px 14px;
                            vertical-align: middle;
                        }
                    }

                }

                // monitor
                .monitor_box {
                    padding: 20px 16px;

                    p {
                        font-size: 12px;
                        color: #999999;
                    }

                    .monitor {
                        width: 90%;
                        height: 21px;
                        background: url(../img/monitor.png) no-repeat;
                        background-size: 100% 21px;
                        margin-top: 10px;
                    }
                }

                // ngo活动
                .insertActivity {}

                // matching-gift-tips
                .matching-gift-tips {
                    .gray-bg {
                        position: relative;

                        // &::before {
                        //     position: absolute;
                        //     right: 0;
                        //     top: 0;
                        //     content: "";
                        //     width: 30px;
                        //     height: 30px;
                        //     background: url(../img/love-angle.png) no-repeat;
                        //     background-size: 30px 30px;
                        // }
                    }

                    .logo-icon {
                        display: block;
                        height: 25px;
                        margin: 0 auto 16px;
                    }

                    .line1 {
                        font-size: 14px;
                        line-height: 18px;
                        font-weight: 400;

                        span {
                            color: #FF6100;
                        }
                    }

                    .line2 {
                        font-size: 14px;
                        color: #999999;
                        line-height: 18px;
                        padding: 10px 0 0;
                    }
                }

                // line
                .line {
                    background-color: #F8F8F8;
                    height: 10px;
                    width: 100%;

                    &.bottom {
                        height: 20px;
                    }
                }

                .urgent-campaigns {
                    border-top: 10px solid #F8F8F8;
                    padding-top: 20px;

                    .title {
                        font-size: 16px;
                        color: #333333;
                        font-weight: 600;
                        margin-bottom: 16px;
                        padding-left: 16px;
                    }
                }

                .report-campaign {
                    padding: 20px;
                    border-bottom: 10px solid #F8F8F8;
                    
                    .text {
                        font-size: 14px;
                        color: #333333;
                    }

                    .text-green {
                        color: #43AC43;
                    }

                    .wrap-button-report {
                        background-color: #F3F3F3;
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        margin-top: 20px;
                        text-align: center;
                        font-size: 14px;
                    }
                }

                // top
                // .top {
                //     display: none;
                //     position: absolute;
                //     bottom: -7px;
                //     right: 16px;
                //     width: 40px;
                //     height: 40px;
                //     background: url(../img/toTop.png) no-repeat;
                //     background-size: 40px 40px;

                //     &.fixedTop {
                //         position: fixed;
                //         bottom: 100px;
                //         display: block;
                //     }
                // }

                // click-login
                // .click-login {
                //     position: fixed;
                //     left: -140px;
                //     bottom: 68px;
                //     height: 82px;
                //     width: 186px;
                //     z-index: 2;
                //     background: url(../img/click-log-in.png) no-repeat;
                //     background-size: auto 82px;

                //     &.show {
                //         animation: show 0.4s ease-in 0s;
                //         -webkit-animation: show 0.4s ease-in 0s;
                //         animation-fill-mode: forwards;

                //         @keyframes show {
                //             0% {
                //                 left: -140px;
                //             }

                //             100% {
                //                 left: 0;
                //             }
                //         }

                //         .login-close {
                //             display: block;
                //         }
                //     }

                //     &.hide {
                //         animation: hide 0.4s ease-in 0s;
                //         -webkit-animation: hide 0.4s ease-in 0s;
                //         animation-fill-mode: forwards;

                //         @keyframes hide {
                //             0% {
                //                 left: 0;
                //             }

                //             100% {
                //                 left: -140px;
                //             }
                //         }

                //         .login-close {
                //             display: none;
                //         }
                //     }

                //     &.id {
                //         width: 208px;
                //         background: url(../img/click-log-in-id.png) no-repeat;
                //         background-size: auto 82px;
                //         left: -164px !important;

                //         &.show {
                //             animation: show 0.4s ease-in 0s;
                //             -webkit-animation: show 0.4s ease-in 0s;
                //             animation-fill-mode: forwards;

                //             @keyframes show {
                //                 0% {
                //                     left: -164px !important;
                //                 }

                //                 100% {
                //                     left: 0;
                //                 }
                //             }

                //             .login-close {
                //                 display: block;
                //             }
                //         }

                //         &.hide {
                //             animation: hide 0.4s ease-in 0s;
                //             -webkit-animation: hide 0.4s ease-in 0s;
                //             animation-fill-mode: forwards;

                //             @keyframes hide {
                //                 0% {
                //                     left: 0;
                //                 }

                //                 100% {
                //                     left: -164px !important;
                //                 }
                //             }

                //             .login-close {
                //                 display: none;
                //             }
                //         }

                //     }

                //     .login-btn {
                //         position: absolute;
                //         bottom: 28px;
                //         width: 121px;
                //         height: 32px;
                //     }

                //     .login-small-love {
                //         position: absolute;
                //         right: 12px;
                //         top: 18px;
                //         width: 50px;
                //         height: 42px;
                //         background: url(../img/small-love.png) no-repeat;
                //         background-size: 50px auto;
                //     }

                //     .login-close {
                //         display: none;
                //         position: absolute;
                //         width: 21px;
                //         height: 21px;
                //         right: -28px;
                //         top: 25px;
                //         background: url(../img/close3.png) no-repeat;
                //         background-size: auto 21px;

                //     }
                // }
            }
        }
    }
}