.alert-suffix {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3003;
    height: 100vh;
    width: 100%;

    .suffix-mask {
        // display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.8;
    }

    .content {
        position: fixed;
        background: #fff;
        width: 100%;
        // height: 90vh;
        // top: 50%;
        bottom: 0;
        // left: 50%;
        z-index: 3001;
        border-radius: 16px 16px 0 0;
        max-width: 620px;
        // transform: translate(-50%, -50%);

        .close {
            display: inline-block;
            background: url(../img/close.png) no-repeat;
            background-size: contain;
            width: 12px;
            height: 12px;
            z-index: 3000;
            position: absolute;
            top: 25px;
            right: 18px;
        }

        .content-inner {
            .title {
                margin-top: 20px;
                margin-left: 15px;
                margin-bottom: 20px;
                font-size: 20px;
                font-weight: bold;
                line-height: 24px;
            }
            .suffix-items{
                overflow: scroll;
                height: 80vh;

                .list-items{
                    padding: 0 16px;
                    height: 56px;
                    border-bottom: 1px solid #E5E5E5;
                    font-size: 14px;
                    .suffix-title{
                        display: inline-block;
                        line-height: 56px;
                        color: #999;
                    }
                    .suffix-name{
                        float: right;
                        text-align: right;
                        display: inline-block;
                        line-height: 56px;



                    }
                    .suffix-name::after{
                        clear: both;
                    }
                    &.chosed{
                        .suffix-title{

                            color: #43ac43;
                        }
                        .suffix-name{
                            color: #43ac43;
                          
                        }
                    }
                }
            }
        }
    }
}