@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";
@import "./_suffix.less";

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #999999;
    /* placeholder字体大小  */
    font-size: 14px;
    text-align: left;
    font-weight: 300;
}

.page-wrapper {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;

    .page-inner {
        padding-top: 56px;

        .t {
            color: #333333;
            font-size: 16px;
            margin: 18px;
            font-weight: bold;
        }

        .input {
            width: 100%;
            box-sizing: border-box;
            position: relative;
            margin-bottom: 75px;
            padding: 0 16px;

            .email {
                caret-color: #43AC43;
                outline: none;
                width: 100%;
                height: 44px;
                background-color: #f8f8f8;
                border-radius: 5px;
                padding: 0 16px;
                color: #333333;
                box-sizing: border-box;
                font-weight: 700;
                font-size: 14px;


            }

            // &.sinarmas {
            //     .email {
            //         display: inline-block;
            //         width: 45%;
            //         padding: 0 3%;
            //     }
            //     .at{
            //         display: inline-block;

            //     }
            //     .suffix{
            //         display: inline-block;
            //         width: 45%;
            //     }
            // }

            // span {
            //     position: absolute;
            //     font-size: 14px;
            //     color: #999999;
            //     right: 34px;
            //     height: 44px;
            //     line-height: 44px;
            // }
        }

        .sinarmas-tips{
            font-size: 12px;
            color: #999;
            margin: 0 18px 20px;
        }
        .sinarmas {
            .sinarmas-email {
                display: inline-block;

                @diff : 18px;
                width: calc(~"50% - "@diff);

                // width: 44%;
                padding: 0 8px;
                vertical-align: middle;

                caret-color: #43AC43;
                outline: none;
                height: 44px;
                background-color: #f8f8f8;
                border-radius: 5px;
                color: #333333;
                box-sizing: border-box;
                font-weight: 700;
                font-size: 12px;
            }

            .at {
                display: inline-block;
                vertical-align: middle;
                width: 14px;

            }

            .suffix {
                display: inline-block;
                vertical-align: middle;

                @diff : 18px;
                width: calc(~"42% - "@diff);
                padding: 0 26px 0 8px;


                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                height: 44px;
                font-size: 12px;
                color: #999999;
                line-height: 44px;
                background-color: #f8f8f8;
                border-radius: 5px;
                position: relative;

                &::after {
                    position: absolute;
                    right: 8px;
                    top: 19px;
                    display: block;
                    content: '';
                    width: 10px;
                    height: 5px;
                    background: url(../img/select.png) no-repeat;
                    background-size: contain;
                }
            }
        }

        .submit {
            text-align: center;
            height: 44px;
            line-height: 44px;
            background: #43AC43;
            color: #fff;
            font-size: 16px;
            margin: 0 18px;
            border-radius: 6px;
        }
    }
}