@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";
// @import "../../../../../common/qsc/less/common_footer.less";
@import "../../../../../common/qsc/less/alert-box.less"; //弹窗
// @import "../../../../../common/qsc/less/GTRY-bankList.less";
@import "./_relationList.less";
@import "../../../../../common/qsc/less/GTRY_alertBoxTpl.less";

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    font-weight: normal;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #F7FAFF;
    min-height: 100vh;
    margin-top: -56px;

    .page-inner {
        padding-top: 56px;

        .wrapper {
            width: 100%;
            margin: 0 auto; // 首页banner

            .member-info-wrap {
                padding: 30px 16px 0;

                .member-title {
                    font-size: 20px;
                    font-weight: bold;
                }

                .member-tips {
                    margin-top: 6px;
                    font-size: 12px;
                    color: #999;
                }

                .member-card {
                    margin-top: 16px;

                    // 新添加card
                    .added {
                        .number {
                            .del {
                                display: block !important;
                            }
                        }
                    }

                    .member-card-inner {
                        padding: 16px;
                        background: #fff;

                        .number {
                            color: #999999;
                            font-size: 14px;
                            font-weight: bold;

                            .del {
                                width: 24px;
                                height: 24px;
                                background: url(../img/del.png) no-repeat;
                                background-size: 24px;
                                float: right;
                                display: none;
                            }

                        }

                        .member-info {
                            margin-top: 16px;
                            width: 90%;
                            height: 44px;
                            padding: 0 5%;
                            font-size: 14px; // font-weight: bold;
                            background-color: #F8F8F8;
                            border-radius: 6px;

                            .member-name {
                                margin: 0;
                            }
                        }

                        .member-ID-tips {
                            display: none;
                            color: #FF6100;
                            font-size: 12px;
                            line-height: 16px;
                            margin-top: 10px;
                        }

                        .tips-normal {
                            color: #999;
                            font-size: 12px;
                            line-height: 16px;
                            margin-top: 10px;
                        }

                        .relation {
                            margin-top: 16px;

                            .relation_channel_wrap {
                                line-height: 42px;
                                margin-top: 12px;
                                background-color: #f8f8f8;
                                border: 0;
                                border-radius: 6px;
                                width: 100%;
                                height: 44px; // color: #;
                                font-size: 14px;
                                position: relative;

                                .relation_channel {
                                    .relation_default {
                                        padding: 0 0 0 20px;
                                        color: #ccc;
                                    }

                                    .icon {
                                        background: url(../img/OVO.png);
                                        background-size: 68.5px 24px;
                                        height: 24px;
                                        width: 68.5px;
                                        height: 24px;
                                        display: inline-block;
                                        vertical-align: middle;
                                        margin-left: 15px;
                                    }

                                    .relation-name {
                                        display: inline-block;
                                        margin-left: 16px;
                                        vertical-align: middle;
                                    }

                                }


                                &::after {
                                    content: '';
                                    display: inline-block;
                                    width: 24px;
                                    height: 24px;
                                    background: url(../img/select.png) no-repeat;
                                    background-size: 24px 24px;
                                    position: absolute;
                                    right: 16px;
                                    bottom: 10px;
                                }
                            }
                        }

                        .join-btn {
                            padding-top: 16px;
                            text-align: center;

                            // &:nth-last-child(1) {
                            //     display: block;
                            // }

                            .join-btn-inner {
                                color: #43AC43;
                                font-size: 14px;
                                line-height: 30px;
                                border: 1px solid #43AC43;
                                border-radius: 6px;
                                text-align: center;
                                display: inline-block;
                                padding: 0 16px;

                                span {
                                    display: inline-block;
                                    vertical-align: middle;
                                }

                                &::before {
                                    content: "";
                                    display: inline-block;
                                    width: 18px;
                                    height: 18px;
                                    vertical-align: middle;
                                    background: url(../img/add.png) no-repeat;
                                    background-size: 18px 18px;

                                }
                            }
                        }

                    }
                }


            }

            .top-up-wrap {
                margin-top: 10px;
                padding: 30px 16px 16px;
                background: #fff;

                .top-up-title {
                    font-size: 20px;
                    font-weight: bold;
                }

                .top-up-amout {
                    margin-top: 32px;
                    padding-bottom: 20px;

                    .price-wrap {
                        padding: 14px 16px;
                        border: 1px solid #CCC;
                        height: 44px;
                        border-radius: 6px;
                        background: #F8F8F8;
                        font-size: 16px;

                        .current-price {
                            font-weight: bold;
                        }

                        .original-price {
                            margin-left: 10px;
                            color: #FF6100;
                            text-decoration: line-through;
                        }
                    }
                }

                // 联合支付
                .Recommendation {
                    padding-top: 20px;
                    display: none;

                    .Recommendation-inner {
                        .Recommendation-title {
                            font-size: 20px;
                            font-weight: bold;
                        }

                        // join: Critical Diseases
                        .joint-payoffs {
                            background-color: #F8F8F8;
                            margin-top: 12px;
                            border: 1px solid #CCCCCC;
                            border-radius: 5px;
                            padding: 16px 11px;
                            font-size: 14px;
                            color: #333333;

                            .agree-join {
                                display: inline-block;
                                width: 12%;
                                height: 24px;
                                vertical-align: middle;
                                background: url(../img/notAgree_icon.png) no-repeat;
                                background-size: 24px 24px;
                            }

                            &.join {
                                border: 1px solid #43AC43;

                                .agree-join {
                                    background: url(../img/agree_icon.png) no-repeat;
                                    background-size: 24px 24px;
                                }

                            }

                            .content {
                                display: inline-block;
                                vertical-align: middle;
                                width: 86%;

                                p {
                                    margin-bottom: 10px;

                                    &:last-child {
                                        color: #999999;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }


                .payment {
                    // display: none;
                    padding-top: 20px;

                    .paymentTitle {
                        font-size: 20px;
                        font-weight: bold;
                        line-height: 20px;
                    }

                    .fee-desc {
                        display: none;
                        margin-top: 5px;
                        font-size: 12px;
                        line-height: 18px;
                        color: #999;
                    }

                    .payment_channel {
                        line-height: 42px;
                        margin-top: 12px;
                        // background-color: #f8f8f8;
                        border: 0;
                        border-radius: 6px;
                        width: 100%;
                        // height: 44px; // color: #;
                        font-size: 14px;
                        position: relative;



                        .channel {
                            background-color: #f8f8f8;
                            height: 44px;

                            &::after {
                                content: '';
                                display: inline-block;
                                width: 24px;
                                height: 24px;
                                background: url(../img/select.png) no-repeat;
                                background-size: 24px 24px;
                                position: absolute;
                                right: 16px;
                                bottom: 10px;
                            }

                            .default {
                                padding: 0 0 0 20px;
                                color: #ccc;
                            }

                            .icon {
                                background: url(../img/OVO.png);
                                background-size: 68.5px 24px;
                                height: 24px;
                                width: 68.5px;
                                height: 24px;
                                display: inline-block;
                                vertical-align: middle;
                                margin-left: 15px;
                            }

                            .bank-name {
                                display: inline-block;
                                margin-left: 10px;
                                vertical-align: middle;
                            }

                            // &.selected {
                            //     color: #000;
                            // }
                        }

                        &.OVOXPeduliSehat {
                            &::after {
                                display: none;
                            }
                        }


                    }
                }
            }

            .amount-and-fee {
                font-size: 14px;
                color: #333333;
                background: #fff;
                margin-top: 10px;
                padding: 16px;

                .a-common {
                    margin-top: 16px;

                    &:first-child {
                        margin-top: 0;
                    }

                    &.recommendationAmount {
                        margin-top: 16px;
                        display: none;

                        &.show {
                            display: block;
                        }
                    }

                    &.fee {
                        display: none;
                    }

                    &.promotion {
                        display: none;
                    }

                    &.promotion {
                        color: #FF6202;
                        font-weight: bold;

                        .promotion-title::before {
                            content: '';
                            display: inline-block;
                            width: 17px;
                            height: 17px;
                            vertical-align: top;
                            background-image: url(../img/promotion.png);
                            background-size: 17px 17px;
                            margin-right: 10px;
                        }

                        .right {
                            color: #FF6202;
                        }
                    }

                    .right {
                        color: #333333;
                        float: right;

                        .right_num,
                        .right_num2 {
                            display: none;

                            &.show {
                                display: inline-block;
                            }
                        }
                    }
                }
            }

            .total-price-wrap {
                margin-top: 10px;
                padding: 16px;
                background: #fff;

                .total {
                    font-weight: bold;
                    font-size: 20px;
                }

                .price {
                    font-weight: bold;
                    float: right;
                    color: #43ac43;
                    font-size: 16px;
                }
            }

            .policy-wrap {
                padding: 16px;
                margin-top: 10px;
                background: #fff;

                table {
                    tr {
                        .agree {
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            vertical-align: top;
                            background-image: url(../img/agree_icon.png);
                            background-size: 24px 24px;
                            cursor: pointer;
                        }

                        .notAgree {
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            vertical-align: top;
                            background-image: url(../img/notAgree_icon.png);
                            background-size: 24px 24px;
                        }

                        .policy {
                            padding-left: 10px;
                            font-size: 12px;
                            line-height: 18px;
                            color: #999;

                            .underline {
                                // color: #43ac43;
                                font-weight: 600;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            .pay-btn-wrap {
                margin-top: 16px;

                // padding: 16px 20px;
                .pay-btn {
                    border: none;
                    width: 100%;
                    height: 44px;
                    border-radius: 6px;
                    background: #43ac43;
                    text-align: center;
                    line-height: 44px;
                    font-weight: bold;
                    font-size: 16px;
                    color: #fff;
                }

                .pay-btn-not-agree {
                    background: #ccc;

                }
            }

            .ISO-wrapper {
                font-size: 12px;
                color: #CACACA;
                line-height: 12px;
                text-align: center;
                margin-top: 16px;

                p {
                    &.p1 {
                        margin-bottom: 6px;
                    }

                    span {
                        vertical-align: middle;
                    }

                    .icon {
                        display: inline-block;
                        width: 15.5px;
                        height: 19px;
                        background: url(../img/ISO.png) no-repeat;
                        background-size: 15.5px 19px;
                    }
                }
            }

        }
    }
}