@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";
@import "../../../../../common/qsc/less/upload/_uploadAvatar.less";

.page-wrapper {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    background: #F7FAFF;
    min-height: 100vh;
    margin-top: -56px;

    .page-inner {
        padding-top: 56px; // avatar
        background: #fff;

        .avatar {
            padding: 18px 16px;
            height: 40px;
            line-height: 40px;

            &.modifyPhone,
            &.bindingAccount {
                display: none;
            }

            a {
                width: 100%;
                display: block;
            }

            .title {
                font-weight: 700;
                font-size: 16px;
                color: #333333;
            }

            .img {
                float: right;
                height: 40px;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    vertical-align: middle;
                }

                .name {
                    color: #666666;
                    font-size: 16px;
                    vertical-align: middle;
                }

                &::after {
                    content: "";
                    vertical-align: middle;
                    display: inline-block;
                    width: 7px;
                    height: 11px;
                    margin-left: 15px;
                    background: url(../img/right.png) no-repeat;
                    background-size: 7px 11px;
                }
            }
        }

        .sign-out {
            position: fixed;
            bottom: 10px;
            height: 52px;
            line-height: 52px;
            background: #fff;
            width: 100%;
            text-align: center;
            color: #666666;
            font-size: 16px;
            left: 0;

            span {
                &::before {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 14px;
                    width: 24px;
                    height: 24px;
                    background: url(../img/sign-out.png) no-repeat;
                    background-size: 24px 24px;
                }
            }
        }
    }
}