.commonBoxStyle.alert-box {
  .content {
    position: absolute;
    background: #fff;
    width: 90%;
    height: auto;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    z-index: 3001;
    margin-left: -45%;
    border-radius: 5px;

    .content-inner {
      position: unset;
      box-sizing: border-box;
      height: auto;
      padding: 32px 18px 60px;

      .content-bg {
        background: url('../img/accident-types.png') no-repeat;
        width: 100%;
        height: 500px;
        background-size: contain;
      }

      .detail {
        max-height: 60vh;
        height: auto;
        box-sizing: border-box;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        // text-align: justify;
        .color {
          font-weight: bold;
          padding: 20px 0 10px !important;
          color: #333;
        }

        .prag {
          .l {
            display: inline-block;
            width: 8%;
            vertical-align: top;
          }

          .r {
            display: inline-block;
            width: 90%;
          }

        }

        &::after {
          content: "";
          display: block;
          height: 34px;
        }
      }

      .confirm {
        bottom: 15px;
        width: 100%;
        right: 0;


        .yes {
          width: 100%;
          text-align: center;
          box-sizing: border-box;
          margin: 0;
          padding: 0 18px;
          float: right;
          font-weight: bold;

          span {
            display: inline-block;
            height: 44px;
            line-height: 44px;
            width: 100%;
            background: #43AC43;
            color: #fff;
            border-radius: 6px;
          }
        }

        .fade-wrap {
          position: absolute;
          bottom: 43px;
          height: 50px;
          width: 100%;
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);

        }

      }
    }
  }

  &.publicity {
    .content-inner {
        box-sizing: border-box;
        padding: 30px 16px !important;

        .publicity-inner {
            font-size: 16px;
            line-height: 24px;
            color: #999;
        }

        .btn-wrap {
            margin-top: 33px;
            text-align: right;
            font-size: 16px;
            font-weight: bold;

            .cancel {
                color: #333;
            }

            .gotIt {
                margin-left: 45px;
                color: #43ac43;
            }
        }
    }
}

}