@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";
// @import "../../../../../common/qsc/less/common_footer.less";
// @import "../../../../../common/qsc/less/shareTpl-gtry.less"; //分享弹窗


ul li {
    list-style: none;
}

h2 {
    padding: 0 15px;
    margin: 0;
}

body {
    // background: #F7FAFF;
    background-color: #fff;

}

.page-wrapper {
    // position: relative;
    max-width: 640px;
    margin: 0 auto;
    // background-color: #fff;
    min-height: 320px;
    margin-top: -56px; // background:url('../img/banner.jpg');

    .page-inner {
        padding-top: 56px;

        .state-wrap {
            .success-content {
                padding: 56px 22px 10px;
                // display: none;
                // position: absolute;
                // width: 90%;
                // top: 34%;
                // left: 50%;
                // margin-top: -150px;
                // margin-left: -45%;
                margin: auto;

                .success-wrapper {
                    width: 200px;
                    margin: auto;
                    text-align: center;

                    .successBg {
                        width: 60px;
                        height: 72px;
                        margin: auto;
                        background: url(../img/success_icon.png) no-repeat;
                        background-size: contain;
                    }

                    p {
                        margin-top: 16px;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 14px;
                    }
                }

                .tips {

                    text-align: center;
                    margin-top: 35px;
                    font-size: 16px;
                    font-weight: bold;
                    color: #333;
                    line-height: 22px;
                    span{
                        color: #43ac43;
                    }
                }

                .tips-2{
                    margin-top: 10px;
                    font-size: 12px;
                    line-height: 18px;
                    color: #999;
                }
                .btnWrap {
                    margin: 125px auto 20px;
                    position: relative;
                    .btnBg{
                        z-index: 1;
                        position: absolute;
                        bottom: 29px;
                        right: 18px;

                        width: 179px;
                        height: 125px;
                        background: url(../img/here.gif) no-repeat;
                        background-size: 179px 125px;
                    }
                    .btn {
                        // margin: 16px auto;
                        max-width: 600px;
                        width: 100%;
                        height: 44px;
                        background-color: #43AC43;
                        border-radius: 6px;
                        text-align: center;

                        p {
                            text-align: center;
                            // color: #FFFFFF;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 44px;
                        }

                        &.viewBtn {
                            color: #fff;
                        }

                        &.shareBtn {
                            background-color: #fff;
                            border: 1px solid #43AC43;
                            color: #43AC43;

                            .btnContent {
                                font-weight: bold;
                                position: relative;
                                line-height: 44px;

                                .pop {
                                    position: absolute;
                                    top: -28px;
                                    right: -93px;
                                    background: url(../img/pop.png) no-repeat;
                                    width: 108px;
                                    height: 38px;
                                    background-size: cover;

                                }

                                .pop-id {
                                    position: absolute;
                                    top: -28px;
                                    right: -93px;
                                    background: url(../img/pop-id.png) no-repeat;
                                    width: 108px;
                                    height: 38px;
                                    background-size: cover;
                                }
                            }
                        }


                    }
                }

            }

        }
    }
}