@import "../../../common/qsc/less/loading.less";
@import "../../../common/qsc/less/toast.less";
@import "../../../common/qsc/less/common_nav.less";

// @import "../../../../common/qsc/less/common_footer.less";

body {
    background-color: #fff;
}

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: -56px;

    .page-inner {
        padding-top: 56px;

        .wrapper {
            width: 100%;
            // margin: 0 auto 80px;

            .banner {
                position: relative;

                background: url(../img/covid-banner-1.png);
                height: 145px;
                width: 100%;
                background-size: cover;
                background-position-x: 70%;

                // height: 180px;
                // width: 100%;
                // background-size: cover;
                // background-position-x: 70%;
                .home-btn {
                    z-index: 2001;
                    position: fixed;
                    top: 8px;
                    left: 0;

                    background: url(../img/home.png) no-repeat;
                    width: 86px;
                    height: 34px;
                    background-size: 86px 34px;
                }

                // .covid-pop-en {
                //     position: absolute;
                //     bottom: 0;
                //     left: 50%;
                //     margin-left: -75px;

                //     // background: url(../img/covid-banner.png) no-repeat;
                //     width: 150px;
                //     height: 27px;
                //     background-size: 150px 27px;
                // }

                // .covid-pop-id {
                //     position: absolute;
                //     bottom: 0;
                //     left: 50%;
                //     margin-left: -75px;

                //     // background: url(../img/covid-banner-id.png) no-repeat;
                //     width: 150px;
                //     height: 27px;
                //     background-size: 150px 27px;
                // }

                // &.id {
                //     position: relative;

                //     background: url(../img/covid-banner-1-id.png);
                //     height: 180px;
                //     width: 100%;
                //     background-size: cover;
                //     background-position-x: 70%;
                // }

                // &.en {
                //     position: relative;

                //     background: url(../img/covid-banner-1-en.png);
                //     height: 180px;
                //     width: 100%;
                //     background-size: cover;
                //     background-position-x: 70%;
                // }

                .banner-inner {
                    padding: 40px 16px;
                    width: 65%;

                    .inner-title {
                        font-size: 20px;
                        line-height: 23px;
                        font-weight: bold;
                        color: #004900;
                    }

                    .inner-content {
                        margin-top: 8px;
                        font-size: 14px;
                        line-height: 16px;
                        color: #004900;

                    }
                }

            }

            .country-count-wrap {

                padding: 16px;
                display: flex;
                justify-content: space-between;

                .country-count {
                    display: inline-block;

                    // height: ;
                    // width: 25%;
                    text-align: center;

                    .add-wrap {
                        font-size: 12px;
                        line-height: 12px;
                    }

                    .total {
                        margin-top: 14px;
                        font-size: 30px;
                        line-height: 18px;
                        font-weight: bold;
                        // color: #A11010;
                    }

                    .cate-title {
                        margin-top: 12px;
                        font-size: 11px;
                        line-height: 12px;
                        // color: #020202;
                    }

                    &.confirmed-wrap {
                        span {
                            color: #A11010;
                        }

                        .total {
                            color: #A11010;
                        }
                    }

                    &.active-wrap {
                        span {
                            color: #F4AA51;
                        }

                        .total {
                            color: #F4AA51;
                        }
                    }

                    &.recovered-wrap {
                        span {
                            color: #2DADA1;
                        }

                        .total {
                            color: #2DADA1;
                        }
                    }

                    &.deaths-wrap {
                        span {
                            color: #333;
                        }

                        .total {
                            color: #333;
                        }
                    }
                }

            }

            .province-count-wrap {
                border-top: 10px solid #F7F7F7;

                padding: 20px 16px 34px 16px;

                .province-count-title {
                    font-size: 18px;
                    color: #333;
                    font-weight: bold;
                }

                .province-count-insert {
                    .insert-wrap {
                        position: relative;


                        .toggle-btn-wrap {
                            z-index: 2000;
                            // padding: ;
                            width: 100%;
                            position: absolute;
                            bottom: -44px;
                            border-radius: 6px;
                            background: #F7F7F7;
                            font-size: 12px;
                            font-weight: 500;
                            color: #999;
                            height: 44px;
                            text-align: center;
                            line-height: 44px;

                            .dataSource {
                                margin-top: 12px;
                                line-height: 17px;
                                font-size: 11px;
                                text-align: left;
                            }

                            .togglt-btn {
                                line-height: 44px;

                                .showBtn {
                                    width: 100%;
                                    vertical-align: middle;

                                    &::after {
                                        vertical-align: middle;
                                        margin-left: 8px;
                                        display: inline-block;
                                        content: '';
                                        width: 8px;
                                        height: 6px;
                                        background: url(../img/show.png) no-repeat;
                                        background-size: 8px 4px;
                                    }

                                }

                                .hideBtn {
                                    display: none;
                                    width: 100%;

                                    vertical-align: middle;

                                    &::after {
                                        vertical-align: middle;
                                        margin-left: 8px;
                                        display: inline-block;
                                        content: '';
                                        width: 8px;
                                        height: 6px;
                                        background: url(../img/hide.png) no-repeat;
                                        background-size: 8px 4px;
                                    }
                                }
                            }
                        }


                        .insert {
                            height: 319px;
                            overflow: hidden;

                            &.show {
                                height: auto;
                            }

                            .province-title {
                                margin-top: 15px;

                                .title-wrap {
                                    height: 44px;
                                    display: flex;
                                    justify-content: space-between;
                                    font-size: 10px;
                                    font-weight: bold;
                                    line-height: 44px;
                                    padding: 0 8px;

                                    .province-name {
                                        display: inline-block;
                                        width: 35%;
                                        color: #020202;
                                    }

                                    .add {
                                        display: inline-block;
                                        text-align: center;

                                        width: 15%;
                                        color: #EC3636;
                                    }

                                    .active {
                                        display: inline-block;
                                        text-align: center;

                                        width: 28%;
                                        color: #A11010;

                                    }

                                    .recovered {
                                        display: inline-block;
                                        text-align: center;

                                        width: 20%;
                                        color: #2DADA1;

                                    }

                                    .deaths {
                                        display: inline-block;
                                        text-align: center;

                                        width: 20%;
                                        color: #333;

                                    }
                                }
                            }

                            .province-data {
                                margin-bottom: 8px;
                                border-radius: 6px;
                                background: #F7F7F7;
                                font-size: 11px;

                                // tr{
                                //     td{
                                //         width: 25%;
                                //     }
                                // }
                                .count-wrap {
                                    height: 44px;
                                    display: flex;
                                    justify-content: space-between;
                                    font-size: 11px;
                                    font-weight: bold;
                                    // line-height: 44px;
                                    padding: 0 4px;
                                    color: #333;




                                    .province-name {
                                        margin-left: 6px;
                                        display: inline-block;
                                        text-align: left;
                                        width: 35%;
                                        color: #666;
                                        display: flex;
                                        align-items: center;
                                        // justify-content: center;
                                        // div{

                                        // }
                                    }

                                    .num {
                                        font-size: 14px;
                                        line-height: 44px;

                                    }

                                    .add {
                                        display: inline-block;
                                        text-align: center;

                                        width: 15%;
                                        color: #EC3636;
                                    }

                                    .active {
                                        display: inline-block;
                                        text-align: center;

                                        width: 28%;
                                        // color: #F4AA51;

                                    }

                                    .recovered {
                                        display: inline-block;
                                        text-align: center;

                                        width: 20%;
                                        // color: #2DADA1;

                                    }

                                    .deaths {
                                        display: inline-block;
                                        text-align: center;

                                        width: 20%;
                                        color: #333;

                                    }
                                }

                            }

                        }
                    }
                }
            }

            .gtry-group-wrap {
                border-top: 10px solid #F7F7F7;
                margin-top: 74px;
                padding: 20px 16px;

                .gtry-group-title {
                    font-size: 18px;
                    line-height: 26px;
                    color: #333;
                }

                .gtry-group-banner {
                    margin-top: 12px;
                    background: url(../img/gtry-group.png) no-repeat;
                    height: 180px;
                    width: 100%;
                    background-size: contain;
                    background-position-x: 50%;
                }
            }

            .driver-wrap {
                border-top: 10px solid #F7F7F7;
                // margin-top: 74px;
                padding: 20px 16px;

                .driver-title {
                    font-size: 18px;
                    line-height: 26px;
                    color: #333;
                }

                .driver-banner {
                    margin-top: 12px;
                    background: url(../img/driver.png) no-repeat;
                    height: 180px;
                    width: 100%;
                    background-size: contain;
                    background-position-x: 50%;
                }
            }


            .gtry-join-wrap {
                border-top: 10px solid #F7F7F7;
                margin-bottom: 55px;
                padding: 20px 16px;

                .gtry-join-title {
                    font-size: 18px;
                    line-height: 26px;
                }

                .gtry-join-banner {
                    position: relative;
                    margin-top: 12px;

                    .covid-pop-en {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        margin-left: -75px;

                        background: url(../img/covid-banner.png) no-repeat;
                        width: 137px;
                        height: 25px;
                        background-size: 137px 25px;
                    }

                    .covid-pop-id {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        margin-left: -75px;

                        background: url(../img/covid-banner-id.png) no-repeat;
                        width: 137px;
                        height: 25px;
                        background-size: 137px 25px;
                    }

                    &.id {
                        position: relative;

                        background: url(../img/diease-id.png) no-repeat;
                        height: 170px;
                        width: 100%;
                        background-size: contain;
                        background-position-x: 50%;
                    }

                    &.en {
                        position: relative;

                        background: url(../img/diease-en.png);
                        height: 170px;
                        width: 100%;
                        background-size: cover;
                        background-position-x: 50%;
                    }

                    .banner-inner {
                        padding: 20px 16px;


                    }


                }
            }

            .share-wrap {
                z-index: 3000 !important;
                border-top: 1px solid #EAEAEA;
                font-size: 16px;
                // font-weight: 600;
                position: fixed;
                bottom: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                background: #fff;

                .share-inner {
                    // padding: 0 5%;
                    padding: 8px 16px;

                    // padding: 0 16px 20px 16px;
                    .share-btn {

                        height: 41px;
                        width: 100%;
                        background: #43ac43;
                        border-radius: 30px;
                        line-height: 41px;
                        text-align: center;
                        color: #fff;
                        font-size: 16px;
                        font-weight: bold;
                    }

                }

            }
        }
    }
}