.save-wrapper {
    display: none;
    position: fixed;
    bottom: 68px;
    width: 100%;
    height: 70px;
    // background-color: #333;
    z-index: 3000;
    padding: 0 16px;
    box-sizing: border-box;


   


    .save-inner {
        width: 100%;
        height: 70px;
        padding: 12px 8px;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 5px 16px 0 rgba(0,0,0,.1);

        display: flex;
        justify-content: space-between;

        .lite-logo {
            margin-top: 2px;

            display: inline-block;
            vertical-align: middle;
            background: url(./img/lite-logo.png) no-repeat;
            width: 45px;
            height: 45px;
            background-size: 45px 45px;
        }

        .save-tips {
            margin: auto 8px;
            width: 70%;
            font-size: 12px;
            line-height: 18px;
            display: inline-block;
            vertical-align: middle;

            .safari-share {
                display: inline-block;

                &::after{
                    margin-left: 5px;
                    display: inline-block;
                    content: '';
                    vertical-align: sub;
                    background: url(./img/safari-share.png) no-repeat;
                    width: 17px;
                    height: 17px;
                    background-size: contain;
                }
            }

            .bold {
                font-weight: bold;
            }

        }

        .close-save-tips {
            margin: auto;

            display: inline-block;
            vertical-align: middle;

            background: url(./img/close-safari-pop.png) no-repeat;
            width: 20px;
            height: 20px;
            background-size: 20px;
        }
    }
}