.commonBoxStyle.alert-box {

    &.quesAlertBox {
        .content-inner {
            padding: 32px 18px 40px !important;

        }
    }

    .content {
        position: absolute;
        background: #fff;
        width: 90%;
        height: auto;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        z-index: 3001;
        margin-left: -45%;
        border-radius: 5px;

        .content-inner {
            position: unset;
            box-sizing: border-box;
            height: auto;
            padding: 32px 18px 40px;

            .poptitle {
                font-size: 20px;
                line-height: 25px;
                color: #666;
                font-weight: bold;
                color: #333;
            }

            .subtitle {
                font-size: 14px;
                color: #666;
                font-weight: bold;
            }

            .detail {
                max-height: 60vh;
                height: auto;
                box-sizing: border-box;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
                // text-align: justify;

                .color {
                    font-weight: bold;
                    padding: 20px 0 10px !important;
                    color: #333;
                }

                .prag {
                    .prag-title {
                        color: #333;
                        font-weight: bold;
                        text-align: center;
                    }

                    .prag-subtitle {
                        margin-top: 0px;
                        color: #333;
                        font-weight: bold;
                        text-align: center;
                    }

                    table {
                        tr {
                            td {
                                span {
                                    font-weight: 500;
                                    color: #333;
                                }
                            }
                        }
                    }

                    p {
                        margin-top: 20px;
                        word-wrap: break-word;
                        white-space: pre-wrap;
                    }

                    .l {
                        display: inline-block;
                        width: 8%;
                        vertical-align: top;
                    }

                    .r {
                        display: inline-block;
                        width: 90%;
                    }

                }

                &::after {
                    content: "";
                    display: block;
                    height: 34px;
                }
            }

            .confirm {
                bottom: 15px;
                width: 100%;
                right: 0;


                .yes {
                    width: 100%;
                    text-align: center;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0 18px;
                    float: right;
                    font-weight: bold;

                    span {
                        display: inline-block;
                        height: 44px;
                        line-height: 44px;
                        width: 100%;
                        background: #43AC43;
                        color: #fff;
                        border-radius: 6px;
                    }
                }

                .fade-wrap {
                    position: absolute;
                    bottom: 43px;
                    height: 50px;
                    width: 100%;
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);

                }

            }

            .pop-confirm {
                // .fade-wrap {
                //     position: absolute;
                //     bottom: 43px;
                //     height: 50px;
                //     width: 100%;
                //     background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);

                // }
                .yes {
                    float: right;
                    color: #43AC43;
                    font-size: 16px;
                    font-weight: bold;
                    margin-right: 16px;
                }
            }
        }
    }
}

// UI调整
.commonBoxStyle.alert-box .content .content-inner .detail .color {
    margin-top: 0 !important;
}