@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";
// @import "../../../../common/qsc/less/common_footer.less";
@import "../../../../common/qsc/less/alert-box.less";
@import "./_alert-box.less";

ul li {
    list-style: none;
}

h2 {
    padding: 0 15px;
    margin: 0;
}

.page-wrapper {
    // position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px; // background:url('../img/banner.jpg');

    .page-inner {
        padding-top: 56px;

        .wrapper {
            background-color: #fff;

            .banner {
                position: relative;
                height: 115px;
                background-image: linear-gradient(128deg, #5FC37E 0%, #0E9957 100%);

                .title {
                    position: absolute;
                    width: 130px;
                    height: 66px;
                    left: 25px;
                    top: 25px;

                    &.en {
                        background: url(../img/title.png) no-repeat;
                        background-size: 130px 61px;
                    }

                    &.id {
                        background: url(../img/title-id.png) no-repeat;
                        background-size: 130px 61px;
                    }
                }

                .icon {
                    position: absolute;
                    width: 130px;
                    height: 123px;
                    background: url(../img/icon.png) no-repeat;
                    background-size: 130px 123px;
                    right: 25px;
                    bottom: -15px;
                }

                .ques {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background: url(../img/ques.png) no-repeat;
                    background-size: 15px 15px;
                    right: 12px;
                    top: 8px;
                }
            }

            .rank {
                position: relative;
                background: #fff;
                border-radius: 9px;
                margin-top: -8px;
                padding: 26px 12px 55px;
                color: #333333;
                font-size: 11px;

                .rank-inner {
                    .line {
                        height: 10px;
                        background: #F7FAFF;
                        position: absolute;
                        width: 100%;
                        left: 0;
                        top: 80px;
                    }

                    .donate-rank-lists {
                        padding-top: 8px;
                    }

                    .list {
                        margin-bottom: 15px;

                        &.self {
                            margin-bottom: 25px;

                        }

                        .rank-img {
                            width: 35px;
                            height: 41px;
                            font-size: 16px;
                            color: #333333;
                            font-weight: bold;
                            text-align: center;
                            line-height: 33px;
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 10px;

                            &.No_3 {
                                background: url(../img/No_3.png) no-repeat;
                                background-size: 35px 41px;
                            }

                            &.No_2 {
                                background: url(../img/No_2.png) no-repeat;
                                background-size: 35px 41px;

                            }

                            &.No_1 {
                                background: url(../img/No_1.png) no-repeat;
                                background-size: 35px 41px;

                            }
                        }

                        .avatar {
                            display: inline-block;
                            vertical-align: middle;

                            img {
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                display: inline-block;

                            }
                        }

                        .detail {
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 10px;
                            width: 100%;
                            padding: 0 13px 0 100px;
                            box-sizing: border-box;
                            margin-top: -72px;
                            line-height: 24px;

                            .info {
                                display: inline-block;
                                width: 51%;

                                .name {
                                    font-size: 16px;
                                    font-weight: 500;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                }

                                .invite-people {
                                    color: #999999;

                                    span {
                                        color: #FF6202;
                                        font-weight: bold;
                                    }
                                }

                            }

                            .donate {
                                float: right;
                                text-align: right;

                                .t {
                                    color: #999999;
                                }

                                .money {
                                    font-weight: 500;
                                    font-size: 14px;
                                }
                            }
                        }




                    }
                }
            }

            .improveBtn {
                width: 100%;
                position: fixed;
                padding: 10px 15px 10px;
                box-sizing: border-box;
                background-color: #fff;
                bottom: 0;
                max-width: 640px;
                margin: 0 auto;

                p {
                    cursor: pointer;
                    text-align: center;
                    color: #FFFFFF;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 44px;
                    background-color: #43AC43;
                    border-radius: 6px;
                    width: 100%;
                    margin: 0 auto;
                    box-sizing: border-box;
                }
            }

        }
    }
}