@import "../../../common/qsc/less/loading.less";
@import "../../../common/qsc/less/toast.less";
@import "../../../common/qsc/less/common_nav.less";

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    font-weight: normal;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    padding: 0;
}

body {
    background-color: #fff; // body获取屏幕高度
}

.background {
    max-width: 620px;
    margin: 0 auto;

    .page-wrapper {
        // padding-bottom: 80px;
        padding: 0 16px;
        height: 100%;
        position: relative;

        .content {
            margin-top: 30px;
            width: 100%;

            .tips {
                margin-top: 30px;
                font-size: 14px;
                line-height: 14px;
                color: #999999;
            }

            .phoneVerification {
                .input {
                    margin: 15px auto 0;
                    width: 100%;
                    box-sizing: border-box;
                    margin-bottom: 10px;
                    position: relative;

                    .countryCode {
                        z-index: 1;
                        width: 56px;
                        height: 44px;
                        position: absolute;
                        margin-left: 16px;
                        line-height: 40px;

                        .addSign {
                            display: inline-block;
                        }

                        .countryNum {
                            font-size: 14px;
                            color: #333333;
                            line-height: 24px;
                            display: inline-block;
                            vertical-align: middle;
                            border-right: 1px solid #CCCCCC;
                            padding-right: 16px;
                        }
                    }

                    input {
                        caret-color: #43AC43;
                        border-style: none;
                        outline: none;
                        width: 100%;
                        height: 44px;
                        background-color: #f8f8f8;
                        border-radius: 7px;
                        padding: 0 0 0 16px;
                        color: #333333;
                        box-sizing: border-box;
                        font-size: 14px;

                        &.number {
                            padding-left: 72px;
                            position: relative;

                        }
                    }

                    &.code {
                        .senCode {
                            border: 0px;
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 120px;
                            height: 44px;
                            background: #43AC43;
                            line-height: 44px;
                            font-size: 14px;
                            border-radius: 0 7px 7px 0;
                            color: #fff;
                            text-align: center;

                            &.active {
                                background-color: #CCCCCC;
                            }
                        }
                        .SMSCode{
                            margin-top: 10px;
                            text-align: right;
                            font-size: 12px;
                            color: #999;
                        }
                    }
                }
            }

            .nextBtn {
                margin-top: 30px;
                width: 100%;
                height: 44px;
                background-color: #43ac43;
                border-radius: 6px;
                text-align: center;
                line-height: 44px;
                font-size: 16px;
                font-weight: bold;
                color: #FFFFFF;
            }
        }
    }
}