.alert-calculator {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;

    // padding: 20px 5%;
    .calculator-mask {
        // display: none;
        position: absolute;
        // top: 0;
        bottom: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.8;
    }

    .content {
        z-index: 3001;
        position: absolute;
        width: 100%;
        // height: 383px;
        bottom: 0;
        background: #fff;
        border-radius: 20px 20px 0 0;

        
        .content-inner {
            padding: 20px 16px;
            position: relative;
            .close-calculator{
                position: absolute;
                right: 16px;
                top: 12px;
                display: inline-block;
                content: '';
                width: 12px;
                height: 12px;
                background: url(../img/close_s.png) no-repeat;
                background-size: 12px 12px;
            }
            .result-title {
                text-align: center;
                font-size: 14px;
                color: #666;
                line-height: 16px;
            }

            .result-wrap {
                margin-top: 16px;
                text-align: center;
                position: relative;
                span{
                    font-size: 25px;
                    color: #0C0C0C;
                    font-weight: bold;
                }
                .result-money {
                    font-size: 25px;
                    color: #0C0C0C;
                    font-weight: bold;
                }

                .result-copy {
                    position: absolute;
                    right: 0;
                    top: 5px;
                    padding: 3px 8px;
                    border-radius: 3px;
                    background: #E5E5E5;
                    font-size: 12px;
                    color: #333;
                }
            }

            .result-tips {
                display: none;
                margin-top: 16px;
                font-size: 11px;
                color: #FF6100;
                line-height: 16px;

            }

            .zakat {
                // margin-top: 30px;

                .zakat_channel {
                    line-height: 42px;
                    margin-top: 12px;
                    background-color: #f8f8f8;
                    border: 0;
                    border-radius: 6px;
                    width: 100%;
                    height: 44px; // color: #;
                    font-size: 14px;
                    position: relative;

                    ._channel {
                        .zakat_default {
                            padding: 0 0 0 20px;
                            color: #CCCCCC;
                        }
                        .zakat-icon {
                            background: url(../img/OVO.png);
                            border-radius: 50%;
                            background-size: contain;
                            height: 24px;
                            width: 24px;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 15px;
                        }
                        .zakat-name {
                            display: inline-block;
                            margin-left: 10px;
                            vertical-align: middle;
                        }
                    }

                    &::after {
                        content: '';
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        background: url(../img/select.png) no-repeat;
                        background-size: 24px 24px;
                        position: absolute;
                        right: 16px;
                        bottom: 10px;
                    }
                }
            }

            .payment {
                // margin-top: 30px;
                display: none;
                .payment_channel {
                    line-height: 42px;
                    margin-top: 12px;
                    background-color: #f8f8f8;
                    border: 0;
                    border-radius: 6px;
                    width: 100%;
                    height: 44px; // color: #;
                    font-size: 14px;
                    position: relative;

                    .channel {
                        .default {
                            padding: 0 0 0 20px;
                            color: #CCCCCC;
                        }
                        .icon {
                            background: url(../img/OVO.png);
                            background-size: 68.5px 24px;
                            height: 24px;
                            width: 68.5px;
                            height: 24px;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 15px;
                        }
                        .bank-name {
                            display: inline-block;
                            margin-left: 10px;
                            vertical-align: middle;
                        }
                    }

                    &::after {
                        content: '';
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        background: url(../img/select.png) no-repeat;
                        background-size: 24px 24px;
                        position: absolute;
                        right: 16px;
                        bottom: 10px;
                    }
                }
            }


            .anonymous-donate {
                margin: 20px 0;

                p {
                    font-size: 14px;
                    line-height: 25px;
                    font-weight: bold;
                    display: inline-block;
                }

                .open-icon {
                    width: 51px;
                    height: 31px;
                    float: right;
                    background: url(../img/close.png) no-repeat;
                    background-size: 51px 31px;
                    cursor: pointer;

                    &.open {
                        background: url(../img/open.png) no-repeat;
                        background-size: 51px 31px;
                    }
                }
            }

            .touristLogin {
                // margin-top: 30px;

                .titleLink {
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 20px;

                    .login {
                        color: #43AC43;
                        text-decoration: underline;
                    }
                }

                input {
                    caret-color: #43AC43;
                    border-style: none;
                    outline: none;
                    width: 100%;
                    height: 44px;
                    background-color: #f8f8f8;
                    border-radius: 7px;
                    padding: 0 0 0 16px;
                    color: #333333;
                    box-sizing: border-box;
                    font-size: 14px;

                    &.name-box {
                        margin-top: 16px;
                        margin-bottom: 10px;
                    }

                    &.number {
                        padding-left: 72px;
                        position: relative;
                        margin-bottom: 15px;
                    }
                }

                .countryCode {

                    z-index: 1;
                    width: 56px;
                    height: 44px;
                    position: absolute;
                    margin-left: 16px;
                    line-height: 40px;

                    .addSign {
                        display: inline-block;
                    }

                    .countryNum {
                        font-size: 14px;
                        color: #333333;
                        line-height: 24px;
                        display: inline-block;
                        vertical-align: middle;
                        border-right: 1px solid #CCCCCC;
                        padding-right: 16px;
                    }
                }
            }

            .nextBtnWrap {
                margin-top: 30px;
                .nextBtn {
                    // position: fixed;
                    width: 100%;
                    height: 44px;
                    bottom: 0;
                    left: 0;
                    box-sizing: border-box;
                    background: #fff;

                    .next {
                        cursor: pointer;
                        text-align: center;
                        color: #FFFFFF;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 44px;
                        background-color: #43AC43;
                        border-radius: 6px;
                        width: 100%;
                        margin: 0 auto;
                        // box-sizing: border-box;
                    }
                }
            }

        }
    }
}