// @import "/Users/richyoung/qsc/Indonesia-h5/dev/common/qsc/less/_uploader";
// @import "../../../common/qsc/less/uploader.less";
@import "../../../common/qsc/less/loading.less";
@import "../../../common/qsc/less/toast.less";
@import "../../../common/qsc/less/common_nav.less";
// @import "../../../../common/qsc/less/common_footer.less";
@import "./_bankList.less";
@import "./_zakatList.less";
@import "./_calculator.less";
@import "../../../common/qsc/less/alert-box.less"; //弹窗
@import "./_zakatIntention.less";

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    font-weight: normal;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCC;
    /* placeholder字体大小  */
    font-size: 14px;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    font-family: Arial, Helvetica, sans-serif;
}


.noscroll {
    height: 100%;
    overflow: hidden;
}


.nav-wrapper {
    border-bottom: none !important;
}

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;


    .calculator-wrap {
        position: absolute;
        bottom: 0;
        height: 64px;
        width: 90%;

        padding: 0 5%;

        .cal-btn-wrap {
            pointer-events: none;
            border-radius: 6px;
            width: 100%;
            height: 44px;
            // background: #43ac43;
            background: #ccc;
            text-align: center;
            line-height: 44px;
            color: #fff;
            font-weight: bold;
            font-size: 16px;

            &.pro-btn {
                display: block;
            }

            &.asset-btn {
                display: none;
            }
        }
    }

    .page-inner {
        padding-top: 56px;

        .wrapper {



            .tab {
                .tab-menu {
                    height: 41px;

                    ul {
                        list-style: none;
                        line-height: 41px;

                        display: flex;
                        justify-content: space-evenly;

                        li {
                            display: inline-block;
                            border-bottom: 1px solid #D8D8D8;
                            width: 50%;
                            text-align: center;
                            // float: left;
                        }

                        .change {
                            color: #43AC43;
                            font-weight: bold;
                            border-bottom: 3px solid #43AC43;
                        }

                    }


                }

                .tab-box {
                    .tab-page {
                        display: none;
                        // position: relative;

                    }

                    .tab-content {
                        padding: 16px 16px 6px 16px;

                        .input-out-wrap {

                            .input-title {
                                font-size: 15px;

                                span {
                                    color: #FF6100;
                                }


                            }

                            .input-inner-wrap {
                                margin-top: 12px;

                                position: relative;

                                .input {
                                    padding: 0 5%;
                                    width: 90%;
                                    height: 44px;
                                    color: #333;
                                    font-size: 14px;
                                    // font-weight: bold;
                                    background-color: #F8F8F8;
                                    border: 0;
                                    border-radius: 6px;
                                }

                            }
                        }
                    }
                }

                /* 让第一个框显示出来 */
                .tab-box .tab-page:first-Child {
                    display: block;
                }

            }




        }

    }
}