.activity-share-donate {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  height: 100vh;
  width: 100%;

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
  }

  .content {
    position: absolute;
    color: #fff;
    width: 98%;
    margin: 0 auto;
    top: 22%;
    left: 50%;
    z-index: 3001;
    margin-left: -49%;
    border-radius: 5px;
    text-align: center;

    .bg {
      position: relative;
      width: 367.5px;
      height: 274.4px;
      background: url(../img/activity-bg.png) no-repeat;
      background-size: 367.5px 274.4px;
      display: inline-block;

      .title {
        position: relative;
        text-align: center;
        color: #000;
        font-size: 16px;
        font-weight: 800;
        padding: 44px 0 16px;

        .text-line {
          position: absolute;
          margin-left: -70px;
          bottom: 14px;
          width: 140px;
          height: 10px;
          display: inline-block;
          background: url(../img/text-line.png) no-repeat;
          background-size: 140px 10px;
        }
      }

      .cnt {
        width: 65%;
        display: inline-block;
        color: #666666;
        font-size: 13px;
        text-align: start;
        line-height: 21px;
      }

      .close {
        position: absolute;
        right: 70px;
        top: -46px;
        z-index: -1;
        width: 30px;
        height: 58px;
        background: url(../img/close2.png) no-repeat;
        background-size: 30px 58px;
      }
    }

    @media screen and (max-width: 374px) and (min-width: 320px) {
      .bg {
        width: 313px;
        height: 233.7px;
        background: url(../img/activity-bg.png) no-repeat;
        background-size: 313px 233.7px;
      }

      .cnt {
        font-size: 11px !important;
      }
    }

    .go-to-log-in {
      margin: 0 auto;
      width: 296px;
      height: 47px;
      margin: 20px auto 12px;

      .go-log-in {
        display: block;
        width: 296px;
        height: 47px;
        background: url(../img/log-in.png) no-repeat;
        background-size: 296px 47px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        line-height: 47px;
      }
    }

    .logged-in {
      margin: 0 auto;
      width: 296px;
      height: 47px;

      .logged-share {
        display: block;
        width: 296px;
        height: 47px;
        background: url(../img/logged-in.png) no-repeat;
        background-size: 296px 47px;
        text-align: center;
        color: #C331FF;
        font-size: 16px;
        font-weight: bold;
        line-height: 47px;
      }
    }
  }
}