// confirm-campaign
.confirm-campaign,
.supporter-ranking {
    padding: 20px 16px;

    .title {
        padding: 0 16px 0 0;
        font-size: 20px;
        font-weight: bold;
        color: #333333;

        .num {
            color: #43AC43;
            font-size: 14px;
            font-weight: bold;
            display: inline-block;
            width: 33px;
            height: 18px;
            position: relative;
            background-color: #D9EED9;
            border-radius: 9px;

            p {
                text-align: center;
                line-height: 18px;
            }
        }
    }

    .confirm-people {
        margin-top: 16px;

        .avatar-lists {
            width: 100%;

            .more {
                width: 40px;
                height: 40px;
                background: url(../img/more.png);
                background-size: 40px;
                float: right;
            }

            .list {
                position: relative;
                display: inline-block;
                width: 40px;
                height: 40px;
                margin-right: 16px;
                border-radius: 50%;

                &.ranking {
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: -10px;
                        left: -5px;
                        z-index: 1;
                        width: 25px;
                        height: 23px;
                    }

                    &.No_1 {
                        &::before {
                            background: url(../img/No_1.png) no-repeat;
                            background-size: 25px 23px;
                        }
                    }

                    &.No_2 {
                        &::before {
                            background: url(../img/No_2.png) no-repeat;
                            background-size: 25px 23px;
                        }
                    }

                    &.No_3 {
                        &::before {
                            background: url(../img/No_3.png) no-repeat;
                            background-size: 25px 23px;
                        }
                    }
                }

                img {
                    position: absolute;
                    z-index: 2;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }

                .enterprise-wrap {
                    position: absolute;
                    bottom: 0;
                    right: -1px;
                    background: url(../img/enterprise_icon.png) no-repeat;
                    width: 21px;
                    height: 21px;
                    background-size: cover;
                }

                &.choosed {
                    &::after {
                        display: block;
                        content: "";
                        width: 18px;
                        height: 10.5px;
                        background: url(../img/sharp-icon.png);
                        background-size: 18px 10.5px;
                        position: absolute;
                        bottom: -24px;
                        left: 50%;
                        margin-left: -10px;
                    }
                }
            }

            @media screen and (max-width: 374px) {
                .list {
                    margin-right: 6px;
                }
            }
        }

        .comment-lists {
            width: 100%;
            box-sizing: border-box;
            padding: 17px 16px;
            background: #F5F6F7;
            border-radius: 7px;
            margin-top: 17px;
            display: none;

            &.choosed {
                display: block;
            }

            .list {
                .content {
                    .name {
                        color: #8FA6C8;
                        font-size: 16px;
                        font-weight: 800;
                        display: inline-block;
                        height: 19px;
                        line-height: 19px;
                    }

                    .relationShip {
                        color: #45AD45;
                        background: #E3EDE4;
                        padding: 1px 8px;
                        font-size: 12px;
                        display: inline-block;
                        height: 19px;
                        line-height: 19px;
                        box-sizing: border-box;
                    }
                }

                .comment {
                    position: relative;
                    overflow: hidden;
                    color: #999999;
                    max-height: 42px;
                    line-height: 21px;
                    font-size: 14px; // hyphens: auto;
                    margin-top: 14px; // -moz-hyphens: auto;

                    // -ms-hyphens: auto;
                    // word-wrap: break-word;
                    // -webkit-hyphens: auto;
                    &.overflow::after {
                        content: "...";
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        padding-left: 10px; // background: -webkit-linear-gradient(left, transparent, #F5F6F7 55%);
                        // background: -o-linear-gradient(right, transparent, #F5F6F7 55%);
                        // background: -moz-linear-gradient(right, transparent, #F5F6F7 55%);
                        // background: linear-gradient(to right, transparent, #F5F6F7 55%);
                    }
                }
            }
        }
    }

    .confirm-btn {
        background: #43AC43;
        color: #fff;
        width: 200px;
        height: 44px;
        border-radius: 5px;
        line-height: 44px;
        text-align: center;
        font-size: 16px;
        font-weight: 800;
        margin: 16px auto 0;
    }
}

// no-confirm-data
.no-confirm-data {
    margin-top: 27px;

    .bg {
        background: url(../img/no-confirm-data.png);
        background-size: 100px 90px;
        width: 100px;
        height: 90px;
        margin: 0 auto 15px;
    }

    p {
        padding: 0 25px;
        text-align: center;
        line-height: 24px;
        font-size: 14px;
        color: #999999;
    }
}