.love-wrapper {

    //    position: fixed;
    //     top: 0;
    //    z-index: 2;
    //    width: 100%;
    //    height: 100vh;
    .big-love {
        position: fixed;
        z-index: 2;
        left: 50%;
        bottom: 50%;
        margin-left: -75px;
        width: 150px;
        height: 125px;
        background: url(../img/love.png) no-repeat;
        background-size: 150px 125px;
        animation: shake 2s ease-in 0s;
        -webkit-animation: shake 2s ease-in 0s;
        animation-fill-mode: forwards;

        // 隐藏文字
        p {
            font-size: 14px;
            color: #fff;
            text-align: center;
            line-height: 102px;
            opacity: 1;
            animation: shakeDisapear 2s ease-in 1s;
            -webkit-animation: shakeDisapear 2s ease-in 1s;
            animation-fill-mode: forwards;
        }

        @keyframes shake {
            0% {
                -webkit-transform: none;
                transform: none;
                left: 50%;
                bottom: 50%;
            }

            40%,
            45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                left: 50%;
                bottom: 50%;
            }

            45%,
            55% {
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
                left: 50%;
                bottom: 50%;
            }

            55%,
            60% {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                left: 50%;
                bottom: 50%;
            }

            60%,
            85% {
                -webkit-transform: scale(1.4);
                transform: scale(1.4);
                left: 50%;
                bottom: 50%;
            }

            85%,
            100% {
                -webkit-transform: scale(0);
                transform: scale(0);
                left: 50px;
                bottom: 100px;
            }
        }

        @keyframes shakeDisapear {
            0% {
                opacity: 1;
            }

            80% {
                opacity: 0.8;
            }

            100% {
                opacity: 0;
            }
        }

    }

    .tips-love {
        position: fixed;
        z-index: 2;
        right: -100%;
        bottom: 57px;
        width: 100%;
        padding: 10px 2.7%;
        box-sizing: border-box;
        animation: tips-move 0.8s ease-in 0.8s;
        -webkit-animation: tips-move 0.8s ease-in 0.8s;
        animation-fill-mode: forwards;

        // 进入
        @keyframes tips-move {
            0% {
                -webkit-transform: none;
                transform: none;
            }

            100% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
            }
        }

        &.close-love {
            position: fixed;
            right: 0;
            animation: tips-out 0.3s ease-out 0s;
            -webkit-animation: tips-out 0.3s ease-out 0s;
            animation-fill-mode: forwards;

            //  出去
            @keyframes tips-out {
                0% {
                    -webkit-transform: none;
                    transform: none;
                }

                100% {
                    -webkit-transform: translateX(100%);
                    transform: translateX(100%);
                }
            }
        }

        .tips-inner {
            position: relative;
            width: 100%;
            // height: 95px;
            border-radius: 6px;
            background-image: linear-gradient(161deg, #FFDD2A 0%, #FF4B82 96%);

            .love-close {
                position: absolute;
                right: 10px;
                top: 10px;
                width: 21px;
                height: 21px;
                background: url(../img/close.png) no-repeat;
                background-size: 21px 21px;
            }

            .tips-content {
                font-size: 14px;
                color: #fff;
                line-height: 21px;

                .small-love-wrapper {
                    display: inline-block;
                    vertical-align: middle;
                    width: 50px;
                    height: 50px;
                    background: #fff;
                    border-radius: 50%;
                    margin: 0 10px;

                    .small-love {
                        display: inline-block;
                        width: 40px;
                        height: 33px;
                        margin: 11px 5px;
                        opacity: 0;
                        background: url(../img/love-small.png) no-repeat;
                        background-size: 40px 33px;
                        animation: small-shake 0.5s ease-in 1.6s;
                        -webkit-animation: small-shake 0.5s ease-in 1.6s;
                        animation-fill-mode: forwards;

                        @keyframes small-shake {

                            0%,
                            40% {
                                -webkit-transform: scale(0);
                                transform: scale(0);
                                opacity: 1;
                            }

                            40%,
                            50% {
                                -webkit-transform: scale(1.4);
                                transform: scale(1.4);
                                opacity: 1;
                            }

                            50%,
                            100% {
                                -webkit-transform: scale(1);
                                transform: scale(1);
                                opacity: 1;
                            }
                        }
                    }
                }



                .tips-content-inner {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 16px 0;
                    max-width: 66%;
                }
            }


        }
    }
}