// story
.story {
    padding: 20px 16px 16px 16px;

    .title-time {
        margin-bottom: 15px;

        .title {
            padding: 0;
            font-size: 16px;
            color: #333333;
            font-weight: 600;
        }

        .time {
            line-height: 25px;
            display: inline-block;
            float: right;
            font-size: 12px;
            color: #999999;
        }
    }

    .detail {
        color: #333333;
        font-size: 14px;
        line-height: 26px;
        max-height: 213px;
        overflow: hidden;
        transition: .6s;

        p {
            height: auto;
        }
    }

    .moreOrPack {
        position: relative;

        .fade-wrap {
            position: absolute;
            bottom: 30px;
            height: 50px;
            width: 100%; // background: #fff;
            // opacity: 0.5;
            // background: -moz-linear-gradient(top, transparent 0%, #fff 100%);
            // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, #000));
            // background: -webkit-linear-gradient(top, transparent 0%, #fff 100%);
            // background: -o-linear-gradient(top, transparent 0%, #fff 100%);
            // background: -ms-linear-gradient(top, transparent 0%, #fff 100%);
            // background: linear-gradient(to bottom, transparent 0%, #fff 100%);
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        }

        .more {
            margin-top: 10px;

            p {
                &::after {
                    transform: rotate(90deg);
                }
            }
        }

        .packUp {
            display: none;
            margin-top: 10px;

            p {
                &::after {
                    transform: rotate(-90deg);
                }
            }
        }
    }
}

.campaign-image-wrap {
    padding: 0 14px 24px 9px;

    .campaign-image-box {
        width: 100%;
        background: #fff;
        display: flex;
        flex-wrap: wrap; // justify-content: space-between;

        .campaign-image {
            margin-left: 6.5px;
            border-radius: 4px;
        }

        @media screen and (min-width: 0) {
            .campaign-image {
                margin-bottom: 6px;
                width: 67.5px;
                height: 67.5px;
                background: #43ac43;
            }
        }

        @media screen and (min-width: 320px) {
            .campaign-image {
                margin-bottom: 6px;
                width: 67.5px;
                height: 67.5px;
                background: #43ac43;
            }
        }

        @media screen and (min-width: 360px) {
            .campaign-image {
                margin-bottom: 6px;
                width: 77.5px;
                height: 77.5px;
                background: #43ac43;
            }
        }

        @media screen and (min-width: 375px) {
            .campaign-image {
                margin-bottom: 5.5px;
                width: 81.5px;
                height: 81.5px;
                background: #43ac43;
            }
        }

        @media screen and (min-width: 411px) {
            .campaign-image {
                margin-bottom: 6px;
                width: 90.5px;
                height: 90.5px;
                background: #43ac43;
            }
        }

        @media screen and (min-width: 414px) {
            .campaign-image {
                margin-bottom: 6px;
                width: 91px;
                height: 91px;
                background: #43ac43;
            }
        }

        @media screen and (min-width: 487px) {
            .campaign-image {
                margin-bottom: 6px;
                width: 109.5px;
                height: 109.5px;
                background: #43ac43;
            }
        }

        @media screen and (min-width: 768px) {
            .campaign-image {
                margin-bottom: 6px;
                width: 147.5px;
                height: 147.5px;
                background: #43ac43;
            }
        }

        @media screen and (min-width: 1024px) {
            .campaign-image {
                margin-bottom: 6px;
                width: 147.5px;
                height: 147.5px;
                background: #43ac43;
            }
        }
    }
}