.vertification-infor {
  padding-top: 20px;

  .title {
    margin-left: 16px;
    font-weight: bold;
  }

  .box-wrapper {
    border-radius: 6px;
    margin: 16px;
    padding: 20px 16px;
    background-color: #F8F8F8;
    position: relative;

    .box {
      border-bottom: 1px solid #EEEEEE;
      margin-bottom: 20px;
    }

    // verificate-success
    .verificate-success {
      font-size: 14px;

      .list {
        padding-bottom: 14px;
      }

      .t {
        display: inline-block;
        vertical-align: top;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .c {
        display: block;
        left: 25%;

        .cont {
          color: #666666;
          display: block;
          margin-bottom: 10px;
        }

        .verified-cont {
          display: block;
          font-size: 11px;
          color: #45AD45;
          margin-bottom: 8px;

          &::before {
            content: "";
            display: inline-block;
            width: 11px;
            height: 11px;
            background: url(../img/vertifi-success.png) no-repeat;
            background-size: 11px 11px;
            vertical-align: top;
            margin-right: 4px;
          }
        }
      }
    }

    // in-progress
    .in-progress {
      p {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      div {
        font-size: 12px;
        color: #999999;
        line-height: 20px;
      }
    }

    // not-submit
    .not-submit {
      .t {
        font-size: 14px;
      }

      .go-to-vertification {
        background: #43AC43;
        color: #fff;
        width: 100%;
        height: 44px;
        border-radius: 5px;
        line-height: 44px;
        text-align: center;
        font-size: 16px;
        font-weight: 800;
        margin: 24px auto 0;
      }
    }

    .commitment {
      color: #43AC43;
      font-size: 11px;

      p {
        text-decoration: underline;
        display: inline-block;
      }

      &::before {
        content: '';
        display: inline-block;
        width: 9px;
        height: 11px;
        background: url(../img/commitment-icon.png) no-repeat;
        background-size: 9px 11px;
        vertical-align: bottom;
      }
    }
  }
}