@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";
@import "../../../../../common/promoPopup/less/main.less"; 

.page-wrapper {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;

    .page-inner {
        padding-top: 56px; // avatar

        .avatar {
            margin: 26px 22px;
            height: 40px;
            line-height: 40px;

            a {
                width: 100%;
                display: block;
            }

            .title {
                font-weight: 700;
                font-size: 16px;
                color: #333333;
            }
            
            .count-img {
                float: right;
                height: 40px;
                position: relative;
                .countless{
                    position: absolute;
                    right: 20px;
                    top: 12px;
                    background: url(../img/countless.png) no-repeat;
                    width: 16px;
                    height: 16px;
                    background-size: 16px;
                }
                .count {
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background: #FF6100;
                    font-size: 11px;
                    color: #FFFFFF;
                    border: 1px solid #FFF;
                    right: 20px;
                    top: 12px;
                    text-align: center;
                    line-height: 16px;
                }

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    vertical-align: middle;
                }

                .name {
                    color: #666666;
                    font-size: 16px;
                    vertical-align: middle;
                }

                &::after {
                    content: "";
                    vertical-align: middle;
                    display: inline-block;
                    width: 7px;
                    height: 11px;
                    margin-left: 15px;
                    background: url(../img/right.png) no-repeat;
                    background-size: 7px 11px;
                }
            }
        }
    }
}