@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";
@import "../less/_alert-box.less";
// @import "../../../../common/qsc/less/shareTpl-gtry.less"; //分享弹窗
@import "./_relationList.less";

// @import "../../../../common/qsc/less/common_footer.less";

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    min-height: 100vh;
    margin-top: -56px;
    background: #F7FAFF;

    .page-inner {
        padding-top: 56px;
        overflow: hidden;

        .wrapper {
            padding: 30px 16px;

            .active-title {
                font-size: 17px;
                font-weight: bold;
                color: #333;
                line-height: 20px;
            }

            .active-tips {
                margin-top: 12px;
                font-size: 14px;
                line-height: 16px;
                color: #999;

                span {
                    font-weight: bold;
                }
            }

            .info-wrap {
                margin-top: 16px;
                background: #fff;
                padding: 16px;
                border-radius: 6px;

                .relation {
                    .relation_channel_wrap {
                        line-height: 42px;
                        background-color: #f8f8f8;
                        border: 0;
                        border-radius: 6px;
                        width: 100%;
                        height: 44px; // color: #;
                        font-size: 14px;
                        position: relative;

                        .relation_channel {

                            // .relation_default {
                            //     padding: 0 0 0 20px;
                            //     color: #ccc;
                            // }
                            .relation_name {
                                padding: 0 0 0 20px;
                                color: #333;
                            }

                            .icon {
                                background-size: 68.5px 24px;
                                height: 24px;
                                width: 68.5px;
                                height: 24px;
                                display: inline-block;
                                vertical-align: middle;
                                margin-left: 15px;
                            }

                            .relation-name {
                                display: inline-block;
                                margin-left: 16px;
                                vertical-align: middle;
                            }

                        }


                        &::after {
                            content: '';
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            background: url(../img/select.png) no-repeat;
                            background-size: 24px 24px;
                            position: absolute;
                            right: 16px;
                            bottom: 10px;
                        }
                    }
                }

                .member-info {
                    margin-top: 16px;
                    width: 90%;
                    height: 44px;
                    padding: 0 5%;
                    font-size: 14px; // font-weight: bold;
                    background-color: #F8F8F8;
                    border-radius: 6px;

                    .member-name {
                        margin: 0;
                    }
                }

                .member-ID-tips {
                    margin-top: 5px;
                    font-size: 12px;
                    color: #999;
                }
            }
        }

        .active-btn-wrap {
            position: fixed;
            bottom: 16px;
            width: 100%;
            height: 44px;
            text-align: center;
            background: #fff;

            .active-btn {
                padding: 8px 16px;

                p {
                    border-radius: 6px;
                    width: 100%;
                    background: #43ac43;
                    line-height: 44px;
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }
}