.alert-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;
    .mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.8;
    }
    .content {
        position: absolute;
        background: #fff;
        width: 90%;
        height: 225px;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        z-index: 3001;
        margin-left: -45%;
        margin-top: -140px;
        border-radius: 5px;
        .content-inner {
            position: relative;
            padding: 32px 18px;
            .title {
                color: #333333;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 29px;
            }
            .detail {
                color: #999999;
                font-size: 16px;
                line-height: 26px;
            }
            .confirm {
                font-size: 16px;
                position: absolute;
                bottom: 0;
                right: 18px;
                font-weight: 500;
                .yes {
                    display: inline-block;
                }
                .no {
                    display: inline-block;
                    color: #43AC43;
                    margin-left: 44px;
                }
            }
        }
    }
}