.alert-bank {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;

    .bank-mask {
        // display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.8;
    }

    .content {
        position: absolute;
        background: #fff;
        width: 90%;
        // height: 321px;
        margin: 0 auto;
        top: 61%;
        left: 50%;
        z-index: 3001;
        margin-left: -45%;
        margin-top: -236px;
        border-radius: 5px;

        .close {
            display: inline-block;
            background: url(../img/bank-list/close_icon.png) no-repeat;
            background-size: contain;
            width: 30px;
            height: 60px;
            z-index: 3000;
            position: absolute;
            top: -58px;
            right: 0;
        }

        .content-inner {
            padding: 0px 16px;

            .title {
                margin-top: 30px;
                margin-bottom: 20px;
                font-size: 20px;
                font-weight: bold;
                line-height: 24px;
            }

            .bank-items {
                height: 246px;
                overflow: auto;

                .list-items {
                    border-bottom: 1px solid #EEE;
                    padding: 14px 0;
                    font-size: 16px;

                    &::after {
                        display: block;
                        content: "";
                        clear: both;
                    }

                    p {
                        float: left;
                        width: 85%;
                    }

                    &::before {
                        float: left;
                        display: inline-block;
                        content: '';
                        background: url(../img/bank-list/unchoosed_icon.png) no-repeat;
                        background-size: contain;
                        width: 20px;
                        height: 20px;
                        vertical-align: sub;
                        margin-right: 16px;
                    }

                    &.choosed-bank {
                        font-weight: bold;
                        color: #43ac43;

                        &::before {
                            background: url(../img/bank-list/choosed_icon.png) no-repeat;
                            background-size: contain;
                            width: 20px;
                            height: 20px;
                            vertical-align: sub;
                        }
                    }
                }
            }
        }
    }
}