* {
    margin: 0;
    padding: 0;
}

html {
    font-family: -apple-system-font, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

footer {
    background-color: #F8F8F8;
    height: 70px;
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
    margin: -80px auto 0;
    .inner {
        margin: 0 auto;
        width: 210px;
        height: 47px;
        background: url(../img/footer/copyright-new-0206.png) no-repeat;
        background-size: contain;
    }
}