.recommendation {
  border: 1px solid #CCCCCC;
  background-color: #F8F8F8;
  border-radius: 5px;
  padding: 16px 12px;
  font-size: 14px;
  color: #333333;

  &.add {
    .rec-inner {
      .agree-rec {
        background: url(../img/common_donate_recommendation/choose.png) no-repeat;
        background-size: 18px;
      }
    }
  }

  .rec-inner {
    .agree-rec {
      display: inline-block;
      width: 9%;
      height: 18px;
      vertical-align: middle;
      background: url(../img/common_donate_recommendation/unchoose.png) no-repeat;
      background-size: 18px;

    }

    .content {
      display: inline-block;
      vertical-align: middle;
      width: 89%;
      font-weight: normal;
      font-size: 14px;

      &::before {
        content: "";
        display: inline-block;
        width: 26%;
        height: 48px;
        vertical-align: middle;
        background: url(../img/common_donate_recommendation/rec_icon.png) no-repeat;
        background-size: 59px 48px;
      }

      .cnt {
        line-height: 21px;
        width: 72%;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}