  @import '../less/common_donate_success_toast.less';

  .Campaigns_List {
      padding-left: 0 !important
  }

  .finish-wrapper {
      width: 200px;
      margin: auto;
      text-align: center;

      .finish-img {
          margin: auto;
          background: url(../img/common_donate_success/success_icon.png) no-repeat;
          background-size: 214px 132px;
          width: 214px;
          height: 132px;
      }

  }

  .donation-word {
      margin: auto;
      padding: 0 16px;
      max-width: 590px;
      text-align: center;

      p {
          color: #333333;
          margin-top: 16px;
          font-size: 14px;
          line-height: 21px;
          font-weight: bold;

          span {
              color: #43AC43;
          }
      }

      .review-this {
          // margin-top: 16px;
          font-size: 14px;
          font-weight: bold;
          text-align: center;

          .review-this-content {
              margin-top: 10px;
              color: #43ac43;
          }
      }
  }

  //   .review-this{
  //       margin-top: 16px;
  //       font-size: 14px;
  //       font-weight: bold;
  //       text-align: center;
  //       color: #43ac43;
  //   }

  .calendar {

      // calendar
      .calendar-wrapper {
          padding: 0 16px;

          .calendar-inside {
              max-width: 590px;
              margin: auto;
              margin-top: 20px;
              padding: 20px 14px 16px;
              background: #F8F8F8;
              border-radius: 6px;

              p.t {
                  text-align: center;
                  font-size: 14px;
                  line-height: 21px;
                  color: #999999;
                  padding-bottom: 17px;
              }

              .love-icons {
                  margin-top: 16px;
                  padding-bottom: 60px;
                  display: flex;
                  justify-content: space-evenly;
                  padding-bottom: 7px;

                  .icons {
                      display: inline-block;
                      width: 29px;
                      height: 24px;
                      position: relative;

                      &.active {
                          background: url(../img/common_donate_success/love.png) no-repeat;
                          background-size: 29px 24px;

                          .week {
                              color: #FF6100;
                          }

                          .day {
                              color: #fff;
                          }
                      }

                      &.isToday::after {
                          content: "";
                          display: inline-block;
                          width: 4px;
                          height: 4px;
                          background: #FF527D;
                          border-radius: 50%;
                          position: absolute;
                          bottom: -10px;
                          left: 50%;
                          transform: translateX(-50%);
                      }

                      .week {
                          text-align: center;
                          font-size: 12px;
                          line-height: 21px;
                          margin-top: -20px;
                          color: #CCCCCC;
                      }

                      .day {
                          position: absolute;
                          top: 50%;
                          left: 50%;
                          font-size: 12px;
                          transform: translate(-50%, -50%);
                          color: #CCCCCC;
                      }
                  }
              }
          }
      }

  }

  .share-wrapper {
      padding: 0 16px 30px;

      .share-inside {
          max-width: 590px;
          margin: auto;
          margin: 15px 0 0;
          padding: 20px 14px 16px;
          background: #F8F8F8;
          border-radius: 6px;

          p {
              text-align: center;
              font-size: 14px;
              line-height: 21px;
              color: #999999;
          }

          .share {
              // display: none;
              margin-top: 20px;
              background: #43ac43;
              border-radius: 6px;
              height: 44px;

              p {
                  line-height: 44px;
                  text-align: center;
                  font-size: 16px;
                  font-weight: bold;
                  color: #fff;
              }
          }

          .share-icons {
              margin-top: 16px;
              padding-bottom: 25px;
              display: flex;
              justify-content: space-evenly;

              .icons {
                  // display: flex;
                  display: inline-block;
                  width: 40px;
                  height: 40px;
                  position: relative;

                  .title {
                      position: absolute;
                      bottom: -23px;
                      font-size: 12px;
                      font-weight: 400;
                      color: #999;

                      &.fb-title {
                          left: -6px;
                      }

                      &.line-title {
                          left: 9px;
                      }

                      &.twitter-title {
                          left: 3px;
                      }

                      &.whatsApp-title {
                          left: -6px;
                      }
                  }

                  &.fb {
                      background: url(../img/common_donate_success/facebook.png) no-repeat;
                      background-size: 40px;

                      .fb-share-tips {
                          background: url(../img/common_donate_success/tips.png) no-repeat;
                          background-size: 108px 22px;
                          position: absolute;
                          width: 108px;
                          height: 22px;
                          bottom: -42px;
                          left: -34px;
                          text-align: center;
                          font-size: 10px;
                          font-weight: 400;
                          line-height: 24px;
                          color: #fff;
                      }
                  }

                  &.line {
                      background: url(../img/common_donate_success/Line.png) no-repeat;
                      background-size: 40px;
                  }

                  &.twitter {
                      background: url(../img/common_donate_success/twitter.png) no-repeat;
                      background-size: 40px;
                  }

                  &.whatsApp {
                      background: url(../img/common_donate_success/WhatsApp.png) no-repeat;
                      background-size: 40px;
                  }
              }
          }
      }
  }

  .gtry-entrance {

      // padding: 0 16px;
      .gtry-entrance-bg {
          border-radius: 6px;
          // height: 62px;
          padding: 9px 15px 7px 85px;
          // border-radius: 60px;
          background-color: #FFF2E9;
          position: relative;
          margin-top: 22px;
          margin-bottom: 20px;
          // text-align: justify;
          // .bg-img{
          //     display: inline-block;
          //     background: url(../img/gtry-bg.png) no-repeat;
          //     background-size: contain;
          //     width: 70px;
          //     height: 70px;
          // }

          &::before {
              display: inline-block;
              content: '';
              background: url(../img/common_donate_success/gtry-bg.png) no-repeat;
              background-size: contain;
              width: 70px;
              height: 70px;
              position: absolute;
              top: 50%;
              margin-top: -35px;
              left: 0;
          }

          .entrance-content {
              font-size: 12px;
              line-height: 20px;
              // font-weight: 600;
              color: #999;

              .green {
                  font-size: 13px;
                  display: inline-block;
                  // margin-left: 10px;
                  color: #43AC43;
              }

              // display: inline-block;

          }
      }

  }

  .seeMoreTips {
      font-size: 14px;
      line-height: 21px;
      font-weight: bold;
  }

  //   .campaigns_list {
  //       margin-top: 8px;

  //       li {
  //           margin-bottom: 20px;

  //           .campaign_card_wrapper {
  //               background: #fff;
  //               border-radius: 6px;
  //               /* conflicts */
  //               box-shadow: 0px 6px 14px 1px rgba(212, 227, 255, 1);

  //               /* conflicts */
  //               .campaign_card {
  //                   border-radius: 5px;
  //                   cursor: pointer;
  //                   /* conflicts */
  //                   position: relative;

  //                   /* conflicts */
  //                   .campaign_img_wrap {
  //                       position: absolute; // 时间标签
  //                       left: 0;
  //                       padding: 16px 10px;

  //                       .campaign_img {
  //                           background-size: cover; // .fade {
  //                           //     width: 100%;
  //                           //     height: 64px;
  //                           //     background: #000;
  //                           //     opacity: .6;
  //                           //     position: absolute;
  //                           //     bottom: 0;
  //                           //     border-radius: 0 0 5px 5px;
  //                           //     background: -moz-linear-gradient(top, transparent 0%, #000 100%);
  //                           //     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, #000));
  //                           //     background: -webkit-linear-gradient(top, transparent 0%, #000 100%);
  //                           //     background: -o-linear-gradient(top, transparent 0%, #000 100%);
  //                           //     background: -ms-linear-gradient(top, transparent 0%, #000 100%);
  //                           //     background: linear-gradient(to bottom, transparent 0%, #000 100%);
  //                           // }
  //                       }
  //                   }

  //                   // 项目信息
  //                   .campaign_info {
  //                       padding-right: 10px;

  //                       .right_part_top {

  //                           // conflict
  //                           .campaign_name {
  //                               padding: 10px 0 0 0;
  //                               overflow: hidden;
  //                               max-height: 32px;
  //                               line-height: 16px;
  //                               font-size: 14px; // hyphens: auto;
  //                               margin-top: 14px; // -moz-hyphens: auto;
  //                               // -ms-hyphens: auto;
  //                               // word-wrap: break-word;
  //                               // -webkit-hyphens: auto;
  //                               position: relative;

  //                               &.overflow::after {
  //                                   content: "...";
  //                                   position: absolute;
  //                                   bottom: 0;
  //                                   right: 0;
  //                                   padding-left: 10px; // background: -webkit-linear-gradient(left, transparent, #FFF 55%);
  //                                   // background: -o-linear-gradient(right, transparent, #FFF 55%);
  //                                   // background: -moz-linear-gradient(right, transparent, #FFF 55%);
  //                                   // background: linear-gradient(to right, transparent, #FFF 55%);
  //                               }

  //                               // conflict
  //                               .inner_name {
  //                                   color: #333;
  //                                   font-size: 14px;
  //                                   font-weight: bold;
  //                               }
  //                           }

  //                           .timeLeft {
  //                               display: inline-block;
  //                               margin-top: 3px;
  //                               height: 22px; // opacity: 0.9;
  //                               background-color: #F8F8F8;

  //                               .time_past_content {
  //                                   margin: 0 5px 0 5px;
  //                                   font-size: 11px;
  //                                   line-height: 22px;
  //                                   color: #999;
  //                               }
  //                           }
  //                       }

  //                       // 项目进度条
  //                       .campaign_progress {
  //                           // margin-top: 15px;
  //                           max-width: 100%;
  //                           background: #EAECEE;
  //                           border-radius: 30px;

  //                           .progress_bar {
  //                               overflow: hidden;
  //                               margin: 0;
  //                               max-width: 100%;
  //                               height: 3px;
  //                               border-radius: 30px;
  //                               background-color: #43AC43; // background: -moz-linear-gradient(left, #80E34B 0%, #80E34B 100%);
  //                           }
  //                       }

  //                       // 已筹集
  //                       .money-wrap {

  //                           // margin-top: 10px;
  //                           .title {
  //                               margin-top: 6px;
  //                               font-size: 12px;
  //                               line-height: 12px;
  //                               color: #999;

  //                               .money {
  //                                   color: #333;
  //                               }
  //                           }
  //                       }
  //                   }
  //               }

  //               .card_bottom {
  //                   border-radius: 0 0 6px 6px;
  //                   height: 44px;
  //                   background-color: #F7F6F9;
  //                   line-height: 44px;

  //                   .avatar-wrap {
  //                       display: inline-block;
  //                       border-radius: 50%;
  //                       vertical-align: middle;
  //                       margin-left: 10px;
  //                       width: 26px;
  //                       height: 26px; // background: url(../img/banner.jpg) no-repeat;
  //                       background-size: cover;
  //                   }

  //                   .user-name {
  //                       margin-left: 3px;
  //                       display: inline-block;
  //                       font-size: 12px;
  //                       color: #333;
  //                       vertical-align: middle;
  //                   }

  //                   .enterprise-wrap {
  //                       margin-left: 4px;
  //                       display: inline-block;
  //                       vertical-align: middle;
  //                       width: 17px;
  //                       height: 17px;
  //                       background: url(../img/common_donate_success/enterprise_icon.png) no-repeat;
  //                       background-size: cover;
  //                       border-radius: 50%;
  //                   }

  //                   .verified_wrap {
  //                       margin-left: 4px;
  //                       vertical-align: middle;
  //                       display: inline-block;
  //                       width: 59px;
  //                       height: 14px;
  //                       background: url(../img/common_donate_success/verified_icon_new.png) no-repeat;
  //                       background-size: cover;
  //                   }
  //               }

  //               @media screen and (min-width: 0) {
  //                   .campaign_card {
  //                       padding-left: 128px;
  //                       height: 127px;

  //                       .campaign_img {
  //                           width: 107px;
  //                           height: 107px;
  //                       }

  //                       .campaign_info {
  //                           .right_part_top {
  //                               min-height: 55px;
  //                               max-height: 58px;

  //                               .campaign_name {
  //                                   padding: 12px 0 0 0;
  //                               }
  //                           }

  //                           .campaign_progress {
  //                               margin-top: 18px;
  //                           }

  //                           .money-wrap {
  //                               margin-top: 8px;
  //                           }
  //                       }
  //                   }
  //               }

  //               @media screen and (min-width: 320px) {
  //                   .campaign_card {
  //                       padding-left: 128px;
  //                       height: 133px;

  //                       .campaign_img {
  //                           width: 107px;
  //                           height: 101px;
  //                       }

  //                       .campaign_info {
  //                           .right_part_top {
  //                               min-height: 55px;
  //                               max-height: 58px;

  //                               .campaign_name {
  //                                   padding: 12px 0 0 0;
  //                               }
  //                           }

  //                           .campaign_progress {
  //                               margin-top: 18px;
  //                           }

  //                           .money-wrap {
  //                               margin-top: 8px;
  //                           }
  //                       }
  //                   }
  //               }

  //               @media screen and (min-width: 375px) {
  //                   .campaign_card {
  //                       padding-left: 147px;
  //                       height: 152px;

  //                       .campaign_img {
  //                           width: 126px;
  //                           height: 120px;
  //                       }

  //                       .campaign_info {
  //                           .right_part_top {
  //                               min-height: 55px;
  //                               max-height: 58px;

  //                               .campaign_name {
  //                                   padding: 14px 0 0 0;
  //                               }
  //                           }

  //                           .campaign_progress {
  //                               margin-top: 39px;
  //                           }

  //                           .money-wrap {
  //                               margin-top: 10px;
  //                           }
  //                       }
  //                   }
  //               }

  //               @media screen and (min-width: 414px) {
  //                   .campaign_card {
  //                       padding-left: 162px;
  //                       height: 167px;

  //                       .campaign_img {
  //                           width: 141px;
  //                           height: 135px;
  //                       }

  //                       .campaign_info {
  //                           .right_part_top {
  //                               min-height: 55px;
  //                               max-height: 58px;

  //                               .campaign_name {
  //                                   padding: 14px 0 0 0;
  //                               }
  //                           }

  //                           .campaign_progress {
  //                               margin-top: 53px;
  //                           }

  //                           .money-wrap {
  //                               margin-top: 10px;
  //                           }
  //                       }
  //                   }
  //               }

  //               @media screen and (min-width: 768px) {
  //                   .campaign_card {
  //                       padding-left: 237px;
  //                       height: 242px;

  //                       .campaign_img {
  //                           width: 216px;
  //                           height: 210px;
  //                       }

  //                       .campaign_info {
  //                           .right_part_top {
  //                               min-height: 55px;
  //                               max-height: 58px;

  //                               .campaign_name {
  //                                   padding: 14px 0 0 0;
  //                               }
  //                           }

  //                           .campaign_progress {
  //                               margin-top: 123px;
  //                           }

  //                           .money-wrap {
  //                               margin-top: 10px;
  //                           }
  //                       }
  //                   }
  //               }

  //               @media screen and (min-width: 1024px) {
  //                   .campaign_card {
  //                       padding-left: 237px;
  //                       height: 242px;

  //                       .campaign_img {
  //                           width: 216px;
  //                           height: 210px;
  //                       }

  //                       .campaign_info {
  //                           .right_part_top {
  //                               min-height: 55px;
  //                               max-height: 58px;

  //                               .campaign_name {
  //                                   padding: 14px 0 0 0;
  //                               }
  //                           }

  //                           .campaign_progress {
  //                               margin-top: 123px;
  //                           }

  //                           .money-wrap {
  //                               margin-top: 10px;
  //                           }
  //                       }
  //                   }
  //               }
  //           }
  //       }
  //   }

  .review-all {
      border-radius: 6px;
      background: #43ac43;
      height: 44px;

      p {
          text-align: center;
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          line-height: 44px;
      }
  }