.common_limit_time {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.8;
    }

    .content {
        width: 100%;
        position: absolute;
        z-index: 3001;
        bottom: 20px;
        padding: 0 20px;
        box-sizing: border-box;

        .content-inner {

            .border {
                border-radius: 5px;
            }

            p {
                background-color: #fff;
                color: #43AC43;
                font-size: 16px;
                font-weight: bold;
                line-height: 42px;
                height: 42px;
                text-align: center;
                border-bottom: 1px solid #D8D8D8;

                &.p:first-child {
                    border-radius: 5px 5px 0 0;
                }

                &.p:last-child  {
                    border-radius: 0 0 5px 5px;
                    border-bottom:none;
                }

                &.cancel {
                    color: #333333;
                    font-weight: normal;
                    margin-top: 10px;
                    border-radius: 5px;
                }
            }
        }
    }
}