.common-share {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.8;
    }

    .content {
        position: absolute;
        background: #fff;
        width: 90%; // height: 316px;
        margin: 0 auto;
        top: 49%;
        left: 50%;
        z-index: 3001;
        margin-left: -45%;
        margin-top: -145px;
        border-radius: 5px;

        .content-inner {
            position: relative;
            padding: 32px 18px;

            .title {
                color: #333333;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 29px;
            }

            .btn-group {
                .share-item {
                    position: relative;
                    color: #fff;
                    height: 44px;
                    line-height: 44px;
                    border-radius: 6px;
                    text-align: center;
                    cursor: pointer;
                    font-weight: 700;

                    span {
                        display: inline-block;
                    }

                    &.facebook {
                        background-color: #2C5AA3;
                        margin-bottom: 9px;

                        &::before {
                            background: url(../img/detail/fb-icon.png) no-repeat;
                            background-size: 27px;
                        }
                    }

                    &.wsapp {
                        background-color: #48B134;
                        margin-bottom: 9px;

                        &::before {
                            background: url(../img/detail/wsapp-icon.png) no-repeat;
                            background-size: 27px;
                        }
                    }

                    // &.link {
                    //     background-color: #7DABF4;
                    //     margin-bottom: 9px;

                    //     &::before {
                    //         background: url(../img/detail/link-icon.png) no-repeat;
                    //         background-size: 27px;
                    //     }
                    // }

                    &.twitter {
                        background-color: #00B5F1;
                        margin-bottom: 9px;

                        &::before {
                            background: url(../img/detail/twitter-icon.png) no-repeat;
                            background-size: 27px;
                        }
                    }

                    &.line {
                        background-color: #6DC02D;

                        &::before {
                            background: url(../img/detail/line_icon.png) no-repeat;
                            background-size: 27px;
                        }
                    }

                    &::before {
                        position: absolute;
                        left: 6%;
                        top: 50%;
                        margin-top: -13.5px;
                        vertical-align: middle;
                        display: inline-block;
                        content: "";
                        width: 27px;
                        height: 27px; // background: url(../img/detail/fb-icon.png) no-repeat;
                        // background-size: 27px;
                    }
                }
            }
        }

        .close {
            position: absolute;
            top: -58px;
            right: 0;
            z-index: 3002;
            cursor: pointer;

            img {
                width: 30px;
                height: 58px;
            }
        }
    }
}