//  andoid内
.inAndroid {
    .close-icon {
        position: absolute;
        top: -33px !important;
    }
}

.donation-toast {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.65;
    }

    .content {
        padding: 30px 16px 20px 16px;
        position: absolute;
        background: #fff;
        width: 80%;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        z-index: 3001;
        margin-left: -45%;
        margin-top: -215px;
        border-radius: 5px;
        text-align: center;

        .close-icon {
            position: absolute;
            right: 0;
            top: -59px;
            display: inline-block;
            background: url(../img/common_donate_success/close.png) no-repeat;
            width: 30px;
            height: 59px;
            background-size: 30px 59px;
        }

        .content-title {
            text-align: center;
            color: #43ac43;
            font-size: 18px;
            font-weight: bold;
            white-space: pre-wrap;
        }

        .content-inner {
            padding-top: 15px;
            text-align: center;
            color: #666;
            font-size: 13px;
        }

        .content-bg {
            margin-top: 38px;
            width: 278px;
            height: 175px;
        }

        .btn {
            margin-top: 28px;
            height: 44px;
            background: #43ac43;
            border-radius: 6px;
            text-align: center;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            line-height: 44px;
        }
    }
}