.location-list-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.8;
    }

    .province {
        border-radius: 6px 6px 0 0;
        position: fixed;
        z-index: 3001;

        bottom: 0;
        width: 100%;
        height: 394px;
        background-color: #fff;
        // position: relative;
        .close{
            position: absolute;
            right: 14px;
            top: 20px;
            background: url(../img/locationChoose/close.png) no-repeat;
            width: 12px;
            height: 12px;
            background-size: contain;
        }
        .province-title {
            padding: 20px 16px 10px;
            font-size: 16px;
            font-weight: bold;
            
        }

        .region-choose-wrap {
            // padding: 4px 0 20px 0;
            // padding-bottom: 14px;
            border-bottom: 1px solid #ccc;

            .region-choose-left {
                margin-left: 12px;
                margin-right: 8px;
                &.left-1 {

                    display: inline-block;
                    vertical-align: middle;

                    width: 7px;
                    height: 7px;
                    background: url(../img/locationChoose/1-level.png) no-repeat;
                    background-size: contain;
                }
                &.left-2 {

                    display: inline-block;
                    vertical-align: middle;
                    width: 7px;
                    height: 50px;
                    background: url(../img/locationChoose/2-level.png) no-repeat;
                    background-size: contain;
                }
                &.left-3 {

                    display: inline-block;
                    vertical-align: middle;

                    width: 7px;
                    height: 72px;
                    background: url(../img/locationChoose/3-level.png) no-repeat;
                    background-size: contain;
                }
            }

            .region-choose {
                display: inline-block;
                vertical-align: middle;

                width: 90%;
                // padding: 4px 0 20px 8px;

                .region-title{
                    font-size: 14px;
                    padding: 12px 0;
                }
                .level-2 {
                    display: none;
                }

                .level-3 {
                    display: none;
                }

                span {
                    margin-right: 40px;
                    display: block;

                    &.choosed {
                        display: block;
                        font-weight: bold;
                        // padding: 10px 0;
                        color: #43ac43;
                        // border-bottom: 3px solid #43ac43;
                    }
                }
            }
        }

        .province-list {


            .region-items {
                height: 300px;
                overflow: auto;

                .list-items {
                    padding: 11px 16px;
                    font-size: 14px;

                    &::after {
                        display: block;
                        content: "";
                        clear: both;
                    }

                    p {
                        float: left;
                        width: 85%;
                    }


                    &.choosed-region {
                        font-weight: bold;
                        color: #43ac43;

                    }
                }
            }
        }
    }

}