.common-trophies {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.7;
    }

    .content {
        position: absolute;
        color: #fff;
        width: 90%;
        margin: 0 auto;
        left: 50%;
        z-index: 3001;
        margin-left: -45%;
        border-radius: 5px;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;

        // close
        .close-wrapper {
            width: 100%;
            height: 30px;

            .close {
                cursor: pointer;
                width: 30px;
                height: 30px;
                background: url(../img/ramadanTrophies/close.png) no-repeat;
                background-size: 30px 30px;
                float: right;
            }

        }

        .content-trophies {
            width: 80%;
            margin: 0 auto;
            max-width: 300px;

            .content-trophies-inner {
                .level {
                    width: 225px;
                    height: 225px;
                    background: url(../img/ramadanTrophies/light.png) no-repeat;
                    background-size: 225px;
                    margin: 0 auto;
                    padding-top: 30px;
                    box-sizing: border-box;

                    .icon {
                        width: 165px;
                        height: 165px;
                        margin: 0 auto;
                    }

                    &.share.Bronze {
                        .icon {
                            background: url(../img/ramadanTrophies/share_bronze.png) no-repeat;
                            background-size: 165px auto;
                        }
                    }

                    &.share.Silver {
                        .icon {
                            background: url(../img/ramadanTrophies/share_silver.png) no-repeat;
                            background-size: 165px auto;
                        }
                    }

                    &.share.Gold {
                        .icon {
                            background: url(../img/ramadanTrophies/share_gold.png) no-repeat;
                            background-size: 165px auto;
                        }
                    }

                    &.donated.Bronze {
                        .icon {
                            background: url(../img/ramadanTrophies/donate_bronze.png) no-repeat;
                            background-size: 165px auto;
                        }
                    }

                    &.donated.Silver {
                        .icon {
                            background: url(../img/ramadanTrophies/donate_silver.png) no-repeat;
                            background-size: 165px auto;
                        }
                    }

                    &.donated.Gold {
                        .icon {
                            background: url(../img/ramadanTrophies/donate_gold.png) no-repeat;
                            background-size: 165px auto;
                        }
                    }

                }

                .title {
                    font-size: 22px;
                    font-weight: 500;
                    margin-bottom: 20px;
                    margin-top: -16px;
                }

                .requirements {
                    font-size: 14px;
                    margin-bottom: 26px;

                    span {
                        color: #FDDA8F;
                        font-weight: bold;
                    }
                }

                .btn {
                    border-radius: 54.5px;
                    height: 44px;
                    line-height: 44px;
                    font-size: 16px;
                    font-weight: 500;

                    &.share {
                        background-image: linear-gradient(180deg, #F9FEFE 0%, #FED888 100%);
                        color: #B54700;
                        margin-bottom: 16px;

                    }

                    &.go-to-campaign-list {
                        background-image: linear-gradient(180deg, #767FA2 0%, #49506E 100%);
                        color: #fff;
                    }
                }
            }
        }

        // cancel
        .cancel {
            width: 100%;
            border-top: 1px solid #C1C1C1;
            text-align: center;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            margin-top: 115px;
            cursor: pointer;
        }
    }
}