* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: RobotoRegular;
  src: url('../ttf/Roboto-Regular.ttf'),
}

@font-face {
  font-family: RobotoMedium;
  src: url('../ttf/Roboto-Medium_2.ttf'),
}

@font-face {
  font-family: RobotoBold;
  src: url('../ttf/Roboto-Bold.ttf'),
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-family:
    // RobotoRegular,
    -apple-system-font,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif !important;

  // 无法选择文字
  // -webkit-user-select: none;
  // user-select: none
}

ul li {
  list-style: none;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none !important;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
  color: #666;
}

input,
textarea {
  font-family: -apple-system-font, Helvetica Neue, Helvetica, Arial, sans-serif !important;
  border-style: none;

  &:focus {
    outline: none;
  }
}