.search-wrap {
    background: #fff;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2001;
    width: 100%;
    display: none;
    .search-bar-wrap {
        // padding-right: 16px;
        height: 56px;
        border-bottom: 1px solid #E0E0E0;

        .search-input-wrap {
            display: inline-block;
            padding: 10px 13px 10px 16px;
            width: 72%;

            .search-bar {
                padding: 0 41px;
                width: 72%;
                border-radius: 6px;
                height: 36px;
                background: #f8f8f8;
            }

            .search-icon {
                position: absolute;
                top: 16px;
                left: 26px;
                width: 21px;
                height: 21px;
                background: url(../img/search/search-logo.png) no-repeat;
                background-size: contain;
            }
            .search-bar-delete{
                display: none;
                position: absolute;
                top: 20px;
                left: 70%;
                width: 16px;
                height: 16px;
                background: url(../img/search/delete.png) no-repeat;
                background-size: contain;
            }
        }

        .cancel-bth {
            // width: 22%;
            display: inline-block;
            font-size: 16px;
            line-height: 16px;
            color: #666;
        }
    }

    .search-content-wrap {
        padding: 25px 16px;

        .search-history-wrap {
            margin-bottom: 20px;

            .search-history-title-wrap {
                .search-history-title {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 16px;
                    line-height: 16px;
                    color: #333;
                    font-weight: bold;
                }

                .empty-icon {
                    display: inline-block;
                    vertical-align: middle;
                    float: right;
                    width: 24px;
                    height: 24px;
                    background: url(../img/search/empty-icon.png) no-repeat;
                    background-size: contain;
                }
            }

            .search-history-word-wrap {
                margin-top: 20px;
                display: flex;
                flex-wrap: wrap;

                .search-history-word {
                    margin-right: 10px;
                    margin-bottom: 16px;
                    padding: 0 10px;
                    min-height: 24px;
                    background: #F8F8F8;
                    border-radius: 6px;
                    font-size: 14px;
                    line-height: 24px;
                    color: #666;

                }
            }
        }

        .popular-word-wrap {
            .popular-title {
                margin-bottom: 22px;
                font-size: 16px;
                line-height: 16px;
                color: #333;
                font-weight: bold;
            }

            .popular-word {
                font-size: 14px;
                line-height: 16px;
                color: #666;
                margin-bottom: 24px;
            }
        }
    }

}