.select-box {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2000;
    width: 100%;
    .mask {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.45;
    }
    .contentBox {
        transition: .6s;
        position: fixed;
        background: #fff;
        width: 100%;
        height: 334px;
        bottom: -480px;
        margin: 0 auto;
        left: 45%;
        z-index: 3001;
        margin-left: -45%;
        margin-top: -236px;
        border-radius: 5px 5px 0 0;
        .content-inner {
            padding: 30px 18px;
            .title-wrapper {
                position: relative;
                .title {
                    margin-left: 16px;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 20px;
                }
                .close {
                    width: 30px;
                    height: 30px;
                    background: url(../img/select/close.png) no-repeat;
                    background-size: cover;
                    position: absolute;
                    right: 0;
                    top: -5px;
                }
            }
            .select-bar-wrapper {
                margin-top: 30px;
                padding: 0 16px;
                .btn {
                    margin-top: 10px;
                    width: 100%;
                    height: 44px;
                    border: #999999 1px solid;
                    border-radius: 6px;
                    line-height: 44px;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                }
                .btn.active {
                    color: #43AC43;
                    background-color: #ECF6EC;
                    border-radius: 6px;
                    border: #43AC43 1px solid;
                }
            }
        }
    }
}