.common-share {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.7;
    }

    .content {
        position: absolute;
        color: #fff;
        width: 90%;
        margin: 0 auto;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        z-index: 3001;
        // margin-left: -45%;
        border-radius: 5px;

        // close
        .close-wrapper {
            width: 100%;
            height: 30px;
            max-width: 360px;
            margin: 0 auto 30px;
            .close {
                cursor: pointer;
                width: 30px;
                height: 30px;
                background: url(../img/share/close.png) no-repeat;
                background-size: 30px 30px;
                float: right;
            }

        }

        .content-share {
            // width: 80%;
            // margin: 0 auto;
            // max-width: 300px;
            max-width: 360px;
            margin: auto;
            .content-share-inner {
                .normalTitle{
                    font-size: 20px;
                    text-align: center;
                    line-height: 28px;
                    font-weight: 500;
                    margin-bottom: 30px;
                }
                .activityTitle {
                    font-size: 20px;
                    text-align: center;
                    line-height: 28px;
                    font-weight: 500;
                    margin-bottom: 16px;
                }
                .referral-bonus-wrap{
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 30px;
                }
                .share-icons {
                    width: 64%;
                    margin: 0 auto;

                    .line-1 {
                        padding-bottom: 52px;
                    }

                    .share-icon {
                        display: inline-block;
                        text-align: center;
                        cursor: pointer;

                        &.Facebook {
                            .icon {
                                background: url(../img/share/facebook_icon.png) no-repeat;
                                background-size: 50px 50px;
                            }

                            .text {
                                .fb {
                                    position: relative;

                                    .bubble {
                                        position: absolute;
                                        width: 105px;
                                        height: 22px;
                                        left: -18px;
                                        bottom: -24px;
                                        background: url(../img/share/fb-bubble.png) no-repeat;
                                        background-size: auto 22px;

                                        &.id {
                                            width: 105px;
                                            height: 22px;
                                            left: -18px;
                                            bottom: -24px;
                                            background: url(../img/share/fb-bubble-id.png) no-repeat;
                                            background-size: auto 22px;
                                        }
                                    }
                                }
                            }
                        }

                        &.WhatsApp {
                            float: right;

                            .icon {
                                background: url(../img/share/whatsapp_icon.png) no-repeat;
                                background-size: 50px 50px;
                            }
                        }

                        &.Line {
                            margin-left: 10px;

                            .icon {
                                background: url(../img/share/Line_icon.png) no-repeat;
                                background-size: 50px 50px;
                            }
                        }

                        &.CopyLink {
                            .icon {
                                background: url(../img/share/Link_icon.png) no-repeat;
                                background-size: 50px 50px;
                            }
                        }

                        &.Twitter {
                            float: right;
                            margin-right: 10px;

                            .icon {
                                background: url(../img/share/Twitter_icon.png) no-repeat;
                                background-size: 50px 50px;
                            }
                        }

                        .icon {
                            width: 50px;
                            height: 50px;
                            display: inline-block;
                        }

                        .text {
                            font-size: 16px;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }

        // cancel
        .cancel {
            width: 100%;
            border-top: 1px solid #C1C1C1;
            text-align: center;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            margin-top: 115px;
            cursor: pointer;
        }
    }
    
}
@media screen and (max-width: 365px) {
    .common-share {
        // height: 45vh;
        .content{
            .close-wrapper {
                margin: 0 auto 10px;
            }
            .content-share{
                .normalTitle{
                    margin-top: 20px;
                }
            }
        }
    }
}