// Toast
// -------------------------
.qsc-toast {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    text-align: center;
    display: none;
}

.toast-dialog {
    width: 100%;
    height: 100%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.toast-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.toast-content {
    position: relative;
    min-width: 120px;
    display: inline-block;
    background: rgba(40, 40, 40, 0.75);
    text-align: center;
    border-radius: 5px;
    color: #FFF;
    font-size: 16px; //margin-top: 180px;
    //margin-left: 30px;
    //margin-right: 30px;
    span {
        padding: 15px;
        display: block;
    }
}

.toast-success {
    .toast-content {
        min-height: 120px;
        .icon {
            width: 44px;
            height: 44px;
            display: block;
            margin: 10px auto;
        }
    }
}

// loading toast
.toast-loading {
    .toast-content {
        min-height: 120px;
        span {
            font-size: 14px;
        }
    }
    .loadingMsg {
        margin: 0;
        padding: 0;
    }
}

.loading-icon {
    position: relative;
    width: 44px;
    height: 44px;
    display: block;
    margin: 10px auto;
}

.loading-icon-leaf {
    position: absolute;
    opacity: 0.25;
    left: 21px;
    top: 21px;
    &:before {
        content: " ";
        position: absolute;
        width: 8.14px;
        height: 3.08px;
        background: rgb(209, 209, 213);
        box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px;
        border-radius: 1px;
        transform-origin: left 50% 0px;
    }
}