@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
// @import "../../../../common/qsc/less/common_nav.less";
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    font-family: -apple-system-font, Helvetica Neue, Helvetica, Arial, sans-serif !important;

    // 无法选择文字
    -webkit-user-select: none;
    user-select: none
}
body {
    background: #02082e;
}

.commonNav {
    background-color: #02082e;
}

.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    margin-top: -56px;

    .page-inner {
        background-color: #02082e;

        padding-top: 56px;

        .header {
            padding-left: 16px;
            height: 56px;

            .goback-icon {
                display: inline-block;
                vertical-align: middle;
                width: 24px;
                height: 24px;
                background: url(../img/goback.png) no-repeat;
                background-size: 24px;

            }

            .goback-title {
                margin-left: 15px;
                display: inline-block;
                vertical-align: middle;
                font-size: 18px;
                color: #FFF;
                line-height: 56px;

            }
        }

        .wrap {
            padding: 20px 16px;

            .card-wrap {
                margin-bottom: 20px;
                background: #353B54;
                border-radius: 13px;
                height: 136px;
                color: #fff;

                .card-left {
                    display: inline-block;
                    vertical-align: middle;
                    width: 54%;
                    padding: 0 0 0 16px;

                    .card-title {
                        font-size: 18px;
                    }

                    .card-content {
                        margin-top: 13px;
                        font-size: 12px;
                        color: #BBC2E1;
                        span{
                            color: #FF9B00;
                        }
                    }

                    .card-btn {
                        margin-top: 33px;
                        padding: 0 16px;
                        border-radius: 50px;
                        text-align: center;
                        width: max-content;

                        height: 36px;
                        color: #fff;
                        font-size: 13px;
                        line-height: 36px;
                        font-weight: 600;
                        background: linear-gradient(#FBCE7F, #AC6A44);
                        ;
                    }
                }


                @media screen and (max-width: 360px) {

                    .card-left {
                        width: 49%;
                        .card-title {
                            font-size: 14px;
                        }
                        .card-content {
                            font-size: 10px;
                        }
                    }
                }

                @media screen and (max-width: 320px) {

                    .card-left {
                        width: 42%;
                        .card-title {
                            font-size: 14px;
                        }
                        .card-content {
                            font-size: 10px;
                        }
                    }
                }

                .card-right {

                    display: inline-block;
                    vertical-align: middle;
                    width: 120px;
                    height: 136px;

                    .card-icon-bg {
                        // background: url(../../../../common/qsc/img/ramadanTrophies/light.png) no-repeat;
                        // background-size: 136px;
                        height: 136px;
                        width: 120px;

                        &.light-bg {
                            background: url(../../../../common/qsc/img/ramadanTrophies/light.png) no-repeat;
                            background-size: 120px 136px;
                        }

                        .donate-card-icon {
                            display: inline-block;
                            background-size: contain;
                            height: 136px;
                            width: 120px;

                            &.level-1 {
                                background: url(../../../../common/qsc/img/ramadanTrophies/donate_grey.png) no-repeat;
                                background-size: 104px 104px;
                                background-position: 50% 50%;

                            }

                            &.level-2 {
                                background: url(../../../../common/qsc/img/ramadanTrophies/donate_bronze.png) no-repeat;
                                background-size: 104px 104px;
                                background-position: 50% 50%;

                            }

                            &.level-3 {
                                background: url(../../../../common/qsc/img/ramadanTrophies/donate_silver.png) no-repeat;
                                background-size: 104px 104px;
                                background-position: 50% 50%;

                            }

                            &.level-4 {
                                background: url(../../../../common/qsc/img/ramadanTrophies/donate_gold.png) no-repeat;
                                background-size: 104px 104px;
                                background-position: 50% 50%;

                            }
                        }

                        .share-card-icon {
                            display: inline-block;
                            background-size: contain;
                            height: 136px;
                            width: 136px;

                            &.level-1 {
                                background: url(../../../../common/qsc/img/ramadanTrophies/share_grey.png) no-repeat;
                                background-size: 104px 104px;
                                background-position: 50% 50%;

                            }

                            &.level-2 {
                                background: url(../../../../common/qsc/img/ramadanTrophies/share_bronze.png) no-repeat;
                                background-size: 104px 104px;
                                background-position: 50% 50%;

                            }

                            &.level-3 {
                                background: url(../../../../common/qsc/img/ramadanTrophies/share_silver.png) no-repeat;
                                background-size: 104px 104px;
                                background-position: 50% 50%;

                            }

                            &.level-4 {
                                background: url(../../../../common/qsc/img/ramadanTrophies/share_gold.png) no-repeat;
                                background-size: 104px 104px;
                                background-position: 50% 50%;

                            }
                        }

                    }

                }
            }
        }

    }
}