@import "../../../../../../common/qsc/less/loading.less";
@import "../../../../../../common/qsc/less/toast.less";
@import "../../../../../../common/qsc/less/common_nav.less";
@import "../../../../../../common/qsc/less/upload/_uploadAvatar.less";


input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    // font-weight: normal;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
    padding: 0 5%;
    height: 44px;
    background: #f8f8f8;
    border-radius: 6px;
    width: 90%;
}

.setPassword-wrap {
    .setPassword {
        margin-bottom: 10px;
    }

    .confirmPassword {
        margin-bottom: 10px;
    }

    .tips {
        font-size: 12px;
        color: #999;
        margin-bottom: 16px;
    }

    .confirmBtn {
        width: 100%;
        height: 44px;
        background-color: #43ac43;
        color: #FFF;
        font-size: 16px;
        line-height: 44px;
        font-weight: bold;
        text-align: center;
        border-radius: 6px;
    }
}

.page-wrapper {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;

    .page-inner {
        padding-top: 56px; // avatar
        margin-top: 30px;
        .SMS-wrap {
            padding: 0 16px;
        }
    }
}