@import "../../../../common/qsc/less/loading.less";
@import "../../../../common/qsc/less/toast.less";
@import "../../../../common/qsc/less/common_nav.less";



ul li {
    list-style: none;
}

h2 {
    padding: 0 15px;
    margin: 0;
}

body {
    // background: #F7FAFF;
    background-color: #fff;

}

.page-wrapper {
    // position: relative;
    max-width: 640px;
    margin: 0 auto;
    // background-color: #fff;
    min-height: 320px;
    margin-top: -56px; // background:url('../img/banner.jpg');

    .page-inner {
        padding-top: 56px;

        .state-wrap {
            .success-content {
                padding: 96px 22px 10px;
                // display: none;
                // position: absolute;
                // width: 90%;
                // top: 34%;
                // left: 50%;
                // margin-top: -150px;
                // margin-left: -45%;
                margin: auto;

                .success-wrapper {
                    width: 200px;
                    margin: auto;
                    text-align: center;

                    .successBg {
                        width: 60px;
                        height: 72px;
                        margin: auto;
                        background: url(../img/failed.png) no-repeat;
                        background-size: contain;
                    }

                    p {
                        margin-top: 16px;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 14px;
                    }
                }

                .tips {

                    text-align: center;
                    margin-top: 35px;
                    font-size: 16px;
                    // font-weight: bold;
                    color: #999;
                    line-height: 22px;
                    span{
                        color: #43ac43;
                    }
                }

               
                .btnWrap {
                    margin: 75px auto 20px;
                    position: relative;
                    
                    .btn {
                        // margin: 16px auto;
                        max-width: 600px;
                        width: 100%;
                        height: 44px;
                        background-color: #43AC43;
                        border-radius: 6px;
                        text-align: center;

                        p {
                            text-align: center;
                            // color: #FFFFFF;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 44px;
                        }

                        &.viewBtn {
                            color: #fff;
                        }



                    }
                }

            }

        }
    }
}