@import "../../../../../../common/qsc/less/loading.less";
@import "../../../../../../common/qsc/less/toast.less";
@import "../../../../../../common/qsc/less/common_nav.less";

// @import "../../../../../common/qsc/less/common_footer.less";
ul li {
    list-style: none;
}

h2 {
    padding: 0 15px;
    margin: 0;
}

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    font-weight: normal;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-wrapper {
    // position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;
    background-color: #F8F8F8;

    .page-inner {
        padding-top: 56px;

        .amountWrap {
            // width: 100%;
            height: 77.5px;
            padding: 20px 16px;
            position: relative;
            background: -webkit-linear-gradient(0deg, #57B99C, #43ac43);
            background: -moz-linear-gradient(0deg, #57B99C, #43ac43);
            background: -o-linear-gradient(0deg, #57B99C, #43ac43);
            background: -ms-linear-gradient(0deg, #57B99C, #43ac43);
            background: linear-gradient(to right, #57B99C, #43ac43);

            .amountTitle {
                font-size: 14px;
                line-height: 14px;
                color: #fff;
            }

            .amountContent {
                margin-top: 10px;
                background: url(../img/lines.png) no-repeat;
                background-size: 100% 54px;
                height: 54px;

                p {
                    margin-left: 16px;
                    font-size: 30px;
                    font-weight: bold;
                    color: #fff;
                    line-height: 54px;
                }
            }
        }

        .orderIDwrap {
            background-color: #fff;
            padding: 0 16px;
            height: 52px;
            line-height: 52px;

            .orderIDtitle {
                float: left;
                color: #999;
                font-size: 14px;
            }

            .orderID {
                float: right;
                color: #333;
                font-size: 14px;
            }
        }

        .phone-wrapper {
            background: #fff;
            padding: 16px 0;
            margin-top: 10px;

            .title {
                width: 68.5px;
                height: 24px;
                background: url(../img/OVO.png);
                background-size: 65.8px 24px;
                margin: 0 auto;
            }

            .tips {
                padding: 16px;
                font-size: 12px;
                line-height: 18px;
                color: #FF6100;

            }

            .phone-tips {
                margin: 0 0 12px 15px;
                font-size: 14px;
                font-weight: bold;
                color: #999999;
            }

            .input {
                margin: 0 15px;
                box-sizing: border-box;
                margin-bottom: 10px;
                position: relative;
                background: #F8F8F8;
                border-radius: 7px;

                .countryCode {
                    z-index: 1;
                    width: 56px;
                    height: 44px;
                    position: absolute;
                    margin-left: 16px;
                    line-height: 40px;

                    .addSign {
                        display: inline-block;
                    }

                    .countryNum {
                        font-size: 14px;
                        color: #333333;
                        line-height: 24px;
                        display: inline-block;
                        vertical-align: middle;
                        border-right: 1px solid #CCCCCC;
                        padding-right: 16px;
                    }
                }

                input {
                    caret-color: #43AC43;
                    border-style: none;
                    outline: none;
                    width: 100%;
                    height: 44px;
                    background-color: #f8f8f8;
                    border-radius: 7px;
                    padding: 0 0 0 16px;
                    color: #333333;
                    box-sizing: border-box;
                    font-size: 14px;

                    &.number {
                        // padding-left: 72px;
                        position: relative;
                    }
                }

                &.code {
                    .sendCode {
                        border: 0px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 105px;
                        height: 44px;
                        background: #43AC43;
                        line-height: 44px;
                        font-size: 14px;
                        border-radius: 0 7px 7px 0;
                        color: #fff;
                        text-align: center;
                        cursor: pointer;

                        &.active {
                            background-color: #CCCCCC;
                        }
                    }
                }
            }
        }

        .btnWrap {
            padding: 30px 16px;

            .payBtn {
                border-radius: 6px;
                background-color: #43ac43;
                width: 100%;
                height: 44px;

                .btnContent {
                    color: #fff;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 44px;
                    text-align: center;
                }
            }
        }
    }
}