@import "../../../common/qsc/less/loading.less";
@import "../../../common/qsc/less/toast.less";
@import "../../../common/qsc/less/common_nav.less";
@import "../../../common/qsc/less/common_footer.less";
.page-wrapper {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;
    .page-inner {
        padding-top: 56px;
        .wrapper {
            width: 90%;
            overflow-wrap: break-word;
            margin: 0 auto 80px; // 首页banner
            button{
                width: 100px;
                height: 100px;
                line-height: 100px;
                text-align: center;
                border: 1px solid red;
            }
        }
    }
}