@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";
@import "../../../../../common/libs/fancybox/jquery.fancybox-thumbs.css"; //fancybox
@import "../../../../../common/libs/fancybox/jquery.fancybox.css";
.page-wrapper {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;
    background: #F7FAFF;

    .page-inner {
        padding-top: 56px; // avatar
        // padding-bottom: 120px;
        background: #fff;
        .msg-detail-wrap{
            padding: 19px 16px 10px 16px;
            .msg-header{
                padding-bottom: 20px;
                border-bottom: 1px solid #EAEAEA;
                .user_avatar{
                    display: inline-block;
                    vertical-align: middle;
                    .avatar{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }
                .user_name_time{
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 10px;
                    .user_name{
                        color: #8FA6C8;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 16px;
                    }
                    .time{
                        margin-top: 6px;
                        color: #999;
                        font-size: 12px;
                        line-height: 12px;
                    }
                }
            }
            .msg-detail{
                white-space: pre-line;
                margin-top: 16px;
                line-height: 21px;
                color: #333;
                font-size: 14px;
            }
        }
        .update-image-wrap {
            // margin-top: 10px;
            padding: 0 14px 24px 9px;
            .update-image-box {
                width: 100%;
                background: #fff;
                display: flex;
                flex-wrap: wrap;
                // justify-content: space-between;
                .update-image {
                    // display: inline-block;
                    margin-left: 6.5px;
                    width: 60px;
                    height: 60px;
                }
                @media screen and (min-width: 0) {
                    .update-image {
                        margin-bottom: 6px;
                        width: 67.5px;
                        height: 67.5px;
                        background: #43ac43;
                    }
                }
                @media screen and (min-width: 320px) {
                    .update-image {
                        margin-bottom: 6px;
                        width: 67.5px;
                        height: 67.5px;
                        background: #43ac43;
                    }
                }
                @media screen and (min-width: 360px) {
                    .update-image {
                        margin-bottom: 6px;
                        width: 77.5px;
                        height: 77.5px;
                        background: #43ac43;
                    }
                }
                @media screen and (min-width: 375px) {
                    .update-image {
                        margin-bottom: 5.5px;
                        width: 81.5px;
                        height: 81.5px;
                        background: #43ac43;
                    }
                }
                @media screen and (min-width: 411px) {
                    .update-image {
                        margin-bottom: 6px;
                        width: 90.5px;
                        height: 90.5px;
                        background: #43ac43;
                    }
                }
                @media screen and (min-width: 414px) {
                    .update-image {
                        margin-bottom: 6px;
                        width: 91px;
                        height: 91px;
                        background: #43ac43;
                    }
                }
                @media screen and (min-width: 487px) {
                    .update-image {
                        margin-bottom: 6px;
                        width: 109.5px;
                        height: 109.5px;
                        background: #43ac43;
                    }
                }
                @media screen and (min-width: 768px) {
                    .update-image {
                        margin-bottom: 6px;
                        width: 147.5px;
                        height: 147.5px;
                        background: #43ac43;
                    }
                }
                @media screen and (min-width: 1024px) {
                    .update-image {
                        margin-bottom: 6px;
                        width: 147.5px;
                        height: 147.5px;
                        background: #43ac43;
                    }
                }
            }
        }
        .bottom-btn-wrap{
            border-top: 1px solid #EAEAEA;
            font-size: 16px;
            font-weight: 600;
            position: fixed;
            bottom: -1px;
            left: 0;
            z-index: 2;
            width: 100%;
            background: #fff;
            .bottom-btn{
                padding: 8px 8px;
                height: 44px;
                .btn-content{
                    border-radius: 6px;
                    text-align: center;
                    color: #FFF;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 44px;
                    background: #43ac43;
                }
            }
        }


    }
}