.paymentPopup-wrapper {
    position: fixed;
    z-index: 3000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100vh;
        width: 100%;
        background-color: #000;
        opacity: 0.8;
    }

    .content {
        position: fixed;
        z-index: 3001;
        bottom: 0;
        background: #fff;
        width: 100%;
        border-radius: 20px 20px 0 0;
        padding: 16px 16px 10px;
        box-sizing: border-box;
        max-width: 620px;
        transform: translateX(-50%);
        left: 50%;

        .close {
            position: absolute;
            top: 15px;
            right: 16px;
            width: 12px;
            height: 12px;
            background: url(./img/close.png) no-repeat;
            background-size: 12px;
        }

        .content-inner {
            .grey-title {
                font-size: 14px;
                color: #666666;
                margin-bottom: 20px;
                text-align: center;
            }

            .total {
                color: #0C0C0C;
                text-align: center;
                font-size: 25px;
                font-weight: 500;
            }

            .payment {
                // display: none;
                padding-top: 20px;

                .paymentTitle {
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 20px;
                }

                .fee-desc {
                    display: none;
                    margin-top: 5px;
                    font-size: 12px;
                    line-height: 18px;
                    color: #999;
                }

                .payment_channel {
                    line-height: 42px;
                    margin-top: 12px;
                    // background-color: #f8f8f8;
                    border: 0;
                    border-radius: 6px;
                    width: 100%;
                    // height: 44px; // color: #;
                    font-size: 14px;
                    position: relative;



                    .channel {
                        background-color: #f8f8f8;
                        height: 44px;

                        &::after {
                            content: '';
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            background: url(./img/select.png) no-repeat;
                            background-size: 24px 24px;
                            position: absolute;
                            right: 16px;
                            bottom: 10px;
                        }

                        .default {
                            padding: 0 0 0 20px;
                            color: #ccc;
                        }

                        .icon {
                            background: url(./img/OVO.png);
                            background-size: 68.5px 24px;
                            height: 24px;
                            width: 68.5px;
                            height: 24px;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 15px;
                        }

                        .bank-name {
                            display: inline-block;
                            margin-left: 10px;
                            vertical-align: middle;
                        }

                        // &.selected {
                        //     color: #000;
                        // }
                    }

                    &.OVOXPeduliSehat {
                        &::after {
                            display: none;
                        }
                    }


                }
            }

            .detail {
                color: #999999;
                font-size: 14px;

                .detail-title {
                    color: #333333;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 20px;
                    margin: 12px 0;
                }

                .fee-list {
                    margin-bottom: 10px;

                    .float-right {
                        float: right;
                    }
                }
            }

            .pay-wrapper {
                margin-top: 30px;

                .pay {
                    background: #43AC43;
                    border: 1px solid #43AC43;
                    border-radius: 12px;
                    color: #fff;
                    text-align: center;
                    height: 44px;
                    line-height: 44px;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }
}