@import "../../../common/qsc/less/loading.less";
@import "../../../common/qsc/less/toast.less";

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #CCCCCC;
    /* placeholder字体大小  */
    font-size: 14px;
    font-weight: normal;
    /* placeholder位置  */
    // text-align: right;
    /* placeholder字体样式  */
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system-font, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

// .background {
//     max-width: 620px;
//     margin: 0 auto;
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     right: 0px;
//     bottom: 0px;
//     padding: 0;

//     // .banner {
//     //     width: 100%;
//     //     height: 100%;
//     //     position: absolute;
//     //     background-position: center center;
//     //     background-image: url(../img/login_banner.png);
//     //     background-size: cover;
//     //     background-attachment: fixed;
//     //     background-repeat: no-repeat;
//     //     filter: blur(2px);
//     // }
//     // .fade {
//     //     width: 100%;
//     //     height: 100%;
//     //     background: #F7FAFF;
//     //     position: absolute;
//     //     bottom: 0;
//     // }
// }

.inAndroid {
    .header {
        display: none !important;
    }

    .content {
        padding-top: 72px !important;
    }
}

.page-wrapper {
    position: relative; // position: fixed;
    max-width: 620px;
    margin: 0 auto;
    min-height: 100vh;
    // top: 0px;
    // left: 0px;
    // right: 0px;
    // bottom: 0px;
    // padding: 0;
    // height: 100%;

    // .bg {
    //     height: 100%;
    //     background-color: #43AC43;
    //     position: absolute;
    //     width: 100%;

    //     bottom: 313px;
    //     transition: bottom .8s;
    //     -webkit-transition: bottom .8s;

    //     border-radius: 0 0 40px 40px;

    //     .in-logo {
    //         position: absolute;
    //         left: 50%;

    //         margin-left: -19%;
    //         bottom: 80px;
    //         width: 38%;
    //         transition: width .8s;
    //         -webkit-transition: width .8s;
    //         // transition: margin-left 1s;
    //         // -webkit-transition: margin-left 1s;
    //         // transition: bottom .8s;
    //         // -webkit-transition: bottom .8s;
    //         // transition: background-size .8s;
    //         // -webkit-transition: background-size .8s;

    //         height: 200px;
    //         background: url(../img/logo.png) no-repeat;
    //         background-size: 100% auto;
    //         background-position: center bottom;
    //     }

    //     .samll-o {
    //         position: fixed;
    //         top: 114px;
    //         left: 66px;
    //         width: 23px;
    //         height: 23px;
    //         background: url(../img/small-o.png) no-repeat;
    //         background-size: 23px 23px;
    //     }

    //     .big-o {
    //         position: fixed;
    //         top: 52px;
    //         right: 38px;
    //         width: 76px;
    //         height: 76px;
    //         background: url(../img/big-o.png) no-repeat;
    //         background-size: 76px 76px;
    //     }
    // }

    .header {
        width: 100%;
        height: 56px;
        position: absolute;
        z-index: 1;
        border-bottom: 1px solid #e0e0e0;

        .signIn {
            position: absolute;
            bottom: 14px;
            height: 24px;
            padding: 0 16px; // display:table-cell;
            cursor: pointer;

            img {
                display: inline-block;
                width: 24px;
                height: 24px;
                vertical-align: middle;
            }

            span {
                margin-left: 15px;
                color: #333;
                font-size: 18px;
                line-height: 24px;
                vertical-align: middle;
            }
        }
    }

    .content {
        padding-top: 56px;

        // z-index: 2;
        // position: absolute;
        // width: 90%;
        // left: 5%;
        // margin-top: 300px;
        // bottom: 100px;
        // transition: bottom 1s;
        // background: #fff;
        // border-radius: 6px;
        // box-shadow: 0px 6px 14px 1px #d4e3ff;




        .orYouCan {
            width: 100%;
            height: 12px;

            .hairlines {
                width: 84%;
                margin: auto;
                text-align: center;
                height: 12px;
                background-image: url(../img/line.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;

                &.id {
                    background-image: url(../img/line-id.png);
                    background-size: contain;
                }
            }
        }

        .orTips {
            margin: 12px 0 44px;
            text-align: center;
            display: block;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;

            &::after {
                content: "";
                display: inline-block;
                background-image: url(../img/show_icon.png);
                width: 24px;
                height: 24px;
                background-size: 24px 24px;
                margin-left: 5px;
                vertical-align: middle;
            }
        }

        .phoneVerification {
            // display: none;
            margin-bottom: 20px;

            .number {
                padding-left: 56px;
            }

            .input {
                margin: 16px auto 0;
                width: 92%;
                max-width: 400px;
                box-sizing: border-box;
                margin-bottom: 10px;
                position: relative;

                .countryCode {
                    z-index: 1;
                    width: 56px;
                    height: 44px;
                    position: absolute;
                    margin-left: 16px;
                    line-height: 40px;

                    .addSign {
                        display: inline-block;
                    }

                    .countryNum {
                        font-size: 14px;
                        color: #333333;
                        line-height: 24px;
                        display: inline-block;
                        vertical-align: middle;
                        border-right: 1px solid #CCCCCC;
                        padding-right: 16px;
                        margin-left: -5px;
                    }
                }

                input {
                    caret-color: #43AC43;
                    border-style: none;
                    outline: none;
                    width: 100%;
                    height: 44px;
                    border: 1px solid #CCCCCC;
                    border-radius: 7px;
                    padding: 0 0 0 16px;
                    color: #333333;
                    box-sizing: border-box;
                    font-size: 14px;

                    &.number {
                        padding-left: 72px;
                        position: relative;

                    }
                }

                &.code {
                    .sendCode {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 120px;
                        height: 44px;
                        color: #43AC43;
                        line-height: 44px;
                        font-size: 14px;
                        font-weight: bold;
                        border-radius: 0 7px 7px 0;
                        text-align: center;
                        cursor: pointer;
                        background: #fff;
                        border: 1px solid #CCCCCC;
                        border-left: none;

                        &.active {
                            color: #999999;
                        }
                    }

                    .SMSCode {
                        margin-top: 10px;
                        text-align: right;
                        font-size: 12px;
                        color: #999;
                    }
                }
            }

            .loginByPhone {
                margin: 24px auto 0;
                width: 92%;
                max-width: 400px;
                height: 44px;
                background-color: #43ac43;
                border-radius: 6px;
                line-height: 44px;
                color: #fff;
                text-align: center;
                font-weight: bold;
                cursor: pointer;
                font-size: 16px;
            }
        }

        .passwordLogin {
            display: none;
            margin-bottom: 20px;

            .input {
                margin: 16px auto 0;
                width: 92%;
                max-width: 400px;
                box-sizing: border-box;
                margin-bottom: 10px;
                position: relative;

                .countryCode {
                    z-index: 1;
                    width: 56px;
                    height: 44px;
                    position: absolute;
                    margin-left: 16px;
                    line-height: 40px;

                    .addSign {
                        display: inline-block;
                    }

                    .countryNum {
                        font-size: 14px;
                        color: #333333;
                        line-height: 24px;
                        display: inline-block;
                        vertical-align: middle;
                        border-right: 1px solid #CCCCCC;
                        padding-right: 16px;
                        margin-left: -5px;
                    }
                }

                input {
                    caret-color: #43AC43;
                    border-style: none;
                    outline: none;
                    width: 100%;
                    height: 44px;
                    border: 1px solid #CCCCCC;
                    background-color: #fff;
                    border-radius: 7px;
                    padding: 0 0 0 16px;
                    color: #333333;
                    box-sizing: border-box;
                    font-size: 14px;

                    &.number {
                        padding-left: 72px;
                        position: relative;

                    }
                }

            }

            .wrap-findBack {
                margin: 0 auto;
                width: 92%;
                max-width: 400px;

                .findBack {
                    padding: 0 16px;
    
                    span {
                        float: right;
                        font-size: 12px;
                        color: #999;
                        line-height: 12px;
                    }
                }
            }
            

            .loginByPassword {
                margin: 15px auto 0;
                width: 92%;
                max-width: 400px;
                height: 44px;
                background-color: #43ac43;
                border-radius: 6px;
                line-height: 44px;
                color: #fff;
                text-align: center;
                font-weight: bold;
                cursor: pointer;
                font-size: 16px;

                &.disabled {
                    background-color: #cccccc;
                    color: #7f7f7f;
                }
            }

        }

        .loginMethodsTitle {
            text-align: center;

            .changeLoginMethods {
                position: relative;
                text-align: center;
                font-size: 16px;
                color: #999999;
                padding: 20px 0;
                display: inline-block;
                width: 150px;
                cursor: pointer;

                &.active {
                    color: #43AC43;
                    font-weight: bold;

                    &::after {
                        content: "";
                        display: block;
                        border: 1.5px solid #43AC43;
                        background-color: #43AC43;
                        width: 50px;
                        margin-top: 5px;
                        position: absolute;
                        left: 50%;
                        margin-left: -25px;
                    }
                }

            }
        }


        .policy {
            margin-top: 20px;
            height: 24px;
            padding: 0 16px;
            width: 92%;
            max-width: 400px;
            margin: 0 auto;

            .agree {
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: top;
                background-image: url(../img/agree_icon.png);
                background-size: 16px;
                cursor: pointer;
            }

            .notAgree {
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: top;
                background-image: url(../img/notAgree_icon.png);
                background-size: 16px;
            }

            .signInName {
                display: inline-block;
                width: 87%;
                color: #999999;
                font-size: 12px;
                line-height: 18px;
                vertical-align: middle;
                word-break: break-all;

                .policy {
                    cursor: pointer;
                    color: #43AC43;
                    height: 0;
                    padding: 0 5px;
                    text-decoration: underline;
                }
            }
        }

        .bottem {
            position: absolute;
            bottom: 100px;
            width: 100%;

            .Recommended {
                // margin-top: 56px;
                font-size: 12px;
                color: #999;
                text-align: center;
                padding: 0 0 16px;

                &::before,
                &::after {
                    content: "";
                    display: inline-block;
                    width: 11px;
                    height: 1px;
                    background: #DDDDDD;
                    vertical-align: middle;
                    margin-right: 12px;
                }

                &::after {
                    margin-left: 12px;
                    margin-right: 0;
                }
            }

            .loginBtnWrapper {
                display: flex;
                justify-content: space-evenly;

                .loginBtn {
                    font-size: 11px;
                    color: #999999;
                    text-align: center;

                    .img {
                        width: 52px;
                        height: 60px;
                        margin: 0 auto;
                        background: url(../img/facebook.png) no-repeat;
                        background-size: 52px 60px;
                    }

                    p {
                        margin-top: -10px;
                    }

                    &.googleBtn {
                        .img {
                            background: url(../img/google.png) no-repeat;
                            background-size: 52px 60px;
                        }
                    }
                }

                // .facebookBtn {
                // display: inline-block;
                // width: 48%;
                // height: 44px;
                // // background-image: url(../img/facebookBtn.png);
                // // background-size: 100% 44px;
                // background-repeat: no-repeat;
                // position: relative;
                // text-align: center;
                // cursor: pointer;
                // background: #fff;
                // border-radius: 6px;
                // border: 1px solid #2C5AA3;

                // .facebookBtnContent {
                //     font-weight: bold;
                //     font-size: 16px;
                //     display: inline-block;
                //     vertical-align: middle;

                //     line-height: 44px;
                // }

                // .facebookIcon {
                //     // position: absolute;
                //     display: inline-block;
                //     vertical-align: middle;
                //     left: 17px;
                //     top: 10px;
                //     width: 27px;
                //     height: 27px;
                // }
                // }

                // .googleBtn {
                // display: inline-block;

                // // margin-top: 15px;
                // width: 48%;
                // height: 44px;
                // background-color: #fff;
                // border-radius: 6px;
                // position: relative;
                // text-align: center;
                // cursor: pointer;
                // background: #fff;
                // border-radius: 6px;
                // border: 1px solid #EB5735;

                // .googleIcon {
                //     // position: absolute;
                //     display: inline-block;
                //     vertical-align: middle;
                //     left: 22px;
                //     top: 12px;
                //     width: 20px;
                //     height: 20px;
                // }

                // .googleBtnContent {
                //     margin-left: 8px;
                //     color: #333333;
                //     font-weight: bold;
                //     font-size: 16px;
                //     display: inline-block;
                //     vertical-align: middle;
                //     line-height: 44px;
                // }
                // }
            }
        }
    }

    // .footer {
    //     z-index: 1;
    //     position: absolute;
    //     bottom: 0;
    //     width: 100%;
    //     height: 80px;

    //     .policy {
    //         margin-top: 20px;
    //         height: 24px;
    //         padding: 0 16px;

    //         .agree {
    //             display: inline-block;
    //             width: 24px;
    //             height: 24px;
    //             vertical-align: top;
    //             background-image: url(../img/agree_icon.png);
    //             background-size: 24px 24px;
    //             cursor: pointer;
    //         }

    //         .notAgree {
    //             display: inline-block;
    //             width: 24px;
    //             height: 24px;
    //             vertical-align: top;
    //             background-image: url(../img/notAgree_icon.png);
    //             background-size: 24px 24px;
    //         }

    //         .signInName {
    //             display: inline-block;
    //             width: 87%;
    //             margin-left: 8px;
    //             color: #999999;
    //             font-size: 12px;
    //             line-height: 24px;
    //             vertical-align: middle;
    //             word-break: break-all;

    //             .policy {
    //                 cursor: pointer;
    //                 color: #999999;
    //                 height: 0;
    //                 padding: 0 5px;
    //                 font-weight: bold;
    //                 text-decoration: underline;
    //             }
    //         }
    //     }
    // }

    &.animate {
        .bg {
            bottom: 460px;

            .in-logo {
                width: 18%;
                margin-left: -9%;
                bottom: 50px;
            }
        }
    }
}

.countWrongPassword {
    color: #D36669;
    background: #F7E0DF;
    font-size: 14px;
    text-align: center;
    display: none;
    width: 92%;
    max-width: 400px;
    margin: 0 auto;
    padding: 8px 12px;
    box-sizing: border-box;
    border-radius: 8px;

    &.active {
        display: block;
    }
}