@import "../../../../../common/qsc/less/loading.less";
@import "../../../../../common/qsc/less/toast.less";
@import "../../../../../common/qsc/less/common_nav.less";
input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #333333;
    /* placeholder字体大小  */
    font-size: 14px;
    font-weight: 700;
}

.page-wrapper {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    margin-top: -56px;
    .page-inner {
        padding-top: 56px;
        .input {
            width: 100%;
            padding: 30px 18px;
            box-sizing: border-box;
            position: relative;
            .close {
                position: absolute;
                right: 34px;
                bottom: 40px;
                display: inline-block;
                content: "";
                width: 24px;
                height: 24px;
                background: url(../img/del.png) no-repeat;
                background-size: 24px 24px;
            }
            input {
                caret-color: #43AC43;
                outline: none;
                width: 100%;
                height: 44px;
                background-color: #f8f8f8;
                border-radius: 5px;
                padding: 0 0 0 16px;
                color: #333333;
                box-sizing: border-box;
                font-weight: 700;
                font-size: 14px;
            }
        }
        .save {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            height: 44px;
            line-height: 44px;
            background: #43AC43;
            color: #fff;
            font-size: 16px;
        }
    }
}